<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.camp.dao.CrmCampChlBasDao">
    <sql id="sqlPkConditions">
                WHERE CAMP_CHL_BAS_NO   =       #{campChlBasNo}
    </sql>
    <sql id="sqlCols">
                      CAMP_CHL_BAS_NO                    /*캠페인발송채널기본번호        */
                    , CHL_TYPE_CD                    /*발송채널유형코드        */
                    , CHL_ID                    /*발송채널ID        */
                    , CHL_NM                    /*발송채널명        */
                    , CHL_PROT_CD                    /*프로토콜        */
                    , PIC_NM                    /*담당자명        */
                    , PIC_MPHON_NO                    /*담당자휴대폰번호        */
                    , CONN_INFO                    /*접속정보        */
                    , API_CALL_INFO                    /*API호출정보        */
                    , LAST_SUCC_DATE                    /*최종성공일자        */
                    , LAST_ERR_DATE                    /*최종에러일자        */
                    , USE_YN                    /*USE_YN        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일자        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일자        */
    </sql>
    <sql id="sqlSelectCols">
                      A.CAMP_CHL_BAS_NO                    /*캠페인발송채널기본번호        */
                    , A.CHL_TYPE_CD                    /*발송채널유형코드        */
                    , A.CHL_ID                    /*발송채널ID        */
                    , A.CHL_NM                    /*발송채널명        */
                    , A.CHL_PROT_CD                    /*프로토콜        */
                    , A.PIC_NM                    /*담당자명        */
                    , A.PIC_MPHON_NO                    /*담당자휴대폰번호        */
                    , A.CONN_INFO                    /*접속정보        */
                    , A.API_CALL_INFO                    /*API호출정보        */
                    , A.LAST_SUCC_DATE                    /*최종성공일자        */
                    , A.LAST_ERR_DATE                    /*최종에러일자        */
                    , A.USE_YN                    /*USE_YN        */
                    , A.AMDR_ID                    /*수정자ID        */
                    , TO_CHAR(A.AMD_DT,'YYYYMMDDHH24MISS')    AMD_DT                    /*수정일자        */
                    , A.REGR_ID                    /*등록자ID        */
                    , TO_CHAR(A.REG_DT,'YYYYMMDDHH24MISS')    REG_DT                    /*등록일자        */
                    
                    , (SELECT CAMP_DSP_CHL_NM FROM CRM_CAMP_DSP_BAS B WHERE B.CAMP_DSP_BAS_NO = A.CHL_TYPE_CD ) CHL_TYPE_CD_NM    /* 채널유형코드명        */
                    , (SELECT COMN_CD_NM FROM CRM_COMN_CD_BAS B WHERE B.TOP_COMN_CD = 'S010' and B.COMN_CD = A.USE_YN ) USE_YN_NM    /* 사용여부        */
                    
    </sql>
    <sql id="sqlConditions">
        <where>
        <if test="campChlBasNo != null and campChlBasNo != ''">
                  AND A.CAMP_CHL_BAS_NO =       #{campChlBasNo}
        </if>
        <if test="chlTypeCd != null and chlTypeCd != ''">
            <choose>
                <when test="chlTypeCd instanceof String">
                    AND A.CHL_TYPE_CD     =       #{chlTypeCd}
                </when>
                <otherwise>
                    AND A.CHL_TYPE_CD     IN
                    <foreach item="item" index="index" collection="chlTypeCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="chlId != null and chlId != ''">
                  AND A.CHL_ID          =       #{chlId}
        </if>
        <if test="chlNm != null and chlNm != ''">
                  AND A.CHL_NM     like '%'||  #{chlNm} ||'%'
        </if>
        <if test="chlProtCd != null and chlProtCd != ''">
            <choose>
                <when test="chlProtCd instanceof String">
                    AND A.CHL_PROT_CD     =       #{chlProtCd}
                </when>
                <otherwise>
                    AND A.CHL_PROT_CD     IN
                    <foreach item="item" index="index" collection="chlProtCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="picNm != null and picNm != ''">
                  AND A.PIC_NM          =       #{picNm}
        </if>
        <if test="picMphonNo != null and picMphonNo != ''">
                  AND A.PIC_MPHON_NO    =       #{picMphonNo}
        </if>
        <if test="connInfo != null and connInfo != ''">
                  AND A.CONN_INFO       =       #{connInfo}
        </if>
        <if test="apiCallInfo != null and apiCallInfo != ''">
                  AND A.API_CALL_INFO   =       #{apiCallInfo}
        </if>
        <if test="lastSuccDate != null and lastSuccDate != ''">
                  AND A.LAST_SUCC_DATE  =       #{lastSuccDate}
        </if>
        <if test="lastErrDate != null and lastErrDate != ''">
                  AND A.LAST_ERR_DATE   =       #{lastErrDate}
        </if>
        <if test="useYn != null and useYn != ''">
                  AND A.USE_YN          =       #{useYn}
        </if>
        </where>
    </sql>
    <sql id="sqlOrderBy">
        <choose>
            <when test="colSortName ==null or colSortName == ''">
                ORDER BY      REG_DT DESC
            </when>
            <when test="colSortName.equals('campChlBasNo')">
                ORDER BY      CAMP_CHL_BAS_NO
            </when>
            <when test="colSortName.equals('chlTypeCd')">
                ORDER BY      CHL_TYPE_CD
            </when>
            <when test="colSortName.equals('chlId')">
                ORDER BY      CHL_ID
            </when>
            <when test="colSortName.equals('chlNm')">
                ORDER BY      CHL_NM
            </when>
            <when test="colSortName.equals('chlProtCd')">
                ORDER BY      CHL_PROT_CD
            </when>
            <when test="colSortName.equals('picNm')">
                ORDER BY      PIC_NM
            </when>
            <when test="colSortName.equals('picMphonNo')">
                ORDER BY      PIC_MPHON_NO
            </when>
            <when test="colSortName.equals('connInfo')">
                ORDER BY      CONN_INFO
            </when>
            <when test="colSortName.equals('apiCallInfo')">
                ORDER BY      API_CALL_INFO
            </when>
            <when test="colSortName.equals('lastSuccDate')">
                ORDER BY      LAST_SUCC_DATE
            </when>
            <when test="colSortName.equals('lastErrDate')">
                ORDER BY      LAST_ERR_DATE
            </when>
            <when test="colSortName.equals('useYn')">
                ORDER BY      USE_YN
            </when>
            <when test="colSortName.equals('amdrId')">
                ORDER BY      AMDR_ID
            </when>
            <when test="colSortName.equals('amdDt')">
                ORDER BY      AMD_DT
            </when>
            <when test="colSortName.equals('regrId')">
                ORDER BY      REGR_ID
            </when>
            <when test="colSortName.equals('regDt')">
                ORDER BY      REG_DT
            </when>
            <otherwise>
                ORDER BY      REG_DT
            </otherwise>
        </choose>
        <if test="colSortName !=null and colSortDir !='' and colSortDir !=null and colSortDir !='' and colSortDir.equals('desc')">
            DESC
        </if>
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT /* com.ceragem.crm.camp.dao.CrmCampChlBasDao.selectListCount */ COUNT(1)
                 FROM CRM_CAMP_CHL_BAS A
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.ceragem.crm.camp.model.CrmCampChlBasVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
               SELECT /* com.ceragem.crm.camp.dao.CrmCampChlBasDao.selectList */ <include refid="sqlSelectCols"/>
                 FROM CRM_CAMP_CHL_BAS A
        <include refid="sqlConditions"/>
        <include refid="sqlOrderBy"/>
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.ceragem.crm.camp.model.CrmCampChlBasVo">
               SELECT /* com.ceragem.crm.camp.dao.CrmCampChlBasDao.select */ <include refid="sqlSelectCols"/>
                 FROM CRM_CAMP_CHL_BAS A
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
                INSERT /* com.ceragem.crm.camp.dao.CrmCampChlBasDao.insert */ INTO CRM_CAMP_CHL_BAS (
        <include refid="sqlCols"/>
                 ) VALUES (
                        NVL(#{campChlBasNo}, FN_CRM_AUTO_SEQ('CCN') ) 
                     , #{chlTypeCd}
                     , #{chlId}
                     , #{chlNm}
                     , #{chlProtCd}
                     , #{picNm}
                     , #{picMphonNo}
                     , #{connInfo}
                     , #{apiCallInfo}
                     , #{lastSuccDate}
                     , #{lastErrDate}
                     , NVL(#{useYn},'N')
                     , #{amdrId}
                     , SYSDATE
                     , #{regrId}
                     , SYSDATE
                 )
    </insert>
    <update id="update">
               UPDATE /* com.ceragem.crm.camp.dao.CrmCampChlBasDao.update */ CRM_CAMP_CHL_BAS
                  SET CHL_TYPE_CD                             =         #{chlTypeCd}
                    , CHL_ID                                  =         #{chlId}
                    , CHL_NM                                  =         #{chlNm}
                    , CHL_PROT_CD                             =         #{chlProtCd}
                    , PIC_NM                                  =         #{picNm}
                    , PIC_MPHON_NO                            =         #{picMphonNo}
                    , CONN_INFO                               =         #{connInfo}
                    , API_CALL_INFO                           =         #{apiCallInfo}
                    , LAST_SUCC_DATE                          =         #{lastSuccDate}
                    , LAST_ERR_DATE                           =         #{lastErrDate}
                    , USE_YN                                  =         NVL(#{useYn},'N')
                    , AMDR_ID                                 =         #{amdrId}
                    , AMD_DT                                  =         SYSDATE
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE /* com.ceragem.crm.camp.dao.CrmCampChlBasDao.delete */
                 FROM CRM_CAMP_CHL_BAS
        <include refid="sqlPkConditions"/>
    </delete>
</mapper>
