<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.camp.dao.CrmCampDspBasDao">
    <sql id="sqlPkConditions">
                WHERE CAMP_DSP_BAS_NO   =       #{campDspBasNo}
    </sql>
    <sql id="sqlCols">
                      CAMP_DSP_BAS_NO                    /*발생채널 기본번호        */
                    , CAMP_DSP_CHL_NM                    /*발송채널명        */
                    , CAMP_DSP_AMT                    /*발송금액        */
    </sql>
    <sql id="sqlSelectCols">
                      A.CAMP_DSP_BAS_NO                    /*발생채널 기본번호        */
                    , A.CAMP_DSP_CHL_NM                    /*발송채널명        */
                    , A.CAMP_DSP_AMT                    /*발송금액        */
    </sql>
    <sql id="sqlConditions">
    <where>
        <if test="campDspBasNo != null and campDspBasNo != ''">
                  AND A.CAMP_DSP_BAS_NO =       #{campDspBasNo}
        </if>
        <if test="campDspChlNm != null and campDspChlNm != ''">
                  AND A.CAMP_DSP_CHL_NM =       #{campDspChlNm}
        </if>
        <if test="campDspAmt != null and campDspAmt != ''">
                  AND A.CAMP_DSP_AMT    =       #{campDspAmt}
        </if>
       </where>
    </sql>
    <sql id="sqlOrderBy">
        <choose>
            <when test="colSortName ==null or colSortName == ''">
                ORDER BY      CAMP_DSP_BAS_NO ASC
            </when>
            <when test="colSortName.equals('campDspBasNo')">
                ORDER BY      CAMP_DSP_BAS_NO
            </when>
            <when test="colSortName.equals('campDspChlNm')">
                ORDER BY      CAMP_DSP_CHL_NM
            </when>
            <when test="colSortName.equals('campDspAmt')">
                ORDER BY      CAMP_DSP_AMT
            </when>
            <otherwise>
                ORDER BY      REG_DT
            </otherwise>
        </choose>
        <if test="colSortName !=null and colSortDir !='' and colSortDir !=null and colSortDir !='' and colSortDir.equals('desc')">
            DESC
        </if>
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT /* com.ceragem.crm.camp.dao.CrmCampDspBasDao.selectListCount */ COUNT(1)
                 FROM CRM_CAMP_DSP_BAS A
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.ceragem.crm.camp.model.CrmCampDspBasVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
               SELECT /* com.ceragem.crm.camp.dao.CrmCampDspBasDao.selectList */ <include refid="sqlSelectCols"/>
                 FROM CRM_CAMP_DSP_BAS A
        <include refid="sqlConditions"/>
        <include refid="sqlOrderBy"/>
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.ceragem.crm.camp.model.CrmCampDspBasVo">
               SELECT /* com.ceragem.crm.camp.dao.CrmCampDspBasDao.select */ <include refid="sqlSelectCols"/>
                 FROM CRM_CAMP_DSP_BAS A
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
                INSERT /* com.ceragem.crm.camp.dao.CrmCampDspBasDao.insert */ INTO CRM_CAMP_DSP_BAS (
        <include refid="sqlCols"/>
                 ) VALUES (
                       #{campDspBasNo}
                     , #{campDspChlNm}
                     , #{campDspAmt}
                 )
    </insert>
    <update id="update">
               UPDATE /* com.ceragem.crm.camp.dao.CrmCampDspBasDao.update */ CRM_CAMP_DSP_BAS
                  SET CAMP_DSP_CHL_NM                         =         #{campDspChlNm}
                    , CAMP_DSP_AMT                            =         #{campDspAmt}
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE /* com.ceragem.crm.camp.dao.CrmCampDspBasDao.delete */
                 FROM CRM_CAMP_DSP_BAS
        <include refid="sqlPkConditions"/>
    </delete>
</mapper>
