<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.camp.dao.CrmCampTgtGrpBasDao">
    <sql id="sqlPkConditions">
                WHERE 1=1 
                
            <if test="campTgtGrpBasNo != null and campTgtGrpBasNo != ''">
                      AND CAMP_TGT_GRP_BAS_NO=       #{campTgtGrpBasNo}
            </if>
            
            <if test="campBasNo != null and campBasNo != ''">
                      AND CAMP_BAS_NO=       #{campBasNo}
            </if>
            
            <if test="campTgtGrpBasNo == null and campBasNo == null ">
                      AND 1=2
            </if>
              
    </sql>
    <sql id="sqlCols">
                      CAMP_TGT_GRP_BAS_NO                    /*캠페인대상그룹기본번호        */
                    , CAMP_BAS_NO                    /*캠페인기본번호        */
                    , CUST_GRP_NO                    /*고객그룹번호        */
                    , TGT_EXTR_EXPT_YMD                    /*대상추출예정년월일        */
                    , TGT_EXTR_YMDHMS                    /*대상추출년월일시분초        */
                    , TGT_EXTR_SQL_CTNTS                    /*대상추출쿼리내용        */
                    , TGT_CUST_CNT                    /*대상고객수        */
                    , DSP_CHL_CD                    /*발송채널코드        */
                    , FOREC_DSP_EXPNS                    /*예상발송비용        */
                    , FOREC_BNFIT_EXPNS                    /*예상혜택비용        */
                    , APPLY_BNFIT_CD                    /*적용혜택코드        */
                    , TRM_CTNT_NO                    /*전송콘텐츠번호        */
                    , TRM_CTNT_CTNTS                    /*전송콘텐츠내용        */
                    , COUPN_BAS_NO                    /*쿠폰기본번호        */
                    , COUPN_TYPE_CD                    /*쿠폰유형코드        */
                    , COUPN_KND_CD                    /*쿠폰종류코드        */
                    , COUPN_APPLY_DIV_CD1                    /*쿠폰적용구분코드1        */
                    , COUPN_APPLY_DIV_CD2                    /*쿠폰적용구분코드2        */
                    , DSP_YN                    /*발송여부        */
                    , DSP_YMDHMS                    /*발송년월일시분초        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
                    , REG_CHL_CD                    /*등록채널코드        공통코드 : S000        [CRM : CRM , CTC : 상담 , AS : AS , SAP : SAP , POS : POS , BOS : BOS , MEM : 멤버십 , CERA : 세라체크 , DNA : 세라DNA , IoT : IoT]*/
    </sql>
    <sql id="sqlSelectCols">
                      A.CAMP_TGT_GRP_BAS_NO                    /*캠페인대상그룹기본번호        */
                    , A.CAMP_BAS_NO                    /*캠페인기본번호        */
                    , A.CUST_GRP_NO                    /*고객그룹번호        */
                    , A.TGT_EXTR_EXPT_YMD                    /*대상추출예정년월일        */
                    , A.TGT_EXTR_YMDHMS                    /*대상추출년월일시분초        */
                    , A.TGT_EXTR_SQL_CTNTS                    /*대상추출쿼리내용        */
                    , A.TGT_CUST_CNT                    /*대상고객수        */
                    , A.DSP_CHL_CD                    /*발송채널코드        */
                    , A.FOREC_DSP_EXPNS                    /*예상발송비용        */
                    , A.FOREC_BNFIT_EXPNS                    /*예상혜택비용        */
                    , A.APPLY_BNFIT_CD                    /*적용혜택코드        */
                    , A.TRM_CTNT_NO                    /*전송콘텐츠번호        */
                    , A.TRM_CTNT_CTNTS                    /*전송콘텐츠내용        */
                    , A.COUPN_BAS_NO                    /*쿠폰기본번호        */
                    , A.COUPN_TYPE_CD                    /*쿠폰유형코드        */
                    , A.COUPN_KND_CD                    /*쿠폰종류코드        */
                    , A.COUPN_APPLY_DIV_CD1                    /*쿠폰적용구분코드1        */
                    , A.COUPN_APPLY_DIV_CD2                    /*쿠폰적용구분코드2        */
                    , A.DSP_YN                    /*발송여부        */
                    , A.DSP_YMDHMS                    /*발송년월일시분초        */
                    , A.REGR_ID                    /*등록자ID        */
                    , TO_CHAR(A.REG_DT,'YYYYMMDDHH24MISS')    REG_DT                    /*등록일시        */
                    , A.AMDR_ID                    /*수정자ID        */
                    , TO_CHAR(A.AMD_DT,'YYYYMMDDHH24MISS')    AMD_DT                    /*수정일시        */
                    , A.REG_CHL_CD                    /*등록채널코드        공통코드 : S000        [CRM : CRM , CTC : 상담 , AS : AS , SAP : SAP , POS : POS , BOS : BOS , MEM : 멤버십 , CERA : 세라체크 , DNA : 세라DNA , IoT : IoT]*/
   					
   				
    </sql>
    <sql id="sqlConditions">
        <where>
            <if test="campTgtGrpBasNo != null and campTgtGrpBasNo != ''">
                      AND A.CAMP_TGT_GRP_BAS_NO=       #{campTgtGrpBasNo}
            </if>
            <if test="campBasNo != null and campBasNo != ''">
                      AND A.CAMP_BAS_NO     =       #{campBasNo}
            </if>
            <if test="custGrpNo != null and custGrpNo != ''">
                      AND A.CUST_GRP_NO     =       #{custGrpNo}
            </if>
            <if test="tgtExtrExptYmd != null and tgtExtrExptYmd != ''">
                      AND A.TGT_EXTR_EXPT_YMD=       #{tgtExtrExptYmd}
            </if>
            <if test="tgtExtrYmdhms != null and tgtExtrYmdhms != ''">
                      AND A.TGT_EXTR_YMDHMS =       #{tgtExtrYmdhms}
            </if>
            <if test="tgtExtrSqlCtnts != null and tgtExtrSqlCtnts != ''">
                      AND A.TGT_EXTR_SQL_CTNTS=       #{tgtExtrSqlCtnts}
            </if>
            <if test="tgtCustCnt != null and tgtCustCnt != ''">
                      AND A.TGT_CUST_CNT    =       #{tgtCustCnt}
            </if>
            <if test="dspChlCd != null and dspChlCd != ''">
                <choose>
                    <when test="dspChlCd instanceof String">
                        AND A.DSP_CHL_CD      =       #{dspChlCd}
                    </when>
                    <otherwise>
                        AND A.DSP_CHL_CD      IN
                        <foreach item="item" index="index" collection="dspChlCd" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
            <if test="forecDspExpns != null and forecDspExpns != ''">
                      AND A.FOREC_DSP_EXPNS =       #{forecDspExpns}
            </if>
            <if test="forecBnfitExpns != null and forecBnfitExpns != ''">
                      AND A.FOREC_BNFIT_EXPNS=       #{forecBnfitExpns}
            </if>
            <if test="applyBnfitCd != null and applyBnfitCd != ''">
                <choose>
                    <when test="applyBnfitCd instanceof String">
                        AND A.APPLY_BNFIT_CD  =       #{applyBnfitCd}
                    </when>
                    <otherwise>
                        AND A.APPLY_BNFIT_CD  IN
                        <foreach item="item" index="index" collection="applyBnfitCd" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
            <if test="trmCtntNo != null and trmCtntNo != ''">
                      AND A.TRM_CTNT_NO     =       #{trmCtntNo}
            </if>
            <if test="trmCtntCtnts != null and trmCtntCtnts != ''">
                      AND A.TRM_CTNT_CTNTS  =       #{trmCtntCtnts}
            </if>
            <if test="coupnBasNo != null and coupnBasNo != ''">
                      AND A.COUPN_BAS_NO    =       #{coupnBasNo}
            </if>
            <if test="coupnTypeCd != null and coupnTypeCd != ''">
                <choose>
                    <when test="coupnTypeCd instanceof String">
                        AND A.COUPN_TYPE_CD   =       #{coupnTypeCd}
                    </when>
                    <otherwise>
                        AND A.COUPN_TYPE_CD   IN
                        <foreach item="item" index="index" collection="coupnTypeCd" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
            <if test="coupnKndCd != null and coupnKndCd != ''">
                <choose>
                    <when test="coupnKndCd instanceof String">
                        AND A.COUPN_KND_CD    =       #{coupnKndCd}
                    </when>
                    <otherwise>
                        AND A.COUPN_KND_CD    IN
                        <foreach item="item" index="index" collection="coupnKndCd" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
            <if test="coupnApplyDivCd1 != null and coupnApplyDivCd1 != ''">
                      AND A.COUPN_APPLY_DIV_CD1=       #{coupnApplyDivCd1}
            </if>
            <if test="coupnApplyDivCd2 != null and coupnApplyDivCd2 != ''">
                      AND A.COUPN_APPLY_DIV_CD2=       #{coupnApplyDivCd2}
            </if>
            <if test="dspYn != null and dspYn != ''">
                      AND A.DSP_YN          =       #{dspYn}
            </if>
            <if test="dspYmdhms != null and dspYmdhms != ''">
                      AND A.DSP_YMDHMS      =       #{dspYmdhms}
            </if>
            <if test="regChlCd != null and regChlCd != ''">
                <choose>
                    <when test="regChlCd instanceof String">
                        AND A.REG_CHL_CD      =       #{regChlCd}
                    </when>
                    <otherwise>
                        AND A.REG_CHL_CD      IN
                        <foreach item="item" index="index" collection="regChlCd" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
        </where>
    </sql>
    <sql id="sqlOrderBy">
        <choose>
            <when test="colSortName ==null or colSortName == ''">
                ORDER BY      REG_DT DESC
            </when>
            <when test="colSortName.equals('campTgtGrpBasNo')">
                ORDER BY      CAMP_TGT_GRP_BAS_NO
            </when>
            <when test="colSortName.equals('campBasNo')">
                ORDER BY      CAMP_BAS_NO
            </when>
            <when test="colSortName.equals('custGrpNo')">
                ORDER BY      CUST_GRP_NO
            </when>
            <when test="colSortName.equals('tgtExtrExptYmd')">
                ORDER BY      TGT_EXTR_EXPT_YMD
            </when>
            <when test="colSortName.equals('tgtExtrYmdhms')">
                ORDER BY      TGT_EXTR_YMDHMS
            </when>
            <when test="colSortName.equals('tgtExtrSqlCtnts')">
                ORDER BY      TGT_EXTR_SQL_CTNTS
            </when>
            <when test="colSortName.equals('tgtCustCnt')">
                ORDER BY      TGT_CUST_CNT
            </when>
            <when test="colSortName.equals('dspChlCd')">
                ORDER BY      DSP_CHL_CD
            </when>
            <when test="colSortName.equals('forecDspExpns')">
                ORDER BY      FOREC_DSP_EXPNS
            </when>
            <when test="colSortName.equals('forecBnfitExpns')">
                ORDER BY      FOREC_BNFIT_EXPNS
            </when>
            <when test="colSortName.equals('applyBnfitCd')">
                ORDER BY      APPLY_BNFIT_CD
            </when>
            <when test="colSortName.equals('trmCtntNo')">
                ORDER BY      TRM_CTNT_NO
            </when>
            <when test="colSortName.equals('trmCtntCtnts')">
                ORDER BY      TRM_CTNT_CTNTS
            </when>
            <when test="colSortName.equals('coupnBasNo')">
                ORDER BY      COUPN_BAS_NO
            </when>
            <when test="colSortName.equals('coupnTypeCd')">
                ORDER BY      COUPN_TYPE_CD
            </when>
            <when test="colSortName.equals('coupnKndCd')">
                ORDER BY      COUPN_KND_CD
            </when>
            <when test="colSortName.equals('coupnApplyDivCd1')">
                ORDER BY      COUPN_APPLY_DIV_CD1
            </when>
            <when test="colSortName.equals('coupnApplyDivCd2')">
                ORDER BY      COUPN_APPLY_DIV_CD2
            </when>
            <when test="colSortName.equals('dspYn')">
                ORDER BY      DSP_YN
            </when>
            <when test="colSortName.equals('dspYmdhms')">
                ORDER BY      DSP_YMDHMS
            </when>
            <when test="colSortName.equals('regrId')">
                ORDER BY      REGR_ID
            </when>
            <when test="colSortName.equals('regDt')">
                ORDER BY      REG_DT
            </when>
            <when test="colSortName.equals('amdrId')">
                ORDER BY      AMDR_ID
            </when>
            <when test="colSortName.equals('amdDt')">
                ORDER BY      AMD_DT
            </when>
            <when test="colSortName.equals('regChlCd')">
                ORDER BY      REG_CHL_CD
            </when>
            <otherwise>
                ORDER BY      REG_DT
            </otherwise>
        </choose>
        <if test="colSortName !=null and colSortDir !='' and colSortDir !=null and colSortDir !='' and colSortDir.equals('desc')">
            DESC
        </if>
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT /* com.ceragem.crm.camp.dao.CrmCampTgtGrpBasDao.selectListCount */ COUNT(1)
                 FROM CRM_CAMP_TGT_GRP_BAS A
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.ceragem.crm.camp.model.CrmCampTgtGrpBasVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
               SELECT /* com.ceragem.crm.camp.dao.CrmCampTgtGrpBasDao.selectList */ <include refid="sqlSelectCols"/>
                 FROM CRM_CAMP_TGT_GRP_BAS A
        <include refid="sqlConditions"/>
        <include refid="sqlOrderBy"/>
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.ceragem.crm.camp.model.CrmCampTgtGrpBasVo">
               SELECT /* com.ceragem.crm.camp.dao.CrmCampTgtGrpBasDao.select */ <include refid="sqlSelectCols"/>
                 FROM CRM_CAMP_TGT_GRP_BAS A
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
                INSERT /* com.ceragem.crm.camp.dao.CrmCampTgtGrpBasDao.insert */ INTO CRM_CAMP_TGT_GRP_BAS (
        <include refid="sqlCols"/>
                 ) VALUES (
                       #{campTgtGrpBasNo}
                     , #{campBasNo}
                     , #{custGrpNo}
                     , #{tgtExtrExptYmd}
                     , #{tgtExtrYmdhms}
                     , #{tgtExtrSqlCtnts}
                     , #{tgtCustCnt}
                     , #{dspChlCd}
                     , #{forecDspExpns}
                     , #{forecBnfitExpns}
                     , #{applyBnfitCd}
                     , #{trmCtntNo}
                     , #{trmCtntCtnts}
                     , #{coupnBasNo}
                     , #{coupnTypeCd}
                     , #{coupnKndCd}
                     , #{coupnApplyDivCd1}
                     , #{coupnApplyDivCd2}
                     , NVL(#{dspYn},'N')
                     , #{dspYmdhms}
                     , #{regrId}
                     , SYSDATE
                     , #{amdrId}
                     , SYSDATE
                     , #{regChlCd}
                 )
    </insert>
    
    
    <insert id="grpSave">
    
   			<selectKey order="BEFORE" keyColumn="campTgtGrpBasNo" keyProperty="campTgtGrpBasNo" resultType="String">
    		SELECT FN_CRM_AUTO_SEQ('CTG') campTgtGrpBasNo  FROM DUAL
    		</selectKey>
    		
    		
                INSERT /* com.ceragem.crm.camp.dao.CrmCampTgtGrpBasDao.grpSave 고객 그룹저장 */ INTO CRM_CAMP_TGT_GRP_BAS (
        <include refid="sqlCols"/>
                 ) VALUES (
                       #{campTgtGrpBasNo}
                     , #{campBasNo}
                     , #{custGrpNo}
                     , NVL(#{tgtExtrExptYmd}, TO_CHAR(SYSDATE, 'YYYYMMDD') )
                     , NVL(#{tgtExtrYmdhms}, TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS') )
                     , #{tgtExtrSqlCtnts}
                     , #{tgtCustCnt}
                     , #{dspChlCd}
                     , #{forecDspExpns}
                     , #{forecBnfitExpns}
                     , #{applyBnfitCd}
                     , #{trmCtntNo}
                     , #{trmCtntCtnts}
                     , #{coupnBasNo}
                     , #{coupnTypeCd}
                     , #{coupnKndCd}
                     , #{coupnApplyDivCd1}
                     , #{coupnApplyDivCd2}
                     , NVL(#{dspYn},'N')
                     , NVL(#{dspYmdhms}, TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS') )
                     , #{regrId}
                     , SYSDATE
                     , #{amdrId}
                     , SYSDATE
                     , #{regChlCd}
                 )
    </insert>
    
    
    <update id="update">
               UPDATE /* com.ceragem.crm.camp.dao.CrmCampTgtGrpBasDao.update */ CRM_CAMP_TGT_GRP_BAS
                  SET CAMP_BAS_NO                             =         #{campBasNo}
                    , CUST_GRP_NO                             =         #{custGrpNo}
                    , TGT_EXTR_EXPT_YMD                       =         #{tgtExtrExptYmd}
                    , TGT_EXTR_YMDHMS                         =         #{tgtExtrYmdhms}
                    , TGT_EXTR_SQL_CTNTS                      =         #{tgtExtrSqlCtnts}
                    , TGT_CUST_CNT                            =         #{tgtCustCnt}
                    , DSP_CHL_CD                              =         #{dspChlCd}
                    , FOREC_DSP_EXPNS                         =         #{forecDspExpns}
                    , FOREC_BNFIT_EXPNS                       =         #{forecBnfitExpns}
                    , APPLY_BNFIT_CD                          =         #{applyBnfitCd}
                    , TRM_CTNT_NO                             =         #{trmCtntNo}
                    , TRM_CTNT_CTNTS                          =         #{trmCtntCtnts}
                    , COUPN_BAS_NO                            =         #{coupnBasNo}
                    , COUPN_TYPE_CD                           =         #{coupnTypeCd}
                    , COUPN_KND_CD                            =         #{coupnKndCd}
                    , COUPN_APPLY_DIV_CD1                     =         #{coupnApplyDivCd1}
                    , COUPN_APPLY_DIV_CD2                     =         #{coupnApplyDivCd2}
                    , DSP_YN                                  =         NVL(#{dspYn},'N')
                    , DSP_YMDHMS                              =         #{dspYmdhms}
                    , AMDR_ID                                 =         #{amdrId}
                    , AMD_DT                                  =         SYSDATE
                    , REG_CHL_CD                              =         #{regChlCd}
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE /* com.ceragem.crm.camp.dao.CrmCampTgtGrpBasDao.delete */
                 FROM CRM_CAMP_TGT_GRP_BAS
        <include refid="sqlPkConditions"/>
    </delete>
</mapper>
