<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.camp.dao.CrmCampBdgetHstDao">
    <sql id="sqlPkConditions">
                WHERE BDGET_HST_NO      =       #{bdgetHstNo}
    </sql>
    <sql id="sqlCols">
                      BDGET_HST_NO                    /*발송현황기본번호        */
                    , APPLY_YEAR                    /*해당년월        */
                    , ORG_ID                    /*부서코드        */
                    , BDGET_CNT                    /*예산수        */
                    , CHL_CD                    /*채널코드        */
                    , DSP_CNT                    /*발송수량        */
                    , OCCUR_AMT                    /*발송금액        */
                    , FOREC_DSP_EXPNS                    /*예상금액        */
                    , GAP_AMT                    /*차액        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일자        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일자        */
    </sql>
    <sql id="sqlSelectCols">
                      A.BDGET_HST_NO                    /*발송현황기본번호        */
                    , A.APPLY_YEAR                    /*해당년월        */
                    , A.ORG_ID                    /*부서코드        */
                    , A.BDGET_CNT                    /*예산수        */
                    , A.CHL_CD                    /*채널코드        */
                    
                    , A.DSP_CNT                    /*발송수량        */
                    , A.OCCUR_AMT                    /*발송금액        */
                    , A.FOREC_DSP_EXPNS                    /*예상금액        */
                    , A.GAP_AMT                    /*차액        */
                    , A.AMDR_ID                    /*수정자ID        */
                    , TO_CHAR(A.AMD_DT,'YYYYMMDDHH24MISS')    AMD_DT                    /*수정일자        */
                    , A.REGR_ID                    /*등록자ID        */
                    , TO_CHAR(A.REG_DT,'YYYYMMDDHH24MISS')    REG_DT                    /*등록일자        */
                     , ORG_NM ORG_ID_NM
                     , (SELECT CAMP_DSP_CHL_NM  FROM CRM_CAMP_DSP_BAS WHERE CAMP_DSP_BAS_NO = A.CHL_CD ) CHL_CD_NM
    </sql>
    <sql id="sqlConditions">
                
       <where>               
        <if test="orgNm != null and orgNm != ''">
                  AND B.ORG_NM LIKE  '%'||  #{orgNm} || '%'
        </if>
        
        
        
        <if test="bdgetHstNo != null and bdgetHstNo != ''">
                  AND A.BDGET_HST_NO    =       #{bdgetHstNo}
        </if>
        <if test="applyYear != null and applyYear != ''">
                  AND A.APPLY_YEAR      =       #{applyYear}
        </if>
        <if test="orgId != null and orgId != ''">
                  AND A.ORG_ID          =       #{orgId}
        </if>
        <if test="bdgetCnt != null and bdgetCnt != ''">
                  AND A.BDGET_CNT       =       #{bdgetCnt}
        </if>
        <if test="chlCd != null and chlCd != ''">
          
                    AND A.CHL_CD          =       #{chlCd}
           
        </if>
        <if test="dspCnt != null and dspCnt != ''">
                  AND A.DSP_CNT         =       #{dspCnt}
        </if>
        <if test="occurAmt != null and occurAmt != ''">
                  AND A.OCCUR_AMT       =       #{occurAmt}
        </if>
        <if test="forecDspExpns != null and forecDspExpns != ''">
                  AND A.FOREC_DSP_EXPNS =       #{forecDspExpns}
        </if>
        <if test="gapAmt != null and gapAmt != ''">
                  AND A.GAP_AMT         =       #{gapAmt}
        </if>
        
        
        <if test="hstStaYmd != null and hstStaYmd != '' and hstEndYmd == null and hstEndYmd == ''">
                  AND TO_CHAR( A.REG_DT, 'YYYYMMDD')  <![CDATA[>=]]>      #{hstStaYmd}
        </if>
        
        <if test="hstStaYmd == null and hstStaYmd == '' and campEndYmd != null and hstEndYmd != ''">
                  AND TO_CHAR( A.REG_DT, 'YYYYMMDD')  <![CDATA[<=]]>   #{hstEndYmd}
        </if>
        
        <if test="hstStaYmd != null and hstStaYmd != '' and hstEndYmd  != null and hstEndYmd != '' ">
                  AND ( TO_CHAR( A.REG_DT, 'YYYYMMDD')   <![CDATA[>=]]>   #{hstStaYmd}  AND TO_CHAR( A.REG_DT, 'YYYYMMDD')  <![CDATA[<=]]>  #{hstEndYmd} )
        </if>
        
        </where>
        
    </sql>
    <sql id="sqlOrderBy">
        <choose>
            <when test="colSortName ==null or colSortName == ''">
                ORDER BY      REG_DT DESC
            </when>
            <when test="colSortName.equals('bdgetHstNo')">
                ORDER BY      BDGET_HST_NO
            </when>
            <when test="colSortName.equals('applyYear')">
                ORDER BY      APPLY_YEAR
            </when>
            <when test="colSortName.equals('orgId')">
                ORDER BY      ORG_ID
            </when>
            <when test="colSortName.equals('bdgetCnt')">
                ORDER BY      BDGET_CNT
            </when>
            <when test="colSortName.equals('chlCd')">
                ORDER BY      CHL_CD
            </when>
            <when test="colSortName.equals('dspCnt')">
                ORDER BY      DSP_CNT
            </when>
            <when test="colSortName.equals('occurAmt')">
                ORDER BY      OCCUR_AMT
            </when>
            <when test="colSortName.equals('forecDspExpns')">
                ORDER BY      FOREC_DSP_EXPNS
            </when>
            <when test="colSortName.equals('gapAmt')">
                ORDER BY      GAP_AMT
            </when>
            <when test="colSortName.equals('amdrId')">
                ORDER BY      AMDR_ID
            </when>
            <when test="colSortName.equals('amdDt')">
                ORDER BY      AMD_DT
            </when>
            <when test="colSortName.equals('regrId')">
                ORDER BY      REGR_ID
            </when>
            <when test="colSortName.equals('regDt')">
                ORDER BY      REG_DT
            </when>
            <otherwise>
                ORDER BY      REG_DT
            </otherwise>
        </choose>
        <if test="colSortName !=null and colSortDir !='' and colSortDir !=null and colSortDir !='' and colSortDir.equals('desc')">
            DESC
        </if>
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT /* com.ceragem.crm.camp.dao.CrmCampBdgetHstDao.selectListCount */ COUNT(1)
                 FROM CRM_CAMP_BDGET_HST A
                 LEFT JOIN CRM_ORG_BAS B ON B.ORG_ID = A.ORG_ID 
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.ceragem.crm.camp.model.CrmCampBdgetHstVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
               SELECT /* com.ceragem.crm.camp.dao.CrmCampBdgetHstDao.selectList */ <include refid="sqlSelectCols"/>
                 FROM CRM_CAMP_BDGET_HST A
                 LEFT JOIN CRM_ORG_BAS B ON B.ORG_ID = A.ORG_ID 
        <include refid="sqlConditions"/>
        <include refid="sqlOrderBy"/>
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.ceragem.crm.camp.model.CrmCampBdgetHstVo">
               SELECT /* com.ceragem.crm.camp.dao.CrmCampBdgetHstDao.select */ <include refid="sqlSelectCols"/>
                 FROM CRM_CAMP_BDGET_HST A
                 LEFT JOIN CRM_ORG_BAS B ON B.ORG_ID = A.ORG_ID 
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
                INSERT /* com.ceragem.crm.camp.dao.CrmCampBdgetHstDao.insert */ INTO CRM_CAMP_BDGET_HST (
        <include refid="sqlCols"/>
                 ) VALUES (
                       #{bdgetHstNo}
                     , #{applyYear}
                     , #{orgId}
                     , #{bdgetCnt}
                     , #{chlCd}
                     , #{dspCnt}
                     , #{occurAmt}
                     , #{forecDspExpns}
                     , #{gapAmt}
                     , #{amdrId}
                     , SYSDATE
                     , #{regrId}
                     , SYSDATE
                 )
    </insert>
    <update id="update">
               UPDATE /* com.ceragem.crm.camp.dao.CrmCampBdgetHstDao.update */ CRM_CAMP_BDGET_HST
                  SET APPLY_YEAR                              =         #{applyYear}
                    , ORG_ID                                  =         #{orgId}
                    , BDGET_CNT                               =         #{bdgetCnt}
                    , CHL_CD                                  =         #{chlCd}
                    , DSP_CNT                                 =         #{dspCnt}
                    , OCCUR_AMT                               =         #{occurAmt}
                    , FOREC_DSP_EXPNS                         =         #{forecDspExpns}
                    , GAP_AMT                                 =         #{gapAmt}
                    , AMDR_ID                                 =         #{amdrId}
                    , AMD_DT                                  =         SYSDATE
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE /* com.ceragem.crm.camp.dao.CrmCampBdgetHstDao.delete */
                 FROM CRM_CAMP_BDGET_HST
        <include refid="sqlPkConditions"/>
    </delete>
</mapper>
