<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.camp.dao.CrmCampTypeBasDao">
    <sql id="sqlPkConditions">
                WHERE CAMP_TYPE_BAS_NO  =       #{campTypeBasNo}
    </sql>
    <sql id="sqlCols">
                      CAMP_TYPE_BAS_NO                    /*캠페인유형기본번호        */
                    , CAMP_TYPE_BAS_NM                    /*캠페인유형명        */
                    , CAMP_DIV_CD                    /*캠페인구분코드        */
                    , CAMP_TYPE_CD                    /*캠페인유형코드        */
                    , USE_YN                    /*사용여부        */
                    , CAMP_SHAP_CD                    /*캠페인형태코드        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
    </sql>
    
    <sql id="sqlSelectCols">
                      A.CAMP_TYPE_BAS_NO                    /*캠페인유형기본번호        */
                    , A.CAMP_TYPE_BAS_NM                    /*캠페인유형명        */
                    , A.CAMP_DIV_CD                    /*캠페인구분코드        */
                    , A.CAMP_TYPE_CD                    /*캠페인유형코드        */
                    , A.USE_YN                    /*사용여부        */
                    , A.CAMP_SHAP_CD                    /*캠페인형태코드        */
                    , A.AMDR_ID                    /*수정자ID        */
                    , TO_CHAR(A.AMD_DT,'YYYYMMDDHH24MISS')    AMD_DT                    /*수정일시        */
                    , A.REGR_ID                    /*등록자ID        */
                    , TO_CHAR(A.REG_DT,'YYYYMMDDHH24MISS')    REG_DT                    /*등록일시        */
                    , (SELECT COMN_CD_NM FROM CRM_COMN_CD_BAS B WHERE B.TOP_COMN_CD = 'CM060' and B.COMN_CD = A.CAMP_DIV_CD )  CAMP_DIV_CD_NM    /* 구분코드명        */
                    , (SELECT COMN_CD_NM FROM CRM_COMN_CD_BAS B WHERE B.TOP_COMN_CD = 'CM010' and B.COMN_CD = A.CAMP_TYPE_CD ) CAMP_TYPE_CD_NM    /* 캠페인 유형명 */
                    , (SELECT COMN_CD_NM FROM CRM_COMN_CD_BAS B WHERE B.TOP_COMN_CD = 'CM020' and B.COMN_CD = A.CAMP_SHAP_CD ) CAMP_SHAP_CD_NM    /* 형태        */
                    , (SELECT COMN_CD_NM FROM CRM_COMN_CD_BAS B WHERE B.TOP_COMN_CD = 'S010' and B.COMN_CD = A.USE_YN ) USE_YN_NM    /* 사용여부        */
    </sql>
    
    <sql id="sqlConditions">
       <where>
        <if test="campTypeBasNo != null and campTypeBasNo != ''">
                  AND A.CAMP_TYPE_BAS_NO=       #{campTypeBasNo}
        </if>
        <if test="campTypeBasNm != null and campTypeBasNm != ''">
                  AND A.CAMP_TYPE_BAS_NM=       #{campTypeBasNm}
        </if>
        <if test="campDivCd != null and campDivCd != ''">
            <choose>
                <when test="campDivCd instanceof String">
                    AND A.CAMP_DIV_CD     =       #{campDivCd}
                </when>
                <otherwise>
                    AND A.CAMP_DIV_CD     IN
                    <foreach item="item" index="index" collection="campDivCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="campTypeCd != null and campTypeCd != ''">
            <choose>
                <when test="campTypeCd instanceof String">
                    AND A.CAMP_TYPE_CD    =       #{campTypeCd}
                </when>
                <otherwise>
                    AND A.CAMP_TYPE_CD    IN
                    <foreach item="item" index="index" collection="campTypeCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="useYn != null and useYn != ''">
                  AND A.USE_YN          =       #{useYn}
        </if>
        <if test="campShapCd != null and campShapCd != ''">
            <choose>
                <when test="campShapCd instanceof String">
                    AND A.CAMP_SHAP_CD    =       #{campShapCd}
                </when>
                <otherwise>
                    AND A.CAMP_SHAP_CD    IN
                    <foreach item="item" index="index" collection="campShapCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        </where>
    </sql>
    <sql id="sqlOrderBy">
        <choose>
            <when test="colSortName ==null or colSortName == ''">
                ORDER BY      REG_DT DESC
            </when>
            <when test="colSortName.equals('campTypeBasNo')">
                ORDER BY      CAMP_TYPE_BAS_NO
            </when>
            <when test="colSortName.equals('campTypeBasNm')">
                ORDER BY      CAMP_TYPE_BAS_NM
            </when>
            <when test="colSortName.equals('campDivCd')">
                ORDER BY      CAMP_DIV_CD
            </when>
            <when test="colSortName.equals('campTypeCd')">
                ORDER BY      CAMP_TYPE_CD
            </when>
            <when test="colSortName.equals('useYn')">
                ORDER BY      USE_YN
            </when>
            <when test="colSortName.equals('campShapCd')">
                ORDER BY      CAMP_SHAP_CD
            </when>
            <when test="colSortName.equals('amdrId')">
                ORDER BY      AMDR_ID
            </when>
            <when test="colSortName.equals('amdDt')">
                ORDER BY      AMD_DT
            </when>
            <when test="colSortName.equals('regrId')">
                ORDER BY      REGR_ID
            </when>
            <when test="colSortName.equals('regDt')">
                ORDER BY      REG_DT
            </when>
            <otherwise>
                ORDER BY      REG_DT
            </otherwise>
        </choose>
        <if test="colSortName !=null and colSortDir !='' and colSortDir !=null and colSortDir !='' and colSortDir.equals('desc')">
            DESC
        </if>
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT /* com.ceragem.crm.camp.dao.CrmCampTypeBasDao.selectListCount */ COUNT(1)
                 FROM CRM_CAMP_TYPE_BAS A
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.ceragem.crm.camp.model.CrmCampTypeBasVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
               SELECT /* com.ceragem.crm.camp.dao.CrmCampTypeBasDao.selectList */ <include refid="sqlSelectCols"/>
                 FROM CRM_CAMP_TYPE_BAS A
        <include refid="sqlConditions"/>
        <include refid="sqlOrderBy"/>
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.ceragem.crm.camp.model.CrmCampTypeBasVo">
               SELECT /* com.ceragem.crm.camp.dao.CrmCampTypeBasDao.select */ <include refid="sqlSelectCols"/>
                 FROM CRM_CAMP_TYPE_BAS A
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
                INSERT /* com.ceragem.crm.camp.dao.CrmCampTypeBasDao.insert */ INTO CRM_CAMP_TYPE_BAS (
        <include refid="sqlCols"/>
                 ) VALUES (
                       NVL(#{campTypeBasNo}, FN_CRM_AUTO_SEQ('TBN') ) 
                     , #{campTypeBasNm}
                     , #{campDivCd}
                     , #{campTypeCd}
                     , NVL(#{useYn},'N')
                     , #{campShapCd}
                     , #{amdrId}
                     , SYSDATE
                     , #{regrId}
                     , SYSDATE
                 )
    </insert>
    <update id="update">
               UPDATE /* com.ceragem.crm.camp.dao.CrmCampTypeBasDao.update */ CRM_CAMP_TYPE_BAS
                  SET CAMP_TYPE_BAS_NM                        =         #{campTypeBasNm}
                    , CAMP_DIV_CD                             =         #{campDivCd}
                    , CAMP_TYPE_CD                            =         #{campTypeCd}
                    , USE_YN                                  =         NVL(#{useYn},'N')
                    , CAMP_SHAP_CD                            =         #{campShapCd}
                    , AMDR_ID                                 =         #{amdrId}
                    , AMD_DT                                  =         SYSDATE
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE /* com.ceragem.crm.camp.dao.CrmCampTypeBasDao.delete */
                 FROM CRM_CAMP_TYPE_BAS
        <include refid="sqlPkConditions"/>
    </delete>
</mapper>
