<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.camp.dao.CrmCampTempltBasDao">

    <sql id="sqlPkConditions">
    	WHERE Z023_USRID IN ( 'crm_1', 'EONSMSEMTC' ) AND Z023_SEQ = #{campTempltBasNo}
    </sql>
    
    
    
    <sql id="sqlCols">
                      Z023_SEQ CAMP_TEMPLT_BAS_NO                    /*캠페인템블릿기본번호        */
                    , (CASE WHEN Z023_DUMMY1 = '02' THEN 'SMS' 
                            WHEN Z023_DUMMY1 = '04' THEN 'LMS/MMS' 
                            WHEN Z023_DUMMY1 = '06' THEN 'BARCODE' 
                            WHEN Z023_DUMMY1 = '07' THEN 'PUSH' 
                        END ) TMPLT_TYPE_CD                    /*템플릿유형코드        */
                    , Z023_TITLE TMPLT_NM                    /*템플릿명        */
                    , Z023_CONTENT TMPLT_CTNTS                    /*템플릿내용        */
                    , Z023_YN  USE_YN                    /*사용여부        */
                  
					, Z023_BARCODE_TYPE BARCODE_TYPE                    /*바코드타입        */
                    , Z023_BARCODE_WIDTH BARCODE_WIDTH                    /*바코드생성폭        */
                    , Z023_BARCODE_HEIGHT BARCODE_HEIGHT                    /*바코드생성높이        */
                    , Z023_BARCODE_POS_X BARCODE_POS_X                    /*바코드삽입위치 X 좌표        */
                    , Z023_BARCODE_POS_Y BARCODE_POS_Y                    /*바코드삽입위치 Y 좌표        */
                    , Z023_BARCODE_ORG_IMG BARCODE_ORG_IMG                    /*바코드를 생성할 값        */
                    , Z023_BARCODE_IMG BARCODE_IMG
                    , Z023_JID  REGR_ID
                    , Z023_JDT  REG_DT
    </sql>
    <sql id="sqlSelectCols">
                      Z023_SEQ CAMP_TEMPLT_BAS_NO                    /*캠페인템블릿기본번호        */
                    , Z023_GROUP
                    , (CASE WHEN Z023_DUMMY1 = '02' THEN 'SMS' 
                            WHEN Z023_DUMMY1 = '04' THEN 'LMS/MMS' 
                            WHEN Z023_DUMMY1 = '06' THEN 'BARCODE' 
                            WHEN Z023_DUMMY1 = '07' THEN 'PUSH' 
                        END ) TMPLT_TYPE_CD                    /*템플릿유형코드        */
                    , Z023_TITLE TMPLT_NM                    /*템플릿명        */
                    , Z023_CONTENT TMPLT_CTNTS                    /*템플릿내용        */
                    , Z023_YN  USE_YN                    /*사용여부        */
                  
					, Z023_BARCODE_TYPE BARCODE_TYPE                    /*바코드타입        */
                    , Z023_BARCODE_WIDTH BARCODE_WIDTH                    /*바코드생성폭        */
                    , Z023_BARCODE_HEIGHT BARCODE_HEIGHT                    /*바코드생성높이        */
                    , Z023_BARCODE_POS_X BARCODE_POS_X                    /*바코드삽입위치 X 좌표        */
                    , Z023_BARCODE_POS_Y BARCODE_POS_Y                    /*바코드삽입위치 Y 좌표        */
                    , Z023_BARCODE_ORG_IMG BARCODE_ORG_IMG                    /*바코드를 생성할 값        */
                    , Z023_BARCODE_IMG BARCODE_IMG
                    , Z023_JID  REGR_ID
                    , Z023_JDT  REG_DT
                    , (SELECT CAMP_DSP_CHL_NM FROM CRM_CAMP_DSP_BAS B WHERE B.CAMP_DSP_BAS_NO = A.Z023_DUMMY1 ) TMPLT_TYPE_CD_NM    /* 채널유형코드명        */
                    , (SELECT COMN_CD_NM FROM CRM_COMN_CD_BAS B WHERE B.TOP_COMN_CD = 'S010' and B.COMN_CD = A.Z023_YN ) USE_YN_NM    /* 사용여부        */

    </sql>
    <sql id="sqlConditions">
    <where>
    
    	AND A.Z023_USRID IN ( 'crm_1', 'EONSMSEMTC' )
    	
    	/* AND A.Z023_GROUP IN ('09', '10', '11') */
    
        <if test="campTempltBasNo != null and campTempltBasNo != ''">
                  AND A.Z023_SEQ=       #{campTempltBasNo}
        </if>
        <if test="tmpltTypeCd != null and tmpltTypeCd != ''">
            <choose>
                <when test="tmpltTypeCd instanceof String">
                    AND A.Z023_DUMMY1   =       #{tmpltTypeCd}
                </when>
                <otherwise>
                    AND A.Z023_DUMMY1   IN
                    <foreach item="item" index="index" collection="tmpltTypeCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="tmpltNm != null and tmpltNm != ''">
                  AND A.Z023_TITLE     like '%'||  #{tmpltNm} ||'%'
        </if>
        <if test="tmpltCtnts != null and tmpltCtnts != ''">
                  AND A.Z023_CONTENT     =       #{tmpltCtnts}
        </if>
        <if test="useYn != null and useYn != ''">
                  AND A.Z023_YN          =       #{useYn}
        </if>
        </where>
    </sql>
    <sql id="sqlOrderBy">
        <choose>
            <when test="colSortName ==null or colSortName == ''">
                ORDER BY  TMPLT_TYPE_CD ASC
            </when>
          
        </choose>
        <if test="colSortName !=null and colSortDir !='' and colSortDir !=null and colSortDir !='' and colSortDir.equals('desc')">
            DESC
        </if>
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT /* com.ceragem.crm.camp.dao.CrmCampTempltBasDao.selectListCount */ COUNT(1)
                 FROM EON.WSOMZ023 A
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.ceragem.crm.camp.model.CrmCampTempltBasVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
               SELECT /* com.ceragem.crm.camp.dao.CrmCampTempltBasDao.selectList */ <include refid="sqlSelectCols"/>
                 FROM EON.WSOMZ023 A
        <include refid="sqlConditions"/>
        <include refid="sqlOrderBy"/>
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.ceragem.crm.camp.model.CrmCampTempltBasVo">
               SELECT /* com.ceragem.crm.camp.dao.CrmCampTempltBasDao.select */ <include refid="sqlSelectCols"/>
                 FROM EON.WSOMZ023 A
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
                INSERT /* com.ceragem.crm.camp.dao.CrmCampTempltBasDao.insert */ INTO EON.WSOMZ023 (
        <include refid="sqlCols"/>
                 ) VALUES (
                       NVL(#{campTempltBasNo}, FN_CRM_AUTO_SEQ('TBN') )
                     , #{tmpltTypeCd}
                     , #{tmpltNm}
                     , #{tmpltCtnts}
                     , NVL(#{useYn},'N')
                     , #{amdrId}
                     , SYSDATE
                     , #{regrId}
                     , SYSDATE
					 , #{barcodeType}
                     , #{barcodeWidth}
                     , #{barcodeHeight}
                     , #{barcodePosX}
                     , #{barcodePosY}
                     , #{barcodeValue}
                 )
    </insert>
    <update id="update">
               UPDATE /* com.ceragem.crm.camp.dao.CrmCampTempltBasDao.update */ EON.WSOMZ023
                  SET CAMP_TEMPLT_BAS_NO                      =         #{campTempltBasNo}
                    , TMPLT_TYPE_CD                           =         #{tmpltTypeCd}
                    , TMPLT_NM                                =         #{tmpltNm}
                    , TMPLT_CTNTS                             =         #{tmpltCtnts}
                    , USE_YN                                  =         NVL(#{useYn},'N')
                    , AMDR_ID                                 =         #{amdrId}
                    , AMD_DT                                  =         SYSDATE
                    , BARCODE_TYPE                            =         #{barcodeType}
                    , BARCODE_WIDTH                           =         #{barcodeWidth}
                    , BARCODE_HEIGHT                          =         #{barcodeHeight}
                    , BARCODE_POS_X                           =         #{barcodePosX}
                    , BARCODE_POS_Y                           =         #{barcodePosY}
                    , BARCODE_VALUE                           =         #{barcodeValue}                    
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE /* com.ceragem.crm.camp.dao.CrmCampTempltBasDao.delete */
                 FROM EON.WSOMZ023
        <include refid="sqlPkConditions"/>
    </delete>
</mapper>
