<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.cusstatus.dao.CrmCusStatusExpDao">

    <sql id="sqlList">
              SELECT B.ITG_CUST_NO /*통합고객번호*/
                   , NVL(NVL(B.CUST_NM,A.MSHP_NM ),'비회원') CUST_NM/*회원명*/
                   , A.GNDR_CD
                   , NVL((SELECT COMN_CD_NM FROM CRM_COMN_CD_BAS WHERE TOP_COMN_CD = 'S040' AND COMN_CD = A.GNDR_CD AND  COMN_CD_LVL_NO = 2),'성별없음') GNDR_CD_NM
                   , NVL(A.EXPRN_EXPRC_CD,0) EXPRN_EXPRC_CD /*경험여부*/
                   , A.EXPRN_EXPRC_CD_NM /*경험여부*/
                   , NVL(A.AGE_CD,'00') AGE_CD
                   , A.AGE_CD_NM
                   , A.EXPRN_DATE /*체험일자*/
                   , TO_CHAR(TO_DATE(A.EXPRN_DATE, 'YYYYMMDD'), 'd') WEEKDAY_CD/*체험요일*/
                   , TO_CHAR(TO_DATE(A.EXPRN_DATE, 'YYYYMMDD'), 'day', 'NLS_DATE_LANGUAGE = KOREAN') WEEKDAY_CD_NM /*체험요일*/
                   , NVL(B.MSHIP_GRADE_CD,'000') MSHIP_GRADE_CD
                   , NVL((SELECT COMN_CD_NM FROM CRM_COMN_CD_BAS WHERE TOP_COMN_CD = 'MB020' AND COMN_CD = B.MSHIP_GRADE_CD AND  COMN_CD_LVL_NO = 2),'비회원') MSHIP_GRADE_CD_NM
                   , DECODE(B.MSHIP_GRADE_CD,'001','001',null,'000','002') MSHIP_TYPE_CD
                   , DECODE(B.MSHIP_GRADE_CD,'001','통합고객',null,'비회원','멤버십') MSHIP_TYPE_CD_NM
                   , A.AMD_DT
                   , SUBSTR(A.EXPRN_STA_HOUR,1,2) || ':' || SUBSTR(A.EXPRN_STA_HOUR,3,2) || ' ~ ' || SUBSTR(A.EXPRN_END_HOUR,1,2) || ':' || SUBSTR(A.EXPRN_END_HOUR,3,2) EXPRN_TIME
                   , A.STOR_CD 
                   , A.ITEM_NM
                   , DECODE(A.EXPRN_CMPT_YN,1,'예','아니오') EXPRN_CMPT_YN
                   , (SELECT STOR_NM FROM CRM_STOR_BAS WHERE STOR_NO = A.STOR_CD AND ROWNUM = 1)  STOR_NM 
                FROM CRM_CUST_EXPRN_HST A
                LEFT JOIN CRM_CUST_BAS B ON A.ITG_CUST_NO = B.ITG_CUST_NO AND CUST_STATUS_CD != '003'
               WHERE A.EXPRN_DATE BETWEEN NVL(NVL(#{strtDt},#{strtDt2}),'20000101') AND NVL(NVL(#{endDt},#{endDt2}),'29991231')
    </sql>
    <select id="selectList" resultType="EzMap">
    /* com.ceragem.crm.cusstatus.dao.CrmCusStatusExpDao.selectList */
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
              <include refid="sqlList"/>
               ORDER BY A.EXPRN_DATE DESC 
                   , A.EXPRN_STA_HOUR DESC
                   , A.EXPRN_END_HOUR DESC
                   , A.AMD_DT DESC 
                   , A.REG_DT DESC
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
	</select>
	
	
    <select id="selectListCount" resultType="int">
         SELECT /* com.ceragem.crm.cusstatus.dao.CrmCusStatusExpDao.selectListCount */ 
               COUNT(1) CNT
           FROM CRM_CUST_EXPRN_HST A
           LEFT JOIN CRM_CUST_BAS B ON A.ITG_CUST_NO = B.ITG_CUST_NO AND CUST_STATUS_CD != '003'
          WHERE A.EXPRN_DATE BETWEEN NVL(NVL(#{strtDt2},#{strtDt}),'20000101') AND NVL(NVL(#{endDt2},#{endDt}),'29991231')
    </select>
    
    <select id="selectMemberTypeList" resultType="EzMap">
    /* com.ceragem.crm.cusstatus.dao.CrmCusStatusExpDao.selectMemberTypeList */
            SELECT A.COMN_CD CODE
                 , A.COMN_CD_NM NAME
                 , A.COLOR_CD
                 , NVL(B.CNT,0) CNT 
              FROM ( SELECT COMN_CD
                          , COMN_CD_NM
                          , RFRN_1_COMN_CD COLOR_CD
                          , COMN_CD_ODRG
                       FROM CRM_COMN_CD_BAS 
                      WHERE TOP_COMN_CD = 'S190' 
                        AND COMN_CD_LVL_NO = 2
                        AND USE_YN = 'Y' ) A, 
                   ( SELECT  MSHIP_TYPE_CD
                          , COUNT(1) CNT
                      FROM (<include refid="sqlList"/>) A
                     GROUP BY MSHIP_TYPE_CD ) B
             WHERE A.COMN_CD = B.MSHIP_TYPE_CD(+)
             ORDER BY COMN_CD_ODRG
    </select>
    
    <select id="selectGenderList" resultType="EzMap">
        /* com.ceragem.crm.cusstatus.dao.CrmCusStatusExpDao.selectGenderList */
            SELECT A.COMN_CD CODE
                 , A.COMN_CD_NM NAME
                 , A.COLOR_CD
                 , NVL(B.CNT,0) CNT 
              FROM ( SELECT COMN_CD
                          , COMN_CD_NM
                          , RFRN_1_COMN_CD COLOR_CD
                          , COMN_CD_ODRG
                       FROM CRM_COMN_CD_BAS 
                      WHERE TOP_COMN_CD = 'S040' 
                        AND COMN_CD_LVL_NO = 2 
                        AND USE_YN = 'Y' 
                      UNION ALL
                     SELECT '000'
                          , '성별없음'
                          , '#AFAFAF'
                          ,  999 FROM DUAL ) A, 
                   ( SELECT  GNDR_CD
                          , COUNT(1) CNT
                      FROM (<include refid="sqlList"/>) A
                     GROUP BY GNDR_CD ) B
             WHERE A.COMN_CD = B.GNDR_CD(+)
             ORDER BY COMN_CD_ODRG
    </select>
    
    
    <select id="selectMemberGradeList" resultType="EzMap">
    /* com.ceragem.crm.cusstatus.dao.CrmCusStatusExpDao.selectMemberGradeList */
            SELECT A.COMN_CD CODE
                 , A.COMN_CD_NM NAME
                 , A.COLOR_CD
                 , NVL(B.CNT,0) CNT 
              FROM ( SELECT COMN_CD
                          , COMN_CD_NM
                          , RFRN_1_COMN_CD COLOR_CD
                          , COMN_CD_ODRG
                       FROM CRM_COMN_CD_BAS 
                      WHERE TOP_COMN_CD = 'MB020' 
                        AND  COMN_CD_LVL_NO = 2 
                        AND USE_YN = 'Y'
                        AND COMN_CD_1_USE_YN = 'Y'
                         UNION ALL
                      SELECT '000'
                           , '비회원'
                           , '#EFEFEF'
                           ,  999 FROM DUAL 
                        ) A, 
                   ( SELECT  MSHIP_GRADE_CD
                          , COUNT(1) CNT
                      FROM (<include refid="sqlList"/>) A
                     GROUP BY MSHIP_GRADE_CD ) B
             WHERE A.COMN_CD = B.MSHIP_GRADE_CD(+)
             ORDER BY COMN_CD_ODRG
    </select>
    
    <select id="selectNumberList" resultType="EzMap">
    /* com.ceragem.crm.cusstatus.dao.CrmCusStatusExpDao.selectNumberList */
            SELECT A.COMN_CD CODE
                 , A.COMN_CD_NM NAME
                 , A.COLOR_CD
                 , NVL(B.CNT,0) CNT 
              FROM ( SELECT COMN_CD
                          , COMN_CD_NM
                          , RFRN_1_COMN_CD COLOR_CD
                          , COMN_CD_ODRG
                       FROM CRM_COMN_CD_BAS 
                      WHERE TOP_COMN_CD = 'S200' 
                        AND  COMN_CD_LVL_NO = 2 
                        AND USE_YN = 'Y'
                        ) A, 
                   ( SELECT  EXPRN_EXPRC_CD
                          , COUNT(1) CNT
                      FROM (<include refid="sqlList"/>) A
                     GROUP BY EXPRN_EXPRC_CD ) B
             WHERE A.COMN_CD = B.EXPRN_EXPRC_CD(+)
             ORDER BY COMN_CD_ODRG
    </select>
    
    <select id="selectAgeList" resultType="EzMap">
    /* com.ceragem.crm.cusstatus.dao.CrmCusStatusExpDao.selectAgeList */
            SELECT A.COMN_CD CODE
                 , A.COMN_CD_NM NAME
                 , NVL(B.CNT,0) CNT 
                 , NVL(B.CNT_000,0) CNT_000
                 , NVL(B.CNT_001,0) CNT_001
                 , NVL(B.CNT_002,0) CNT_002 
                 , C.*
              FROM ( SELECT COMN_CD
                          , COMN_CD_NM
                          , COMN_CD_ODRG
                       FROM CRM_COMN_CD_BAS 
                      WHERE TOP_COMN_CD = 'S210' 
                        AND  COMN_CD_LVL_NO = 2 
                        AND USE_YN = 'Y'
                         UNION ALL
                      SELECT '00'
                           , '미입력'
                           ,  999 FROM DUAL 
                        ) A, 
                   ( SELECT  AGE_CD
                          , COUNT(1) CNT
                          , SUM(DECODE(MSHIP_TYPE_CD,'001',1,null)) CNT_001
                          , SUM(DECODE(MSHIP_TYPE_CD,'002',1,null)) CNT_002
                          , SUM(DECODE(MSHIP_TYPE_CD,'000',1,null)) CNT_000
                      FROM (<include refid="sqlList"/>) A
                     GROUP BY AGE_CD ) B,
                   ( SELECT MAX(DECODE(COMN_CD,'000',RFRN_1_COMN_CD,NULL)) COLOR_000
                         , MAX(DECODE(COMN_CD,'001',RFRN_1_COMN_CD,NULL)) COLOR_001
                         , MAX(DECODE(COMN_CD,'002',RFRN_1_COMN_CD,NULL)) COLOR_002
                         , MAX(DECODE(COMN_CD,'000',COMN_CD_NM,NULL)) TITLE_000
                         , MAX(DECODE(COMN_CD,'001',COMN_CD_NM,NULL)) TITLE_001
                         , MAX(DECODE(COMN_CD,'002',COMN_CD_NM,NULL)) TITLE_002
                      FROM CRM_COMN_CD_BAS
                     WHERE TOP_COMN_CD = 'S190'
                      AND COMN_CD_LVL_NO = 2 ) C
             WHERE A.COMN_CD = B.AGE_CD(+)
             ORDER BY COMN_CD_ODRG
    </select>
     <select id="selectWeekList" resultType="EzMap">
    /* com.ceragem.crm.cusstatus.dao.CrmCusStatusExpDao.selectWeekList */
            SELECT A.COMN_CD CODE
                 , A.COMN_CD_NM NAME
                 , NVL(B.CNT,0) CNT 
                 , NVL(B.CNT_000,0) CNT_000
                 , NVL(B.CNT_001,0) CNT_001
                 , NVL(B.CNT_002,0) CNT_002 
                 , C.*
              FROM ( SELECT COMN_CD
                          , COMN_CD_NM
                          , COMN_CD_ODRG
                       FROM CRM_COMN_CD_BAS 
                      WHERE TOP_COMN_CD = 'S220' 
                        AND  COMN_CD_LVL_NO = 2 
                        AND USE_YN = 'Y'
                        ) A, 
                   ( SELECT WEEKDAY_CD
                          , COUNT(1) CNT
                          , SUM(DECODE(MSHIP_TYPE_CD,'001',1,null)) CNT_001
                          , SUM(DECODE(MSHIP_TYPE_CD,'002',1,null)) CNT_002
                          , SUM(DECODE(MSHIP_TYPE_CD,'000',1,null)) CNT_000
                       FROM (<include refid="sqlList"/>) A
                      GROUP BY WEEKDAY_CD ) B,
                   ( SELECT MAX(DECODE(COMN_CD,'000',RFRN_1_COMN_CD,NULL)) COLOR_000
                         , MAX(DECODE(COMN_CD,'001',RFRN_1_COMN_CD,NULL)) COLOR_001
                         , MAX(DECODE(COMN_CD,'002',RFRN_1_COMN_CD,NULL)) COLOR_002
                         , MAX(DECODE(COMN_CD,'000',COMN_CD_NM,NULL)) TITLE_000
                         , MAX(DECODE(COMN_CD,'001',COMN_CD_NM,NULL)) TITLE_001
                         , MAX(DECODE(COMN_CD,'002',COMN_CD_NM,NULL)) TITLE_002
                      FROM CRM_COMN_CD_BAS
                     WHERE TOP_COMN_CD = 'S190'
                      AND COMN_CD_LVL_NO = 2 ) C
             WHERE A.COMN_CD = B.WEEKDAY_CD(+)
             ORDER BY COMN_CD_ODRG
    </select>
    <select id="getExpPie" resultType="int">
    <![CDATA[
        SELECT 
               SUM(CNT) CNT 
          FROM (
                SELECT 
                       EXPRN_EXPRC_CD
                     , COUNT(EXPRN_EXPRC_CD) AS "CNT" 
                  FROM ( SELECT CASE WHEN TO_NUMBER(EXPRN_EXPRC_CD) > 0 THEN 'Y'
                                     ELSE 'N'
                                 END EXPRN_EXPRC_CD 
                                , TO_CHAR(TO_DATE(EXPRN_DATE, 'YYYYMMDD'), 'd') AS "EXP_DAY"
                           FROM CRM_CUST_EXPRN_HST
]]>
                          <where>
                          <if test='strtDt != null and strtDt != "" and endDt != null and endDt != ""'>
                            AND EXPRN_DATE BETWEEN #{strtDt} AND #{endDt}
                          </if>
                          </where>
<![CDATA[
                )
                GROUP BY EXPRN_EXPRC_CD 
        
                UNION
             
                SELECT 
                       DECODE(rownum, 1, 'Y', 2, 'N')
                     , DECODE(rownum, 1, 0, 2, 0)
                  FROM DUAL CONNECT BY LEVEL <= 2
               )
        GROUP BY EXPRN_EXPRC_CD
        ORDER BY EXPRN_EXPRC_CD DESC
    ]]>            
    </select>
    
    
    <select id="getExpGenPie" resultType="int">
    <![CDATA[ 
        SELECT 
               SUM(CNT) CNT
          FROM (
                SELECT 
                       GNDR_CD
                     , EXPRN_EXPRC_CD
                     , COUNT(1) AS "CNT" 
                  FROM CRM_CUST_EXPRN_HST 
    ]]>
                <where>
                  EXPRN_EXPRC_CD > 0
                <if test='strtDt != null and strtDt != "" and endDt != null and endDt != ""'>
                  AND EXPRN_DATE BETWEEN #{strtDt} AND #{endDt}
                </if>
                </where>
    <![CDATA[       
                GROUP BY GNDR_CD, EXPRN_EXPRC_CD
                
                UNION
             
                SELECT 
                       DECODE(rownum, 1, 'M', 2, 'F')
                     , DECODE(rownum, 1, 'Y', 2, 'Y')
                     , DECODE(rownum, 1, 0, 2, 0)
                  FROM DUAL CONNECT BY LEVEL <= 2
               )
        GROUP BY GNDR_CD, EXPRN_EXPRC_CD
        ORDER BY GNDR_CD, EXPRN_EXPRC_CD 
    ]]>
    </select>
    
    
    <select id="getExpGra" resultType="int">
    <![CDATA[
        SELECT 
               CNT
          FROM (
                SELECT 
                       MSHIP_GRADE_CD
                     , EXPRN_EXPRC_CD
                     , SUM(CNT) CNT
                  FROM (
                        SELECT 
                               A.MSHIP_GRADE_CD
                             , B.EXPRN_EXPRC_CD
                             , COUNT(B.EXPRN_EXPRC_CD) AS "CNT" 
                          FROM CRM_CUST_BAS A, ( SELECT CASE WHEN TO_NUMBER(EXPRN_EXPRC_CD) > 0 THEN 'Y'
                                                             ELSE 'N'
                                                         END EXPRN_EXPRC_CD 
                                                        , ITG_CUST_NO
                                                   FROM CRM_CUST_EXPRN_HST
]]>                                                   
                                                  <where>
                                                  <if test='strtDt != null and strtDt != "" and endDt != null and endDt != ""'>
                                                    AND TO_CHAR(TO_DATE(EXPRN_DATE, 'YYYYMMDD'), 'd') BETWEEN #{strtDt} AND #{endDt}
                                                  </if>
                                                  </where>
<![CDATA[                                                   
                                            ) B
                        WHERE A.ITG_CUST_NO = B.ITG_CUST_NO 
                        GROUP BY A.MSHIP_GRADE_CD, B.EXPRN_EXPRC_CD
                
                        UNION 
                
                        SELECT 
                               '00'||ROUND(LEVEL/2)
                             , DECODE(MOD(LEVEL, 2), 1, 'Y', 0, 'N')
                             , 0
                          FROM DUAL CONNECT BY LEVEL <= 12
                       )
                GROUP BY MSHIP_GRADE_CD, EXPRN_EXPRC_CD
                ORDER BY 1,2 DESC
               )
    ]]>
    </select>
    
    
    <select id="getExpAgeBar" resultType="int">
    <![CDATA[
        SELECT 
               SUM(CNT) CNT     
          FROM (
                SELECT 
                       CASE WHEN TO_NUMBER(AGE_CD) >= 80 THEN '80'
                            ELSE AGE_CD
                            END AGE_CD
                     , EXPRN_EXPRC_CD    
                     , COUNT(1) AS CNT
                  FROM CRM_CUST_EXPRN_HST
    ]]>
                <where>
                <if test='strtDt != null and strtDt != "" and endDt != null and endDt != ""'>
                  AND EXPRN_DATE BETWEEN #{strtDt} AND #{endDt}
                </if>
                </where>
    <![CDATA[ 
                GROUP BY AGE_CD, EXPRN_EXPRC_CD
                   
                UNION 
                
                SELECT 
                       ROUND(LEVEL/2)||'0'
                    , DECODE(MOD(LEVEL, 2), 1, 'Y', 0, 'N')
                    , 0
                  FROM DUAL CONNECT BY LEVEL <= 16
               )  
        GROUP BY AGE_CD, EXPRN_EXPRC_CD
        ORDER BY AGE_CD, EXPRN_EXPRC_CD DESC
    ]]>
    </select>
    
    <select id="getExpDayBar" resultType="int">
    <![CDATA[
        SELECT 
               SUM(CNT) CNT 
          FROM (
                SELECT 
                       A.EXPRN_EXPRC_CD
                       , EXP_DAY
                       , COUNT(EXPRN_EXPRC_CD) AS "CNT"
                FROM(
                SELECT 
                     CASE WHEN TO_NUMBER(EXPRN_EXPRC_CD) > 0 THEN 'Y'
                          ELSE 'N'
                     END EXPRN_EXPRC_CD 
                     , TO_CHAR(TO_DATE(EXPRN_DATE, 'YYYYMMDD'), 'd') AS "EXP_DAY"
                  FROM CRM_CUST_EXPRN_HST
     ]]>                  
                  <where>
                      <if test='strtDt != null and strtDt != "" and endDt != null and endDt != ""'>
                        AND EXPRN_DATE BETWEEN #{strtDt} AND #{endDt}
                      </if>
                  </where>
                ) A
                
    <![CDATA[           
                GROUP BY EXP_DAY, EXPRN_EXPRC_CD 
  
                UNION
             
                SELECT 
                       DECODE(MOD(LEVEL, 2), 1, 'Y', 0, 'N')
                    , TO_CHAR(ROUND(LEVEL/2))
                    , 0
                  FROM DUAL CONNECT BY LEVEL <= 14
               )
        GROUP BY EXPRN_EXPRC_CD, EXP_DAY
        ORDER BY EXPRN_EXPRC_CD desc, EXP_DAY
    ]]> 
    </select>    
    
</mapper>
