<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.cusstatus.dao.CrmCusStatusAccDao">
	
    <select id="selectList" resultType="com.ceragem.crm.cusstatus.model.CrmCusStatusAccVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
        SELECT /* com.ceragem.crm.cusstatus.dao.CrmCusStatusAccDao.selectList */
               NVL(A.ITG_CUST_NO, '매장에 등록된 고객이 없음') ITG_CUST_NO                  /*통합고객번호 */
             , A.CUST_NM                                                             /*회원명     */
             , CASE WHEN A.CUST_STATUS_CD = '001' THEN '가입'
                    WHEN A.CUST_STATUS_CD IS NULL OR CUST_STATUS_CD = '002' THEN '휴면'
                    END CUST_STATUS_CD                                               /*고객상태코드 */
             , NVL(TO_CHAR(A.REG_DT, 'YYYY-MM-DD'),'9999-12-31') REG_DT
             , B.STOR_NO                                     /*매장번호 */
             , NVL(B.STOR_NM, '선택된 매장이 없음') STOR_NM       /*매장명 */
             , B.STOR_STATUS_CD                              /*매장상태코드 */
             , A.MSHIP_GRADE_CD                              /*회원등급 */
             , CASE WHEN A.BIRTHDAY IS NOT NULL THEN '만' || TRUNC(MONTHS_BETWEEN(SYSDATE, TO_DATE(A.BIRTHDAY, 'YYYYMMDD'))/12) || '세'
                    ELSE '나이미정' 
                    END BIRTHDAY_DT  /*생년월일 */
             , CASE WHEN A.GNDR_CD = 'M' THEN '남'
                    WHEN A.GNDR_CD = 'F' THEN '여'
                    ELSE '성별 없음'
                END GNDR_CD          /*성별코드 */
              , (SELECT COMN_CD_NM FROM CRM_COMN_CD_BAS B WHERE B.TOP_COMN_CD = 'S000' and B.COMN_CD = A.REG_CHL_CD ) REG_CHL_CD    /* 등록채널코드명        */
          FROM (SELECT REG_DT
                     , ITG_CUST_NO
                     , CUST_NM
                     , MSHIP_GRADE_CD
                     , CUST_STATUS_CD
                     , DECODE(VALIDATE_CONVERSION(BIRTHDAY AS DATE, 'YYYYMMDD'),1,BIRTHDAY,0,NULL) BIRTHDAY
                     , GNDR_CD
                     , RCMD_STOR_NO
                     , REG_CHL_CD
	              FROM CRM_CUST_BAS) A
             FULL OUTER JOIN CRM_STOR_BAS B
             ON (A.RCMD_STOR_NO = B.STOR_NO)
             <where>
             <choose>
	             <when test='custStatusCd == "Y"'>
	           AND (A.CUST_STATUS_CD IS NULL OR A.CUST_STATUS_CD = '002')
                 </when>
                 <!-- <otherwise>
               AND A.CUST_STATUS_CD = '001'
                 </otherwise> -->
             </choose>
             <if test='pblsStaDt != null and pblsStaDt != "" and pblsEndDt != null and pblsEndDt != ""'>
               AND A.REG_DT BETWEEN TO_DATE(#{pblsStaDt}, 'YYYYMMDD') AND TO_DATE(#{pblsEndDt}, 'YYYYMMDD') +1
             </if>
             <if test='custNm != null and custNm != ""'>
               AND A.CUST_NM = #{custNm}
             </if>
             <if test='storNo != null and storNo != ""'>
               AND B.STOR_NO = #{storNo}
             </if>
             <if test='storStatusCd != "all"'>
                <if test='storStatusCd != null and storStatusCd != ""'>
               AND B.STOR_STATUS_CD = #{storStatusCd}
               </if>
             </if>
             <if test='pblsChlCd != null and pblsChlCd != ""'>
             	AND A.REG_CHL_CD = #{pblsChlCd}
              </if>
             </where>
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
	</select>
	
    <select id="selectListCount" resultType="int">
        SELECT /* com.ceragem.crm.cusstatus.dao.CrmCusStatusAccDao.selectListCount */ COUNT(1)
          FROM (SELECT REG_DT
                     , ITG_CUST_NO
                     , CUST_NM
                     , MSHIP_GRADE_CD
                     , CUST_STATUS_CD
                     , DECODE(VALIDATE_CONVERSION(BIRTHDAY AS DATE, 'YYYYMMDD'),1,BIRTHDAY,0,NULL) BIRTHDAY
                     , GNDR_CD
                     , RCMD_STOR_NO
                     , REG_CHL_CD
	              FROM CRM_CUST_BAS) A
             FULL OUTER JOIN CRM_STOR_BAS B
             ON (A.RCMD_STOR_NO = B.STOR_NO)
         <where>
         <choose>
             <when test='custStatusCd == "Y"'>
           AND (A.CUST_STATUS_CD IS NULL OR A.CUST_STATUS_CD = '002') 
             </when>
             <!-- <otherwise>
           AND A.CUST_STATUS_CD = '001'
             </otherwise> -->
         </choose> 
         <if test='pblsStaDt != null and pblsStaDt != "" and pblsEndDt != null and pblsEndDt != ""'>
           AND A.REG_DT BETWEEN TO_DATE(#{pblsStaDt}, 'YYYYMMDD') AND TO_DATE(#{pblsEndDt}, 'YYYYMMDD')+1
         </if>
         <if test='custNm != null and custNm != ""'>
           AND A.CUST_NM = #{custNm}
         </if>
         <if test='storNo != null and storNo != ""'>
           AND B.STOR_NO = #{storNo}
         </if>
        <if test='storStatusCd != "all"'>
                <if test='storStatusCd != null and storStatusCd != ""'>
               AND B.STOR_STATUS_CD = #{storStatusCd}
               </if>
             </if>
             <!-- <if test='pblsregChlCd != "all"'>
                <if test='pblsregChlCd != null and pblsregChlCd != ""'>
               AND B.STOR_CHL_CD = #{pblsregChlCd}
                </if>
             </if> -->
         <if test='pblsChlCd != null and pblsChlCd != ""'>
             	AND A.REG_CHL_CD = #{pblsChlCd}
              </if>
         </where>
    </select>
    
    <select id="barLabels" resultType="String">
    <choose>
	    <when test='stndDt == "" or stndDt == null'>
	    <![CDATA[
	    SELECT /* com.ceragem.crm.cusstatus.dao.CrmCusStatusAccDao.barLabels */ 
	           TO_CHAR(A.DAY, 'DD')            /*출력할 연월 */
	      FROM (SELECT 
	                   TRUNC(SYSDATE, 'MM') + LEVEL - 1 DAY               /*선택한 월의 첫날~끝날 */
	                 , CASE WHEN TRUNC(SYSDATE, 'MM') + LEVEL - 1 <= SYSDATE THEN 1            /*이미 지난 날짜인지 판별 */
	                        ELSE 2
	                   END CHCK
	              FROM DUAL
	        CONNECT BY LEVEL <= TO_CHAR(LAST_DAY(SYSDATE), 'DD')) A
	         , (SELECT 
	                   REG_DT            /*등록일자 */
	                 , CUST_STATUS_CD            /*고객상태코드 (휴면/활성)*/
	                 , COUNT(1) CNT            /*등록, 고객상태별 회원수 */
	              FROM (SELECT 
	                           TO_CHAR(REG_DT, 'YYMMDD') REG_DT             /*등록일자 */
	                         , CASE WHEN CUST_STATUS_CD = '001' THEN '활성'
	                                WHEN CUST_STATUS_CD IS NULL OR CUST_STATUS_CD = '002' THEN '휴면'             /*활성/휴면 분류 */
	                           END CUST_STATUS_CD
	                      FROM CRM_CUST_BAS
	                     ]]>
	                     <if test='regChlCd != "" and regChlCd != null'>
	                     WHERE REG_CHL_CD = #{regChlCd}
	                     </if>
	                     <![CDATA[
	                     )  
	             WHERE CUST_STATUS_CD = '활성'
	          GROUP BY CUST_STATUS_CD, REG_DT) B
	     WHERE TO_CHAR(A.DAY, 'YYMMDD') = B.REG_DT (+)
	       AND A.CHCK = 1
	  ORDER BY DAY
	    ]]>
	    </when>
	    <otherwise>
	    <![CDATA[
	    SELECT /* com.ceragem.crm.cusstatus.dao.CrmCusStatusAccDao.barLabels */ 
	           TO_CHAR(A.DAY, 'DD')            /*출력할 연월 */
	      FROM (SELECT 
	                   TO_DATE(#{stndDt}, 'YYYYMM') + LEVEL - 1 DAY               /*선택한 월의 첫날~끝날 */
	                 , CASE WHEN TO_DATE(#{stndDt}, 'YYYYMM') + LEVEL - 1 <= SYSDATE THEN 1            /*이미 지난 날짜인지 판별 */
	                        ELSE 2
	                   END CHCK
	              FROM DUAL
	        CONNECT BY LEVEL <= TO_CHAR(LAST_DAY(TO_DATE(#{stndDt}, 'YYYYMM')), 'DD')) A
	         , (SELECT 
	                   REG_DT            /*등록일자 */
	                 , CUST_STATUS_CD            /*고객상태코드 (휴면/활성)*/
	                 , COUNT(1) CNT            /*등록, 고객상태별 회원수 */
	              FROM (SELECT TO_CHAR(REG_DT, 'YYMMDD') REG_DT   /*등록일자 */
	                         , CASE WHEN CUST_STATUS_CD = '001' THEN '활성'
	                                WHEN CUST_STATUS_CD IS NULL OR CUST_STATUS_CD = '002' THEN '휴면' /*활성/휴면 분류 */
	                           END CUST_STATUS_CD
	                      FROM CRM_CUST_BAS
                         ]]>
	                     <if test='regChlCd != "" and regChlCd != null'>
	                     WHERE REG_CHL_CD = #{regChlCd}
	                     </if>
	                     <![CDATA[
	                     )
	             WHERE CUST_STATUS_CD = '활성'
	          GROUP BY CUST_STATUS_CD, REG_DT) B
	     WHERE TO_CHAR(A.DAY, 'YYMMDD') = B.REG_DT (+)
	       AND A.CHCK = 1
      ORDER BY DAY
	    ]]>
	    </otherwise>
    </choose>
    </select>
    
    <select id="normalData" resultType="int">
    <choose>
	    <when test='stndDt == "" or stndDt == null'>
	    <![CDATA[
	    SELECT /* com.ceragem.crm.cusstatus.dao.CrmCusStatusAccDao.normalData */ 
	           NVL(B.CNT, 0) CNT    /*회원수  */
	      FROM (SELECT 
	                   TRUNC(SYSDATE, 'MM') + LEVEL - 1 DAY               /*선택한 월의 첫날~끝날 */
	                 , CASE WHEN TRUNC(SYSDATE, 'MM') + LEVEL - 1 <= SYSDATE THEN 1            /*이미 지난 날짜인지 판별 */
	                        ELSE 2
	                   END CHCK
	              FROM DUAL
	        CONNECT BY LEVEL <= TO_CHAR(LAST_DAY(SYSDATE), 'DD')) A
	         , (
	         SELECT REG_DT , SUM(CNT) CNT FROM (
		         SELECT 
		                   TO_CHAR(REG_DT, 'YYMMDD') REG_DT            /*등록일자 */
		                 , CUST_STATUS_CD            /*고객상태코드 (휴면/활성)*/
		                 , COUNT(1) CNT            /*등록, 고객상태별 회원수 */
		              FROM CRM_CUST_BAS
		             ]]>
	                  <if test='regChlCd != "" and regChlCd != null'>
	                  WHERE REG_CHL_CD = #{regChlCd}
	                  </if>
	                  <![CDATA[
		          GROUP BY CUST_STATUS_CD, TO_CHAR(REG_DT, 'YYMMDD')
	          	)
	          	GROUP BY REG_DT
	          ) B
	     WHERE TO_CHAR(A.DAY, 'YYMMDD') = B.REG_DT (+)
	       AND A.CHCK = 1
	  ORDER BY DAY
	    ]]>
	    </when>
	    <otherwise>
	    <![CDATA[
	    SELECT /* com.ceragem.crm.cusstatus.dao.CrmCusStatusAccDao.normalData */ 
	           NVL(B.CNT, 0) CNT    /*회원수  */
	      FROM (SELECT 
	                   TO_DATE(#{stndDt}, 'YYYYMM') + LEVEL - 1 DAY               /*선택한 월의 첫날~끝날 */
	                 , CASE WHEN TO_DATE(#{stndDt}, 'YYYYMM') + LEVEL - 1 <= SYSDATE THEN 1            /*이미 지난 날짜인지 판별 */
	                        ELSE 2
	                   END CHCK
	              FROM DUAL
	        CONNECT BY LEVEL <= TO_CHAR(LAST_DAY(TO_DATE(#{stndDt}, 'YYYYMM')), 'DD')) A
	         , (
	          SELECT REG_DT , SUM(CNT) CNT FROM (
		         SELECT 
		                   TO_CHAR(REG_DT, 'YYMMDD') REG_DT            /*등록일자 */
		                 , CUST_STATUS_CD            /*고객상태코드 (휴면/활성)*/
		                 , COUNT(1) CNT            /*등록, 고객상태별 회원수 */
		              FROM CRM_CUST_BAS
		             ]]>
	                  <if test='regChlCd != "" and regChlCd != null'>
	                  WHERE REG_CHL_CD = #{regChlCd}
	                  </if>
	                  <![CDATA[
		          GROUP BY CUST_STATUS_CD, TO_CHAR(REG_DT, 'YYMMDD')
	          	)
	          	GROUP BY REG_DT
	          ) B
	     WHERE TO_CHAR(A.DAY, 'YYMMDD') = B.REG_DT (+)
	       AND A.CHCK = 1
      ORDER BY DAY
	    ]]>
	    </otherwise>
    </choose>
    </select>
    
    <select id="dormarcyData" resultType="int">
    <choose>
	    <when test='stndDt == "" or stndDt == null'>
	    <![CDATA[
	    SELECT /* com.ceragem.crm.cusstatus.dao.CrmCusStatusAccDao.dormarcyData */ 
	           NVL(B.CNT, 0) CNT
	      FROM (SELECT 
	                   TRUNC(SYSDATE, 'MM') + LEVEL - 1 DAY               /*선택한 월의 첫날~끝날 */
	                 , CASE WHEN TRUNC(SYSDATE, 'MM') + LEVEL - 1 <= SYSDATE THEN 1            /*이미 지난 날짜인지 판별 */
	                        ELSE 2
	                   END CHCK
	              FROM DUAL
	        CONNECT BY LEVEL <= TO_CHAR(LAST_DAY(SYSDATE), 'DD')) A
	         , (
	          
	          SELECT REG_DT , SUM(CNT) CNT FROM (
		         SELECT 
		                   TO_CHAR(REG_DT, 'YYMMDD') REG_DT            /*등록일자 */
		                 , CUST_STATUS_CD            /*고객상태코드 (휴면/활성)*/
		                 , COUNT(1) CNT            /*등록, 고객상태별 회원수 */
		              FROM CRM_CUST_BAS
		              	WHERE CUST_STATUS_CD = '002'
		             ]]>
	                  <if test='regChlCd != "" and regChlCd != null'>
	                  AND REG_CHL_CD = #{regChlCd}
	                  </if>
	                  <![CDATA[
		          GROUP BY CUST_STATUS_CD, TO_CHAR(REG_DT, 'YYMMDD')
	          	)
	          	GROUP BY REG_DT
	          
	          ) B
	     WHERE TO_CHAR(A.DAY, 'YYMMDD') = B.REG_DT (+)
	       AND A.CHCK = 1
	  ORDER BY DAY
	    ]]>
	    </when>
	    <otherwise>
	    <![CDATA[
	    SELECT /* com.ceragem.crm.cusstatus.dao.CrmCusStatusAccDao.dormarcyData */ 
	           NVL(B.CNT, 0) CNT
	      FROM (SELECT 
	                   TO_DATE(#{stndDt}, 'YYYYMM') + LEVEL - 1 DAY               /*선택한 월의 첫날~끝날 */
	                 , CASE WHEN TO_DATE(#{stndDt}, 'YYYYMM') + LEVEL - 1 <= SYSDATE THEN 1            /*이미 지난 날짜인지 판별 */
	                        ELSE 2
	                   END CHCK
	              FROM DUAL
	        CONNECT BY LEVEL <= TO_CHAR(LAST_DAY(TO_DATE(#{stndDt}, 'YYYYMM')), 'DD')) A
	         , (
	         SELECT REG_DT , SUM(CNT) CNT FROM (
		         SELECT 
		                   TO_CHAR(REG_DT, 'YYMMDD') REG_DT            /*등록일자 */
		                 , CUST_STATUS_CD            /*고객상태코드 (휴면/활성)*/
		                 , COUNT(1) CNT            /*등록, 고객상태별 회원수 */
		              FROM CRM_CUST_BAS
		              	WHERE CUST_STATUS_CD = '002'
		             ]]>
	                  <if test='regChlCd != "" and regChlCd != null'>
	                  AND REG_CHL_CD = #{regChlCd}
	                  </if>
	                  <![CDATA[
		          GROUP BY CUST_STATUS_CD, TO_CHAR(REG_DT, 'YYMMDD')
	          	)
	          	GROUP BY REG_DT
	          ) B
	     WHERE TO_CHAR(A.DAY, 'YYMMDD') = B.REG_DT (+)
	       AND A.CHCK = 1
      ORDER BY DAY
	    ]]>
	    </otherwise>
    </choose>
    </select>
    
    <select id="lineLabels" resultType="String">
    <choose>
	    <when test='stndDt == "" or stndDt == null'>
	    <![CDATA[
	    SELECT /* com.ceragem.crm.cusstatus.dao.CrmCusStatusAccDao.lineLabels */ A.MONTH
          FROM (SELECT 
                       TO_CHAR(ADD_MONTHS(TRUNC(SYSDATE, 'MM'), LEVEL - 12), 'YYYY.MM') MONTH /*1년간 월 데이터*/
	              FROM DUAL
	        CONNECT BY LEVEL <= 12) A
             , (SELECT 
	                   REG_DT            /*등록일자 */
	                 , CUST_STATUS_CD            /*고객상태코드 (휴면/활성)*/
	                 , COUNT(1) CNT            /*등록, 고객상태별 회원수 */
	              FROM (SELECT 
	                           TO_CHAR(REG_DT, 'YYYYMM') REG_DT  /*등록 월 */
	                         , CASE WHEN CUST_STATUS_CD = '001' THEN '활성'
	                                WHEN CUST_STATUS_CD IS NULL OR CUST_STATUS_CD = '002' THEN '휴면'  /*활성/휴면 분류 */
	                           END CUST_STATUS_CD
	                      FROM CRM_CUST_BAS
	                     ]]>
	                     <if test='regChlCd != "" and regChlCd != null'>
	                     WHERE REG_CHL_CD = #{regChlCd}
	                     </if>
	                     <![CDATA[
	                     )
	             WHERE CUST_STATUS_CD = '활성'
	          GROUP BY CUST_STATUS_CD, REG_DT) B
         WHERE A.MONTH = B.REG_DT (+)
      ORDER BY A.MONTH
	    ]]>
	    </when>
	    <otherwise>
	    <![CDATA[
	    SELECT /* com.ceragem.crm.cusstatus.dao.CrmCusStatusAccDao.lineLabels */ A.MONTH
          FROM (SELECT 
                       TO_CHAR(ADD_MONTHS(TO_DATE(#{stndDt}, 'YYYYMM'), LEVEL - 12), 'YYYY.MM') MONTH /*1년간 월 데이터*/
	              FROM DUAL
	        CONNECT BY LEVEL <= 12) A
             , (SELECT 
	                   REG_DT            /*등록일자 */
	                 , CUST_STATUS_CD            /*고객상태코드 (휴면/활성)*/
	                 , COUNT(1) CNT            /*등록, 고객상태별 회원수 */
	              FROM (SELECT 
	                           TO_CHAR(REG_DT, 'YYYYMM') REG_DT  /*등록 월 */
	                         , CASE WHEN CUST_STATUS_CD = '001' THEN '활성'
	                                WHEN CUST_STATUS_CD IS NULL OR CUST_STATUS_CD = '002' THEN '휴면'  /*활성/휴면 분류 */
	                           END CUST_STATUS_CD
	                      FROM CRM_CUST_BAS
	                     ]]>
	                     <if test='regChlCd != "" and regChlCd != null'>
	                     WHERE REG_CHL_CD = #{regChlCd}
	                     </if>
	                     <![CDATA[
	                     )
	             WHERE CUST_STATUS_CD = '활성'
	          GROUP BY CUST_STATUS_CD, REG_DT) B
         WHERE A.MONTH = B.REG_DT (+)
      ORDER BY A.MONTH
	    ]]>
	    </otherwise>
    </choose>
    </select>
    
    <select id="lineNormal" resultType="int">
    <choose>
	    <when test='stndDt == "" or stndDt == null'>
	    <![CDATA[
	    SELECT /* com.ceragem.crm.cusstatus.dao.CrmCusStatusAccDao.lineNormal */ NVL(B.CNT,0) /*1년간 월 데이터 수*/
          FROM (SELECT 
                       TO_CHAR(ADD_MONTHS(TRUNC(SYSDATE, 'MM'), LEVEL - 12), 'YYYYMM') MONTH /*1년간 월 데이터*/
	              FROM DUAL
	        CONNECT BY LEVEL <= 12) A
             , (SELECT 
	                   REG_DT            /*등록일자 */
	                 , CUST_STATUS_CD            /*고객상태코드 (휴면/활성)*/
	                 , COUNT(1) CNT            /*등록, 고객상태별 회원수 */
	              FROM (SELECT 
	                           TO_CHAR(REG_DT, 'YYYYMM') REG_DT  /*등록 월 */
	                         , CASE WHEN CUST_STATUS_CD = '001' THEN '활성'
	                                WHEN CUST_STATUS_CD IS NULL OR CUST_STATUS_CD = '002' THEN '휴면'  /*활성/휴면 분류 */
	                           END CUST_STATUS_CD
	                      FROM CRM_CUST_BAS
	                     ]]>
	                     <if test='regChlCd != "" and regChlCd != null'>
	                     WHERE REG_CHL_CD = #{regChlCd}
	                     </if>
	                     <![CDATA[
	                     )
	             WHERE CUST_STATUS_CD = '활성'
	          GROUP BY CUST_STATUS_CD, REG_DT) B
         WHERE A.MONTH = B.REG_DT (+)
      ORDER BY A.MONTH
	    ]]>
	    </when>
	    <otherwise>
	    <![CDATA[
	    SELECT /* com.ceragem.crm.cusstatus.dao.CrmCusStatusAccDao.lineNormal */ NVL(B.CNT,0) /*1년간 월 데이터 수*/
          FROM (SELECT 
                       TO_CHAR(ADD_MONTHS(TO_DATE(#{stndDt}, 'YYYYMM'), LEVEL - 12), 'YYYYMM') MONTH /*1년간 월 데이터*/
	              FROM DUAL
	        CONNECT BY LEVEL <= 12) A
             , (SELECT 
	                   REG_DT            /*등록일자 */
	                 , CUST_STATUS_CD            /*고객상태코드 (휴면/활성)*/
	                 , COUNT(1) CNT            /*등록, 고객상태별 회원수 */
	              FROM (SELECT 
	                           TO_CHAR(REG_DT, 'YYYYMM') REG_DT  /*등록 월 */
	                         , CASE WHEN CUST_STATUS_CD = '001' THEN '활성'
	                                WHEN CUST_STATUS_CD IS NULL OR CUST_STATUS_CD = '002' THEN '휴면'  /*활성/휴면 분류 */
	                           END CUST_STATUS_CD
	                      FROM CRM_CUST_BAS
	                     ]]>
	                     <if test='regChlCd != "" and regChlCd != null'>
	                     WHERE REG_CHL_CD = #{regChlCd}
	                     </if>
	                     <![CDATA[
	                     )
	             WHERE CUST_STATUS_CD = '활성'
	          GROUP BY CUST_STATUS_CD, REG_DT) B
         WHERE A.MONTH = B.REG_DT (+)
      ORDER BY A.MONTH
	    ]]>
	    </otherwise>
    </choose>
    </select>
    
    <select id="lineDormarcy" resultType="int">
    <choose>
	    <when test='stndDt == "" or stndDt == null'>
	    <![CDATA[
	    SELECT /* com.ceragem.crm.cusstatus.dao.CrmCusStatusAccDao.lineDormarcy */ NVL(B.CNT,0) /*1년간 월 데이터 수*/
          FROM (SELECT 
                       TO_CHAR(ADD_MONTHS(TRUNC(SYSDATE, 'MM'), LEVEL - 12), 'YYYYMM') MONTH /*1년간 월 데이터*/
	              FROM DUAL
	        CONNECT BY LEVEL <= 12) A
             , (SELECT 
	                   REG_DT            /*등록일자 */
	                 , CUST_STATUS_CD            /*고객상태코드 (휴면/활성)*/
	                 , COUNT(1) CNT            /*등록, 고객상태별 회원수 */
	              FROM (SELECT 
	                           TO_CHAR(REG_DT, 'YYYYMM') REG_DT  /*등록 월 */
	                         , CASE WHEN CUST_STATUS_CD = '001' THEN '활성'
	                                WHEN CUST_STATUS_CD IS NULL OR CUST_STATUS_CD = '002' THEN '휴면'  /*활성/휴면 분류 */
	                           END CUST_STATUS_CD
	                      FROM CRM_CUST_BAS
	                     ]]>
	                     <if test='regChlCd != "" and regChlCd != null'>
	                     WHERE REG_CHL_CD = #{regChlCd}
	                     </if>
	                     <![CDATA[
	                     )
	             WHERE CUST_STATUS_CD = '휴면'
	          GROUP BY CUST_STATUS_CD, REG_DT) B
         WHERE A.MONTH = B.REG_DT (+)
      ORDER BY A.MONTH
	    ]]>
	    </when>
	    <otherwise>
	    <![CDATA[
	    SELECT /* com.ceragem.crm.cusstatus.dao.CrmCusStatusAccDao.lineDormarcy */ NVL(B.CNT,0) /*1년간 월 데이터 수*/
          FROM (SELECT 
                       TO_CHAR(ADD_MONTHS(TO_DATE(#{stndDt}, 'YYYYMM'), LEVEL - 12), 'YYYYMM') MONTH /*1년간 월 데이터*/
	              FROM DUAL
	        CONNECT BY LEVEL <= 12) A
             , (SELECT 
	                   REG_DT            /*등록일자 */
	                 , CUST_STATUS_CD            /*고객상태코드 (휴면/활성)*/
	                 , COUNT(1) CNT            /*등록, 고객상태별 회원수 */
	              FROM (SELECT 
	                           TO_CHAR(REG_DT, 'YYYYMM') REG_DT  /*등록 월 */
	                         , CASE WHEN CUST_STATUS_CD = '001' THEN '활성'
	                                WHEN CUST_STATUS_CD IS NULL OR CUST_STATUS_CD = '002' THEN '휴면'  /*활성/휴면 분류 */
	                           END CUST_STATUS_CD
	                      FROM CRM_CUST_BAS
	                     ]]>
	                     <if test='regChlCd != "" and regChlCd != null'>
	                     WHERE REG_CHL_CD = #{regChlCd}
	                     </if>
	                     <![CDATA[
	                     )
	             WHERE CUST_STATUS_CD = '휴면'
	          GROUP BY CUST_STATUS_CD, REG_DT) B
         WHERE A.MONTH = B.REG_DT (+)
      ORDER BY A.MONTH
	    ]]>
	    </otherwise>
    </choose>
    </select>
</mapper>
