<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.cusstatus.dao.CrmCusStatusDao">
	
    <select id="selectList" resultType="com.ceragem.crm.cusstatus.model.CrmCusStatusVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
            SELECT /* com.ceragem.crm.cusstatus.dao.CrmCusStatusDao.selectList */
                   ITG_CUST_NO                                                         /*통합고객번호 */
                 , CUST_NM                                                             /*회원명     */
                 , MSHIP_GRADE_CD                                                      /*회원등급 */
                 , CASE WHEN BIRTHDAY IS NOT NULL THEN '만' || TRUNC(MONTHS_BETWEEN(SYSDATE, TO_DATE(BIRTHDAY, 'YYYYMMDD'))/12) || '세'
                        ELSE '나이미정' 
                        END BIRTHDAY_DT  /*생년월일 */
                 , CASE WHEN GNDR_CD = 'M' THEN '남'
                        WHEN GNDR_CD = 'F' THEN '여'
                        ELSE '성별 없음'
                    END GNDR_CD                                                             /*성별코드 */
                 , REG_DT
              FROM (SELECT ITG_CUST_NO
                         , CUST_NM
                         , MSHIP_GRADE_CD
                         , DECODE(VALIDATE_CONVERSION(BIRTHDAY AS DATE, 'YYYYMMDD'),1,BIRTHDAY,0,NULL) BIRTHDAY
                         , GNDR_CD
                         , TO_CHAR(MSHIP_SBSC_DT, 'YYYYMMDD') REG_DT
                      FROM CRM_CUST_BAS
                      	WHERE CUST_STATUS_CD != '003')
           <where>
           <if test='strtDt2 != null and strtDt2 != "" and endDt2 != null and endDt2 != ""'>
               AND REG_DT BETWEEN #{strtDt2} AND #{endDt2}
           </if>
           <if test='gndrCd != "all"'>
               AND NVL(GNDR_CD,'A') = #{gndrCd}
           </if>
           <if test='mshipGradeCd != "all"'>
               AND MSHIP_GRADE_CD = #{mshipGradeCd}
           </if>
           <choose>
               <when test='mshipAges == "00"'>
                   AND TRUNC(MONTHS_BETWEEN(SYSDATE, TO_DATE(BIRTHDAY, 'YYYYMMDD'))/120)*10 IS NULL
               </when>
               <when test='mshipAges != "all" and mshipAges != "20" and mshipAges != "70"'>
                   AND TRUNC(MONTHS_BETWEEN(SYSDATE, TO_DATE(BIRTHDAY, 'YYYYMMDD'))/120)*10 = #{mshipAges}
               </when>
               <when test='mshipAges != "all" and mshipAges == "20"'>
               <![CDATA[
                   AND TRUNC(MONTHS_BETWEEN(SYSDATE, TO_DATE(BIRTHDAY, 'YYYYMMDD'))/120)*10 <= #{mshipAges}
               ]]>
               </when>
               <when test='mshipAges != "all" and mshipAges == "70"'>
               <![CDATA[
                   AND TRUNC(MONTHS_BETWEEN(SYSDATE, TO_DATE(BIRTHDAY, 'YYYYMMDD'))/120)*10 >= #{mshipAges}
               ]]>
               </when>
           </choose>
           </where>
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
	</select>
	
    <select id="selectListCount" resultType="int">
        SELECT /* com.ceragem.crm.cusstatus.dao.CrmCusStatusDao.selectListCount */ COUNT(1)
          FROM (SELECT ITG_CUST_NO
                         , CUST_NM
                         , MSHIP_GRADE_CD
                         , DECODE(VALIDATE_CONVERSION(BIRTHDAY AS DATE, 'YYYYMMDD'),1,BIRTHDAY,0,NULL) BIRTHDAY
                         , GNDR_CD
                         , TO_CHAR(MSHIP_SBSC_DT, 'YYYYMMDD') REG_DT
                      FROM CRM_CUST_BAS
                      	WHERE CUST_STATUS_CD != '003')
         <where>
           <if test='strtDt2 != null and strtDt2 != "" and endDt2 != null and endDt2 != ""'>
               AND REG_DT BETWEEN #{strtDt2} AND #{endDt2}
           </if>
           <if test='gndrCd != "all"'>
               AND NVL(GNDR_CD,'A') = #{gndrCd}
           </if>
           <if test='mshipGradeCd != "all"'>
               AND MSHIP_GRADE_CD = #{mshipGradeCd}
           </if>
           <choose>
               <when test='mshipAges == "00"'>
                   AND TRUNC(MONTHS_BETWEEN(SYSDATE, TO_DATE(BIRTHDAY, 'YYYYMMDD'))/120)*10 IS NULL
               </when>
               <when test='mshipAges != "all" and mshipAges != "20" and mshipAges != "70"'>
                   AND TRUNC(MONTHS_BETWEEN(SYSDATE, TO_DATE(BIRTHDAY, 'YYYYMMDD'))/120)*10 = #{mshipAges}
               </when>
               <when test='mshipAges != "all" and mshipAges == "20"'>
               <![CDATA[
                   AND TRUNC(MONTHS_BETWEEN(SYSDATE, TO_DATE(BIRTHDAY, 'YYYYMMDD'))/120)*10 <= #{mshipAges}
               ]]>
               </when>
               <when test='mshipAges != "all" and mshipAges == "70"'>
               <![CDATA[
                   AND TRUNC(MONTHS_BETWEEN(SYSDATE, TO_DATE(BIRTHDAY, 'YYYYMMDD'))/120)*10 >= #{mshipAges}
               ]]>
               </when>
           </choose>
         </where>
    </select>
    
    <select id="getGradePie" resultType="int">
    <![CDATA[
        SELECT /* com.ceragem.crm.cusstatus.dao.CrmCusStatusDao.getGradePie */ SUM(GRADE_GNDR_CNT)
          FROM (
               SELECT 
                      MSHIP_GRADE_CD                   /*멤버십 등급 코드 */
                    , GNDR_CD                          /*성별코드 */
                    , COUNT(*) AS "GRADE_GNDR_CNT"     /*등급별 성별 개수*/
                 FROM (
                      SELECT MSHIP_GRADE_CD
                           , GNDR_CD
                           , DECODE(VALIDATE_CONVERSION(BIRTHDAY AS DATE, 'YYYYMMDD'),1,BIRTHDAY,0,NULL) BIRTHDAY
                           , TO_CHAR(REG_DT, 'YYYYMMDD') REG_DT
                        FROM CRM_CUST_BAS
                       WHERE MSHIP_GRADE_CD is not null AND GNDR_CD is not null
                      )
                ]]>
                <if test='strtDt != null and strtDt != "" and endDt != null and endDt != ""'>
                WHERE REG_DT BETWEEN #{strtDt} AND #{endDt}
                </if>
             <![CDATA[
             GROUP BY MSHIP_GRADE_CD, GNDR_CD
             
             UNION
             
            SELECT '00'||ROUND(LEVEL/2), DECODE(MOD(LEVEL, 2), 1, 'F', 0, 'M'), 0
              FROM DUAL
        CONNECT BY LEVEL <= 12)
      GROUP BY MSHIP_GRADE_CD, GNDR_CD
      ORDER BY MSHIP_GRADE_CD, GNDR_CD
    ]]>
    </select>
    
    <select id="getGradeBar" resultType="int">
    <![CDATA[
        SELECT /* com.ceragem.crm.cusstatus.dao.CrmCusStatusDao.getGradeBar */ SUM(CNT) CNT
          FROM (
               SELECT MSHIP_GRADE_CD      /*멤버십등급코드 */
                    , AGE                 /*연령대 */
                    , COUNT(1) AS "CNT"   /*연령별 개수 */
                 FROM (
                      SELECT MSHIP_GRADE_CD 
                           , CASE WHEN AGES IS NULL THEN '미입력'
                                  WHEN AGES <= 20  THEN '20대이하'
                                  WHEN AGES = 30 THEN '30대'
                                  WHEN AGES = 40 THEN '40대'
                                  WHEN AGES = 50 THEN '50대'
                                  WHEN AGES = 60 THEN '60대'
                                  WHEN AGES >= 70 THEN '70대이상'
                              END AGE
                        FROM (
                             SELECT MSHIP_GRADE_CD
                                  , TRUNC(MONTHS_BETWEEN(SYSDATE, TO_DATE(BIRTHDAY, 'YYYYMMDD'))/120) * 10 AS "AGES"
                               FROM (SELECT MSHIP_GRADE_CD
				                          , DECODE(VALIDATE_CONVERSION(BIRTHDAY AS DATE, 'YYYYMMDD'),1,BIRTHDAY,0,NULL) BIRTHDAY
                                          , TO_CHAR(REG_DT, 'YYYYMMDD') REG_DT
				                       FROM CRM_CUST_BAS)
                              ]]>
                              <if test='strtDt != null and strtDt != "" and endDt != null and endDt != ""'>
                              WHERE REG_DT BETWEEN #{strtDt} AND #{endDt}
                              </if>
                              <![CDATA[
                             ) 
                       WHERE MSHIP_GRADE_CD IS NOT NULL
                      )
             GROUP BY MSHIP_GRADE_CD, AGE
                UNION 
                      (
                      SELECT '00'||CEIL(LEVEL/7), decode(MOD(LEVEL,7), 1, '20대이하', 2, '30대', 3, '40대', 4, '50대', 5, '60대', 6, '70대이상', 0, '미입력'), 0
                        FROM DUAL
                  CONNECT BY LEVEL <= 42
                      )
             )
      GROUP BY MSHIP_GRADE_CD, AGE
      ORDER BY MSHIP_GRADE_CD, AGE
    ]]>
    </select>
    
    <select id="monthRegCntM" resultType="String">
    <![CDATA[
    SELECT /* com.ceragem.crm.cusstatus.dao.CrmCusStatusDao.monthRegCntM */ MONTH
      FROM (SELECT TO_CHAR(MSHIP_SBSC_DT, 'YYYY.MM') MONTH    /*가입연월   */
                 , MSHIP_GRADE_CD                   /*멤버십등급코드*/
              FROM CRM_CUST_BAS
             WHERE MSHIP_GRADE_CD IS NOT NULL
               AND CUST_STATUS_CD != '003'
               AND TO_CHAR(MSHIP_SBSC_DT,'YYYYMMDD') >= #{strtDt3} AND TO_CHAR(MSHIP_SBSC_DT,'YYYYMMDD') <= #{endDt3}
          GROUP BY TO_CHAR(MSHIP_SBSC_DT, 'YYYY.MM'), MSHIP_GRADE_CD
          )
  GROUP BY MONTH
  ORDER BY MONTH
    ]]>
    <!-- AND REG_DT > ADD_MONTHS(SYSDATE, -60) -->
    </select>
    
    <select id="monthRegCnt" resultType="int">
    <![CDATA[
    SELECT /* com.ceragem.crm.cusstatus.dao.CrmCusStatusDao.monthRegCnt */ SUM(CNT) AS "CNT"
      FROM (SELECT TO_CHAR(MSHIP_SBSC_DT, 'YYYYMM') MONTH    /*가입연월*/
                 , MSHIP_GRADE_CD                   /*멤버십등급코드*/
                 , CASE WHEN MSHIP_GRADE_CD = #{code} THEN COUNT(1) 
                        ELSE 0
                    END CNT                         /*연월별 가입자수*/
              FROM CRM_CUST_BAS
             WHERE MSHIP_GRADE_CD IS NOT NULL
              AND CUST_STATUS_CD != '003'
              AND TO_CHAR(MSHIP_SBSC_DT,'YYYYMMDD') >= #{strtDt3} AND TO_CHAR(MSHIP_SBSC_DT,'YYYYMMDD') <= #{endDt3}
          GROUP BY TO_CHAR(MSHIP_SBSC_DT, 'YYYYMM'), MSHIP_GRADE_CD
          )
  GROUP BY MONTH
  ORDER BY MONTH
    ]]>
    <!--  AND REG_DT > ADD_MONTHS(SYSDATE, -60) -->
    </select>
    
    
    <select id="selectGndrInfo" resultType="EzMap">
    SELECT /* com.ceragem.crm.cusstatus.dao.CrmCusStatusDao.selectGndrInfo */ A.*
           , NVL(B.CNT,0) CNT
       FROM (
      SELECT A.COMN_CD GRADE_CD
           , A.COMN_CD_NM GRADE_NM
           , B.COMN_CD GNDR_CD
           , B.COMN_CD_NM GNDR_NM
        FROM CRM_COMN_CD_BAS A 
           , (SELECT COMN_CD,COMN_CD_NM  FROM CRM_COMN_CD_BAS WHERE TOP_COMN_CD = 'S040' AND COMN_CD_LVL_NO = 2
                UNION ALL SELECT 'A','성별없음' FROM DUAL 
           ) B
        WHERE A.TOP_COMN_CD = 'MB020'
         AND A.COMN_CD_LVL_NO = 2
         AND A.COMN_CD != '001'
       ) A ,
       (
            SELECT MSHIP_GRADE_CD
                 , NVL(GNDR_CD,'A') GNDR_CD
                 , COUNT(1) CNT
              FROM CRM_CUST_BAS
            <where>
            	AND CUST_STATUS_CD != '003'			<!-- 탈퇴회원제거 -->
                <if test="strtDt != null and strtDt !='' " >
               AND MSHIP_SBSC_DT >= TO_DATE(#{strtDt},'YYYYMMDD')
                </if>
                <if test="endDt != null and endDt !='' " >
               AND TO_DATE(#{endDt},'YYYYMMDD') + 1 > MSHIP_SBSC_DT 
                </if>
            </where>
             GROUP BY MSHIP_GRADE_CD
             , GNDR_CD
       ) B
       WHERE A.GRADE_CD = B.MSHIP_GRADE_CD(+)
         AND A.GNDR_CD = B.GNDR_CD(+)
       ORDER BY A.GRADE_CD,A.GNDR_CD DESC
    </select>
    <select id="selectAgeInfo" resultType="EzMap">
       SELECT /* com.ceragem.crm.cusstatus.dao.CrmCusStatusDao.selectAgeInfo */ A.AGE_CD
            , A.AGE_NM
            , A.GRADE_CD
            , A.GRADE_NM
            , COUNT(ITG_CUST_NO) CNT
         FROM ( SELECT A.COMN_CD AGE_CD
                     , A.COMN_CD_NM AGE_NM
                     , A.AGE_START
                     , TO_CHAR(TO_DATE(A.AGE_END,'YYYYMMDD') - 1,'YYYYMMDD') AGE_END
                     , B.COMN_CD GRADE_CD
                     , B.COMN_CD_NM GRADE_NM
                  FROM ( SELECT A.*
                              , NVL(LAG(AGE_START) OVER (ORDER BY COMN_CD), '29991231' ) AGE_END	<!-- 99991230 생일자가 존재함 -->
                           FROM ( SELECT '00' || TO_CHAR(LEVEL+1) COMN_CD
                                       , CASE WHEN LEVEL = 1 THEN '20대 이하' WHEN LEVEL =6  THEN '70대 이상'  else LEVEL+1 || '0대' end COMN_CD_NM 
                                       , DECODE(LEVEL,6,'19000101',TO_CHAR(ADD_MONTHS(SYSDATE+1,-10 * 12 * (LEVEL+2) ),'YYYYMMDD')) AGE_START
                                    FROM DUAL CONNECT BY  7 > LEVEL ) A
                          UNION ALL
                         SELECT '008' ,'미입력', '10000101', '18991231' FROM DUAL
                        ) A 
                        , CRM_COMN_CD_BAS B
                    WHERE B.TOP_COMN_CD = 'MB020'
                      AND B.COMN_CD_LVL_NO = 2 
                      AND B.COMN_CD != '001'	<!-- 통합고객 제외 -->
              ) A LEFT JOIN CRM_CUST_BAS B ON A.GRADE_CD = NVL(B.MSHIP_GRADE_CD,'001') AND NVL(B.BIRTHDAY,'18000101') BETWEEN A.AGE_START AND A.AGE_END
              	AND B.CUST_STATUS_CD != '003'
                <if test="strtDt != null and strtDt !='' " >
               AND MSHIP_SBSC_DT >= TO_DATE(#{strtDt},'YYYYMMDD')
                </if>
                <if test="endDt != null and endDt !='' " >
               AND TO_DATE(#{endDt},'YYYYMMDD') + 1 > MSHIP_SBSC_DT 
                </if>
        GROUP BY  A.AGE_CD
            , A.AGE_NM
            , A.GRADE_CD
            , A.GRADE_NM
            ORDER BY A.GRADE_CD, A.AGE_CD
    </select>
    
    <select id="gradeLevel" resultType="String">
    	SELECT COMN_CD_NM FROM CRM_COMN_CD_BAS WHERE TOP_COMN_CD = 'MB020' AND  COMN_CD_LVL_NO = 2 ORDER BY COMN_CD
    </select>
    
</mapper>
