<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.cusstatus.dao.CrmCouponUsedBuysDao">
	
    <select id="selectList" resultType="com.ceragem.crm.cusstatus.model.CrmCouponUsedVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
            SELECT /* com.ceragem.crm.cusstatus.dao.CrmCouponUsedBuysDao.selectList */
                   A.COUPN_PBLS_HST_SEQ      /*쿠폰발행이력일련번호 */
                 , B.CUST_NM                 /*고객명*/
                 , NVL(A.STOR_NO, '매장코드없음') STOR_NO                 /*매장번호*/
                 , NVL(A.STOR_NO, '매장코드없음') STOR_NM                 /*사용매장명*/
                 , A.COUPN_BAS_NM            /*쿠폰명*/
                 , A.COUPN_TYPE_CD           /*쿠폰종류코드*/
                 , A.USE_DT    /*쿠폰사용일*/
                 , CASE WHEN GNDR_CD = 'M' THEN '남'
                        WHEN GNDR_CD = 'F' THEN '여'
                        ELSE '성별 없음'
                   END GNDR_CD               /*성별코드*/
                 , CASE WHEN BIRTHDAY IS NOT NULL THEN '만' || TRUNC(MONTHS_BETWEEN(SYSDATE, TO_DATE(BIRTHDAY, 'YYYYMMDD'))/12) || '세'
                        ELSE '나이미정' 
                   END BIRTHDAY_DT           /*생년월일*/
                 , MSHIP_GRADE_CD            /*회원등급*/
                 , A.ORDR_AMT                /*쿠폰사용전금액금액*/
                 , A.SALE_AMT                /*쿠폰금액*/
                 , A.PAY_AMT                 /*최종결제금액*/
              FROM CRM_COUPN_PBLS_HST A
                 , CRM_CUST_BAS B
             WHERE A.ITG_CUST_NO = B.ITG_CUST_NO (+)
               AND A.USE_YN = 'Y'
              <if test='storNo != null and storNo !=""'>
               AND A.STOR_NO = #{storNo}
              </if>
              <if test='stndDateY != null and stndDateY != ""'>
               AND SUBSTR(A.USE_DT,1,6) BETWEEN #{stndDateY}||'01' AND #{stndDateY}||'12'
              </if>
              <if test='stndDateM != null and stndDateM != ""'>
               AND SUBSTR(A.USE_DT,1,8) BETWEEN #{stndDateM}||'01' AND #{stndDateM}||'31'
              </if>
              <if test='custNm != null and custNm != ""'>
               AND B.CUST_NM = #{custNm}
              </if>
              <if test='coupnTypeCd != null and coupnTypeCd != ""'>
               AND A.COUPN_TYPE_CD = #{coupnTypeCd}
              </if>
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
	</select>
	
    <select id="selectListCount" resultType="int">
        SELECT /* com.ceragem.crm.cusstatus.dao.CrmCouponUsedBuysDao.selectListCount */ COUNT(1)
          FROM CRM_COUPN_PBLS_HST A
             , CRM_CUST_BAS B
         WHERE A.ITG_CUST_NO = B.ITG_CUST_NO (+)
           AND A.USE_YN = 'Y'
         <if test='storNo != null and storNo !=""'>
           AND A.STOR_NO = #{storNo}
         </if>
         <if test='stndDateY != null and stndDateY != ""'>
           AND SUBSTR(A.USE_DT,1,6) BETWEEN #{stndDateY}||'01' AND #{stndDateY}||'12'
         </if>
         <if test='stndDateM != null and stndDateM != ""'>
           AND SUBSTR(A.USE_DT,1,8) BETWEEN #{stndDateM}||'01' AND #{stndDateM}||'31'
         </if>
         <if test='custNm != null and custNm != ""'>
           AND B.CUST_NM = #{custNm}
         </if>
         <if test='coupnTypeCd != null and coupnTypeCd != ""'>
           AND A.COUPN_TYPE_CD = #{coupnTypeCd}
         </if>
    </select>
    
    <select id="barLabels" resultType="String">
    <choose>
        <when test='stndDateYGraph != null and stndDateYGraph != ""'>
        <![CDATA[
        SELECT /* com.ceragem.crm.cusstatus.dao.CrmCouponUsedBuysDao.barLabels */
               #{stndDateYGraph}|| '.' ||SUBSTR(0||LEVEL,-2)
		  FROM DUAL
	CONNECT BY LEVEL <= 12
        ]]>
        </when>
        <when test='stndDateMGraph != null and stndDateMGraph != ""'>
        <![CDATA[
        SELECT /* com.ceragem.crm.cusstatus.dao.CrmCouponUsedBuysDao.barLabels */ LEVEL
          FROM (SELECT TO_CHAR(LAST_DAY(TO_DATE(#{stndDateMGraph}||'01', 'YYMMDD')), 'DD') LDAY
                  FROM DUAL)
    CONNECT BY LEVEL <= LDAY
        ]]>
        </when>
        <otherwise>
        <![CDATA[
        SELECT /* com.ceragem.crm.cusstatus.dao.CrmCouponUsedBuysDao.barLabels */
               TO_CHAR(SYSDATE, 'YYYY') || '.' || SUBSTR(0||LEVEL,-2)
		  FROM DUAL
	CONNECT BY LEVEL <= 12
        ]]>
        </otherwise>
    </choose>
    </select>
    
    <select id="barData" resultType="int">
    <choose>
        <when test='stndDateYGraph != null and stndDateYGraph != ""'>
        <![CDATA[
        SELECT /* com.ceragem.crm.cusstatus.dao.CrmCouponUsedBuysDao.barData */ SUM(CNT)
          FROM (SELECT SUBSTR(A.USE_DT,1,6) MONTH
                     , COUNT(1) CNT
	              FROM CRM_COUPN_PBLS_HST A
	                 , CRM_CUST_BAS B
	     WHERE A.ITG_CUST_NO = B.ITG_CUST_NO (+)
	       AND A.USE_YN = 'Y'
	       AND A.USE_DT BETWEEN #{stndDateYGraph}||'01' AND #{stndDateYGraph}||'12'
	       ]]>
	       <if test='storNoGraph != null and storNoGraph !=""'>
	       AND A.STOR_NO = #{storNoGraph}
	       </if>
           <if test='custNmGraph != null and custNmGraph != ""'>
           AND B.CUST_NM = #{custNmGraph}
           </if>
           <if test='coupnTypeCdGraph != null and coupnTypeCdGraph != ""'>
           AND A.COUPN_TYPE_CD = #{coupnTypeCdGraph}
           </if>
        <![CDATA[
      GROUP BY SUBSTR(A.USE_DT,1,6)
         UNION 
        SELECT #{stndDateYGraph}|| SUBSTR(0||LEVEL,-2), 0
		  FROM DUAL
	CONNECT BY LEVEL <= 12)
      GROUP BY MONTH
      ORDER BY MONTH
        ]]>
        </when>
        <when test='stndDateMGraph != null and stndDateMGraph != ""'>
        <![CDATA[
        SELECT /* com.ceragem.crm.cusstatus.dao.CrmCouponUsedBuysDao.barData */ SUM(CNT)
          FROM (SELECT SUBSTR(A.USE_DT,1,8) DAY
                     , COUNT(1) CNT
	              FROM CRM_COUPN_PBLS_HST A
	                 , CRM_CUST_BAS B
	             WHERE A.ITG_CUST_NO = B.ITG_CUST_NO (+)
	               AND A.USE_YN = 'Y'
	               AND A.USE_DT BETWEEN #{stndDateMGraph}||'01' AND #{stndDateMGraph}||'31'
                   ]]>
			       <if test='storNoGraph != null and storNoGraph !=""'>
			       AND A.STOR_NO = #{storNoGraph}
			       </if>
		           <if test='custNmGraph != null and custNmGraph != ""'>
		           AND B.CUST_NM = #{custNmGraph}
		           </if>
		           <if test='coupnTypeCdGraph != null and coupnTypeCdGraph != ""'>
		           AND A.COUPN_TYPE_CD = #{coupnTypeCdGraph}
		           </if>
		           <![CDATA[
              GROUP BY SUBSTR(A.USE_DT,1,8)
         UNION
        SELECT #{stndDateMGraph}||SUBSTR(0||LEVEL,-2), 0
          FROM (SELECT TO_CHAR(LAST_DAY(TO_DATE(#{stndDateMGraph}||'01', 'YYMMDD')), 'DD') LDAY
                  FROM DUAL)
            CONNECT BY LEVEL <= LDAY)
      GROUP BY DAY
      ORDER BY DAY
        ]]>
        <!-- 에러발생 and 외부 -->
        <!-- <if test='storNoGraph != null and storNoGraph !=""'>
	       AND A.STOR_NO = #{storNoGraph}
	    </if>
        <if test='custNmGraph != null and custNmGraph != ""'>
           AND B.CUST_NM = #{custNmGraph}
        </if>
        <if test='coupnTypeCdGraph != null and coupnTypeCdGraph != ""'>
           AND A.COUPN_TYPE_CD = #{coupnTypeCdGraph}
        </if> -->
        </when>
        <otherwise>
        <![CDATA[
        SELECT /* com.ceragem.crm.cusstatus.dao.CrmCouponUsedDao.barData */ SUM(CNT)
          FROM (SELECT SUBSTR(A.USE_DT,1,6) MONTH
                     , COUNT(1) CNT
	              FROM CRM_COUPN_PBLS_HST A
	                 , CRM_CUST_BAS B
	             WHERE A.ITG_CUST_NO = B.ITG_CUST_NO (+)
	               AND A.USE_YN = 'Y'
	               AND A.USE_DT BETWEEN TO_CHAR(SYSDATE, 'YYYY')||'01' AND TO_CHAR(SYSDATE, 'YYYY')||'12'
           ]]>
	       <if test='storNoGraph != null and storNoGraph !=""'>
	               AND A.STOR_NO = #{storNoGraph}
	       </if>
           <if test='custNmGraph != null and custNmGraph != ""'>
                   AND B.CUST_NM = #{custNmGraph}
           </if>
           <if test='coupnTypeCdGraph != null and coupnTypeCdGraph != ""'>
                   AND A.COUPN_TYPE_CD = #{coupnTypeCdGraph}
           </if>
        <![CDATA[
                 GROUP BY SUBSTR(A.USE_DT,1,6)
                 UNION 
                SELECT TO_CHAR(SYSDATE, 'YYYY')|| SUBSTR(0||LEVEL,-2), 0
		          FROM DUAL
	        CONNECT BY LEVEL <= 12)
      GROUP BY MONTH
      ORDER BY MONTH
        ]]>
        </otherwise>
    </choose>
    </select>
    
    <!-- ###################################################################### -->
    
    <select id="getCoupnMasterForSelect" resultType="EzMap">
    	SELECT 
		    MSHIP_COUPN_BAS_NO 
		    , COUPN_BAS_NM
		    , COUPN_KND_CD 
		    , COUPN_TYPE_CD
		 FROM CRM_MSHIP_COUPN_BAS 
		 WHERE USE_YN = 'Y'
		 <if test='coupnTypeCd != null and coupnTypeCd != ""'>
                 AND COUPN_TYPE_CD = #{coupnTypeCd}
         </if>
		    ORDER BY REG_DT DESC 
    </select>
    
    <select id="getCoupnMasterForSelectCount" resultType="int">
    	SELECT 
		    COUNT(1) 
		 FROM CRM_MSHIP_COUPN_BAS 
		 WHERE USE_YN = 'Y'
		 <if test='coupnTypeCd != null and coupnTypeCd != ""'>
                 AND COUPN_TYPE_CD = #{coupnTypeCd}
         </if>
    </select>
    
    <select id="getCoupnUseBuysList" resultType="EzMap">
     <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
		SELECT 
		    T2.MSHIP_COUPN_BAS_NO
		    , T2.COUPN_BAS_NM
		    , T2.COUPN_KND_CD  /*쿠폰종류*/
		    , T2.COUPN_TGT_CD  /*쿠폰대상*/
		    , T2.COUPN_ISSUE_METH_CD /*발급방식*/
		    , T2.COUPN_TYPE_CD /*발급방식*/
		    , T2.USE_YN
		    , T2.FROM_PBLS_STD_DAY
		    , T2.TO_PBLS_STD_DAY
		    , (SELECT USER_NM  FROM CRM_USER_BAS WHERE USER_CD = T2.REGR_ID) AS REGR_ID
		    , T2.REG_DT
		    , T3.TOT_COUPN
		    , T3.USE_COUPN
		    , NVL(T4.BUY_CNT,0) AS BUY_CNT
		    , RTRIM(TO_CHAR(T3.USE_COUPN / T3.TOT_COUPN * 100, 'FM9990D99'), '.') || '%' AS RAT_COUPN
		    , RTRIM(TO_CHAR(NVL(T4.BUY_CNT / T3.USE_COUPN ,0), 'FM9990D99'), '.') || '%' AS RAT_BUY
		    , (SELECT COMN_CD_NM FROM CRM_COMN_CD_BAS WHERE TOP_COMN_CD = 'MB130' AND COMN_CD = T2.COUPN_KND_CD AND  COMN_CD_LVL_NO = 2) COUPN_KND_CD_NM
			, (SELECT COMN_CD_NM FROM CRM_COMN_CD_BAS WHERE TOP_COMN_CD = 'MB100' AND COMN_CD = T2.COUPN_TGT_CD AND  COMN_CD_LVL_NO = 2) COUPN_TGT_CD_NM
			, (SELECT COMN_CD_NM FROM CRM_COMN_CD_BAS WHERE TOP_COMN_CD = 'MB110' AND COMN_CD = T2.COUPN_ISSUE_METH_CD AND  COMN_CD_LVL_NO = 2) COUPN_ISSUE_METH_CD_NM
			, (SELECT COMN_CD_NM FROM CRM_COMN_CD_BAS WHERE TOP_COMN_CD = 'MB080' AND COMN_CD = T2.COUPN_TYPE_CD AND  COMN_CD_LVL_NO = 2) COUPN_TYPE_CD_NM
			, (SELECT COMN_CD_NM FROM CRM_COMN_CD_BAS WHERE TOP_COMN_CD = 'MB120' AND COMN_CD = T2.COUPN_CLASS_CD AND  COMN_CD_LVL_NO = 2) COUPN_CLASS_CD_NM
			, (SELECT COMN_CD_NM FROM CRM_COMN_CD_BAS B WHERE B.TOP_COMN_CD = 'S010' and B.COMN_CD = T2.USE_YN ) USE_YN_NM
		 FROM CRM_MSHIP_COUPN_BAS T2 JOIN (
		     SELECT 
		        T1.MSHIP_COUPN_BAS_NO
		        , SUM(T1.USE_CNT + T1.NOT_CNT) AS TOT_COUPN
		        , SUM (T1.USE_CNT) AS USE_COUPN
		        FROM (
		         SELECT 
		            MSHIP_COUPN_BAS_NO
		            , USE_YN 
		            , DECODE(USE_YN,'Y',COUNT(1),0) AS USE_CNT
		            , DECODE(USE_YN,'N',COUNT(1),0) AS NOT_CNT
		         FROM CRM_COUPN_PBLS_HST
		         <trim prefix="WHERE" prefixOverrides="AND |OR ">
			         <if test='coupnTypeCd != null and coupnTypeCd != ""'>
			         	AND COUPN_TYPE_CD = #{coupnTypeCd}
			         </if> 
			         <if test='coupnMaster != null and coupnMaster != ""'>
			         	AND MSHIP_COUPN_BAS_NO = #{coupnMaster}
			         </if> 
			         <if test="fromPblsStdDay != null and toPblsStdDay != ''">
			            <!-- AND (FROM_PBLS_STD_DAY<![CDATA[>=]]>       #{fromPblsStdDay} OR TO_PBLS_STD_DAY <![CDATA[<=]]>       #{toPblsStdDay}) -->
			            AND REG_DT BETWEEN TO_DATE(#{fromPblsStdDay}, 'YYYYMMDD') AND TO_DATE(#{toPblsStdDay}, 'YYYYMMDD') + 1
			        </if>
		         </trim>
		         GROUP BY MSHIP_COUPN_BAS_NO , USE_YN 
		    ) T1 
		    GROUP BY T1.MSHIP_COUPN_BAS_NO
		 ) T3 ON T2.MSHIP_COUPN_BAS_NO = T3.MSHIP_COUPN_BAS_NO
		 LEFT JOIN (
            SELECT A.MSHIP_COUPN_BAS_NO , COUNT(1) AS BUY_CNT
                FROM (
                    SELECT  
                        MSHIP_COUPN_BAS_NO
                        , USE_DT
                        , ITG_CUST_NO
                        , STOR_NO
                    FROM CRM_COUPN_PBLS_HST
                        WHERE  USE_YN = 'Y' 
                            <!-- AND (FROM_PBLS_STD_DAY<![CDATA[>=]]>       #{fromPblsStdDay} OR TO_PBLS_STD_DAY <![CDATA[<=]]>       #{toPblsStdDay}) -->
                            AND REG_DT BETWEEN TO_DATE(#{fromPblsStdDay}, 'YYYYMMDD') AND TO_DATE(#{toPblsStdDay}, 'YYYYMMDD') + 1
                            AND USE_DT IS NOT NULL
                    ) A JOIN CRM_CUST_BOS_CNTRT_HST B ON A.ITG_CUST_NO = B.ITG_CUST_NO 
                        AND B.ORD_DE <![CDATA[>=]]> A.USE_DT AND B.ORD_DE <![CDATA[<=]]>  #{toBuysDay}
                        AND B.ORD_STS_CD = '30'
                        AND B.CNTR_STS_DTL_CD = '32'
                        AND B.ITEM_TY_CD IN ( '1100', '2100', '2200' ,'9500', '9700')
                        AND B.SALE_TY_CD != '1202'  
                        GROUP BY A.MSHIP_COUPN_BAS_NO
		 ) T4 ON T4.MSHIP_COUPN_BAS_NO = T3.MSHIP_COUPN_BAS_NO
		    ORDER BY T2.REG_DT DESC  
             <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    
    <select id="getCoupnUseBuysCount" resultType="int">
		SELECT 
			COUNT(1) AS CNT
		 FROM CRM_MSHIP_COUPN_BAS T2 JOIN (
		     SELECT 
		        T1.MSHIP_COUPN_BAS_NO
		        , SUM(T1.USE_CNT + T1.NOT_CNT) AS TOT_COUPN
		        , SUM (T1.USE_CNT) AS USE_COUPN
		        FROM (
		         SELECT 
		            MSHIP_COUPN_BAS_NO
		            , USE_YN 
		            , DECODE(USE_YN,'Y',COUNT(1),0) AS USE_CNT
		            , DECODE(USE_YN,'N',COUNT(1),0) AS NOT_CNT
		         FROM CRM_COUPN_PBLS_HST 
		         <trim prefix="WHERE" prefixOverrides="AND |OR ">
			         <if test='coupnTypeCd != null and coupnTypeCd != ""'>
			         	AND COUPN_TYPE_CD = #{coupnTypeCd}
			         </if> 
			         <if test='coupnMaster != null and coupnMaster != ""'>
			         	AND MSHIP_COUPN_BAS_NO = #{coupnMaster}
			         </if> 
			         <if test="fromPblsStdDay != null and toPblsStdDay != ''">
			            <!-- AND (FROM_PBLS_STD_DAY<![CDATA[>=]]>       #{fromPblsStdDay} OR TO_PBLS_STD_DAY <![CDATA[<=]]>       #{toPblsStdDay}) -->
			            AND REG_DT BETWEEN TO_DATE(#{fromPblsStdDay}, 'YYYYMMDD') AND TO_DATE(#{toPblsStdDay}, 'YYYYMMDD') + 1
			        </if>
		         </trim>
		         GROUP BY MSHIP_COUPN_BAS_NO , USE_YN 
		    ) T1 
		    GROUP BY T1.MSHIP_COUPN_BAS_NO
		 ) T3 ON T2.MSHIP_COUPN_BAS_NO = T3.MSHIP_COUPN_BAS_NO
		 LEFT JOIN (
            SELECT A.MSHIP_COUPN_BAS_NO , COUNT(1) AS BUY_CNT
                FROM (
                    SELECT  
                        MSHIP_COUPN_BAS_NO
                        , USE_DT
                        , ITG_CUST_NO
                        , STOR_NO
                    FROM CRM_COUPN_PBLS_HST
                        WHERE  USE_YN = 'Y' 
                            <!-- AND (FROM_PBLS_STD_DAY<![CDATA[>=]]>       #{fromPblsStdDay} OR TO_PBLS_STD_DAY <![CDATA[<=]]>       #{toPblsStdDay}) -->
                            AND REG_DT BETWEEN TO_DATE(#{fromPblsStdDay}, 'YYYYMMDD') AND TO_DATE(#{toPblsStdDay}, 'YYYYMMDD') + 1 
                            AND USE_DT IS NOT NULL
                    ) A JOIN CRM_CUST_BOS_CNTRT_HST B ON A.ITG_CUST_NO = B.ITG_CUST_NO 
                        AND B.ORD_DE <![CDATA[>=]]> A.USE_DT AND B.ORD_DE <![CDATA[<=]]>  #{toBuysDay}
                        AND B.ORD_STS_CD = '30' 
                        AND B.CNTR_STS_DTL_CD = '32'
                        AND B.ITEM_TY_CD IN ( '1100', '2100', '2200' ,'9500', '9700')  
                        AND B.SALE_TY_CD != '1202'
                        GROUP BY A.MSHIP_COUPN_BAS_NO
		 ) T4 ON T4.MSHIP_COUPN_BAS_NO = T3.MSHIP_COUPN_BAS_NO
		    ORDER BY T2.REG_DT DESC 
    </select>
    
    <select id="getCoupnUseBuyDetailList" resultType="EzMap">
		SELECT  /* com.ceragem.crm.cusstatus.dao.CrmCouponUsedBuysDao.getCoupnUseList */
		    T1.*
		    , T2.ORD_NO
		    , T2.ORD_DE
		    , T2.ITEM_NM
		    , T2.ITEM_TY_CDNM
		    , T2.REG_DT AS BUY_REG_DT
		 FROM (
		    SELECT 
		        CPN.MSHIP_COUPN_BAS_NO
		        , CPN.COUPN_PBLS_BAS_NO
		        , CPN.COUPN_BAS_NM
		        , CPN.STOR_NO
		        , CPN.USE_STOR_NO
		        , CPN.USE_DT
		        , CPN.REG_DT
		        , CPN.FROM_PBLS_STD_DAY
		        , CPN.TO_PBLS_STD_DAY
		        , CPN.ITG_CUST_NO
		        , CUT.CUST_NM
		        , CASE WHEN CUT.GNDR_CD = 'M' THEN '남'
                        WHEN CUT.GNDR_CD = 'F' THEN '여'
                        ELSE '성별 없음'
                   END GNDR_CD
		        , CUT.BIRTHDAY
		        , CUT.MSHIP_TYPE_CD
		        , CUT.MSHIP_GRADE_CD
		        , (SELECT COMN_CD_NM FROM CRM_COMN_CD_BAS WHERE TOP_COMN_CD = 'MB020' AND COMN_CD = CUT.MSHIP_GRADE_CD AND  COMN_CD_LVL_NO = 2) MSHIP_GRADE_CD_NM
		        , CUT.CPRT_CMP_NO
		        , CUT.MSHIP_SBSC_YN
		     FROM CRM_COUPN_PBLS_HST CPN JOIN CRM_CUST_BAS CUT ON CPN.ITG_CUST_NO = CUT.ITG_CUST_NO
		        WHERE CPN.MSHIP_COUPN_BAS_NO = #{mshipCoupnBasNo} 
		            AND CPN.USE_YN = 'Y'
		            AND CPN.USE_DT IS NOT NULL
		) T1 LEFT JOIN CRM_CUST_BOS_CNTRT_HST T2 ON T1.ITG_CUST_NO = T2.ITG_CUST_NO
			AND T1.USE_DT IS NOT NULL
		    AND ORD_DE <![CDATA[>=]]> T1.USE_DT AND ORD_DE <![CDATA[<=]]> #{toBuysDay}
		    AND ORD_STS_CD = '30'  
		    AND CNTR_STS_DTL_CD = '32'
		    ORDER BY T1.ITG_CUST_NO, T2.REG_DT DESC
    </select>
    
    <select id="getCoupnUseBuyDetailCount" resultType="int">
		SELECT  /* com.ceragem.crm.cusstatus.dao.CrmCouponUsedBuysDao.getCoupnUseBuyDetailCount */
			COUNT(1) AS CNT
		 FROM (
		    SELECT 
		        CPN.MSHIP_COUPN_BAS_NO
		        , CPN.COUPN_PBLS_BAS_NO
		        , CPN.COUPN_BAS_NM
		        , CPN.STOR_NO
		        , CPN.USE_STOR_NO
		        , CPN.USE_DT
		        , CPN.REG_DT
		        , CPN.FROM_PBLS_STD_DAY
		        , CPN.TO_PBLS_STD_DAY
		        , CPN.ITG_CUST_NO
		        , CUT.CUST_NM
		        , CUT.GNDR_CD
		        , CUT.BIRTHDAY
		        , CUT.MSHIP_TYPE_CD
		        , CUT.MSHIP_GRADE_CD
		        , CUT.CPRT_CMP_NO
		        , CUT.MSHIP_SBSC_YN
		     FROM CRM_COUPN_PBLS_HST CPN JOIN CRM_CUST_BAS CUT ON CPN.ITG_CUST_NO = CUT.ITG_CUST_NO
		        WHERE CPN.MSHIP_COUPN_BAS_NO = #{mshipCoupnBasNo} 
		            AND CPN.USE_YN = 'Y'
		            AND CPN.USE_DT IS NOT NULL
		) T1 LEFT JOIN CRM_CUST_BOS_CNTRT_HST T2 ON T1.ITG_CUST_NO = T2.ITG_CUST_NO
			AND T1.USE_DT IS NOT NULL
		    AND ORD_DE <![CDATA[>=]]> T1.USE_DT AND ORD_DE <![CDATA[<=]]> #{toBuysDay}
		    AND ORD_STS_CD = '30'  
		    AND CNTR_STS_DTL_CD = '32'
    </select>
    
</mapper>
