<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.cusstatus.dao.CrmCouponUsedAgeDao">
	
	<select id="getCoupnUseAge10List" resultType="EzMap">
		SELECT * /*com.ceragem.crm.cusstatus.dao.CrmCouponUsedAgeDao.getCoupnUseAge10List*/ FROM (
		    SELECT 
		        T1.MSHIP_COUPN_BAS_NO AS MSHIP_COUPN_BAS_NO_10
		        , (SELECT COUPN_BAS_NM FROM CRM_MSHIP_COUPN_BAS WHERE MSHIP_COUPN_BAS_NO = T1.MSHIP_COUPN_BAS_NO) AS COUPN_BAS_NM_10
		        , SUM(T1.USE_CNT + T1.NOT_CNT) AS TOT_COUPN_10
		        , SUM (T1.USE_CNT) AS USE_COUPN_10
		        , RTRIM(TO_CHAR(SUM (T1.USE_CNT) / SUM(T1.USE_CNT + T1.NOT_CNT) * 100, 'FM9990D99'), '.') || '%' AS RAT_COUPN_10
		    FROM (
		        SELECT 
		            A.MSHIP_COUPN_BAS_NO
		            , A.USE_YN 
		            , DECODE(A.USE_YN,'Y',COUNT(1),0) AS USE_CNT
		            , DECODE(A.USE_YN,'N',COUNT(1),0) AS NOT_CNT
		        FROM CRM_COUPN_PBLS_HST A JOIN CRM_CUST_BAS B ON A.ITG_CUST_NO = B.ITG_CUST_NO
		            AND TRUNC((TO_CHAR(SYSDATE,'YYYY')  -  TO_NUMBER(SUBSTR(BIRTHDAY,1,4))) /10 ) BETWEEN 0 AND 1
		            JOIN CRM_MSHIP_COUPN_BAS C ON C.MSHIP_COUPN_BAS_NO = A.MSHIP_COUPN_BAS_NO AND C.USE_YN='Y'
		    	<if test="fromPblsStdDay != null and toPblsStdDay != '' ">
		        	AND A.REG_DT BETWEEN TO_DATE(#{fromPblsStdDay}, 'YYYY-MM-DD') AND TO_DATE(#{toPblsStdDay}, 'YYYY-MM-DD')+1
		        </if>
		        <if test="coupnTypeCd != null and coupnTypeCd != ''">
					AND C.COUPN_TYPE_CD   =       #{coupnTypeCd}
				</if>
		        GROUP BY A.MSHIP_COUPN_BAS_NO , A.USE_YN
		    ) T1
		    GROUP BY T1.MSHIP_COUPN_BAS_NO
		    ORDER BY SUM (T1.USE_CNT) DESC  
		) 
		WHERE ROWNUM <![CDATA[<=]]> 10
	</select>
    
    <select id="getCoupnUseAge20List" resultType="EzMap">
    	SELECT * /*com.ceragem.crm.cusstatus.dao.CrmCouponUsedAgeDao.getCoupnUseAge20List*/ FROM (
		    SELECT 
		        T1.MSHIP_COUPN_BAS_NO AS MSHIP_COUPN_BAS_NO_20
		        , (SELECT COUPN_BAS_NM FROM CRM_MSHIP_COUPN_BAS WHERE MSHIP_COUPN_BAS_NO = T1.MSHIP_COUPN_BAS_NO) AS COUPN_BAS_NM_20
		        , SUM(T1.USE_CNT + T1.NOT_CNT) AS TOT_COUPN_20 
		        , SUM (T1.USE_CNT) AS USE_COUPN_20
		        , RTRIM(TO_CHAR(SUM (T1.USE_CNT) / SUM(T1.USE_CNT + T1.NOT_CNT) * 100, 'FM9990D99'), '.') || '%' AS RAT_COUPN_20
		    FROM (
		        SELECT 
		            A.MSHIP_COUPN_BAS_NO
		            , A.USE_YN 
		            , DECODE(A.USE_YN,'Y',COUNT(1),0) AS USE_CNT
		            , DECODE(A.USE_YN,'N',COUNT(1),0) AS NOT_CNT
		        FROM CRM_COUPN_PBLS_HST A JOIN CRM_CUST_BAS B ON A.ITG_CUST_NO = B.ITG_CUST_NO
		            AND TRUNC((TO_CHAR(SYSDATE,'YYYY')  -  TO_NUMBER(SUBSTR(BIRTHDAY,1,4))) /10 ) BETWEEN 2 AND 2
		            JOIN CRM_MSHIP_COUPN_BAS C ON C.MSHIP_COUPN_BAS_NO = A.MSHIP_COUPN_BAS_NO AND C.USE_YN='Y'
		        <if test="fromPblsStdDay != null and toPblsStdDay != '' ">
		        	AND A.REG_DT BETWEEN TO_DATE(#{fromPblsStdDay}, 'YYYY-MM-DD') AND TO_DATE(#{toPblsStdDay}, 'YYYY-MM-DD')+1
		        </if>
		       	<if test="coupnTypeCd != null and coupnTypeCd != ''">
					AND C.COUPN_TYPE_CD   =       #{coupnTypeCd}
				</if>
		        GROUP BY A.MSHIP_COUPN_BAS_NO , A.USE_YN
		    ) T1
		    GROUP BY T1.MSHIP_COUPN_BAS_NO
		    ORDER BY SUM (T1.USE_CNT) DESC  
		) 
		WHERE ROWNUM <![CDATA[<=]]> 10
    </select>
    
    
    <select id="getCoupnUseAge30List" resultType="EzMap">
    	SELECT * /*com.ceragem.crm.cusstatus.dao.CrmCouponUsedAgeDao.getCoupnUseAge30List*/ FROM (
		    SELECT 
		        T1.MSHIP_COUPN_BAS_NO AS MSHIP_COUPN_BAS_NO_30
		        , (SELECT COUPN_BAS_NM FROM CRM_MSHIP_COUPN_BAS WHERE MSHIP_COUPN_BAS_NO = T1.MSHIP_COUPN_BAS_NO) AS COUPN_BAS_NM_30
		        , SUM(T1.USE_CNT + T1.NOT_CNT) AS TOT_COUPN_30
		        , SUM (T1.USE_CNT) AS USE_COUPN_30
		        , RTRIM(TO_CHAR(SUM (T1.USE_CNT) / SUM(T1.USE_CNT + T1.NOT_CNT) * 100, 'FM9990D99'), '.') || '%' AS RAT_COUPN_30
		    FROM (
		        SELECT 
		            A.MSHIP_COUPN_BAS_NO
		            , A.USE_YN 
		            , DECODE(A.USE_YN,'Y',COUNT(1),0) AS USE_CNT
		            , DECODE(A.USE_YN,'N',COUNT(1),0) AS NOT_CNT
		        FROM CRM_COUPN_PBLS_HST A JOIN CRM_CUST_BAS B ON A.ITG_CUST_NO = B.ITG_CUST_NO
		            AND TRUNC((TO_CHAR(SYSDATE,'YYYY')  -  TO_NUMBER(SUBSTR(BIRTHDAY,1,4))) /10 ) BETWEEN 3 AND 3
		            JOIN CRM_MSHIP_COUPN_BAS C ON C.MSHIP_COUPN_BAS_NO = A.MSHIP_COUPN_BAS_NO AND C.USE_YN='Y'
		        <if test="fromPblsStdDay != null and toPblsStdDay != '' ">
		        	AND A.REG_DT BETWEEN TO_DATE(#{fromPblsStdDay}, 'YYYY-MM-DD') AND TO_DATE(#{toPblsStdDay}, 'YYYY-MM-DD')+1
		        </if>
		        <if test="coupnTypeCd != null and coupnTypeCd != ''">
					AND C.COUPN_TYPE_CD   =       #{coupnTypeCd}
				</if>
		        GROUP BY A.MSHIP_COUPN_BAS_NO , A.USE_YN
		    ) T1
		    GROUP BY T1.MSHIP_COUPN_BAS_NO
		    ORDER BY SUM (T1.USE_CNT) DESC  
		) 
		WHERE ROWNUM <![CDATA[<=]]> 10
    </select>
    
    
    <select id="getCoupnUseAge40List" resultType="EzMap">
    	SELECT * /*com.ceragem.crm.cusstatus.dao.CrmCouponUsedAgeDao.getCoupnUseAge40List*/ FROM (
		    SELECT 
		        T1.MSHIP_COUPN_BAS_NO AS MSHIP_COUPN_BAS_NO_40
		        , (SELECT COUPN_BAS_NM FROM CRM_MSHIP_COUPN_BAS WHERE MSHIP_COUPN_BAS_NO = T1.MSHIP_COUPN_BAS_NO) AS COUPN_BAS_NM_40
		        , SUM(T1.USE_CNT + T1.NOT_CNT) AS TOT_COUPN_40
		        , SUM (T1.USE_CNT) AS USE_COUPN_40
		        , RTRIM(TO_CHAR(SUM (T1.USE_CNT) / SUM(T1.USE_CNT + T1.NOT_CNT) * 100, 'FM9990D99'), '.') || '%' AS RAT_COUPN_40
		    FROM (
		        SELECT 
		            A.MSHIP_COUPN_BAS_NO
		            , A.USE_YN 
		            , DECODE(A.USE_YN,'Y',COUNT(1),0) AS USE_CNT
		            , DECODE(A.USE_YN,'N',COUNT(1),0) AS NOT_CNT
		        FROM CRM_COUPN_PBLS_HST A JOIN CRM_CUST_BAS B ON A.ITG_CUST_NO = B.ITG_CUST_NO
		            AND TRUNC((TO_CHAR(SYSDATE,'YYYY')  -  TO_NUMBER(SUBSTR(BIRTHDAY,1,4))) /10 ) BETWEEN 4 AND 4
		            JOIN CRM_MSHIP_COUPN_BAS C ON C.MSHIP_COUPN_BAS_NO = A.MSHIP_COUPN_BAS_NO AND C.USE_YN='Y'
		        <if test="fromPblsStdDay != null and toPblsStdDay != '' ">
		        	AND A.REG_DT BETWEEN TO_DATE(#{fromPblsStdDay}, 'YYYY-MM-DD') AND TO_DATE(#{toPblsStdDay}, 'YYYY-MM-DD')+1
		        </if>
		        <if test="coupnTypeCd != null and coupnTypeCd != ''">
					AND C.COUPN_TYPE_CD   =       #{coupnTypeCd}
				</if>
		        GROUP BY A.MSHIP_COUPN_BAS_NO , A.USE_YN
		    ) T1
		    GROUP BY T1.MSHIP_COUPN_BAS_NO
		    ORDER BY SUM (T1.USE_CNT) DESC  
		) 
		WHERE ROWNUM <![CDATA[<=]]> 10
    </select>
    
    
    <select id="getCoupnUseAge50List" resultType="EzMap">
    	SELECT * /*com.ceragem.crm.cusstatus.dao.CrmCouponUsedAgeDao.getCoupnUseAge50List*/ FROM (
		    SELECT 
		        T1.MSHIP_COUPN_BAS_NO AS MSHIP_COUPN_BAS_NO_50
		        , (SELECT COUPN_BAS_NM FROM CRM_MSHIP_COUPN_BAS WHERE MSHIP_COUPN_BAS_NO = T1.MSHIP_COUPN_BAS_NO) AS COUPN_BAS_NM_50
		        , SUM(T1.USE_CNT + T1.NOT_CNT) AS TOT_COUPN_50
		        , SUM (T1.USE_CNT) AS USE_COUPN_50
		        , RTRIM(TO_CHAR(SUM (T1.USE_CNT) / SUM(T1.USE_CNT + T1.NOT_CNT) * 100, 'FM9990D99'), '.') || '%' AS RAT_COUPN_50
		    FROM (
		        SELECT 
		            A.MSHIP_COUPN_BAS_NO
		            , A.USE_YN 
		            , DECODE(A.USE_YN,'Y',COUNT(1),0) AS USE_CNT
		            , DECODE(A.USE_YN,'N',COUNT(1),0) AS NOT_CNT
		        FROM CRM_COUPN_PBLS_HST A JOIN CRM_CUST_BAS B ON A.ITG_CUST_NO = B.ITG_CUST_NO
		            AND TRUNC((TO_CHAR(SYSDATE,'YYYY')  -  TO_NUMBER(SUBSTR(BIRTHDAY,1,4))) /10 ) BETWEEN 5 AND 5
		            JOIN CRM_MSHIP_COUPN_BAS C ON C.MSHIP_COUPN_BAS_NO = A.MSHIP_COUPN_BAS_NO AND C.USE_YN='Y'
		        <if test="fromPblsStdDay != null and toPblsStdDay != '' ">
		        	AND A.REG_DT BETWEEN TO_DATE(#{fromPblsStdDay}, 'YYYY-MM-DD') AND TO_DATE(#{toPblsStdDay}, 'YYYY-MM-DD')+1
		        </if>
		        <if test="coupnTypeCd != null and coupnTypeCd != ''">
					AND C.COUPN_TYPE_CD   =       #{coupnTypeCd}
				</if>
		        GROUP BY A.MSHIP_COUPN_BAS_NO , A.USE_YN
		    ) T1
		    GROUP BY T1.MSHIP_COUPN_BAS_NO
		    ORDER BY SUM (T1.USE_CNT) DESC  
		) 
		WHERE ROWNUM <![CDATA[<=]]> 10
    </select>
    
    
    <select id="getCoupnUseAge60List" resultType="EzMap">
    	SELECT * /*com.ceragem.crm.cusstatus.dao.CrmCouponUsedAgeDao.getCoupnUseAge60List*/ FROM (
		    SELECT 
		        T1.MSHIP_COUPN_BAS_NO AS MSHIP_COUPN_BAS_NO_60
		        , (SELECT COUPN_BAS_NM FROM CRM_MSHIP_COUPN_BAS WHERE MSHIP_COUPN_BAS_NO = T1.MSHIP_COUPN_BAS_NO) AS COUPN_BAS_NM_60
		        , SUM(T1.USE_CNT + T1.NOT_CNT) AS TOT_COUPN_60
		        , SUM (T1.USE_CNT) AS USE_COUPN_60
		        , RTRIM(TO_CHAR(SUM (T1.USE_CNT) / SUM(T1.USE_CNT + T1.NOT_CNT) * 100, 'FM9990D99'), '.') || '%' AS RAT_COUPN_60
		    FROM (
		        SELECT 
		            A.MSHIP_COUPN_BAS_NO
		            , A.USE_YN 
		            , DECODE(A.USE_YN,'Y',COUNT(1),0) AS USE_CNT
		            , DECODE(A.USE_YN,'N',COUNT(1),0) AS NOT_CNT
		        FROM CRM_COUPN_PBLS_HST A JOIN CRM_CUST_BAS B ON A.ITG_CUST_NO = B.ITG_CUST_NO
		            AND TRUNC((TO_CHAR(SYSDATE,'YYYY')  -  TO_NUMBER(SUBSTR(BIRTHDAY,1,4))) /10 ) BETWEEN 6 AND 6
		            JOIN CRM_MSHIP_COUPN_BAS C ON C.MSHIP_COUPN_BAS_NO = A.MSHIP_COUPN_BAS_NO AND C.USE_YN='Y'
		        <if test="fromPblsStdDay != null and toPblsStdDay != '' ">
		        	AND A.REG_DT BETWEEN TO_DATE(#{fromPblsStdDay}, 'YYYY-MM-DD') AND TO_DATE(#{toPblsStdDay}, 'YYYY-MM-DD')+1
		        </if>
		        <if test="coupnTypeCd != null and coupnTypeCd != ''">
					AND C.COUPN_TYPE_CD   =       #{coupnTypeCd}
				</if>
		        GROUP BY A.MSHIP_COUPN_BAS_NO , A.USE_YN
		    ) T1
		    GROUP BY T1.MSHIP_COUPN_BAS_NO
		    ORDER BY SUM (T1.USE_CNT) DESC  
		) 
		WHERE ROWNUM <![CDATA[<=]]> 10
    </select>
    
    
    <select id="getCoupnUseAge70List" resultType="EzMap">
    	SELECT * /*com.ceragem.crm.cusstatus.dao.CrmCouponUsedAgeDao.getCoupnUseAge70List*/ FROM (
		    SELECT 
		        T1.MSHIP_COUPN_BAS_NO AS MSHIP_COUPN_BAS_NO_70
		        , (SELECT COUPN_BAS_NM FROM CRM_MSHIP_COUPN_BAS WHERE MSHIP_COUPN_BAS_NO = T1.MSHIP_COUPN_BAS_NO) AS COUPN_BAS_NM_70
		        , SUM(T1.USE_CNT + T1.NOT_CNT) AS TOT_COUPN_70
		        , SUM (T1.USE_CNT) AS USE_COUPN_70
		        , RTRIM(TO_CHAR(SUM (T1.USE_CNT) / SUM(T1.USE_CNT + T1.NOT_CNT) * 100, 'FM9990D99'), '.') || '%' AS RAT_COUPN_70
		    FROM (
		        SELECT 
		            A.MSHIP_COUPN_BAS_NO
		            , A.USE_YN 
		            , DECODE(A.USE_YN,'Y',COUNT(1),0) AS USE_CNT
		            , DECODE(A.USE_YN,'N',COUNT(1),0) AS NOT_CNT
		        FROM CRM_COUPN_PBLS_HST A JOIN CRM_CUST_BAS B ON A.ITG_CUST_NO = B.ITG_CUST_NO
		            AND TRUNC((TO_CHAR(SYSDATE,'YYYY')  -  TO_NUMBER(SUBSTR(BIRTHDAY,1,4))) /10 ) BETWEEN 7 AND 99
		            JOIN CRM_MSHIP_COUPN_BAS C ON C.MSHIP_COUPN_BAS_NO = A.MSHIP_COUPN_BAS_NO AND C.USE_YN='Y'
		        <if test="fromPblsStdDay != null and toPblsStdDay != '' ">
		        	AND A.REG_DT BETWEEN TO_DATE(#{fromPblsStdDay}, 'YYYY-MM-DD') AND TO_DATE(#{toPblsStdDay}, 'YYYY-MM-DD')+1
		        </if>
		        <if test="coupnTypeCd != null and coupnTypeCd != ''">
					AND C.COUPN_TYPE_CD   =       #{coupnTypeCd}
				</if>
		        GROUP BY A.MSHIP_COUPN_BAS_NO , A.USE_YN
		    ) T1
		    GROUP BY T1.MSHIP_COUPN_BAS_NO
		    ORDER BY SUM (T1.USE_CNT) DESC  
		) 
		WHERE ROWNUM <![CDATA[<=]]> 10
    </select>
    
    
    <select id="getCoupnUseAge99List" resultType="EzMap">
    	SELECT * /*com.ceragem.crm.cusstatus.dao.CrmCouponUsedAgeDao.getCoupnUseAge99List*/ FROM (
		    SELECT 
		        T1.MSHIP_COUPN_BAS_NO AS MSHIP_COUPN_BAS_NO_99
		        , (SELECT COUPN_BAS_NM FROM CRM_MSHIP_COUPN_BAS WHERE MSHIP_COUPN_BAS_NO = T1.MSHIP_COUPN_BAS_NO) AS COUPN_BAS_NM_99
		        , SUM(T1.USE_CNT + T1.NOT_CNT) AS TOT_COUPN_99
		        , SUM (T1.USE_CNT) AS USE_COUPN_99
		        , RTRIM(TO_CHAR(SUM (T1.USE_CNT) / SUM(T1.USE_CNT + T1.NOT_CNT) * 100, 'FM9990D99'), '.') || '%' AS RAT_COUPN_99
		    FROM (
		        SELECT 
		            A.MSHIP_COUPN_BAS_NO
		            , A.USE_YN 
		            , DECODE(A.USE_YN,'Y',COUNT(1),0) AS USE_CNT
		            , DECODE(A.USE_YN,'N',COUNT(1),0) AS NOT_CNT
		        FROM CRM_COUPN_PBLS_HST A JOIN CRM_CUST_BAS B ON A.ITG_CUST_NO = B.ITG_CUST_NO
		            AND BIRTHDAY IS NULL
		            JOIN CRM_MSHIP_COUPN_BAS C ON C.MSHIP_COUPN_BAS_NO = A.MSHIP_COUPN_BAS_NO AND C.USE_YN='Y'
		        <if test="fromPblsStdDay != null and toPblsStdDay != '' ">
		        	AND A.REG_DT BETWEEN TO_DATE(#{fromPblsStdDay}, 'YYYY-MM-DD') AND TO_DATE(#{toPblsStdDay}, 'YYYY-MM-DD')+1
		        </if>
		        <if test="coupnTypeCd != null and coupnTypeCd != ''">
					AND C.COUPN_TYPE_CD   =       #{coupnTypeCd}
				</if>
		        GROUP BY A.MSHIP_COUPN_BAS_NO , A.USE_YN
		    ) T1
		    GROUP BY T1.MSHIP_COUPN_BAS_NO
		    ORDER BY SUM (T1.USE_CNT) DESC  
		) 
		WHERE ROWNUM <![CDATA[<=]]> 10
    </select>
    
    <select id="getCoupnUseAgeTot" resultType="EzMap">
    	SELECT * /*com.ceragem.crm.cusstatus.dao.CrmCouponUsedAgeDao.getCoupnUseAgeTot*/ FROM (
		        SELECT 
		            C.MSHIP_COUPN_BAS_NO
                    , (SELECT COUPN_BAS_NM FROM CRM_MSHIP_COUPN_BAS WHERE MSHIP_COUPN_BAS_NO = C.MSHIP_COUPN_BAS_NO) COUPN_BAS_NM
		            , CASE WHEN TRUNC((TO_CHAR(SYSDATE,'YYYY')  -  TO_NUMBER(SUBSTR(BIRTHDAY,1,4))) /10 ) <![CDATA[>=]]> 0 AND  TRUNC((TO_CHAR(SYSDATE,'YYYY')  -  TO_NUMBER(SUBSTR(BIRTHDAY,1,4))) /10 ) <![CDATA[<]]> 2 THEN 1
		              WHEN TRUNC((TO_CHAR(SYSDATE,'YYYY')  -  TO_NUMBER(SUBSTR(BIRTHDAY,1,4))) /10 ) = 2 THEN 2
		              WHEN TRUNC((TO_CHAR(SYSDATE,'YYYY')  -  TO_NUMBER(SUBSTR(BIRTHDAY,1,4))) /10 ) = 3 THEN 3
		              WHEN TRUNC((TO_CHAR(SYSDATE,'YYYY')  -  TO_NUMBER(SUBSTR(BIRTHDAY,1,4))) /10 ) = 4 THEN 4
		              WHEN TRUNC((TO_CHAR(SYSDATE,'YYYY')  -  TO_NUMBER(SUBSTR(BIRTHDAY,1,4))) /10 ) = 5 THEN 5
		              WHEN TRUNC((TO_CHAR(SYSDATE,'YYYY')  -  TO_NUMBER(SUBSTR(BIRTHDAY,1,4))) /10 ) = 6 THEN 6
		              WHEN TRUNC((TO_CHAR(SYSDATE,'YYYY')  -  TO_NUMBER(SUBSTR(BIRTHDAY,1,4))) /10 ) <![CDATA[>=]]> 7 THEN 7
		              WHEN TRUNC((TO_CHAR(SYSDATE,'YYYY')  -  TO_NUMBER(SUBSTR(BIRTHDAY,1,4))) /10 ) <![CDATA[<]]> 0 THEN -1
		              ELSE 0
		           END AS PAT
		           , CASE WHEN TRUNC((TO_CHAR(SYSDATE,'YYYY')  -  TO_NUMBER(SUBSTR(BIRTHDAY,1,4))) /10 ) <![CDATA[>=]]> 0 AND  TRUNC((TO_CHAR(SYSDATE,'YYYY')  -  TO_NUMBER(SUBSTR(BIRTHDAY,1,4))) /10 ) <![CDATA[<]]> 2 THEN COUNT(1)
		              WHEN TRUNC((TO_CHAR(SYSDATE,'YYYY')  -  TO_NUMBER(SUBSTR(BIRTHDAY,1,4))) /10 ) = 2 THEN COUNT(1)
		              WHEN TRUNC((TO_CHAR(SYSDATE,'YYYY')  -  TO_NUMBER(SUBSTR(BIRTHDAY,1,4))) /10 ) = 3 THEN COUNT(1)
		              WHEN TRUNC((TO_CHAR(SYSDATE,'YYYY')  -  TO_NUMBER(SUBSTR(BIRTHDAY,1,4))) /10 ) = 4 THEN COUNT(1)
		              WHEN TRUNC((TO_CHAR(SYSDATE,'YYYY')  -  TO_NUMBER(SUBSTR(BIRTHDAY,1,4))) /10 ) = 5 THEN COUNT(1)
		              WHEN TRUNC((TO_CHAR(SYSDATE,'YYYY')  -  TO_NUMBER(SUBSTR(BIRTHDAY,1,4))) /10 ) = 6 THEN COUNT(1)
		              WHEN TRUNC((TO_CHAR(SYSDATE,'YYYY')  -  TO_NUMBER(SUBSTR(BIRTHDAY,1,4))) /10 ) <![CDATA[>=]]> 7 THEN COUNT(1)
		              WHEN TRUNC((TO_CHAR(SYSDATE,'YYYY')  -  TO_NUMBER(SUBSTR(BIRTHDAY,1,4))) /10 ) <![CDATA[<]]> 0 THEN COUNT(1)
		              ELSE COUNT(1)
		           END AS TOT
		        FROM CRM_COUPN_PBLS_HST A JOIN CRM_CUST_BAS B ON A.ITG_CUST_NO = B.ITG_CUST_NO 
		            AND A.USE_YN = 'Y'
		            JOIN CRM_MSHIP_COUPN_BAS C ON C.MSHIP_COUPN_BAS_NO = A.MSHIP_COUPN_BAS_NO 
		            AND C.USE_YN='Y'
	            <if test="fromPblsStdDay != null and toPblsStdDay != '' ">
		        	AND A.REG_DT BETWEEN TO_DATE(#{fromPblsStdDay}, 'YYYY-MM-DD') AND TO_DATE(#{toPblsStdDay}, 'YYYY-MM-DD')+1
		        	<!-- AND A.USE_DT BETWEEN #{fromPblsStdDay} AND TO_CHAR(TO_NUMBER(#{toPblsStdDay})+1) -->
		        </if>
		        <if test="coupnTypeCd != null and coupnTypeCd != ''">
					AND C.COUPN_TYPE_CD   =       #{coupnTypeCd}
				</if>
		            GROUP BY TRUNC((TO_CHAR(SYSDATE,'YYYY')  -  TO_NUMBER(SUBSTR(BIRTHDAY,1,4))) /10 ) , C.MSHIP_COUPN_BAS_NO
		     		ORDER BY C.MSHIP_COUPN_BAS_NO 
		     ) TEM 
		PIVOT(SUM(TOT) FOR PAT IN (0,1,2,3,4,5,6,7))
    </select>
    
    <select id="getCoupnUseAgeGndr" resultType="EzMap">
		SELECT /*com.ceragem.crm.cusstatus.dao.CrmCouponUsedAgeDao.getCoupnUseAgeGndr*/ * FROM (
		        SELECT 
		            C.MSHIP_COUPN_BAS_NO
                    , (SELECT COUPN_BAS_NM FROM CRM_MSHIP_COUPN_BAS WHERE MSHIP_COUPN_BAS_NO = C.MSHIP_COUPN_BAS_NO) COUPN_BAS_NM
		            , CASE 
		                WHEN  GNDR_CD = 'M' THEN 'M'
		                WHEN  GNDR_CD = 'F' THEN 'F'
		              ELSE 'N'
		           END AS PAT
		           , CASE 
		                WHEN  GNDR_CD = 'M' THEN COUNT(1)
		                WHEN  GNDR_CD = 'F' THEN COUNT(1)
		              ELSE COUNT(1)
		           END AS TOT
		        FROM CRM_COUPN_PBLS_HST A JOIN CRM_CUST_BAS B ON A.ITG_CUST_NO = B.ITG_CUST_NO 
		            AND A.USE_YN = 'Y'
		            JOIN CRM_MSHIP_COUPN_BAS C ON C.MSHIP_COUPN_BAS_NO = A.MSHIP_COUPN_BAS_NO 
		            AND C.USE_YN='Y'

		        	<if test="fromPblsStdDay != null and toPblsStdDay != '' ">
			        	<!-- AND A.REG_DT BETWEEN TO_DATE(#{fromPblsStdDay}, 'YYYY-MM-DD') AND TO_DATE(#{toPblsStdDay}, 'YYYY-MM-DD')+1 -->
			        	AND A.USE_DT BETWEEN #{fromPblsStdDay} AND TO_CHAR(TO_NUMBER(#{toPblsStdDay})+1)
			        </if>
			        <if test="coupnTypeCd != null and coupnTypeCd != ''">
						AND C.COUPN_TYPE_CD   =       #{coupnTypeCd}
					</if>

		            GROUP BY GNDR_CD,C.MSHIP_COUPN_BAS_NO
		            ORDER BY C.MSHIP_COUPN_BAS_NO
		         ) TEM
		         PIVOT(SUM(TEM.TOT) FOR PAT IN ('M','F','N'))
    </select>
</mapper>
