<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.cusstatus.dao.CrmStorNewJoinDao">
	
    <select id="selectList" resultType="com.ceragem.crm.cusstatus.model.CrmStorNewJoinVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
    <![CDATA[  
              SELECT /* com.ceragem.crm.cusstatus.dao.CrmStorNewJoinDao.selectList */
                     A.ITG_CUST_NO                                                         /*통합고객번호 */
                   , A.CUST_NM                                                             /*회원명     */ 
                   , CASE WHEN A.GNDR_CD = 'M' THEN '남'
                          WHEN A.GNDR_CD = 'F' THEN '여'
                          ELSE '성별 없음'
                          END GNDR_CD          /*성별코드 */     
                   , CASE WHEN A.BIRTHDAY IS NOT NULL THEN '만 ' || TRUNC(MONTHS_BETWEEN(SYSDATE, TO_DATE(A.BIRTHDAY, 'YYYYMMDD'))/12) || '세'
                          END AGE  /*만 나이 */
                   , A.BIRTHDAY AS BIRTHDAY_DT /*생년월일 */
                   , B.STOR_NM               /*매장명 */
                   , B.STOR_NO               /*매장번호 */
                   , TO_CHAR(A.REG_DT, 'YYYY-MM-DD') AS "REG_DT" /*가입일시*/
                   , B.REG_CHL_CD            /*등록채널코드*/
                   , B.STOR_STATUS_CD /*매장상태코드 */
                FROM (
                      SELECT 
                             ITG_CUST_NO
                           , CUST_NM
                           , DECODE(VALIDATE_CONVERSION(BIRTHDAY AS DATE, 'YYYYMMDD'),1,BIRTHDAY,0,NULL) BIRTHDAY
                           , GNDR_CD
                           , MSHIP_SBSC_DT REG_DT
                           , RCMD_STOR_NO
	                    FROM CRM_CUST_BAS
	                 ) A
                  LEFT JOIN CRM_STOR_BAS B ON (B.STOR_NO = A.RCMD_STOR_NO)
    ]]>
              <where>
              <if test='strtDt2 != null and strtDt2 != "" and endDt2 != null and endDt2 != ""'>
                AND A.REG_DT BETWEEN TO_DATE(#{strtDt2}, 'YYYYMMDD') AND TO_DATE(#{endDt2}, 'YYYYMMDD') + 1
              </if>
              <if test='custNm != null and custNm != ""'>
                AND A.CUST_NM = #{custNm}
              </if>
              <if test='storNo != null and storNo != ""'>
                AND B.STOR_NO = #{storNo}
              </if>
              <if test='storStatusCd !=null and storStatusCd != "" and storStatusCd != "all"'>
                AND B.STOR_STATUS_CD = #{storStatusCd}
              </if>
              <if test='pblsChlCd !=null and pblsChlCd != "" and pblsChlCd != "all"'>
                AND B.STOR_CHL_CD = #{pblsChlCd}
              </if>
              </where>
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
	</select>
	
    <select id="selectListCount" resultType="int">
              SELECT /* com.ceragem.crm.cusstatus.dao.CrmStorNewJoinDao.selectListCount */ 
                     COUNT(1)
                FROM (
                      SELECT 
                             ITG_CUST_NO
                           , CUST_NM
                           , DECODE(VALIDATE_CONVERSION(BIRTHDAY AS DATE, 'YYYYMMDD'),1,BIRTHDAY,0,NULL) BIRTHDAY
                           , GNDR_CD
                           , MSHIP_SBSC_DT REG_DT
                           , RCMD_STOR_NO
	                    FROM CRM_CUST_BAS
	                 ) A
                  LEFT JOIN CRM_STOR_BAS B ON (B.STOR_NO = A.RCMD_STOR_NO)
              <where>
	          <if test='strtDt2 != null and strtDt2 != "" and endDt2 != null and endDt2 != ""'>
	            AND A.REG_DT BETWEEN TO_DATE(#{strtDt2}, 'YYYYMMDD') AND TO_DATE(#{endDt2}, 'YYYYMMDD') + 1
	          </if>
	          <if test='custNm != null and custNm != ""'>
	            AND A.CUST_NM = #{custNm}
	          </if>
	          <if test='storNo != null and storNo != ""'>
	            AND B.STOR_NO = #{storNo}
	          </if>
	          <if test='storStatusCd !=null and storStatusCd != "" and storStatusCd != "all"'>
                AND B.STOR_STATUS_CD = #{storStatusCd}
              </if>
              <if test='pblsChlCd !=null and pblsChlCd != "" and pblsChlCd != "all"'>
                AND B.STOR_CHL_CD = #{pblsChlCd}
              </if>
	          </where>
    </select> 
    
    <select id="barLabels" resultType="String" >
      <choose>
        <when test='stndDt == "" or stndDt == null'>
    <![CDATA[ 
              SELECT /* com.ceragem.crm.cusstatus.dao.CrmStorNewJoinDao.barLabels */
                     TO_CHAR(A.DAY, 'DD')
                FROM (
                      SELECT 
                             TRUNC(SYSDATE, 'MM') + LEVEL - 1 DAY 
                           , CASE WHEN TRUNC(SYSDATE, 'MM') + LEVEL - 1 <= SYSDATE THEN 1
                                  ELSE 2
                                  END CHCK
                        FROM DUAL CONNECT BY LEVEL <= TO_CHAR(LAST_DAY(SYSDATE), 'DD')
                     ) A
             
                   , (
                      SELECT 
                             REG_DT
                           , COUNT(1) CNT
                        FROM (
                              SELECT 
                                     TO_CHAR(MSHIP_SBSC_DT, 'YYMMDD') REG_DT
                                FROM CRM_CUST_BAS
    ]]>
                              <if test='storNo != "" and storNo != null'>
                                WHERE RCMD_STOR_NO = #{storNo}
                              </if>
    <![CDATA[
                             )
                      GROUP BY REG_DT
                     ) B /*매장 조건 추가*/
              WHERE TO_CHAR(A.DAY, 'YYMMDD') = B.REG_DT (+) AND A.CHCK = 1
              ORDER BY DAY
    ]]>
        </when>
        <otherwise>
    <![CDATA[ 
        SELECT /* com.ceragem.crm.cusstatus.dao.CrmStorNewJoinDao.otherwise */
               TO_CHAR(A.DAY, 'DD')
          FROM (
                SELECT 
                       TO_DATE(#{stndDt}, 'YYYYMM') + LEVEL - 1 DAY 
                     , CASE WHEN TO_DATE(#{stndDt}, 'YYYYMM') + LEVEL - 1 <= SYSDATE THEN 1
                            ELSE 2
                            END CHCK
                  FROM DUAL CONNECT BY LEVEL <= TO_CHAR(LAST_DAY(TO_DATE(#{stndDt}, 'YYYYMM')), 'DD')
               ) A
               
             , (
                SELECT 
                       REG_DT
                     , COUNT(1) CNT
                  FROM 
                       (
                        SELECT 
                               TO_CHAR(MSHIP_SBSC_DT, 'YYMMDD') REG_DT
                          FROM CRM_CUST_BAS
    ]]>
                        <if test='storNo != "" and storNo != null'>
                          WHERE RCMD_STOR_NO = #{storNo}
                        </if>
    <![CDATA[
                       )
                GROUP BY REG_DT
               ) B 
        WHERE TO_CHAR(A.DAY, 'YYMMDD') = B.REG_DT (+) AND A.CHCK = 1
        ORDER BY DAY
    ]]>
        
        
        </otherwise>
      </choose>   
    </select>

    <select id="newJoinMonData" resultType="int">
      <choose>
        <when test='stndDt == "" or stndDt == null'>
    <![CDATA[ 
        SELECT /* com.ceragem.crm.cusstatus.dao.CrmStorNewJoinDao.newJoinMonData */
               NVL(B.CNT, 0) CNT
          FROM (
                SELECT 
                       TRUNC(SYSDATE, 'MM') + LEVEL - 1 DAY 
                     , CASE WHEN TRUNC(SYSDATE, 'MM') + LEVEL - 1 <= SYSDATE THEN 1
                            ELSE 2
                            END CHCK
                  FROM DUAL CONNECT BY LEVEL <= TO_CHAR(LAST_DAY(SYSDATE), 'DD')
               ) A
               
             , (
                SELECT 
                       REG_DT,COUNT(1) CNT
                  FROM (
                        SELECT 
                               TO_CHAR(MSHIP_SBSC_DT, 'YYMMDD') REG_DT
                          FROM CRM_CUST_BAS
    ]]>
                        <if test='storNo != "" and storNo != null'>
                          WHERE RCMD_STOR_NO = #{storNo}
                        </if>
    <![CDATA[
                       )
                GROUP BY REG_DT
               ) B /*매장 조건 추가*/
        WHERE TO_CHAR(A.DAY, 'YYMMDD') = B.REG_DT (+) AND A.CHCK = 1
        ORDER BY DAY
    ]]>
        </when>
        <otherwise>
    <![CDATA[ 
        SELECT /* com.ceragem.crm.cusstatus.dao.CrmStorNewJoinDao.otherwise */
               NVL(B.CNT, 0) CNT
          FROM (
                SELECT 
                       TO_DATE(#{stndDt}, 'YYYYMM') + LEVEL - 1 DAY 
                      , CASE WHEN TO_DATE(#{stndDt}, 'YYYYMM') + LEVEL - 1 <= SYSDATE THEN 1
                             ELSE 2
                             END CHCK
                  FROM DUAL CONNECT BY LEVEL <= TO_CHAR(LAST_DAY(TO_DATE(#{stndDt}, 'YYYYMM')), 'DD')
               ) A
               
             , (
                SELECT 
                       REG_DT
                     , COUNT(1) CNT
                  FROM (
                        SELECT 
                               TO_CHAR(MSHIP_SBSC_DT, 'YYMMDD') REG_DT
                          FROM CRM_CUST_BAS
    ]]>
                        <if test='storNo != "" and storNo != null'>
                          WHERE RCMD_STOR_NO = #{storNo}
                        </if>
    <![CDATA[
                       )
                GROUP BY REG_DT
               ) B /*매장 조건 추가*/
        WHERE TO_CHAR(A.DAY, 'YYMMDD') = B.REG_DT (+) AND A.CHCK = 1
        ORDER BY DAY
    ]]>
        </otherwise>
      </choose>
    </select>    
    
    
    <select id="lineLabels" resultType="String" >
      <choose>
        <when test='stndDt == "" or stndDt == null'>
    <![CDATA[ 
        SELECT /* com.ceragem.crm.cusstatus.dao.CrmStorNewJoinDao.lineLabels */
               A.MONTH
          FROM (
                SELECT 
                       TO_CHAR(ADD_MONTHS(TRUNC(SYSDATE, 'MM'), LEVEL - 12), 'YYYY.MM') MONTH /*1년간 월 데이터*/
	              FROM DUAL CONNECT BY LEVEL <= 12
	           ) A
	           
             , (
                SELECT 
	                   REG_DT            /*등록일자 */
	                 , COUNT(1) CNT            /*등록회원수 */
	              FROM (
	                    SELECT 
	                           TO_CHAR(MSHIP_SBSC_DT, 'YYYYMM') REG_DT  /*등록 월 */  
	                      FROM CRM_CUST_BAS
	]]>
                          <if test='storNo != "" and storNo != null'>
                            WHERE RCMD_STOR_NO = #{storNo}
                          </if>
    <![CDATA[
	                   )
	            
	            GROUP BY REG_DT
	           ) B
        WHERE A.MONTH = B.REG_DT (+)
        ORDER BY A.MONTH
    ]]>
        </when>
        <otherwise>
    <![CDATA[ 
        SELECT /* com.ceragem.crm.cusstatus.dao.CrmStorNewJoinDao.lineLabels */
               A.MONTH
          FROM (
                SELECT 
                       TO_CHAR(ADD_MONTHS(TO_DATE(#{stndDt}, 'YYYYMM'), LEVEL - 12), 'YYYY.MM') MONTH /*1년간 월 데이터*/
	              FROM DUAL CONNECT BY LEVEL <= 12
	           ) A
             , (
                 SELECT 
	                    REG_DT            /*등록일자 */
	                  , COUNT(1) CNT            /*등록회원수 */
	               FROM (
	                     SELECT 
	                            TO_CHAR(MSHIP_SBSC_DT, 'YYYYMM') REG_DT  /*등록 월 */  
	                       FROM CRM_CUST_BAS
	]]>
                         <if test='storNo != "" and storNo != null'>
                           WHERE RCMD_STOR_NO = #{storNo}
                         </if>
    <![CDATA[
	                    )
	            
	             GROUP BY REG_DT
	           ) B
        WHERE A.MONTH = B.REG_DT (+)
        ORDER BY A.MONTH
    ]]>
        
        </otherwise>
      </choose>   
    </select>
    
    <select id="newJoinYearData" resultType="int">
      <choose>
        <when test='stndDt == "" or stndDt == null'>
    <![CDATA[ 
        SELECT /* com.ceragem.crm.cusstatus.dao.CrmStorNewJoinDao.newJoinYearData */
               NVL(B.CNT, 0) CNT
          FROM (
                SELECT 
                       TO_CHAR(ADD_MONTHS(TRUNC(SYSDATE, 'MM'), LEVEL - 12), 'YYYYMM') MONTH /*1년간 월 데이터*/
	              FROM DUAL CONNECT BY LEVEL <= 12
	           ) A
             , (
                SELECT 
	                   REG_DT            /*등록일자 */
	                 , COUNT(1) CNT            /*등록회원수 */
	              FROM (
	                      SELECT 
	                             TO_CHAR(MSHIP_SBSC_DT, 'YYYYMM') REG_DT  /*등록 월 */  
	                        FROM CRM_CUST_BAS
	]]>
                          <if test='storNo != "" and storNo != null'>
                            WHERE RCMD_STOR_NO = #{storNo}
                          </if>
    <![CDATA[
	                     )
	            GROUP BY REG_DT
	           ) B
        WHERE A.MONTH = B.REG_DT (+)
        ORDER BY A.MONTH
    ]]>
        </when>
        <otherwise>
    <![CDATA[ 
        SELECT /* com.ceragem.crm.cusstatus.dao.CrmStorNewJoinDao.otherwise */
               NVL(B.CNT, 0) CNT
          FROM (
                SELECT 
                       TO_CHAR(ADD_MONTHS(TO_DATE(#{stndDt}, 'YYYYMM'), LEVEL - 12), 'YYYYMM') MONTH /*1년간 월 데이터*/
	              FROM DUAL CONNECT BY LEVEL <= 12
	           ) A
             , (
                SELECT 
	                   REG_DT            /*등록일자 */
	                 , COUNT(1) CNT            /*등록회원수 */
	              FROM (
	                    SELECT 
	                           TO_CHAR(MSHIP_SBSC_DT, 'YYYYMM') REG_DT  /*등록 월 */  
	                      FROM CRM_CUST_BAS
	]]>
                        <if test='storNo != "" and storNo != null'>
                        WHERE RCMD_STOR_NO = #{storNo}
                        </if>
    <![CDATA[
	                   )
	            
	            GROUP BY REG_DT
	           ) B
        WHERE A.MONTH = B.REG_DT (+)
        ORDER BY A.MONTH
    ]]>
        </otherwise>
      </choose>
    </select>       
</mapper>
