<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.cst.dao.CrmCustInfoChngHstDao">
    <sql id="sqlPkConditions">
                WHERE CUST_INFO_CHNG_HST_SEQ=       #{custInfoChngHstSeq}
    </sql>
    <sql id="sqlCols">
                      CUST_INFO_CHNG_HST_SEQ                    /*고객정보변경이력일련번호        */
                    , ITG_CUST_NO                    /*통합고객번호        */
                    , CHNG_CLUS_CTNTS                    /*변경항목내용        */
                    , CHNG_WHY_CTNTS                    /*변경사유내용        */
                    , KEEP_PERD                    /*보존기간        */
                    , CHNG_PRE_CTNTS                    /*변경전내용        */
                    , CHNG_CTNTS                    /*변경내용        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
                    , REG_CHL_CD                    /*등록채널코드        공통코드 : S000        [CRM : CRM , CTC : 상담 , AS : AS , SAP : SAP , POS : POS]*/
    </sql>
    <sql id="sqlSelectCols">
                      A.CUST_INFO_CHNG_HST_SEQ                    /*고객정보변경이력일련번호        */
                    , A.ITG_CUST_NO                    /*통합고객번호        */
                    , A.CHNG_CLUS_CTNTS                    /*변경항목내용        */
                    , A.CHNG_WHY_CTNTS                    /*변경사유내용        */
                    , A.KEEP_PERD                    /*보존기간        */
                    , DAMO.DECRYPT_VAR_B64('AES_256',A.CHNG_PRE_CTNTS,'')   CHNG_PRE_CTNTS                  /*변경전내용        */
                    , DAMO.DECRYPT_VAR_B64('AES_256',A.CHNG_CTNTS,'') CHNG_CTNTS                    /*변경내용        */
                    , A.AMDR_ID                    /*수정자ID        */
                    , TO_CHAR(A.AMD_DT,'YYYYMMDDHH24MISS')    AMD_DT                    /*수정일시        */
                    , A.REGR_ID                    /*등록자ID        */
                    , TO_CHAR(A.REG_DT,'YYYYMMDDHH24MISS')    REG_DT                    /*등록일시        */
                    , A.REG_CHL_CD                    /*등록채널코드        공통코드 : S000        [CRM : CRM , CTC : 상담 , AS : AS , SAP : SAP]*/
    </sql>
    <sql id="sqlConditions">
    <where>
<!-- 검색창 -->
        <if test="strtDt7 != null and strtDt7 != ''">
                      AND A.REG_DT      >=       TO_DATE(#{strtDt7},'YYYYMMDD')
        </if>
        <if test="endDt7 != null and endDt7 != ''">
                      AND TO_DATE(#{endDt7},'YYYYMMDD') + 1 > A.REG_DT
        </if>   
<!-- 검색창 -->
        <if test="custInfoChngHstSeq != null and custInfoChngHstSeq != ''">
                  AND A.CUST_INFO_CHNG_HST_SEQ=       #{custInfoChngHstSeq}
        </if>
        <if test="itgCustNo != null and itgCustNo != ''">
                  AND A.ITG_CUST_NO     =       #{itgCustNo}
        </if>
        <if test="chngClusCtnts != null and chngClusCtnts != ''">
                  AND A.CHNG_CLUS_CTNTS =       #{chngClusCtnts}
        </if>
        <if test="chngWhyCtnts != null and chngWhyCtnts != ''">
                  AND A.CHNG_WHY_CTNTS  =       #{chngWhyCtnts}
        </if>
        <if test="keepPerd != null and keepPerd != ''">
                  AND A.KEEP_PERD       =       #{keepPerd}
        </if>
        <if test="chngPreCtnts != null and chngPreCtnts != ''">
                  AND A.CHNG_PRE_CTNTS  =       DAMO.ENCRYPT_VAR_B64('AES_256',#{chngPreCtnts},'')
        </if>
        <if test="chngCtnts != null and chngCtnts != ''">
                  AND A.CHNG_CTNTS      =      DAMO.ENCRYPT_VAR_B64('AES_256',#{chngCtnts},'') 
        </if>
        <if test="regChlCd != null and regChlCd != ''">
            <choose>
                <when test="regChlCd instanceof String">
                    AND A.REG_CHL_CD      =       #{regChlCd}
                </when>
                <otherwise>
                    AND A.REG_CHL_CD      IN
                    <foreach item="item" index="index" collection="regChlCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        </where>
    </sql>
    <sql id="sqlOrderBy">
        <choose>
            <when test="colSortName ==null or colSortName == ''">
                ORDER BY      REG_DT DESC
            </when>
            <when test="colSortName.equals('custInfoChngHstSeq')">
                ORDER BY      CUST_INFO_CHNG_HST_SEQ
            </when>
            <when test="colSortName.equals('itgCustNo')">
                ORDER BY      ITG_CUST_NO
            </when>
            <when test="colSortName.equals('chngClusCtnts')">
                ORDER BY      CHNG_CLUS_CTNTS
            </when>
            <when test="colSortName.equals('chngWhyCtnts')">
                ORDER BY      CHNG_WHY_CTNTS
            </when>
            <when test="colSortName.equals('keepPerd')">
                ORDER BY      KEEP_PERD
            </when>
            <when test="colSortName.equals('chngPreCtnts')">
                ORDER BY      CHNG_PRE_CTNTS
            </when>
            <when test="colSortName.equals('chngCtnts')">
                ORDER BY      CHNG_CTNTS
            </when>
            <when test="colSortName.equals('amdrId')">
                ORDER BY      AMDR_ID
            </when>
            <when test="colSortName.equals('amdDt')">
                ORDER BY      AMD_DT
            </when>
            <when test="colSortName.equals('regrId')">
                ORDER BY      REGR_ID
            </when>
            <when test="colSortName.equals('regDt')">
                ORDER BY      REG_DT
            </when>
            <when test="colSortName.equals('regChlCd')">
                ORDER BY      REG_CHL_CD
            </when>
            <otherwise>
                ORDER BY      REG_DT
            </otherwise>
        </choose>
        <if test="colSortName !=null and colSortDir !='' and colSortDir !=null and colSortDir !='' and colSortDir.equals('desc')">
            DESC
        </if>
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT /* com.ceragem.crm.cst.dao.CrmCustInfoChngHstDao.selectListCount */ COUNT(1)
                 FROM CRM_CUST_INFO_CHNG_HST A
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.ceragem.crm.cst.model.CrmCustInfoChngHstVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
               SELECT /* com.ceragem.crm.cst.dao.CrmCustInfoChngHstDao.selectList */ <include refid="sqlSelectCols"/>
                 FROM CRM_CUST_INFO_CHNG_HST A
        <include refid="sqlConditions"/>
        <include refid="sqlOrderBy"/>
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.ceragem.crm.cst.model.CrmCustInfoChngHstVo">
               SELECT /* com.ceragem.crm.cst.dao.CrmCustInfoChngHstDao.select */ <include refid="sqlSelectCols"/>
                 FROM CRM_CUST_INFO_CHNG_HST A
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
                INSERT /* com.ceragem.crm.cst.dao.CrmCustInfoChngHstDao.insert */ INTO CRM_CUST_INFO_CHNG_HST (
        <include refid="sqlCols"/>
                 ) VALUES (
                       #{custInfoChngHstSeq}
                     , #{itgCustNo}
                     , #{chngClusCtnts}
                     , #{chngWhyCtnts}
                     , #{keepPerd}
                     , #{chngPreCtnts}
                     , #{chngCtnts}
                     , #{amdrId}
                     , SYSDATE
                     , #{regrId}
                     , SYSDATE
                     , #{regChlCd}
                 )
    </insert>
    <update id="update">
               UPDATE /* com.ceragem.crm.cst.dao.CrmCustInfoChngHstDao.update */ CRM_CUST_INFO_CHNG_HST
                  SET ITG_CUST_NO                             =         #{itgCustNo}
                    , CHNG_CLUS_CTNTS                         =         #{chngClusCtnts}
                    , CHNG_WHY_CTNTS                          =         #{chngWhyCtnts}
                    , KEEP_PERD                               =         #{keepPerd}
                    , CHNG_PRE_CTNTS                          =         #{chngPreCtnts}
                    , CHNG_CTNTS                              =         #{chngCtnts}
                    , AMDR_ID                                 =         #{amdrId}
                    , AMD_DT                                  =         SYSDATE
                    , REG_CHL_CD                              =         #{regChlCd}
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE /* com.ceragem.crm.cst.dao.CrmCustInfoChngHstDao.delete */
                 FROM CRM_CUST_INFO_CHNG_HST
        <include refid="sqlPkConditions"/>
    </delete>
</mapper>
