<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.cst.dao.CrmCustAsSubmitHistDao">
    <sql id="sqlPkConditions">
    </sql>
    <sql id="sqlCols">
                      AS_SUBMIT_NO                    /*AS접수번호        */
                    , ITG_CUST_NO                    /*통합고객번호        */
                    , BOS_CUST_NO                    /*BOS고객번호        */
                    , CUST_NM                    /*고객명        */
                    , GRADE_CD                    /*등급코드        */
                    , GRADE_NM                    /*등급명        */
                    , SUBMIT_CHL_CD                    /*접수채널코드        */
                    , SUBMIT_CHL_NM                    /*접수채널명        */
                    , MPHON_NO                    /*이동전화번호        */
                    , HOME_TEL_NO                    /*집전화번호        */
                    , WKPLC_TEL_NO                    /*직장전화번호        */
                    , SMS_TGT_DIV_CD                    /*SMS대상구분코드        */
                    , ZIP_CD                    /*우편번호        */
                    , ADDR_1_CTNTS                    /*주소1내용        */
                    , ADDR_2_CTNTS                    /*주소2내용        */
                    , CNTRT_NO                    /*계약번호        */
                    , GODS_SRIAL_NO                    /*제품일련번호        */
                    , CNTRT_DIV_CD                    /*계약구분코드        */
                    , CNTRT_DIV_NM                    /*계약구분명        */
                    , CTGR_CD                    /*카테고리코드        */
                    , CTGR_NM                    /*카테고리명        */
                    , MODEL_CD                    /*모델코드        */
                    , MODEL_NM                    /*모델명        */
                    , SALES_INSTLL_DATE                    /*판매설치일자        */
                    , GODS_EXCHNG_DATE                    /*제품교환일자        */
                    , MTC_MONS_CD                    /*유지보수개월코드        */
                    , CNTRT_EXP_DAY                    /*계약만료일        */
                    , CNSLG_DAY                    /*상담일        */
                    , CNSLG_YMDHMS                    /*상담년월일시분초        */
                    , CSAG_EMP_ID                    /*상담사사원ID        */
                    , CNSLG_PRSN_EMP_NM                    /*상담자사원명        */
                    , AS_TRT_DIV_CD                    /*AS처리구분코드        */
                    , SYMTM_SUBMIT_TEL_NO                    /*증상접수전화번호        */
                    , SYMTM_FILE_ID                    /*증상파일ID        */
                    , SMS_RMARK                    /*SMS비고        */
                    , SUBMIT_RMARK                    /*접수비고        */
                    , VISIT_EXPT_DAY                    /*방문예정일        */
                    , VISIT_EXPT_HOUR                    /*방문예정시간        */
                    , TRT_CMPT_DT                    /*처리완료일시        */
                    , TRT_PIC_EMP_ID                    /*처리담당자사원ID        */
                    , TRT_PIC_NM                    /*처리담당자명        */
                    , INVC_NO                    /*송장번호        */
                    , HOMDLV_CMP_CD                    /*택배회사코드        */
                    , HCALL_TEL_NO                    /*해피콜전화번호        */
                    , TRT_RMARK                    /*처리비고        */
                    , TRT_ATTCH_FILE_ID                    /*처리첨부파일ID        */
                    , TVEXPNS_AMT                    /*출장비금액        */
                    , TOT_AMT                    /*총금액        */
                    , DC_AMT                    /*할인금액        */
                    , PAY_AMT                    /*결제금액        */
                    , DC_CTNTS                    /*할인내용        */
                    , AS_STATUS_CD                    /*AS상태코드        */
                    , GRNT_EXP_DAY                    /*보증만료일        */
                    , BAD_SYMTM_CD                    /*불량증상코드        */
                    , BAD_SYMTM_NM                    /*불량증상명        */
                    , ACTN_PARTS_CD                    /*조치부품코드        */
                    , ACTN_PARTS_NM                    /*조치부품명        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
    </sql>
    <sql id="sqlSelectCols">
                      A.AS_SUBMIT_NO                    /*AS접수번호        */
                    , A.ITG_CUST_NO                    /*통합고객번호        */
                    , A.BOS_CUST_NO                    /*BOS고객번호        */
                    , A.CUST_NM                    /*고객명        */
                    , A.GRADE_CD                    /*등급코드        */
                    , A.GRADE_NM                    /*등급명        */
                    , A.SUBMIT_CHL_CD                    /*접수채널코드        */
                    , A.SUBMIT_CHL_NM                    /*접수채널명        */
                    , A.MPHON_NO                    /*이동전화번호        */
                    , A.HOME_TEL_NO                    /*집전화번호        */
                    , A.WKPLC_TEL_NO                    /*직장전화번호        */
                    , A.SMS_TGT_DIV_CD                    /*SMS대상구분코드        */
                    , A.ZIP_CD                    /*우편번호        */
                    , A.ADDR_1_CTNTS                    /*주소1내용        */
                    , A.ADDR_2_CTNTS                    /*주소2내용        */
                    , A.CNTRT_NO                    /*계약번호        */
                    , A.GODS_SRIAL_NO                    /*제품일련번호        */
                    , A.CNTRT_DIV_CD                    /*계약구분코드        */
                    , A.CNTRT_DIV_NM                    /*계약구분명        */
                    , A.CTGR_CD                    /*카테고리코드        */
                    , A.CTGR_NM                    /*카테고리명        */
                    , A.MODEL_CD                    /*모델코드        */
                    , A.MODEL_NM                    /*모델명        */
                    , A.SALES_INSTLL_DATE                    /*판매설치일자        */
                    , A.GODS_EXCHNG_DATE                    /*제품교환일자        */
                    , A.MTC_MONS_CD                    /*유지보수개월코드        */
                    , A.CNTRT_EXP_DAY                    /*계약만료일        */
                    , A.CNSLG_DAY                    /*상담일        */
                    , A.CNSLG_YMDHMS                    /*상담년월일시분초        */
                    , A.CSAG_EMP_ID                    /*상담사사원ID        */
                    , A.CNSLG_PRSN_EMP_NM                    /*상담자사원명        */
                    , A.AS_TRT_DIV_CD                    /*AS처리구분코드        */
                    , A.SYMTM_SUBMIT_TEL_NO                    /*증상접수전화번호        */
                    , A.SYMTM_FILE_ID                    /*증상파일ID        */
                    , A.SMS_RMARK                    /*SMS비고        */
                    , A.SUBMIT_RMARK                    /*접수비고        */
                    , A.VISIT_EXPT_DAY                    /*방문예정일        */
                    , A.VISIT_EXPT_HOUR                    /*방문예정시간        */
                    , TO_CHAR(A.TRT_CMPT_DT,'YYYYMMDDHH24MISS')    TRT_CMPT_DT                    /*처리완료일시        */
                    , A.TRT_PIC_EMP_ID                    /*처리담당자사원ID        */
                    , A.TRT_PIC_NM                    /*처리담당자명        */
                    , A.INVC_NO                    /*송장번호        */
                    , A.HOMDLV_CMP_CD                    /*택배회사코드        */
                    , A.HCALL_TEL_NO                    /*해피콜전화번호        */
                    , A.TRT_RMARK                    /*처리비고        */
                    , A.TRT_ATTCH_FILE_ID                    /*처리첨부파일ID        */
                    , A.TVEXPNS_AMT                    /*출장비금액        */
                    , A.TOT_AMT                    /*총금액        */
                    , A.DC_AMT                    /*할인금액        */
                    , A.PAY_AMT                    /*결제금액        */
                    , A.DC_CTNTS                    /*할인내용        */
                    , A.AS_STATUS_CD                    /*AS상태코드        */
                    , A.GRNT_EXP_DAY                    /*보증만료일        */
                    , A.BAD_SYMTM_CD                    /*불량증상코드        */
                    , A.BAD_SYMTM_NM                    /*불량증상명        */
                    , A.ACTN_PARTS_CD                    /*조치부품코드        */
                    , A.ACTN_PARTS_NM                    /*조치부품명        */
                    , A.AMDR_ID                    /*수정자ID        */
                    , TO_CHAR(A.AMD_DT,'YYYYMMDDHH24MISS')    AMD_DT                    /*수정일시        */
                    , A.REGR_ID                    /*등록자ID        */
                    , TO_CHAR(A.REG_DT,'YYYYMMDDHH24MISS')    REG_DT                    /*등록일시        */
    </sql>
    <sql id="sqlConditions">
    <where>
        <if test="asSubmitNo != null and asSubmitNo != ''">
                  AND A.AS_SUBMIT_NO    =       #{asSubmitNo}
        </if>
        <if test="itgCustNo != null and itgCustNo != ''">
                  AND A.ITG_CUST_NO     =       #{itgCustNo}
        </if>
        <if test="bosCustNo != null and bosCustNo != ''">
                  AND A.BOS_CUST_NO     =       #{bosCustNo}
        </if>
        <if test="custNm != null and custNm != ''">
                  AND A.CUST_NM         =       #{custNm}
        </if>
        <if test="gradeCd != null and gradeCd != ''">
            <choose>
                <when test="gradeCd instanceof String">
                    AND A.GRADE_CD        =       #{gradeCd}
                </when>
                <otherwise>
                    AND A.GRADE_CD        IN
                    <foreach item="item" index="index" collection="gradeCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="gradeNm != null and gradeNm != ''">
                  AND A.GRADE_NM        =       #{gradeNm}
        </if>
        <if test="submitChlCd != null and submitChlCd != ''">
            <choose>
                <when test="submitChlCd instanceof String">
                    AND A.SUBMIT_CHL_CD   =       #{submitChlCd}
                </when>
                <otherwise>
                    AND A.SUBMIT_CHL_CD   IN
                    <foreach item="item" index="index" collection="submitChlCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="submitChlNm != null and submitChlNm != ''">
                  AND A.SUBMIT_CHL_NM   =       #{submitChlNm}
        </if>
        <if test="mphonNo != null and mphonNo != ''">
                  AND A.MPHON_NO        =       #{mphonNo}
        </if>
        <if test="homeTelNo != null and homeTelNo != ''">
                  AND A.HOME_TEL_NO     =       #{homeTelNo}
        </if>
        <if test="wkplcTelNo != null and wkplcTelNo != ''">
                  AND A.WKPLC_TEL_NO    =       #{wkplcTelNo}
        </if>
        <if test="smsTgtDivCd != null and smsTgtDivCd != ''">
            <choose>
                <when test="smsTgtDivCd instanceof String">
                    AND A.SMS_TGT_DIV_CD  =       #{smsTgtDivCd}
                </when>
                <otherwise>
                    AND A.SMS_TGT_DIV_CD  IN
                    <foreach item="item" index="index" collection="smsTgtDivCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="zipCd != null and zipCd != ''">
            <choose>
                <when test="zipCd instanceof String">
                    AND A.ZIP_CD          =       #{zipCd}
                </when>
                <otherwise>
                    AND A.ZIP_CD          IN
                    <foreach item="item" index="index" collection="zipCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="addr1Ctnts != null and addr1Ctnts != ''">
                  AND A.ADDR_1_CTNTS    =       #{addr1Ctnts}
        </if>
        <if test="addr2Ctnts != null and addr2Ctnts != ''">
                  AND A.ADDR_2_CTNTS    =       #{addr2Ctnts}
        </if>
        <if test="cntrtNo != null and cntrtNo != ''">
                  AND A.CNTRT_NO        =       #{cntrtNo}
        </if>
        <if test="godsSrialNo != null and godsSrialNo != ''">
                  AND A.GODS_SRIAL_NO   =       #{godsSrialNo}
        </if>
        <if test="cntrtDivCd != null and cntrtDivCd != ''">
            <choose>
                <when test="cntrtDivCd instanceof String">
                    AND A.CNTRT_DIV_CD    =       #{cntrtDivCd}
                </when>
                <otherwise>
                    AND A.CNTRT_DIV_CD    IN
                    <foreach item="item" index="index" collection="cntrtDivCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="cntrtDivNm != null and cntrtDivNm != ''">
                  AND A.CNTRT_DIV_NM    =       #{cntrtDivNm}
        </if>
        <if test="ctgrCd != null and ctgrCd != ''">
            <choose>
                <when test="ctgrCd instanceof String">
                    AND A.CTGR_CD         =       #{ctgrCd}
                </when>
                <otherwise>
                    AND A.CTGR_CD         IN
                    <foreach item="item" index="index" collection="ctgrCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="ctgrNm != null and ctgrNm != ''">
                  AND A.CTGR_NM         =       #{ctgrNm}
        </if>
        <if test="modelCd != null and modelCd != ''">
            <choose>
                <when test="modelCd instanceof String">
                    AND A.MODEL_CD        =       #{modelCd}
                </when>
                <otherwise>
                    AND A.MODEL_CD        IN
                    <foreach item="item" index="index" collection="modelCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="modelNm != null and modelNm != ''">
                  AND A.MODEL_NM        =       #{modelNm}
        </if>
        <if test="salesInstllDate != null and salesInstllDate != ''">
                  AND A.SALES_INSTLL_DATE=       #{salesInstllDate}
        </if>
        <if test="godsExchngDate != null and godsExchngDate != ''">
                  AND A.GODS_EXCHNG_DATE=       #{godsExchngDate}
        </if>
        <if test="mtcMonsCd != null and mtcMonsCd != ''">
            <choose>
                <when test="mtcMonsCd instanceof String">
                    AND A.MTC_MONS_CD     =       #{mtcMonsCd}
                </when>
                <otherwise>
                    AND A.MTC_MONS_CD     IN
                    <foreach item="item" index="index" collection="mtcMonsCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="cntrtExpDay != null and cntrtExpDay != ''">
                  AND A.CNTRT_EXP_DAY   =       #{cntrtExpDay}
        </if>
        <if test="cnslgDay != null and cnslgDay != ''">
                  AND A.CNSLG_DAY       =       #{cnslgDay}
        </if>
        <if test="cnslgYmdhms != null and cnslgYmdhms != ''">
                  AND A.CNSLG_YMDHMS    =       #{cnslgYmdhms}
        </if>
        <if test="csagEmpId != null and csagEmpId != ''">
                  AND A.CSAG_EMP_ID     =       #{csagEmpId}
        </if>
        <if test="cnslgPrsnEmpNm != null and cnslgPrsnEmpNm != ''">
                  AND A.CNSLG_PRSN_EMP_NM=       #{cnslgPrsnEmpNm}
        </if>
        <if test="asTrtDivCd != null and asTrtDivCd != ''">
            <choose>
                <when test="asTrtDivCd instanceof String">
                    AND A.AS_TRT_DIV_CD   =       #{asTrtDivCd}
                </when>
                <otherwise>
                    AND A.AS_TRT_DIV_CD   IN
                    <foreach item="item" index="index" collection="asTrtDivCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="symtmSubmitTelNo != null and symtmSubmitTelNo != ''">
                  AND A.SYMTM_SUBMIT_TEL_NO=       #{symtmSubmitTelNo}
        </if>
        <if test="symtmFileId != null and symtmFileId != ''">
                  AND A.SYMTM_FILE_ID   =       #{symtmFileId}
        </if>
        <if test="smsRmark != null and smsRmark != ''">
                  AND A.SMS_RMARK       =       #{smsRmark}
        </if>
        <if test="submitRmark != null and submitRmark != ''">
                  AND A.SUBMIT_RMARK    =       #{submitRmark}
        </if>
        <if test="visitExptDay != null and visitExptDay != ''">
                  AND A.VISIT_EXPT_DAY  =       #{visitExptDay}
        </if>
        <if test="visitExptHour != null and visitExptHour != ''">
                  AND A.VISIT_EXPT_HOUR =       #{visitExptHour}
        </if>
        <if test="trtCmptDt != null and trtCmptDt != ''">
                  AND A.TRT_CMPT_DT     =       TO_DATE(#{trtCmptDt},'YYYYMMDDHH24MISS')
        </if>
        <if test="trtPicEmpId != null and trtPicEmpId != ''">
                  AND A.TRT_PIC_EMP_ID  =       #{trtPicEmpId}
        </if>
        <if test="trtPicNm != null and trtPicNm != ''">
                  AND A.TRT_PIC_NM      =       #{trtPicNm}
        </if>
        <if test="invcNo != null and invcNo != ''">
                  AND A.INVC_NO         =       #{invcNo}
        </if>
        <if test="homdlvCmpCd != null and homdlvCmpCd != ''">
            <choose>
                <when test="homdlvCmpCd instanceof String">
                    AND A.HOMDLV_CMP_CD   =       #{homdlvCmpCd}
                </when>
                <otherwise>
                    AND A.HOMDLV_CMP_CD   IN
                    <foreach item="item" index="index" collection="homdlvCmpCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="hcallTelNo != null and hcallTelNo != ''">
                  AND A.HCALL_TEL_NO    =       #{hcallTelNo}
        </if>
        <if test="trtRmark != null and trtRmark != ''">
                  AND A.TRT_RMARK       =       #{trtRmark}
        </if>
        <if test="trtAttchFileId != null and trtAttchFileId != ''">
                  AND A.TRT_ATTCH_FILE_ID=       #{trtAttchFileId}
        </if>
        <if test="tvexpnsAmt != null and tvexpnsAmt != ''">
                  AND A.TVEXPNS_AMT     =       #{tvexpnsAmt}
        </if>
        <if test="totAmt != null and totAmt != ''">
                  AND A.TOT_AMT         =       #{totAmt}
        </if>
        <if test="dcAmt != null and dcAmt != ''">
                  AND A.DC_AMT          =       #{dcAmt}
        </if>
        <if test="payAmt != null and payAmt != ''">
                  AND A.PAY_AMT         =       #{payAmt}
        </if>
        <if test="dcCtnts != null and dcCtnts != ''">
                  AND A.DC_CTNTS        =       #{dcCtnts}
        </if>
        <if test="asStatusCd != null and asStatusCd != ''">
            <choose>
                <when test="asStatusCd instanceof String">
                    AND A.AS_STATUS_CD    =       #{asStatusCd}
                </when>
                <otherwise>
                    AND A.AS_STATUS_CD    IN
                    <foreach item="item" index="index" collection="asStatusCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="grntExpDay != null and grntExpDay != ''">
                  AND A.GRNT_EXP_DAY    =       #{grntExpDay}
        </if>
        <if test="badSymtmCd != null and badSymtmCd != ''">
            <choose>
                <when test="badSymtmCd instanceof String">
                    AND A.BAD_SYMTM_CD    =       #{badSymtmCd}
                </when>
                <otherwise>
                    AND A.BAD_SYMTM_CD    IN
                    <foreach item="item" index="index" collection="badSymtmCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="badSymtmNm != null and badSymtmNm != ''">
                  AND A.BAD_SYMTM_NM    =       #{badSymtmNm}
        </if>
        <if test="actnPartsCd != null and actnPartsCd != ''">
            <choose>
                <when test="actnPartsCd instanceof String">
                    AND A.ACTN_PARTS_CD   =       #{actnPartsCd}
                </when>
                <otherwise>
                    AND A.ACTN_PARTS_CD   IN
                    <foreach item="item" index="index" collection="actnPartsCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="actnPartsNm != null and actnPartsNm != ''">
                  AND A.ACTN_PARTS_NM   =       #{actnPartsNm}
        </if>
        </where>
    </sql>
    <sql id="sqlOrderBy">
        <choose>
            <when test="colSortName ==null or colSortName == ''">
                ORDER BY      REG_DT DESC
            </when>
            <when test="colSortName.equals('asSubmitNo')">
                ORDER BY      AS_SUBMIT_NO
            </when>
            <when test="colSortName.equals('itgCustNo')">
                ORDER BY      ITG_CUST_NO
            </when>
            <when test="colSortName.equals('bosCustNo')">
                ORDER BY      BOS_CUST_NO
            </when>
            <when test="colSortName.equals('custNm')">
                ORDER BY      CUST_NM
            </when>
            <when test="colSortName.equals('gradeCd')">
                ORDER BY      GRADE_CD
            </when>
            <when test="colSortName.equals('gradeNm')">
                ORDER BY      GRADE_NM
            </when>
            <when test="colSortName.equals('submitChlCd')">
                ORDER BY      SUBMIT_CHL_CD
            </when>
            <when test="colSortName.equals('submitChlNm')">
                ORDER BY      SUBMIT_CHL_NM
            </when>
            <when test="colSortName.equals('mphonNo')">
                ORDER BY      MPHON_NO
            </when>
            <when test="colSortName.equals('homeTelNo')">
                ORDER BY      HOME_TEL_NO
            </when>
            <when test="colSortName.equals('wkplcTelNo')">
                ORDER BY      WKPLC_TEL_NO
            </when>
            <when test="colSortName.equals('smsTgtDivCd')">
                ORDER BY      SMS_TGT_DIV_CD
            </when>
            <when test="colSortName.equals('zipCd')">
                ORDER BY      ZIP_CD
            </when>
            <when test="colSortName.equals('addr1Ctnts')">
                ORDER BY      ADDR_1_CTNTS
            </when>
            <when test="colSortName.equals('addr2Ctnts')">
                ORDER BY      ADDR_2_CTNTS
            </when>
            <when test="colSortName.equals('cntrtNo')">
                ORDER BY      CNTRT_NO
            </when>
            <when test="colSortName.equals('godsSrialNo')">
                ORDER BY      GODS_SRIAL_NO
            </when>
            <when test="colSortName.equals('cntrtDivCd')">
                ORDER BY      CNTRT_DIV_CD
            </when>
            <when test="colSortName.equals('cntrtDivNm')">
                ORDER BY      CNTRT_DIV_NM
            </when>
            <when test="colSortName.equals('ctgrCd')">
                ORDER BY      CTGR_CD
            </when>
            <when test="colSortName.equals('ctgrNm')">
                ORDER BY      CTGR_NM
            </when>
            <when test="colSortName.equals('modelCd')">
                ORDER BY      MODEL_CD
            </when>
            <when test="colSortName.equals('modelNm')">
                ORDER BY      MODEL_NM
            </when>
            <when test="colSortName.equals('salesInstllDate')">
                ORDER BY      SALES_INSTLL_DATE
            </when>
            <when test="colSortName.equals('godsExchngDate')">
                ORDER BY      GODS_EXCHNG_DATE
            </when>
            <when test="colSortName.equals('mtcMonsCd')">
                ORDER BY      MTC_MONS_CD
            </when>
            <when test="colSortName.equals('cntrtExpDay')">
                ORDER BY      CNTRT_EXP_DAY
            </when>
            <when test="colSortName.equals('cnslgDay')">
                ORDER BY      CNSLG_DAY
            </when>
            <when test="colSortName.equals('cnslgYmdhms')">
                ORDER BY      CNSLG_YMDHMS
            </when>
            <when test="colSortName.equals('csagEmpId')">
                ORDER BY      CSAG_EMP_ID
            </when>
            <when test="colSortName.equals('cnslgPrsnEmpNm')">
                ORDER BY      CNSLG_PRSN_EMP_NM
            </when>
            <when test="colSortName.equals('asTrtDivCd')">
                ORDER BY      AS_TRT_DIV_CD
            </when>
            <when test="colSortName.equals('symtmSubmitTelNo')">
                ORDER BY      SYMTM_SUBMIT_TEL_NO
            </when>
            <when test="colSortName.equals('symtmFileId')">
                ORDER BY      SYMTM_FILE_ID
            </when>
            <when test="colSortName.equals('smsRmark')">
                ORDER BY      SMS_RMARK
            </when>
            <when test="colSortName.equals('submitRmark')">
                ORDER BY      SUBMIT_RMARK
            </when>
            <when test="colSortName.equals('visitExptDay')">
                ORDER BY      VISIT_EXPT_DAY
            </when>
            <when test="colSortName.equals('visitExptHour')">
                ORDER BY      VISIT_EXPT_HOUR
            </when>
            <when test="colSortName.equals('trtCmptDt')">
                ORDER BY      TRT_CMPT_DT
            </when>
            <when test="colSortName.equals('trtPicEmpId')">
                ORDER BY      TRT_PIC_EMP_ID
            </when>
            <when test="colSortName.equals('trtPicNm')">
                ORDER BY      TRT_PIC_NM
            </when>
            <when test="colSortName.equals('invcNo')">
                ORDER BY      INVC_NO
            </when>
            <when test="colSortName.equals('homdlvCmpCd')">
                ORDER BY      HOMDLV_CMP_CD
            </when>
            <when test="colSortName.equals('hcallTelNo')">
                ORDER BY      HCALL_TEL_NO
            </when>
            <when test="colSortName.equals('trtRmark')">
                ORDER BY      TRT_RMARK
            </when>
            <when test="colSortName.equals('trtAttchFileId')">
                ORDER BY      TRT_ATTCH_FILE_ID
            </when>
            <when test="colSortName.equals('tvexpnsAmt')">
                ORDER BY      TVEXPNS_AMT
            </when>
            <when test="colSortName.equals('totAmt')">
                ORDER BY      TOT_AMT
            </when>
            <when test="colSortName.equals('dcAmt')">
                ORDER BY      DC_AMT
            </when>
            <when test="colSortName.equals('payAmt')">
                ORDER BY      PAY_AMT
            </when>
            <when test="colSortName.equals('dcCtnts')">
                ORDER BY      DC_CTNTS
            </when>
            <when test="colSortName.equals('asStatusCd')">
                ORDER BY      AS_STATUS_CD
            </when>
            <when test="colSortName.equals('grntExpDay')">
                ORDER BY      GRNT_EXP_DAY
            </when>
            <when test="colSortName.equals('badSymtmCd')">
                ORDER BY      BAD_SYMTM_CD
            </when>
            <when test="colSortName.equals('badSymtmNm')">
                ORDER BY      BAD_SYMTM_NM
            </when>
            <when test="colSortName.equals('actnPartsCd')">
                ORDER BY      ACTN_PARTS_CD
            </when>
            <when test="colSortName.equals('actnPartsNm')">
                ORDER BY      ACTN_PARTS_NM
            </when>
            <when test="colSortName.equals('amdrId')">
                ORDER BY      AMDR_ID
            </when>
            <when test="colSortName.equals('amdDt')">
                ORDER BY      AMD_DT
            </when>
            <when test="colSortName.equals('regrId')">
                ORDER BY      REGR_ID
            </when>
            <when test="colSortName.equals('regDt')">
                ORDER BY      REG_DT
            </when>
            <otherwise>
                ORDER BY      REG_DT
            </otherwise>
        </choose>
        <if test="colSortName !=null and colSortDir !='' and colSortDir !=null and colSortDir !='' and colSortDir.equals('desc')">
            DESC
        </if>
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT COUNT(1)
                 FROM CRM_CUST_AS_SUBMIT_HST A
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.ceragem.crm.cst.model.CrmCustAsSubmitHistVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
               SELECT /*selectList*/<include refid="sqlSelectCols"/>
                 FROM CRM_CUST_AS_SUBMIT_HST A
        <include refid="sqlConditions"/>
        <include refid="sqlOrderBy"/>
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.ceragem.crm.cst.model.CrmCustAsSubmitHistVo">
               SELECT /*select*/<include refid="sqlSelectCols"/>
                 FROM CRM_CUST_AS_SUBMIT_HST A
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
                INSERT INTO CRM_CUST_AS_SUBMIT_HST (
        <include refid="sqlCols"/>
                 ) VALUES (
                       #{asSubmitNo}
                     , #{itgCustNo}
                     , #{bosCustNo}
                     , #{custNm}
                     , #{gradeCd}
                     , #{gradeNm}
                     , #{submitChlCd}
                     , #{submitChlNm}
                     , #{mphonNo}
                     , #{homeTelNo}
                     , #{wkplcTelNo}
                     , #{smsTgtDivCd}
                     , #{zipCd}
                     , #{addr1Ctnts}
                     , #{addr2Ctnts}
                     , #{cntrtNo}
                     , #{godsSrialNo}
                     , #{cntrtDivCd}
                     , #{cntrtDivNm}
                     , #{ctgrCd}
                     , #{ctgrNm}
                     , #{modelCd}
                     , #{modelNm}
                     , #{salesInstllDate}
                     , #{godsExchngDate}
                     , #{mtcMonsCd}
                     , #{cntrtExpDay}
                     , #{cnslgDay}
                     , #{cnslgYmdhms}
                     , #{csagEmpId}
                     , #{cnslgPrsnEmpNm}
                     , #{asTrtDivCd}
                     , #{symtmSubmitTelNo}
                     , #{symtmFileId}
                     , #{smsRmark}
                     , #{submitRmark}
                     , #{visitExptDay}
                     , #{visitExptHour}
                     , TO_DATE(#{trtCmptDt},'YYYYMMDDHH24MISS')
                     , #{trtPicEmpId}
                     , #{trtPicNm}
                     , #{invcNo}
                     , #{homdlvCmpCd}
                     , #{hcallTelNo}
                     , #{trtRmark}
                     , #{trtAttchFileId}
                     , #{tvexpnsAmt}
                     , #{totAmt}
                     , #{dcAmt}
                     , #{payAmt}
                     , #{dcCtnts}
                     , #{asStatusCd}
                     , #{grntExpDay}
                     , #{badSymtmCd}
                     , #{badSymtmNm}
                     , #{actnPartsCd}
                     , #{actnPartsNm}
                     , #{amdrId}
                     , SYSDATE
                     , #{regrId}
                     , SYSDATE
                 )
    </insert>
    <update id="update">
               UPDATE CRM_CUST_AS_SUBMIT_HST
                  SET AS_SUBMIT_NO                            =         #{asSubmitNo}
                    , ITG_CUST_NO                             =         #{itgCustNo}
                    , BOS_CUST_NO                             =         #{bosCustNo}
                    , CUST_NM                                 =         #{custNm}
                    , GRADE_CD                                =         #{gradeCd}
                    , GRADE_NM                                =         #{gradeNm}
                    , SUBMIT_CHL_CD                           =         #{submitChlCd}
                    , SUBMIT_CHL_NM                           =         #{submitChlNm}
                    , MPHON_NO                                =         #{mphonNo}
                    , HOME_TEL_NO                             =         #{homeTelNo}
                    , WKPLC_TEL_NO                            =         #{wkplcTelNo}
                    , SMS_TGT_DIV_CD                          =         #{smsTgtDivCd}
                    , ZIP_CD                                  =         #{zipCd}
                    , ADDR_1_CTNTS                            =         #{addr1Ctnts}
                    , ADDR_2_CTNTS                            =         #{addr2Ctnts}
                    , CNTRT_NO                                =         #{cntrtNo}
                    , GODS_SRIAL_NO                           =         #{godsSrialNo}
                    , CNTRT_DIV_CD                            =         #{cntrtDivCd}
                    , CNTRT_DIV_NM                            =         #{cntrtDivNm}
                    , CTGR_CD                                 =         #{ctgrCd}
                    , CTGR_NM                                 =         #{ctgrNm}
                    , MODEL_CD                                =         #{modelCd}
                    , MODEL_NM                                =         #{modelNm}
                    , SALES_INSTLL_DATE                       =         #{salesInstllDate}
                    , GODS_EXCHNG_DATE                        =         #{godsExchngDate}
                    , MTC_MONS_CD                             =         #{mtcMonsCd}
                    , CNTRT_EXP_DAY                           =         #{cntrtExpDay}
                    , CNSLG_DAY                               =         #{cnslgDay}
                    , CNSLG_YMDHMS                            =         #{cnslgYmdhms}
                    , CSAG_EMP_ID                             =         #{csagEmpId}
                    , CNSLG_PRSN_EMP_NM                       =         #{cnslgPrsnEmpNm}
                    , AS_TRT_DIV_CD                           =         #{asTrtDivCd}
                    , SYMTM_SUBMIT_TEL_NO                     =         #{symtmSubmitTelNo}
                    , SYMTM_FILE_ID                           =         #{symtmFileId}
                    , SMS_RMARK                               =         #{smsRmark}
                    , SUBMIT_RMARK                            =         #{submitRmark}
                    , VISIT_EXPT_DAY                          =         #{visitExptDay}
                    , VISIT_EXPT_HOUR                         =         #{visitExptHour}
                    , TRT_CMPT_DT                             =         TO_DATE(#{trtCmptDt},'YYYYMMDDHH24MISS')
                    , TRT_PIC_EMP_ID                          =         #{trtPicEmpId}
                    , TRT_PIC_NM                              =         #{trtPicNm}
                    , INVC_NO                                 =         #{invcNo}
                    , HOMDLV_CMP_CD                           =         #{homdlvCmpCd}
                    , HCALL_TEL_NO                            =         #{hcallTelNo}
                    , TRT_RMARK                               =         #{trtRmark}
                    , TRT_ATTCH_FILE_ID                       =         #{trtAttchFileId}
                    , TVEXPNS_AMT                             =         #{tvexpnsAmt}
                    , TOT_AMT                                 =         #{totAmt}
                    , DC_AMT                                  =         #{dcAmt}
                    , PAY_AMT                                 =         #{payAmt}
                    , DC_CTNTS                                =         #{dcCtnts}
                    , AS_STATUS_CD                            =         #{asStatusCd}
                    , GRNT_EXP_DAY                            =         #{grntExpDay}
                    , BAD_SYMTM_CD                            =         #{badSymtmCd}
                    , BAD_SYMTM_NM                            =         #{badSymtmNm}
                    , ACTN_PARTS_CD                           =         #{actnPartsCd}
                    , ACTN_PARTS_NM                           =         #{actnPartsNm}
                    , AMDR_ID                                 =         #{amdrId}
                    , AMD_DT                                  =         SYSDATE
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE FROM CRM_CUST_AS_SUBMIT_HST
        <include refid="sqlPkConditions"/>
    </delete>
</mapper>
