<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.cst.dao.CrmCustPatronStorBasDao">
    <sql id="sqlPkConditions">
                WHERE PATRON_STOR_SEQ   =       #{patronStorSeq}
    </sql>
    <sql id="sqlCols">
                      PATRON_STOR_SEQ                    /*단골매장일련번호        */
                    , ITG_CUST_NO                    /*통합고객번호        */
                    , STOR_NO                    /*매장번호        */
                    , STOR_CHL_CD                    /*매장채널코드        */
                    , RCNTLY_VISIT_DT                    /*최근방문일시        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
                    , REG_CHL_CD                    /*등록채널코드        공통코드 : S000        [CRM : CRM , CTC : 상담 , AS : AS , SAP : SAP , POS : POS]*/
    </sql>
    <sql id="sqlSelectCols">
                      A.PATRON_STOR_SEQ                    /*단골매장일련번호        */
                    , A.ITG_CUST_NO                    /*통합고객번호        */
                    , A.STOR_NO                    /*매장번호        */
                    , (
			            SELECT  
			                  STOR_NM												
			            FROM CRM_STOR_BAS
			            WHERE STOR_NO = A.STOR_NO
			            AND   STOR_STATUS_CD = '01'
				  	  ) AS STOR_NM 					/*매장명*/ 
                    , (
                        SELECT  
                              STOR_CHL_CD                                               
                        FROM CRM_STOR_BAS
                        WHERE STOR_NO = A.STOR_NO
                        AND   STOR_STATUS_CD = '01'
                      ) AS STOR_CHL_CD                  /*매장채널코드*/        
                    -- , A.STOR_CHL_CD                    /*매장채널코드        */
                    , TO_CHAR(A.RCNTLY_VISIT_DT,'YYYYMMDDHH24MISS')    RCNTLY_VISIT_DT                    /*최근방문일시        */
                    , A.AMDR_ID                    /*수정자ID        */
                    , TO_CHAR(A.AMD_DT,'YYYYMMDDHH24MISS')    AMD_DT                    /*수정일시        */
                    , A.REGR_ID                    /*등록자ID        */
                    , TO_CHAR(A.REG_DT,'YYYYMMDDHH24MISS')    REG_DT                    /*등록일시        */
                    , A.REG_CHL_CD                    /*등록채널코드        공통코드 : S000        [CRM : CRM , CTC : 상담 , AS : AS , SAP : SAP , POS : POS]*/
    </sql>
    <sql id="sqlConditions">
    <where>
        <if test="patronStorSeq != null and patronStorSeq != ''">
                  AND A.PATRON_STOR_SEQ =       #{patronStorSeq}
        </if>
        <if test="itgCustNo != null and itgCustNo != ''">
                  AND A.ITG_CUST_NO     =       #{itgCustNo}
        </if>
        <if test="storNo != null and storNo != ''">
                  AND A.STOR_NO         =       #{storNo}
        </if>
        <if test="storChlCd != null and storChlCd != ''">
            <choose>
                <when test="storChlCd instanceof String">
                    AND A.STOR_CHL_CD     =       #{storChlCd}
                </when>
                <otherwise>
                    AND A.STOR_CHL_CD     IN
                    <foreach item="item" index="index" collection="storChlCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="strtDt != null and strtDt != ''">
                      AND A.RCNTLY_VISIT_DT      >=       TO_DATE(#{strtDt},'YYYYMMDDHH24MISS')
        </if>
        <if test="endDt != null and endDt != ''">
                      AND TO_DATE(#{endDt},'YYYYMMDDHH24MISS') + 1 > A.RCNTLY_VISIT_DT
        </if>            
<!--         <if test="rcntlyVisitDt != null and rcntlyVisitDt != ''"> -->
<!--                   AND A.RCNTLY_VISIT_DT =       TO_DATE(#{rcntlyVisitDt},'YYYYMMDDHH24MISS') -->
<!--         </if> -->
        <if test="regChlCd != null and regChlCd != ''">
            <choose>
                <when test="regChlCd instanceof String">
                    AND A.REG_CHL_CD      =       #{regChlCd}
                </when>
                <otherwise>
                    AND A.REG_CHL_CD      IN
                    <foreach item="item" index="index" collection="regChlCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        </where>
    </sql>
    <sql id="sqlOrderBy">
        <choose>
            <when test="colSortName ==null or colSortName == ''">
                ORDER BY      REG_DT DESC
            </when>
            <when test="colSortName.equals('patronStorSeq')">
                ORDER BY      PATRON_STOR_SEQ
            </when>
            <when test="colSortName.equals('itgCustNo')">
                ORDER BY      ITG_CUST_NO
            </when>
            <when test="colSortName.equals('storNo')">
                ORDER BY      STOR_NO
            </when>
            <when test="colSortName.equals('storChlCd')">
                ORDER BY      STOR_CHL_CD
            </when>
            <when test="colSortName.equals('rcntlyVisitDt')">
                ORDER BY      RCNTLY_VISIT_DT
            </when>
            <when test="colSortName.equals('amdrId')">
                ORDER BY      AMDR_ID
            </when>
            <when test="colSortName.equals('amdDt')">
                ORDER BY      AMD_DT
            </when>
            <when test="colSortName.equals('regrId')">
                ORDER BY      REGR_ID
            </when>
            <when test="colSortName.equals('regDt')">
                ORDER BY      REG_DT
            </when>
            <when test="colSortName.equals('regChlCd')">
                ORDER BY      REG_CHL_CD
            </when>
            <otherwise>
                ORDER BY      REG_DT
            </otherwise>
        </choose>
        <if test="colSortName !=null and colSortDir !='' and colSortDir !=null and colSortDir !='' and colSortDir.equals('desc')">
            DESC
        </if>
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT /* com.ceragem.crm.cst.dao.CrmCustPatronStorBasDao.selectListCount */ COUNT(1)
                 FROM CRM_CUST_PATRON_STOR_BAS A
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.ceragem.crm.cst.model.CrmCustPatronStorBasVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
               SELECT /* com.ceragem.crm.cst.dao.CrmCustPatronStorBasDao.selectList */ <include refid="sqlSelectCols"/>
                 FROM CRM_CUST_PATRON_STOR_BAS A
        <include refid="sqlConditions"/>
        <include refid="sqlOrderBy"/>
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.ceragem.crm.cst.model.CrmCustPatronStorBasVo">
               SELECT /* com.ceragem.crm.cst.dao.CrmCustPatronStorBasDao.select */ <include refid="sqlSelectCols"/>
                 FROM CRM_CUST_PATRON_STOR_BAS A
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
                INSERT /* com.ceragem.crm.cst.dao.CrmCustPatronStorBasDao.insert */ INTO CRM_CUST_PATRON_STOR_BAS (
        <include refid="sqlCols"/>
                 ) VALUES (
                       #{patronStorSeq}
                     , #{itgCustNo}
                     , #{storNo}
                     , #{storChlCd}
                     , TO_DATE(#{rcntlyVisitDt},'YYYYMMDDHH24MISS')
                     , #{amdrId}
                     , SYSDATE
                     , #{regrId}
                     , SYSDATE
                     , #{regChlCd}
                 )
    </insert>
    <update id="update">
               UPDATE /* com.ceragem.crm.cst.dao.CrmCustPatronStorBasDao.update */ CRM_CUST_PATRON_STOR_BAS
                  SET ITG_CUST_NO                             =         #{itgCustNo}
                    , STOR_NO                                 =         #{storNo}
                    , STOR_CHL_CD                             =         #{storChlCd}
                    , RCNTLY_VISIT_DT                         =         TO_DATE(#{rcntlyVisitDt},'YYYYMMDDHH24MISS')
                    , AMDR_ID                                 =         #{amdrId}
                    , AMD_DT                                  =         SYSDATE
                    , REG_CHL_CD                              =         #{regChlCd}
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE /* com.ceragem.crm.cst.dao.CrmCustPatronStorBasDao.delete */
                 FROM CRM_CUST_PATRON_STOR_BAS
        <include refid="sqlPkConditions"/>
    </delete>
</mapper>
