<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.cst.dao.CrmCustCntplcBasDao">
    <sql id="sqlPkConditions">
                WHERE CNTPLC_SEQ        =       #{cntplcSeq}
    </sql>
    <sql id="sqlCols">
                      CNTPLC_SEQ                    /*연락처일련번호        */
                    , ITG_CUST_NO                    /*통합고객번호        */
                    , CNTPLC_TYPE_CD                    /*연락처유형코드        공통코드 : CU300        [001 : 설치장소 , 002 : 직장 , 003 : 자택 , 004 : 휴대전화]*/
                    , REP_CNTPLC_YN                    /*대표연락처여부        */
                    , TEL_NO                    /*전화번호        */
                    , TEL_BK_DGT_NO                    /*전화뒤자리번호        */
                    , ADDR_1_CTNTS                    /*주소1내용        */
                    , ADDR_2_CTNTS                    /*주소2내용        */
                    , EMAIL_ADDR                    /*이메일주소        */                    
                    , EMAIL_ADDR                    /*이메일주소        */
                    , REG_CHL_CD                    /*등록채널코드        공통코드 : S000        [CRM : CRM , CTC : 상담 , AS : AS , SAP : SAP]*/
                    , DEL_YN                    /*삭제여부        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
    </sql>
    <sql id="sqlSelectCols">
                      A.CNTPLC_SEQ                    /*연락처일련번호        */
                    , A.ITG_CUST_NO                    /*통합고객번호        */
                    , A.CNTPLC_TYPE_CD                    /*연락처유형코드        공통코드 : CU300        [001 : 설치장소 , 002 : 직장 , 003 : 자택 , 004 : 휴대전화]*/
                    , A.REP_CNTPLC_YN                    /*대표연락처여부        */
                    , '010-****-' || A.TEL_BK_DGT_NO TEL_NO                    /*전화번호        */
                    , A.TEL_NO TEL_NO_ENC_VAL                    /*전화번호암호화값        */
                    , A.TEL_BK_DGT_NO                    /*전화뒤자리번호        */
                    , A.ZIP_CD                    /*우편번호        */
                    , A.ADDR_1_CTNTS                    /*주소1내용        */
                    , A.ADDR_2_CTNTS                    /*주소2내용        */                    
                    , A.EMAIL_ADDR                    /*이메일주소        */
                    , A.REG_CHL_CD                    /*등록채널코드        공통코드 : S000        [CRM : CRM , CTC : 상담 , AS : AS , SAP : SAP]*/
                    , A.DEL_YN                    /*삭제여부        */
                    , A.AMDR_ID                    /*수정자ID        */
                    , TO_CHAR(A.AMD_DT,'YYYYMMDDHH24MISS')    AMD_DT                    /*수정일시        */
                    , A.REGR_ID                    /*등록자ID        */
                    , TO_CHAR(A.REG_DT,'YYYYMMDDHH24MISS')    REG_DT                    /*등록일시        */
    </sql>
    <sql id="sqlConditions">
    <where>
        <if test="cntplcSeq != null and cntplcSeq != ''">
                  AND A.CNTPLC_SEQ      =       #{cntplcSeq}
        </if>
        <if test="itgCustNo != null and itgCustNo != ''">
                  AND A.ITG_CUST_NO     =       #{itgCustNo}
        </if>
        <if test="cntplcTypeCd != null and cntplcTypeCd != ''">
            <choose>
                <when test="cntplcTypeCd instanceof String">
                    AND A.CNTPLC_TYPE_CD  =       #{cntplcTypeCd}
                </when>
                <otherwise>
                    AND A.CNTPLC_TYPE_CD  IN
                    <foreach item="item" index="index" collection="cntplcTypeCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="repCntplcYn != null and repCntplcYn != ''">
                  AND A.REP_CNTPLC_YN   =       #{repCntplcYn}
        </if>
        <if test="telNo != null and telNo != ''">
                  AND A.TEL_NO          =       #{telNo}
        </if>
        <if test="telNoEncVal != null and telNoEncVal != ''">
                  AND A.TEL_NO  =       #{telNoEncVal}
        </if>
        <if test="telBkDgtNo != null and telBkDgtNo != ''">
                  AND A.TEL_BK_DGT_NO   =       #{telBkDgtNo}
        </if>
        <if test="zipCd != null and zipCd != ''">
            <choose>
                <when test="zipCd instanceof String">
                    AND A.ZIP_CD          =       #{zipCd}
                </when>
                <otherwise>
                    AND A.ZIP_CD          IN
                    <foreach item="item" index="index" collection="zipCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="addr1Ctnts != null and addr1Ctnts != ''">
                  AND A.ADDR_1_CTNTS    =       #{addr1Ctnts}
        </if>
        <if test="addr2Ctnts != null and addr2Ctnts != ''">
                  AND A.ADDR_2_CTNTS    =       #{addr2Ctnts}
        </if>        
        <if test="emailAddr != null and emailAddr != ''">
                  AND A.EMAIL_ADDR      =       #{emailAddr}
        </if>
        <if test="regChlCd != null and regChlCd != ''">
            <choose>
                <when test="regChlCd instanceof String">
                    AND A.REG_CHL_CD      =       #{regChlCd}
                </when>
                <otherwise>
                    AND A.REG_CHL_CD      IN
                    <foreach item="item" index="index" collection="regChlCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="delYn != null and delYn != ''">
                  AND A.DEL_YN          =       #{delYn}
        </if>
        </where>
    </sql>
    <sql id="sqlOrderBy">
        <choose>
            <when test="colSortName ==null or colSortName == ''">
                ORDER BY      REG_DT DESC
            </when>
            <when test="colSortName.equals('cntplcSeq')">
                ORDER BY      CNTPLC_SEQ
            </when>
            <when test="colSortName.equals('itgCustNo')">
                ORDER BY      ITG_CUST_NO
            </when>
            <when test="colSortName.equals('cntplcTypeCd')">
                ORDER BY      CNTPLC_TYPE_CD
            </when>
            <when test="colSortName.equals('repCntplcYn')">
                ORDER BY      REP_CNTPLC_YN
            </when>
            <when test="colSortName.equals('telNo')">
                ORDER BY      TEL_NO
            </when>
            <when test="colSortName.equals('telNoEncVal')">
                ORDER BY      TEL_NO
            </when>
            <when test="colSortName.equals('telBkDgtNo')">
                ORDER BY      TEL_BK_DGT_NO
            </when>
            <when test="colSortName.equals('zipCd')">
                ORDER BY      ZIP_CD
            </when>
            <when test="colSortName.equals('addr1Ctnts')">
                ORDER BY      ADDR_1_CTNTS
            </when>
            <when test="colSortName.equals('addr2Ctnts')">
                ORDER BY      ADDR_2_CTNTS
            </when>
            <when test="colSortName.equals('emailAddr')">
                ORDER BY      EMAIL_ADDR
            </when>
            <when test="colSortName.equals('regChlCd')">
                ORDER BY      REG_CHL_CD
            </when>
            <when test="colSortName.equals('delYn')">
                ORDER BY      DEL_YN
            </when>
            <when test="colSortName.equals('amdrId')">
                ORDER BY      AMDR_ID
            </when>
            <when test="colSortName.equals('amdDt')">
                ORDER BY      AMD_DT
            </when>
            <when test="colSortName.equals('regrId')">
                ORDER BY      REGR_ID
            </when>
            <when test="colSortName.equals('regDt')">
                ORDER BY      REG_DT
            </when>
            <otherwise>
                ORDER BY      REG_DT
            </otherwise>
        </choose>
        <if test="colSortName !=null and colSortDir !='' and colSortDir !=null and colSortDir !='' and colSortDir.equals('desc')">
            DESC
        </if>
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT COUNT(1)
                 FROM CRM_CUST_CNTPLC_BAS A
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.ceragem.crm.cst.model.CrmCustCntplcBasVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
               SELECT /*selectList*/<include refid="sqlSelectCols"/>
                 FROM CRM_CUST_CNTPLC_BAS A
        <include refid="sqlConditions"/>
        <include refid="sqlOrderBy"/>
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.ceragem.crm.cst.model.CrmCustCntplcBasVo">
               SELECT /*select*/<include refid="sqlSelectCols"/>
                 FROM CRM_CUST_CNTPLC_BAS A
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
                INSERT INTO CRM_CUST_CNTPLC_BAS (
        <include refid="sqlCols"/>
                 ) VALUES (
                       #{cntplcSeq}
                     , #{itgCustNo}
                     , #{cntplcTypeCd}
                     , NVL(#{repCntplcYn},'N')
                     , #{telNoEncVal}
                     , #{telBkDgtNo}
                     , #{zipCd}
                     , #{addr1Ctnts}
                     , #{addr2Ctnts}                     
                     , #{emailAddr}
                     , #{regChlCd}
                     , NVL(#{delYn},'N')
                     , #{amdrId}
                     , SYSDATE
                     , #{regrId}
                     , SYSDATE
                 )
    </insert>
    <update id="update">
               UPDATE CRM_CUST_CNTPLC_BAS
                  SET ITG_CUST_NO                             =         #{itgCustNo}
                    , CNTPLC_TYPE_CD                          =         #{cntplcTypeCd}
                    , REP_CNTPLC_YN                           =         NVL(#{repCntplcYn},'N')
                    , TEL_NO                                  =         #{telNoEncVal}
                    , TEL_BK_DGT_NO                           =         #{telBkDgtNo}
                    , ZIP_CD                                  =         #{zipCd}
                    , ADDR_1_CTNTS                            =         #{addr1Ctnts}
                    , ADDR_2_CTNTS                            =         #{addr2Ctnts}                    
                    , EMAIL_ADDR                              =         #{emailAddr}
                    , REG_CHL_CD                              =         #{regChlCd}
                    , DEL_YN                                  =         NVL(#{delYn},'N')
                    , AMDR_ID                                 =         #{amdrId}
                    , AMD_DT                                  =         SYSDATE
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE FROM CRM_CUST_CNTPLC_BAS
        <include refid="sqlPkConditions"/>
    </delete>
</mapper>
