<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.cst.dao.CrmCustPhnCnslHistDao">
    <sql id="sqlPkConditions">
                WHERE CNSL_HIST_NO      =       #{cnslHistNo}
                  AND ASP_CUST_KEY      =       #{aspCustKey}
    </sql>
    <sql id="sqlCols">
                      CNSL_HIST_NO                    /*상담이력번호        */
                    , ASP_CUST_KEY                    /*ASP_고객사_키        */
                    , ITG_CUST_NO                    /*통합고객번호        */
                    , ORGZ_ID                    /*조직ID        */
                    , USER_ID                    /*사용자ID        */
                    , CNSL_BEGIN_DT                    /*상담시작일자        */
                    , CNSL_BEGIN_TIME                    /*상담시작시간        */
                    , CNSL_EOT_DT                    /*상담종료일자        */
                    , CNSL_EOT_TIME                    /*상담종료시간        */
                    , CALL_TY                    /*콜유형        */
                    , TEL_TIME                    /*통화시각        */
                    , CNSL_SAVE_DTTM                    /*상담저장일시        */
                    , AF_PROC_TIME                    /*후처리시간        */
                    , CUST_TEL_NO                    /*고객전화번호        */
                    , CONT_TEL_NO                    /*계약자전화번호        */
                    , AS_RECP_NO                    /*AS접수번호        */
                    , CUST_NO                    /*고객번호        */
                    , CUST_NM                    /*고객명        */
                    , RDWT_SEND_YN                    /*녹취전송여부        */
                    , RDWT_ID                    /*녹취ID        */
                    , RDWT_FILE_NM                    /*녹취파일명        */
                    , RDWT_FILE_PATH                    /*녹취경로        */
                    , SEND_MAN_NO                    /*발신자번호        */
                    , CALL_ID                    /*콜ID        */
                    , ICDT_NO                    /*접수번호        */
                    , CPMT_CALL_YN                    /*칭찬콜여부        */
                    , TEL_TY                    /*전화구분        */
                    , TRNS_YN                    /*호전환여부        */
                    , TRNS_CSLT_ID                    /*호전환상담사ID        */
                    , CAM_ID                    /*캠페인ID        */
                    , QUEST_ID                    /*설문지ID        */
                    , IVR_SERV_NO                    /*IVR서비스번호        */
                    , TRNS_NO                    /*호전환번호        */
                    , DEL_YN                    /*삭제여부        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
    </sql>
    <sql id="sqlSelectCols">
                      A.CNSL_HIST_NO                    /*상담이력번호        */
                    , A.ASP_CUST_KEY                    /*ASP_고객사_키        */
                    , A.ITG_CUST_NO                    /*통합고객번호        */
                    , A.ORGZ_ID                    /*조직ID        */
                    , A.USER_ID                    /*사용자ID        */
                    , A.CNSL_BEGIN_DT    CNSL_BEGIN_DT                    /*상담시작일자        */
                    , A.CNSL_BEGIN_TIME                    /*상담시작시간        */
                    , A.CNSL_EOT_DT    CNSL_EOT_DT                    /*상담종료일자        */
                    , A.CNSL_EOT_TIME                    /*상담종료시간        */
                    , A.CALL_TY                    /*콜유형        */
                    , A.TEL_TIME                    /*통화시각        */
                    , A.CNSL_SAVE_DTTM                    /*상담저장일시        */
                    , A.AF_PROC_TIME                    /*후처리시간        */
                    , A.CUST_TEL_NO                    /*고객전화번호        */
                    , A.CONT_TEL_NO                    /*계약자전화번호        */
                    , A.AS_RECP_NO                    /*AS접수번호        */
                    , A.CUST_NO                    /*고객번호        */
                    , A.CUST_NM                    /*고객명        */
                    , A.RDWT_SEND_YN                    /*녹취전송여부        */
                    , A.RDWT_ID                    /*녹취ID        */
                    , A.RDWT_FILE_NM                    /*녹취파일명        */
                    , A.RDWT_FILE_PATH                    /*녹취경로        */
                    , A.SEND_MAN_NO                    /*발신자번호        */
                    , A.CALL_ID                    /*콜ID        */
                    , A.ICDT_NO                    /*접수번호        */
                    , A.CPMT_CALL_YN                    /*칭찬콜여부        */
                    , A.TEL_TY                    /*전화구분        */
                    , A.TRNS_YN                    /*호전환여부        */
                    , A.TRNS_CSLT_ID                    /*호전환상담사ID        */
                    , A.CAM_ID                    /*캠페인ID        */
                    , A.QUEST_ID                    /*설문지ID        */
                    , A.IVR_SERV_NO                    /*IVR서비스번호        */
                    , A.TRNS_NO                    /*호전환번호        */
                    , A.DEL_YN                    /*삭제여부        */
                    , A.AMDR_ID                    /*수정자ID        */
                    , TO_CHAR(A.AMD_DT,'YYYYMMDDHH24MISS')    AMD_DT                    /*수정일시        */
                    , A.REGR_ID                    /*등록자ID        */
                    , TO_CHAR(A.REG_DT,'YYYYMMDDHH24MISS')    REG_DT                    /*등록일시        */
    </sql>
    <sql id="sqlConditions">
        <where>
        <if test="cnslHistNo != null and cnslHistNo != ''">
                  AND A.CNSL_HIST_NO    =       #{cnslHistNo}
        </if>
        <if test="aspCustKey != null and aspCustKey != ''">
                  AND A.ASP_CUST_KEY    =       #{aspCustKey}
        </if>
        <if test="itgCustNo != null and itgCustNo != ''">
                  AND A.ITG_CUST_NO     =       #{itgCustNo}
        </if>
        <if test="orgzId != null and orgzId != ''">
                  AND A.ORGZ_ID         =       #{orgzId}
        </if>
        <if test="userId != null and userId != ''">
                  AND A.USER_ID         =       #{userId}
        </if>
        
        
<!--         <if test="cnslBeginDt != null and cnslBeginDt != ''">
                  AND A.CNSL_BEGIN_DT   =       TO_DATE(#{cnslBeginDt},'YYYYMMDDHH24MISS')
        </if>
        <if test="cnslBeginTime != null and cnslBeginTime != ''">
                  AND A.CNSL_BEGIN_TIME =       #{cnslBeginTime}
        </if>
        <if test="cnslEotDt != null and cnslEotDt != ''">
                  AND A.CNSL_EOT_DT     =       TO_DATE(#{cnslEotDt},'YYYYMMDDHH24MISS')
        </if> -->

        <if test="strtDt != null and strtDt != ''">
                      AND TO_DATE(A.CNSL_BEGIN_DT,'YYYYMMDD')       >=       TO_DATE(#{strtDt},'YYYYMMDD')
        </if>
        <if test="endDt != null and endDt != ''">
                      AND TO_DATE(#{endDt},'YYYYMMDD') + 1 > TO_DATE(A.CNSL_EOT_DT,'YYYYMMDD')
        </if>  

       
        <if test="cnslEotTime != null and cnslEotTime != ''">
                  AND A.CNSL_EOT_TIME   =       #{cnslEotTime}
        </if>
        <if test="callTy != null and callTy != ''">
                  AND A.CALL_TY         =       #{callTy}
        </if>
        <if test="telTime != null and telTime != ''">
                  AND A.TEL_TIME        =       #{telTime}
        </if>
        <if test="cnslSaveDttm != null and cnslSaveDttm != ''">
                  AND A.CNSL_SAVE_DTTM  =       #{cnslSaveDttm}
        </if>
        <if test="afProcTime != null and afProcTime != ''">
                  AND A.AF_PROC_TIME    =       #{afProcTime}
        </if>
        <if test="custTelNo != null and custTelNo != ''">
                  AND A.CUST_TEL_NO     =       #{custTelNo}
        </if>
        <if test="contTelNo != null and contTelNo != ''">
                  AND A.CONT_TEL_NO     =       #{contTelNo}
        </if>
        <if test="asRecpNo != null and asRecpNo != ''">
                  AND A.AS_RECP_NO      =       #{asRecpNo}
        </if>
        <if test="custNo != null and custNo != ''">
                  AND A.CUST_NO         =       #{custNo}
        </if>
        <if test="custNm != null and custNm != ''">
                  AND A.CUST_NM         =       #{custNm}
        </if>
        <if test="rdwtSendYn != null and rdwtSendYn != ''">
                  AND A.RDWT_SEND_YN    =       #{rdwtSendYn}
        </if>
        <if test="rdwtId != null and rdwtId != ''">
                  AND A.RDWT_ID         =       #{rdwtId}
        </if>
        <if test="rdwtFileNm != null and rdwtFileNm != ''">
                  AND A.RDWT_FILE_NM    =       #{rdwtFileNm}
        </if>
        <if test="rdwtFilePath != null and rdwtFilePath != ''">
                  AND A.RDWT_FILE_PATH  =       #{rdwtFilePath}
        </if>
        <if test="sendManNo != null and sendManNo != ''">
                  AND A.SEND_MAN_NO     =       #{sendManNo}
        </if>
        <if test="callId != null and callId != ''">
                  AND A.CALL_ID         =       #{callId}
        </if>
        <if test="icdtNo != null and icdtNo != ''">
                  AND A.ICDT_NO         =       #{icdtNo}
        </if>
        <if test="cpmtCallYn != null and cpmtCallYn != ''">
                  AND A.CPMT_CALL_YN    =       #{cpmtCallYn}
        </if>
        <if test="telTy != null and telTy != ''">
                  AND A.TEL_TY          =       #{telTy}
        </if>
        <if test="trnsYn != null and trnsYn != ''">
                  AND A.TRNS_YN         =       #{trnsYn}
        </if>
        <if test="trnsCsltId != null and trnsCsltId != ''">
                  AND A.TRNS_CSLT_ID    =       #{trnsCsltId}
        </if>
        <if test="camId != null and camId != ''">
                  AND A.CAM_ID          =       #{camId}
        </if>
        <if test="questId != null and questId != ''">
                  AND A.QUEST_ID        =       #{questId}
        </if>
        <if test="ivrServNo != null and ivrServNo != ''">
                  AND A.IVR_SERV_NO     =       #{ivrServNo}
        </if>
        <if test="trnsNo != null and trnsNo != ''">
                  AND A.TRNS_NO         =       #{trnsNo}
        </if>
        <if test="delYn != null and delYn != ''">
                  AND A.DEL_YN          =       #{delYn}
        </if>
        </where>
    </sql>
    <sql id="sqlOrderBy">
        <choose>
            <when test="colSortName ==null or colSortName == ''">
                ORDER BY      REG_DT DESC
            </when>
            <when test="colSortName.equals('cnslHistNo')">
                ORDER BY      CNSL_HIST_NO
            </when>
            <when test="colSortName.equals('aspCustKey')">
                ORDER BY      ASP_CUST_KEY
            </when>
            <when test="colSortName.equals('itgCustNo')">
                ORDER BY      ITG_CUST_NO
            </when>
            <when test="colSortName.equals('orgzId')">
                ORDER BY      ORGZ_ID
            </when>
            <when test="colSortName.equals('userId')">
                ORDER BY      USER_ID
            </when>
            <when test="colSortName.equals('cnslBeginDt')">
                ORDER BY      CNSL_BEGIN_DT
            </when>
            <when test="colSortName.equals('cnslBeginTime')">
                ORDER BY      CNSL_BEGIN_TIME
            </when>
            <when test="colSortName.equals('cnslEotDt')">
                ORDER BY      CNSL_EOT_DT
            </when>
            <when test="colSortName.equals('cnslEotTime')">
                ORDER BY      CNSL_EOT_TIME
            </when>
            <when test="colSortName.equals('callTy')">
                ORDER BY      CALL_TY
            </when>
            <when test="colSortName.equals('telTime')">
                ORDER BY      TEL_TIME
            </when>
            <when test="colSortName.equals('cnslSaveDttm')">
                ORDER BY      CNSL_SAVE_DTTM
            </when>
            <when test="colSortName.equals('afProcTime')">
                ORDER BY      AF_PROC_TIME
            </when>
            <when test="colSortName.equals('custTelNo')">
                ORDER BY      CUST_TEL_NO
            </when>
            <when test="colSortName.equals('contTelNo')">
                ORDER BY      CONT_TEL_NO
            </when>
            <when test="colSortName.equals('asRecpNo')">
                ORDER BY      AS_RECP_NO
            </when>
            <when test="colSortName.equals('custNo')">
                ORDER BY      CUST_NO
            </when>
            <when test="colSortName.equals('custNm')">
                ORDER BY      CUST_NM
            </when>
            <when test="colSortName.equals('rdwtSendYn')">
                ORDER BY      RDWT_SEND_YN
            </when>
            <when test="colSortName.equals('rdwtId')">
                ORDER BY      RDWT_ID
            </when>
            <when test="colSortName.equals('rdwtFileNm')">
                ORDER BY      RDWT_FILE_NM
            </when>
            <when test="colSortName.equals('rdwtFilePath')">
                ORDER BY      RDWT_FILE_PATH
            </when>
            <when test="colSortName.equals('sendManNo')">
                ORDER BY      SEND_MAN_NO
            </when>
            <when test="colSortName.equals('callId')">
                ORDER BY      CALL_ID
            </when>
            <when test="colSortName.equals('icdtNo')">
                ORDER BY      ICDT_NO
            </when>
            <when test="colSortName.equals('cpmtCallYn')">
                ORDER BY      CPMT_CALL_YN
            </when>
            <when test="colSortName.equals('telTy')">
                ORDER BY      TEL_TY
            </when>
            <when test="colSortName.equals('trnsYn')">
                ORDER BY      TRNS_YN
            </when>
            <when test="colSortName.equals('trnsCsltId')">
                ORDER BY      TRNS_CSLT_ID
            </when>
            <when test="colSortName.equals('camId')">
                ORDER BY      CAM_ID
            </when>
            <when test="colSortName.equals('questId')">
                ORDER BY      QUEST_ID
            </when>
            <when test="colSortName.equals('ivrServNo')">
                ORDER BY      IVR_SERV_NO
            </when>
            <when test="colSortName.equals('trnsNo')">
                ORDER BY      TRNS_NO
            </when>
            <when test="colSortName.equals('delYn')">
                ORDER BY      DEL_YN
            </when>
            <when test="colSortName.equals('amdrId')">
                ORDER BY      AMDR_ID
            </when>
            <when test="colSortName.equals('amdDt')">
                ORDER BY      AMD_DT
            </when>
            <when test="colSortName.equals('regrId')">
                ORDER BY      REGR_ID
            </when>
            <when test="colSortName.equals('regDt')">
                ORDER BY      REG_DT
            </when>
            <otherwise>
                ORDER BY      REG_DT
            </otherwise>
        </choose>
        <if test="colSortName !=null and colSortDir !='' and colSortDir !=null and colSortDir !='' and colSortDir.equals('desc')">
            DESC
        </if>
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT COUNT(1)
                 FROM CRM_CUST_CNSL_HST A
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.ceragem.crm.cst.model.CrmCustPhnCnslHistVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
               SELECT /*selectList*/<include refid="sqlSelectCols"/>
                 FROM CRM_CUST_CNSL_HST A
        <include refid="sqlConditions"/>
        <include refid="sqlOrderBy"/>
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.ceragem.crm.cst.model.CrmCustPhnCnslHistVo">
               SELECT /*select*/<include refid="sqlSelectCols"/>
                 FROM CRM_CUST_CNSL_HST A
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
                INSERT INTO CRM_CUST_CNSL_HST (
        <include refid="sqlCols"/>
                 ) VALUES (
                       #{cnslHistNo}
                     , #{aspCustKey}
                     , #{itgCustNo}
                     , #{orgzId}
                     , #{userId}
                     , TO_DATE(#{cnslBeginDt},'YYYYMMDDHH24MISS')
                     , #{cnslBeginTime}
                     , TO_DATE(#{cnslEotDt},'YYYYMMDDHH24MISS')
                     , #{cnslEotTime}
                     , #{callTy}
                     , #{telTime}
                     , #{cnslSaveDttm}
                     , #{afProcTime}
                     , #{custTelNo}
                     , #{contTelNo}
                     , #{asRecpNo}
                     , #{custNo}
                     , #{custNm}
                     , NVL(#{rdwtSendYn},'N')
                     , #{rdwtId}
                     , #{rdwtFileNm}
                     , #{rdwtFilePath}
                     , #{sendManNo}
                     , #{callId}
                     , #{icdtNo}
                     , NVL(#{cpmtCallYn},'N')
                     , #{telTy}
                     , NVL(#{trnsYn},'N')
                     , #{trnsCsltId}
                     , #{camId}
                     , #{questId}
                     , #{ivrServNo}
                     , #{trnsNo}
                     , NVL(#{delYn},'N')
                     , #{amdrId}
                     , SYSDATE
                     , #{regrId}
                     , SYSDATE
                 )
    </insert>
    <update id="update">
               UPDATE CRM_CUST_CNSL_HST
                  SET ITG_CUST_NO                             =         #{itgCustNo}
                    , ORGZ_ID                                 =         #{orgzId}
                    , USER_ID                                 =         #{userId}
                    , CNSL_BEGIN_DT                           =         TO_DATE(#{cnslBeginDt},'YYYYMMDDHH24MISS')
                    , CNSL_BEGIN_TIME                         =         #{cnslBeginTime}
                    , CNSL_EOT_DT                             =         TO_DATE(#{cnslEotDt},'YYYYMMDDHH24MISS')
                    , CNSL_EOT_TIME                           =         #{cnslEotTime}
                    , CALL_TY                                 =         #{callTy}
                    , TEL_TIME                                =         #{telTime}
                    , CNSL_SAVE_DTTM                          =         #{cnslSaveDttm}
                    , AF_PROC_TIME                            =         #{afProcTime}
                    , CUST_TEL_NO                             =         #{custTelNo}
                    , CONT_TEL_NO                             =         #{contTelNo}
                    , AS_RECP_NO                              =         #{asRecpNo}
                    , CUST_NO                                 =         #{custNo}
                    , CUST_NM                                 =         #{custNm}
                    , RDWT_SEND_YN                            =         NVL(#{rdwtSendYn},'N')
                    , RDWT_ID                                 =         #{rdwtId}
                    , RDWT_FILE_NM                            =         #{rdwtFileNm}
                    , RDWT_FILE_PATH                          =         #{rdwtFilePath}
                    , SEND_MAN_NO                             =         #{sendManNo}
                    , CALL_ID                                 =         #{callId}
                    , ICDT_NO                                 =         #{icdtNo}
                    , CPMT_CALL_YN                            =         NVL(#{cpmtCallYn},'N')
                    , TEL_TY                                  =         #{telTy}
                    , TRNS_YN                                 =         NVL(#{trnsYn},'N')
                    , TRNS_CSLT_ID                            =         #{trnsCsltId}
                    , CAM_ID                                  =         #{camId}
                    , QUEST_ID                                =         #{questId}
                    , IVR_SERV_NO                             =         #{ivrServNo}
                    , TRNS_NO                                 =         #{trnsNo}
                    , DEL_YN                                  =         NVL(#{delYn},'N')
                    , AMDR_ID                                 =         #{amdrId}
                    , AMD_DT                                  =         SYSDATE
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE FROM CRM_CUST_CNSL_HST
        <include refid="sqlPkConditions"/>
    </delete>
</mapper>
