<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.cst.dao.CrmCustGradeChngHstDao">
    <sql id="sqlPkConditions">
                WHERE GRADE_CHNG_HST_SEQ=       #{gradeChngHstSeq}
    </sql>
    <sql id="sqlCols">
                      GRADE_CHNG_HST_SEQ                    /*등급변경이력일련번호        */
                    , ITG_CUST_NO                    /*통합고객번호        */
                    , APPLY_STD_STA_YMD                    /*적용기준시작년월일        */
                    , APPLY_STD_END_YMD                    /*적용기준종료년월일        */
                    , MSHP_GRADE_CD                    /*회원등급코드        */
                    , CHNG_PRE_MSHP_GRADE_CD                    /*변경전회원등급코드        */
                    , MSHP_GRADE_TYPE_CD                    /*회원등급유형코드        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
                    , REG_CHL_CD                    /*등록채널코드        공통코드 : S000        [CRM : CRM , CTC : 상담 , AS : AS , SAP : SAP , POS : POS]*/
    </sql>
    <sql id="sqlSelectCols">
                      A.GRADE_CHNG_HST_SEQ                    /*등급변경이력일련번호        */
                    , A.ITG_CUST_NO                    /*통합고객번호        */
                    , A.APPLY_STD_STA_YMD                    /*적용기준시작년월일        */
                    , A.APPLY_STD_END_YMD                    /*적용기준종료년월일        */
                    , A.MSHP_GRADE_CD                    /*회원등급코드        */
                    , A.CHNG_PRE_MSHP_GRADE_CD                    /*변경전회원등급코드        */
                    , A.MSHP_GRADE_TYPE_CD                    /*회원등급유형코드        */
                    , A.AMDR_ID                    /*수정자ID        */
                    , TO_CHAR(A.AMD_DT,'YYYYMMDDHH24MISS')    AMD_DT                    /*수정일시        */
                    , A.REGR_ID                    /*등록자ID        */
                    , TO_CHAR(A.REG_DT,'YYYYMMDDHH24MISS')    REG_DT                    /*등록일시        */
                    , A.REG_CHL_CD                    /*등록채널코드        공통코드 : S000        [CRM : CRM , CTC : 상담 , AS : AS , SAP : SAP , POS : POS]*/
    </sql>
    <sql id="sqlConditions">
    <where>
        <if test="gradeChngHstSeq != null and gradeChngHstSeq != ''">
                  AND A.GRADE_CHNG_HST_SEQ=       #{gradeChngHstSeq}
        </if>
        <if test="itgCustNo != null and itgCustNo != ''">
                  AND A.ITG_CUST_NO     =       #{itgCustNo}
        </if>
<!-- 검색창 -->        
        <if test="strtDt5 != null and strtDt5 != ''">
                      AND A.REG_DT      >=       TO_DATE(#{strtDt5},'YYYYMMDD')
        </if>
        <if test="endDt5 != null and endDt5 != ''">
                      AND TO_DATE(#{endDt5},'YYYYMMDD') + 1 > A.REG_DT
        </if>   
        <if test="strtDt6 != null and strtDt6 != ''">
                      AND TO_DATE(A.APPLY_STD_END_YMD,'YYYYMMDD')      >=       TO_DATE(#{strtDt6},'YYYYMMDD')
        </if>
        <if test="endDt6 != null and endDt6 != ''">
                      AND TO_DATE(#{endDt6},'YYYYMMDD') + 1 > TO_DATE(A.APPLY_STD_END_YMD,'YYYYMMDD')
        </if>   
<!-- 검색창 -->                        
        <if test="applyStdStaYmd != null and applyStdStaYmd != ''">
                  AND A.APPLY_STD_STA_YMD=       #{applyStdStaYmd}
        </if>
        <if test="applyStdEndYmd != null and applyStdEndYmd != ''">
                  AND A.APPLY_STD_END_YMD=       #{applyStdEndYmd}
        </if>
        <if test="mshpGradeCd != null and mshpGradeCd != ''">
            <choose>
                <when test="mshpGradeCd instanceof String">
                    AND A.MSHP_GRADE_CD   =       #{mshpGradeCd}
                </when>
                <otherwise>
                    AND A.MSHP_GRADE_CD   IN
                    <foreach item="item" index="index" collection="mshpGradeCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="chngPreMshpGradeCd != null and chngPreMshpGradeCd != ''">
            <choose>
                <when test="chngPreMshpGradeCd instanceof String">
                    AND A.CHNG_PRE_MSHP_GRADE_CD=       #{chngPreMshpGradeCd}
                </when>
                <otherwise>
                    AND A.CHNG_PRE_MSHP_GRADE_CDIN
                    <foreach item="item" index="index" collection="chngPreMshpGradeCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="mshpGradeTypeCd != null and mshpGradeTypeCd != ''">
            <choose>
                <when test="mshpGradeTypeCd instanceof String">
                    AND A.MSHP_GRADE_TYPE_CD=       #{mshpGradeTypeCd}
                </when>
                <otherwise>
                    AND A.MSHP_GRADE_TYPE_CDIN
                    <foreach item="item" index="index" collection="mshpGradeTypeCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="regChlCd != null and regChlCd != ''">
            <choose>
                <when test="regChlCd instanceof String">
                    AND A.REG_CHL_CD      =       #{regChlCd}
                </when>
                <otherwise>
                    AND A.REG_CHL_CD      IN
                    <foreach item="item" index="index" collection="regChlCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
       </where>
    </sql>
    <sql id="sqlOrderBy">
        <choose>
            <when test="colSortName ==null or colSortName == ''">
                ORDER BY      REG_DT DESC
            </when>
            <when test="colSortName.equals('gradeChngHstSeq')">
                ORDER BY      GRADE_CHNG_HST_SEQ
            </when>
            <when test="colSortName.equals('itgCustNo')">
                ORDER BY      ITG_CUST_NO
            </when>
            <when test="colSortName.equals('applyStdStaYmd')">
                ORDER BY      APPLY_STD_STA_YMD
            </when>
            <when test="colSortName.equals('applyStdEndYmd')">
                ORDER BY      APPLY_STD_END_YMD
            </when>
            <when test="colSortName.equals('mshpGradeCd')">
                ORDER BY      MSHP_GRADE_CD
            </when>
            <when test="colSortName.equals('chngPreMshpGradeCd')">
                ORDER BY      CHNG_PRE_MSHP_GRADE_CD
            </when>
            <when test="colSortName.equals('mshpGradeTypeCd')">
                ORDER BY      MSHP_GRADE_TYPE_CD
            </when>
            <when test="colSortName.equals('amdrId')">
                ORDER BY      AMDR_ID
            </when>
            <when test="colSortName.equals('amdDt')">
                ORDER BY      AMD_DT
            </when>
            <when test="colSortName.equals('regrId')">
                ORDER BY      REGR_ID
            </when>
            <when test="colSortName.equals('regDt')">
                ORDER BY      REG_DT
            </when>
            <when test="colSortName.equals('regChlCd')">
                ORDER BY      REG_CHL_CD
            </when>
            <otherwise>
                ORDER BY      REG_DT
            </otherwise>
        </choose>
        <if test="colSortName !=null and colSortDir !='' and colSortDir !=null and colSortDir !='' and colSortDir.equals('desc')">
            DESC
        </if>
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT /* com.ceragem.crm.cst.dao.CrmCustGradeChngHstDao.selectListCount */ COUNT(1)
                 FROM CRM_CUST_GRADE_CHNG_HST A
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.ceragem.crm.cst.model.CrmCustGradeChngHstVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
               SELECT /* com.ceragem.crm.cst.dao.CrmCustGradeChngHstDao.selectList */ <include refid="sqlSelectCols"/>
                 FROM CRM_CUST_GRADE_CHNG_HST A
        <include refid="sqlConditions"/>
        <include refid="sqlOrderBy"/>
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.ceragem.crm.cst.model.CrmCustGradeChngHstVo">
               SELECT /* com.ceragem.crm.cst.dao.CrmCustGradeChngHstDao.select */ <include refid="sqlSelectCols"/>
                 FROM CRM_CUST_GRADE_CHNG_HST A
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
                INSERT /* com.ceragem.crm.cst.dao.CrmCustGradeChngHstDao.insert */ INTO CRM_CUST_GRADE_CHNG_HST (
        <include refid="sqlCols"/>
                 ) VALUES (
                       NVL(#{gradeChngHstSeq}, FN_CRM_AUTO_SEQ('GCH') )
                     , #{itgCustNo}
                     , NVL( #{applyStdStaYmd} , TO_CHAR( SYSDATE, 'YYYYMMDD' ) )
                     , NVL( #{applyStdEndYmd} , TO_CHAR( ADD_MONTHS(TRUNC(SYSDATE),12) , 'YYYYMMDD' ) )
                     , #{mshpGradeCd}
                     , #{chngPreMshpGradeCd}
                     , #{mshpGradeTypeCd}
                     , #{amdrId}
                     , SYSDATE
                     , #{regrId}
                     , SYSDATE
                     , NVL( #{regChlCd}, 'CRM')
                 )
    </insert>
    
    
     <insert id="insertDay" >
        
    			 INSERT /* AdvnCmt.insertDay */ INTO CRM_CUST_GRADE_DAY_CHNG_HST (
       				  GRADE_CHNG_HST_SEQ                    /*등급변경이력일련번호        */
                    , ITG_CUST_NO                    /*통합고객번호        */
                    , APPLY_STD_STA_YMD                    /*적용기준시작년월일        */
                    , APPLY_STD_END_YMD                    /*적용기준종료년월일        */
                    , MSHP_GRADE_CD                    /*회원등급코드        */
                    , CHNG_PRE_MSHP_GRADE_CD                    /*변경전회원등급코드        */
                    , MSHP_GRADE_TYPE_CD                    /*회원등급유형코드        */
                    , MSHIP_ADVNCMT_SCORE                    /* 승급점수        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
                    , REG_CHL_CD                    /*등록채널코드        공통코드 : S000        [CRM : CRM , CTC : 상담 , AS : AS , SAP : SAP , POS : POS]*/
                 ) VALUES (
                       NVL(#{gradeChngHstSeq}, FN_CRM_AUTO_SEQ('DCH') ) 
                     , #{itgCustNo}
                     , NVL( #{applyStdStaYmd} , TO_CHAR( SYSDATE, 'YYYYMMDD' ) )
                     , NVL( #{applyStdEndYmd} , TO_CHAR( ADD_MONTHS(TRUNC(SYSDATE),12) , 'YYYYMMDD' ) )
                     , #{mshpGradeCd}
                     , #{chngPreMshpGradeCd}
                     , #{mshpGradeTypeCd}
                     , 0
                     , #{amdrId}
                     , SYSDATE
                     , #{regrId}
                     , SYSDATE
                     , NVL( #{regChlCd}, 'CRM')
                 )
                
                 
    </insert>
    
    
    <update id="update">
               UPDATE /* com.ceragem.crm.cst.dao.CrmCustGradeChngHstDao.update */ CRM_CUST_GRADE_CHNG_HST
                  SET ITG_CUST_NO                             =         #{itgCustNo}
                    , APPLY_STD_STA_YMD                       =         #{applyStdStaYmd}
                    , APPLY_STD_END_YMD                       =         #{applyStdEndYmd}
                    , MSHP_GRADE_CD                           =         #{mshpGradeCd}
                    , CHNG_PRE_MSHP_GRADE_CD                  =         #{chngPreMshpGradeCd}
                    , MSHP_GRADE_TYPE_CD                      =         #{mshpGradeTypeCd}
                    , AMDR_ID                                 =         #{amdrId}
                    , AMD_DT                                  =         SYSDATE
                    , REG_CHL_CD                              =         #{regChlCd}
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE /* com.ceragem.crm.cst.dao.CrmCustGradeChngHstDao.delete */
                 FROM CRM_CUST_GRADE_CHNG_HST
        <include refid="sqlPkConditions"/>
    </delete>
</mapper>
