<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.cst.dao.CrmCustExprnHstDao">
    <sql id="sqlPkConditions">
                <!-- WHERE CUST_EXPRN_HST_NO =       #{custExprnHstNo} -->
    </sql>
    <sql id="sqlCols">
                      CUST_EXPRN_HST_NO                    /*CUST_EXPRN_HST_NO        */
                    , ITG_CUST_NO                    /*통합고객번호        */
                    , CMP_CD                    /*회사코드        */
                    , SALES_ORG_CD                    /*영업조직코드        */
                    , STOR_CD                    /*점포코드        */
                    , EXPRN_DATE                    /*체험일자        */
                    , EXPRN_NO                    /*체험번호        */
                    , SEAT_NO                    /*좌석번호        */
                    , ITEM_CD                    /*상품코드        */
                    , ITEM_NM                    /*상품명        */
                    , EXPRN_CMPT_YN                    /*체험완료여부        */
                    , EXPRN_DEL_YN                    /*체험삭제여부        */
                    , MSHP_NO                    /*회원번호        */
                    , MSHP_NM                    /*회원명        */
                    , MSHP_ID                    /*회원ID        */
                    , RCMD_MSHP_NO                    /*추천회원번호        */
                    , EXPRN_COUPN_NO                    /*체험쿠폰번호        */
                    , APPR_NO                    /*승인번호        */
                    , AGE_CD                    /*연령코드        */
                    , AGE_CD_NM                    /*연령코드명        */
                    , GNDR_CD                    /*성별코드        */
                    , GNDR_CD_NM                    /*성별코드명        */
                    , VISIT_EXPRC_CD                    /*방문경험코드        */
                    , VISIT_EXPRC_CD_NM                    /*방문경험코드명        */
                    , INGRS_PATH_CD                    /*유입경로코드        */
                    , INGRS_PATH_CD_NM                    /*유입경로코드명        */
                    , EXPRN_EXPRC_CD                    /*체험경험코드        */
                    , EXPRN_EXPRC_CD_NM                    /*체험경험코드명        */
                    , USE_ATTEN_CHECK_YN                    /*사용주의체크여부        */
                    , EXPRN_MODE_CD                    /*체험모드코드        */
                    , EXPRN_MODE_CD_NM                    /*체험모드코드명        */
                    , DTL_MODE_CD                    /*상세모드코드        */
                    , DTL_MODE_CD_NM                    /*상세모드코드명        */
                    , EXPRN_STA_HOUR                    /*체험시작시간        */
                    , EXPRN_END_HOUR                    /*체험종료시간        */
                    , EXPRN_HOUR                    /*체험시간        */
                    , EXPRN_STRTH                    /*체험강도        */
                    , EXPRN_STRTH_NM                    /*체험강도명        */
                    , INSIDE_EQPMT_TMPRT                    /*내부기기온도        */
                    , ABMSG_USE_YN                    /*복부마사지사용여부        */
                    , EXPRN_MIDCHECK_YN                    /*체험중중간체크여부        */
                    , BUY_CNSL_YN                    /*구매상담여부        */
                    , EXPRN_ESTMT_CD                    /*체험평가코드        */
                    , EXPRN_ESTMT_CD_NM                    /*체험평가코드명        */
                    , CNSL_CTNTS                    /*상담내용        */
                    , REG_DT                    /*등록일시        */
                    , REGR_ID                    /*등록자ID        */
                    , AMD_DT                    /*수정일시        */
                    , AMDR_ID                    /*수정자ID        */
    </sql>
    <sql id="sqlSelectCols">
                    A.ITG_CUST_NO                    /*통합고객번호        */
                    , A.CMP_CD                    /*회사코드        */
                    , A.SALES_ORG_CD                    /*영업조직코드        */
                    , A.STOR_CD                    /*점포코드        */
                    , A.EXPRN_DATE                    /*체험일자        */
                    , A.EXPRN_NO                    /*체험번호        */
                    , A.SEAT_NO                    /*좌석번호        */
                    , A.ITEM_CD                    /*상품코드        */
                    , A.ITEM_NM                    /*상품명        */
                    , A.EXPRN_CMPT_YN                    /*체험완료여부        */
                    , A.EXPRN_DEL_YN                    /*체험삭제여부        */
                    , A.MSHP_NO                    /*회원번호        */
                    , A.MSHP_NM                    /*회원명        */
                    , A.MSHP_ID                    /*회원ID        */
                    , A.RCMD_MSHP_NO                    /*추천회원번호        */
                    , A.EXPRN_COUPN_NO                    /*체험쿠폰번호        */
                    , A.APPR_NO                    /*승인번호        */
                    , A.AGE_CD                    /*연령코드        */
                    , A.AGE_CD_NM                    /*연령코드명        */
                    , A.GNDR_CD                    /*성별코드        */
                    , A.GNDR_CD_NM                    /*성별코드명        */
                    , A.VISIT_EXPRC_CD                    /*방문경험코드        */
                    , A.VISIT_EXPRC_CD_NM                    /*방문경험코드명        */
                    , A.INGRS_PATH_CD                    /*유입경로코드        */
                    , A.INGRS_PATH_CD_NM                    /*유입경로코드명        */
                    , A.EXPRN_EXPRC_CD                    /*체험경험코드        */
                    , A.EXPRN_EXPRC_CD_NM                    /*체험경험명        */
                    , A.USE_ATTEN_CHECK_YN                    /*사용주의체크여부        */
                    , A.EXPRN_MODE_CD                    /*체험모드코드        */
                    , A.EXPRN_MODE_CD_NM                    /*체험모드코드명        */
                    , A.DTL_MODE_CD                    /*상세모드코드        */
                    , A.DTL_MODE_CD_NM                    /*상세모드코드명        */
                    , A.EXPRN_STA_HOUR                    /*체험시작시간        */
                    , A.EXPRN_END_HOUR                    /*체험종료시간        */
                    , A.EXPRN_HOUR                    /*체험시간        */
                    , A.EXPRN_STRTH                    /*체험강도        */
                    , A.EXPRN_STRTH_NM                    /*체험강도명        */
                    , A.INSIDE_EQPMT_TMPRT                    /*내부기기온도        */
                    , A.ABMSG_USE_YN                    /*복부마사지사용여부        */
                    , A.EXPRN_MIDCHECK_YN                    /*체험중중간체크여부        */
                    , A.BUY_CNSL_YN                    /*구매상담여부        */
                    , A.EXPRN_ESTMT_CD                    /*체험평가코드        */
                    , A.EXPRN_ESTMT_CD_NM                    /*체험평가코드명        */
                    , A.CNSL_CTNTS                    /*상담내용        */
                    , TO_CHAR(A.REG_DT,'YYYYMMDDHH24MISS')    REG_DT                    /*등록일시        */
                    , A.REGR_ID                    /*등록자ID        */
                    , TO_CHAR(A.AMD_DT,'YYYYMMDDHH24MISS')    AMD_DT                    /*수정일시        */
                    , A.AMDR_ID                    /*수정자ID        */
    </sql>
    <sql id="sqlConditions">
        <where>
            <if test="custExprnHstNo != null and custExprnHstNo != ''">
                      AND A.CUST_EXPRN_HST_NO=       #{custExprnHstNo}
            </if>
            <if test="itgCustNo != null and itgCustNo != ''">
                      AND A.ITG_CUST_NO     =       #{itgCustNo}
            </if>
            <if test="cmpCd != null and cmpCd != ''">
                <choose>
                    <when test="cmpCd instanceof String">
                        AND A.CMP_CD          =       #{cmpCd}
                    </when>
                    <otherwise>
                        AND A.CMP_CD          IN
                        <foreach item="item" index="index" collection="cmpCd" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
            <if test="salesOrgCd != null and salesOrgCd != ''">
                <choose>
                    <when test="salesOrgCd instanceof String">
                        AND A.SALES_ORG_CD    =       #{salesOrgCd}
                    </when>
                    <otherwise>
                        AND A.SALES_ORG_CD    IN
                        <foreach item="item" index="index" collection="salesOrgCd" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
            <if test="storCd != null and storCd != ''">
                <choose>
                    <when test="storCd instanceof String">
                        AND A.STOR_CD         =       #{storCd}
                    </when>
                    <otherwise>
                        AND A.STOR_CD         IN
                        <foreach item="item" index="index" collection="storCd" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
            <if test="exprnDate != null and exprnDate != ''">
                      AND A.EXPRN_DATE      =       #{exprnDate}
            </if>
            <if test="exprnNo != null and exprnNo != ''">
                      AND A.EXPRN_NO        =       #{exprnNo}
            </if>
            <if test="seatNo != null and seatNo != ''">
                      AND A.SEAT_NO         =       #{seatNo}
            </if>
            <if test="itemCd != null and itemCd != ''">
                <choose>
                    <when test="itemCd instanceof String">
                        AND A.ITEM_CD         =       #{itemCd}
                    </when>
                    <otherwise>
                        AND A.ITEM_CD         IN
                        <foreach item="item" index="index" collection="itemCd" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
            <if test="itemNm != null and itemNm != ''">
                      AND A.ITEM_NM         =       #{itemNm}
            </if>
            <if test="exprnCmptYn != null and exprnCmptYn != ''">
                      AND A.EXPRN_CMPT_YN   =       #{exprnCmptYn}
            </if>
            <if test="exprnDelYn != null and exprnDelYn != ''">
                      AND A.EXPRN_DEL_YN    =       #{exprnDelYn}
            </if>
            <if test="mshpNo != null and mshpNo != ''">
                      AND A.MSHP_NO         =       #{mshpNo}
            </if>
            <if test="mshpNm != null and mshpNm != ''">
                      AND A.MSHP_NM         =       #{mshpNm}
            </if>
            <if test="mshpId != null and mshpId != ''">
                      AND A.MSHP_ID         =       #{mshpId}
            </if>
            <if test="rcmdMshpNo != null and rcmdMshpNo != ''">
                      AND A.RCMD_MSHP_NO    =       #{rcmdMshpNo}
            </if>
            <if test="exprnCoupnNo != null and exprnCoupnNo != ''">
                      AND A.EXPRN_COUPN_NO  =       #{exprnCoupnNo}
            </if>
            <if test="apprNo != null and apprNo != ''">
                      AND A.APPR_NO         =       #{apprNo}
            </if>
            <if test="ageCd != null and ageCd != ''">
                <choose>
                    <when test="ageCd instanceof String">
                        AND A.AGE_CD          =       #{ageCd}
                    </when>
                    <otherwise>
                        AND A.AGE_CD          IN
                        <foreach item="item" index="index" collection="ageCd" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
            <if test="ageCdNm != null and ageCdNm != ''">
                      AND A.AGE_CD_NM       =       #{ageCdNm}
            </if>
            <if test="gndrCd != null and gndrCd != ''">
                <choose>
                    <when test="gndrCd instanceof String">
                        AND A.GNDR_CD         =       #{gndrCd}
                    </when>
                    <otherwise>
                        AND A.GNDR_CD         IN
                        <foreach item="item" index="index" collection="gndrCd" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
            <if test="gndrCdNm != null and gndrCdNm != ''">
                      AND A.GNDR_CD_NM      =       #{gndrCdNm}
            </if>
            <if test="visitExprcCd != null and visitExprcCd != ''">
                <choose>
                    <when test="visitExprcCd instanceof String">
                        AND A.VISIT_EXPRC_CD  =       #{visitExprcCd}
                    </when>
                    <otherwise>
                        AND A.VISIT_EXPRC_CD  IN
                        <foreach item="item" index="index" collection="visitExprcCd" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
            <if test="visitExprcCdNm != null and visitExprcCdNm != ''">
                      AND A.VISIT_EXPRC_CD_NM=       #{visitExprcCdNm}
            </if>
            <if test="ingrsPathCd != null and ingrsPathCd != ''">
                <choose>
                    <when test="ingrsPathCd instanceof String">
                        AND A.INGRS_PATH_CD   =       #{ingrsPathCd}
                    </when>
                    <otherwise>
                        AND A.INGRS_PATH_CD   IN
                        <foreach item="item" index="index" collection="ingrsPathCd" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
            <if test="ingrsPathCdNm != null and ingrsPathCdNm != ''">
                      AND A.INGRS_PATH_CD_NM=       #{ingrsPathCdNm}
            </if>
            <if test="exprnExprcCd != null and exprnExprcCd != ''">
                      AND A.EXPRN_EXPRC_CD  =       #{exprnExprcCd}
            </if>
            <if test="exprnExprcCdNm != null and exprnExprcCdNm != ''">
                      AND A.EXPRN_EXPRC_CD_NM  =       #{exprnExprcCdNm}
            </if>
            <if test="useAttenCheckYn != null and useAttenCheckYn != ''">
                      AND A.USE_ATTEN_CHECK_YN=       #{useAttenCheckYn}
            </if>
            <if test="exprnModeCd != null and exprnModeCd != ''">
                <choose>
                    <when test="exprnModeCd instanceof String">
                        AND A.EXPRN_MODE_CD   =       #{exprnModeCd}
                    </when>
                    <otherwise>
                        AND A.EXPRN_MODE_CD   IN
                        <foreach item="item" index="index" collection="exprnModeCd" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
            <if test="exprnModeCdNm != null and exprnModeCdNm != ''">
                      AND A.EXPRN_MODE_CD_NM=       #{exprnModeCdNm}
            </if>
            <if test="dtlModeCd != null and dtlModeCd != ''">
                <choose>
                    <when test="dtlModeCd instanceof String">
                        AND A.DTL_MODE_CD     =       #{dtlModeCd}
                    </when>
                    <otherwise>
                        AND A.DTL_MODE_CD     IN
                        <foreach item="item" index="index" collection="dtlModeCd" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
            <if test="dtlModeCdNm != null and dtlModeCdNm != ''">
                      AND A.DTL_MODE_CD_NM  =       #{dtlModeCdNm}
            </if>
            <if test="exprnStaHour != null and exprnStaHour != ''">
                      AND A.EXPRN_STA_HOUR  =       #{exprnStaHour}
            </if>
            <if test="exprnEndHour != null and exprnEndHour != ''">
                      AND A.EXPRN_END_HOUR  =       #{exprnEndHour}
            </if>
            <if test="exprnHour != null and exprnHour != ''">
                      AND A.EXPRN_HOUR      =       #{exprnHour}
            </if>
            <if test="exprnStrth != null and exprnStrth != ''">
                      AND A.EXPRN_STRTH     =       #{exprnStrth}
            </if>
            <if test="exprnStrthNm != null and exprnStrthNm != ''">
                      AND A.EXPRN_STRTH_NM  =       #{exprnStrthNm}
            </if>
            <if test="insideEqpmtTmprt != null and insideEqpmtTmprt != ''">
                      AND A.INSIDE_EQPMT_TMPRT=       #{insideEqpmtTmprt}
            </if>
            <if test="abmsgUseYn != null and abmsgUseYn != ''">
                      AND A.ABMSG_USE_YN    =       #{abmsgUseYn}
            </if>
            <if test="exprnMidcheckYn != null and exprnMidcheckYn != ''">
                      AND A.EXPRN_MIDCHECK_YN=       #{exprnMidcheckYn}
            </if>
            <if test="buyCnslYn != null and buyCnslYn != ''">
                      AND A.BUY_CNSL_YN     =       #{buyCnslYn}
            </if>
            <if test="exprnEstmtCd != null and exprnEstmtCd != ''">
                <choose>
                    <when test="exprnEstmtCd instanceof String">
                        AND A.EXPRN_ESTMT_CD  =       #{exprnEstmtCd}
                    </when>
                    <otherwise>
                        AND A.EXPRN_ESTMT_CD  IN
                        <foreach item="item" index="index" collection="exprnEstmtCd" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
            <if test="exprnEstmtCdNm != null and exprnEstmtCdNm != ''">
                      AND A.EXPRN_ESTMT_CD_NM=       #{exprnEstmtCdNm}
            </if>
            <if test="cnslCtnts != null and cnslCtnts != ''">
                      AND A.CNSL_CTNTS      =       #{cnslCtnts}
            </if>
        </where>
    </sql>
    <sql id="sqlOrderBy">
        <choose>
            <when test="colSortName ==null or colSortName == ''">
                ORDER BY      REG_DT DESC
            </when>
            <when test="colSortName.equals('custExprnHstNo')">
                ORDER BY      CUST_EXPRN_HST_NO
            </when>
            <when test="colSortName.equals('itgCustNo')">
                ORDER BY      ITG_CUST_NO
            </when>
            <when test="colSortName.equals('cmpCd')">
                ORDER BY      CMP_CD
            </when>
            <when test="colSortName.equals('salesOrgCd')">
                ORDER BY      SALES_ORG_CD
            </when>
            <when test="colSortName.equals('storCd')">
                ORDER BY      STOR_CD
            </when>
            <when test="colSortName.equals('exprnDate')">
                ORDER BY      EXPRN_DATE
            </when>
            <when test="colSortName.equals('exprnNo')">
                ORDER BY      EXPRN_NO
            </when>
            <when test="colSortName.equals('seatNo')">
                ORDER BY      SEAT_NO
            </when>
            <when test="colSortName.equals('itemCd')">
                ORDER BY      ITEM_CD
            </when>
            <when test="colSortName.equals('itemNm')">
                ORDER BY      ITEM_NM
            </when>
            <when test="colSortName.equals('exprnCmptYn')">
                ORDER BY      EXPRN_CMPT_YN
            </when>
            <when test="colSortName.equals('exprnDelYn')">
                ORDER BY      EXPRN_DEL_YN
            </when>
            <when test="colSortName.equals('mshpNo')">
                ORDER BY      MSHP_NO
            </when>
            <when test="colSortName.equals('mshpNm')">
                ORDER BY      MSHP_NM
            </when>
            <when test="colSortName.equals('mshpId')">
                ORDER BY      MSHP_ID
            </when>
            <when test="colSortName.equals('rcmdMshpNo')">
                ORDER BY      RCMD_MSHP_NO
            </when>
            <when test="colSortName.equals('exprnCoupnNo')">
                ORDER BY      EXPRN_COUPN_NO
            </when>
            <when test="colSortName.equals('apprNo')">
                ORDER BY      APPR_NO
            </when>
            <when test="colSortName.equals('ageCd')">
                ORDER BY      AGE_CD
            </when>
            <when test="colSortName.equals('ageCdNm')">
                ORDER BY      AGE_CD_NM
            </when>
            <when test="colSortName.equals('gndrCd')">
                ORDER BY      GNDR_CD
            </when>
            <when test="colSortName.equals('gndrCdNm')">
                ORDER BY      GNDR_CD_NM
            </when>
            <when test="colSortName.equals('visitExprcCd')">
                ORDER BY      VISIT_EXPRC_CD
            </when>
            <when test="colSortName.equals('visitExprcCdNm')">
                ORDER BY      VISIT_EXPRC_CD_NM
            </when>
            <when test="colSortName.equals('ingrsPathCd')">
                ORDER BY      INGRS_PATH_CD
            </when>
            <when test="colSortName.equals('ingrsPathCdNm')">
                ORDER BY      INGRS_PATH_CD_NM
            </when>
            <when test="colSortName.equals('exprnExprcCd')">
                ORDER BY      EXPRN_EXPRC_CD
            </when>
            <when test="colSortName.equals('exprnExprcCdNm')">
                ORDER BY      EXPRN_EXPRC_CD_NM
            </when>
            <when test="colSortName.equals('useAttenCheckYn')">
                ORDER BY      USE_ATTEN_CHECK_YN
            </when>
            <when test="colSortName.equals('exprnModeCd')">
                ORDER BY      EXPRN_MODE_CD
            </when>
            <when test="colSortName.equals('exprnModeCdNm')">
                ORDER BY      EXPRN_MODE_CD_NM
            </when>
            <when test="colSortName.equals('dtlModeCd')">
                ORDER BY      DTL_MODE_CD
            </when>
            <when test="colSortName.equals('dtlModeCdNm')">
                ORDER BY      DTL_MODE_CD_NM
            </when>
            <when test="colSortName.equals('exprnStaHour')">
                ORDER BY      EXPRN_STA_HOUR
            </when>
            <when test="colSortName.equals('exprnEndHour')">
                ORDER BY      EXPRN_END_HOUR
            </when>
            <when test="colSortName.equals('exprnHour')">
                ORDER BY      EXPRN_HOUR
            </when>
            <when test="colSortName.equals('exprnStrth')">
                ORDER BY      EXPRN_STRTH
            </when>
            <when test="colSortName.equals('exprnStrthNm')">
                ORDER BY      EXPRN_STRTH_NM
            </when>
            <when test="colSortName.equals('insideEqpmtTmprt')">
                ORDER BY      INSIDE_EQPMT_TMPRT
            </when>
            <when test="colSortName.equals('abmsgUseYn')">
                ORDER BY      ABMSG_USE_YN
            </when>
            <when test="colSortName.equals('exprnMidcheckYn')">
                ORDER BY      EXPRN_MIDCHECK_YN
            </when>
            <when test="colSortName.equals('buyCnslYn')">
                ORDER BY      BUY_CNSL_YN
            </when>
            <when test="colSortName.equals('exprnEstmtCd')">
                ORDER BY      EXPRN_ESTMT_CD
            </when>
            <when test="colSortName.equals('exprnEstmtCdNm')">
                ORDER BY      EXPRN_ESTMT_CD_NM
            </when>
            <when test="colSortName.equals('cnslCtnts')">
                ORDER BY      CNSL_CTNTS
            </when>
            <when test="colSortName.equals('regDt')">
                ORDER BY      REG_DT
            </when>
            <when test="colSortName.equals('regrId')">
                ORDER BY      REGR_ID
            </when>
            <when test="colSortName.equals('amdDt')">
                ORDER BY      AMD_DT
            </when>
            <when test="colSortName.equals('amdrId')">
                ORDER BY      AMDR_ID
            </when>
            <otherwise>
                ORDER BY      REG_DT
            </otherwise>
        </choose>
        <if test="colSortName !=null and colSortDir !='' and colSortDir !=null and colSortDir !='' and colSortDir.equals('desc')">
            DESC
        </if>
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT /* com.ceragem.crm.cst.dao.CrmCustExprnHstDao.selectListCount */ COUNT(1)
                 FROM CRM_CUST_EXPRN_HST A
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.ceragem.crm.cst.model.CrmCustExprnHstVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
               SELECT /* com.ceragem.crm.cst.dao.CrmCustExprnHstDao.selectList */ <include refid="sqlSelectCols"/>
                 FROM CRM_CUST_EXPRN_HST A
        <include refid="sqlConditions"/>
        <include refid="sqlOrderBy"/>
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.ceragem.crm.cst.model.CrmCustExprnHstVo">
               SELECT /* com.ceragem.crm.cst.dao.CrmCustExprnHstDao.select */ <include refid="sqlSelectCols"/>
                 FROM CRM_CUST_EXPRN_HST A
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
                INSERT /* com.ceragem.crm.cst.dao.CrmCustExprnHstDao.insert */ INTO CRM_CUST_EXPRN_HST (
        <include refid="sqlCols"/>
                 ) VALUES (
                       #{custExprnHstNo}
                     , #{itgCustNo}
                     , #{cmpCd}
                     , #{salesOrgCd}
                     , #{storCd}
                     , #{exprnDate}
                     , #{exprnNo}
                     , #{seatNo}
                     , #{itemCd}
                     , #{itemNm}
                     , NVL(#{exprnCmptYn},'N')
                     , NVL(#{exprnDelYn},'N')
                     , #{mshpNo}
                     , #{mshpNm}
                     , #{mshpId}
                     , #{rcmdMshpNo}
                     , #{exprnCoupnNo}
                     , #{apprNo}
                     , #{ageCd}
                     , #{ageCdNm}
                     , #{gndrCd}
                     , #{gndrCdNm}
                     , #{visitExprcCd}
                     , #{visitExprcCdNm}
                     , #{ingrsPathCd}
                     , #{ingrsPathCdNm}
                     , #{exprnExprcCd}
                     , #{exprnExprcCdNm}
                     , NVL(#{useAttenCheckYn},'N')
                     , #{exprnModeCd}
                     , #{exprnModeCdNm}
                     , #{dtlModeCd}
                     , #{dtlModeCdNm}
                     , #{exprnStaHour}
                     , #{exprnEndHour}
                     , #{exprnHour}
                     , #{exprnStrth}
                     , #{exprnStrthNm}
                     , #{insideEqpmtTmprt}
                     , NVL(#{abmsgUseYn},'N')
                     , NVL(#{exprnMidcheckYn},'N')
                     , NVL(#{buyCnslYn},'N')
                     , #{exprnEstmtCd}
                     , #{exprnEstmtCdNm}
                     , #{cnslCtnts}
                     , SYSDATE
                     , #{regrId}
                     , SYSDATE
                     , #{amdrId}
                 )
    </insert>
    <update id="update">
               UPDATE /* com.ceragem.crm.cst.dao.CrmCustExprnHstDao.update */ CRM_CUST_EXPRN_HST
                  SET ITG_CUST_NO                             =         #{itgCustNo}
                    , CMP_CD                                  =         #{cmpCd}
                    , SALES_ORG_CD                            =         #{salesOrgCd}
                    , STOR_CD                                 =         #{storCd}
                    , EXPRN_DATE                              =         #{exprnDate}
                    , EXPRN_NO                                =         #{exprnNo}
                    , SEAT_NO                                 =         #{seatNo}
                    , ITEM_CD                                 =         #{itemCd}
                    , ITEM_NM                                 =         #{itemNm}
                    , EXPRN_CMPT_YN                           =         NVL(#{exprnCmptYn},'N')
                    , EXPRN_DEL_YN                            =         NVL(#{exprnDelYn},'N')
                    , MSHP_NO                                 =         #{mshpNo}
                    , MSHP_NM                                 =         #{mshpNm}
                    , MSHP_ID                                 =         #{mshpId}
                    , RCMD_MSHP_NO                            =         #{rcmdMshpNo}
                    , EXPRN_COUPN_NO                          =         #{exprnCoupnNo}
                    , APPR_NO                                 =         #{apprNo}
                    , AGE_CD                                  =         #{ageCd}
                    , AGE_CD_NM                               =         #{ageCdNm}
                    , GNDR_CD                                 =         #{gndrCd}
                    , GNDR_CD_NM                              =         #{gndrCdNm}
                    , VISIT_EXPRC_CD                          =         #{visitExprcCd}
                    , VISIT_EXPRC_CD_NM                       =         #{visitExprcCdNm}
                    , INGRS_PATH_CD                           =         #{ingrsPathCd}
                    , INGRS_PATH_CD_NM                        =         #{ingrsPathCdNm}
                    , EXPRN_EXPRC_CD                          =         #{exprnExprcCd}
                    , EXPRN_EXPRC_CD_NM                          =      #{exprnExprcCdNm}
                    , USE_ATTEN_CHECK_YN                      =         NVL(#{useAttenCheckYn},'N')
                    , EXPRN_MODE_CD                           =         #{exprnModeCd}
                    , EXPRN_MODE_CD_NM                        =         #{exprnModeCdNm}
                    , DTL_MODE_CD                             =         #{dtlModeCd}
                    , DTL_MODE_CD_NM                          =         #{dtlModeCdNm}
                    , EXPRN_STA_HOUR                          =         #{exprnStaHour}
                    , EXPRN_END_HOUR                          =         #{exprnEndHour}
                    , EXPRN_HOUR                              =         #{exprnHour}
                    , EXPRN_STRTH                             =         #{exprnStrth}
                    , EXPRN_STRTH_NM                          =         #{exprnStrthNm}
                    , INSIDE_EQPMT_TMPRT                      =         #{insideEqpmtTmprt}
                    , ABMSG_USE_YN                            =         NVL(#{abmsgUseYn},'N')
                    , EXPRN_MIDCHECK_YN                       =         NVL(#{exprnMidcheckYn},'N')
                    , BUY_CNSL_YN                             =         NVL(#{buyCnslYn},'N')
                    , EXPRN_ESTMT_CD                          =         #{exprnEstmtCd}
                    , EXPRN_ESTMT_CD_NM                       =         #{exprnEstmtCdNm}
                    , CNSL_CTNTS                              =         #{cnslCtnts}
                    , AMD_DT                                  =         SYSDATE
                    , AMDR_ID                                 =         #{amdrId}
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE /* com.ceragem.crm.cst.dao.CrmCustExprnHstDao.delete */
                 FROM CRM_CUST_EXPRN_HST
        <include refid="sqlPkConditions"/>
    </delete>
</mapper>
