<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.cst.dao.CrmRcvRfslHstDao">
    <sql id="sqlPkConditions">
                WHERE RCV_RFSL_HST_SEQ  =       #{rcvRfslHstSeq}
    </sql>
    <sql id="sqlCols">
                      RCV_RFSL_HST_SEQ                    /*수신거부이력일련번호        */
                    , ITG_CUST_NO                    /*통합고객번호        */
                    , RCV_RFSL_TYPE_CD                    /*수신거부유형코드        */
                    , RCV_RFSL_WHY_CTNTS                    /*수신거부사유내용        */
                    , RCV_RFSL_YN                    /*수신거부여부        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
                    , REG_CHL_CD                    /*등록채널코드        공통코드 : S000        [CRM : CRM , CTC : 상담 , AS : AS , SAP : SAP , POS : POS]*/
    </sql>
    <sql id="sqlSelectCols">
                      A.RCV_RFSL_HST_SEQ                    /*수신거부이력일련번호        */
                    , A.ITG_CUST_NO                    /*통합고객번호        */
                    , A.RCV_RFSL_TYPE_CD                    /*수신거부유형코드        */
                    , A.RCV_RFSL_WHY_CTNTS                    /*수신거부사유내용        */
                    , A.RCV_RFSL_YN                    /*수신거부여부        */
                    , A.AMDR_ID                    /*수정자ID        */
                    , TO_CHAR(A.AMD_DT,'YYYYMMDDHH24MISS')    AMD_DT                    /*수정일시        */
                    , A.REGR_ID                    /*등록자ID        */
                    , TO_CHAR(A.REG_DT,'YYYYMMDDHH24MISS')    REG_DT                    /*등록일시        */
                    , A.REG_CHL_CD                    /*등록채널코드        공통코드 : S000        [CRM : CRM , CTC : 상담 , AS : AS , SAP : SAP , POS : POS]*/
    </sql>
    <sql id="sqlConditions">
    <where>
        <if test="rcvRfslHstSeq != null and rcvRfslHstSeq != ''">
                  AND A.RCV_RFSL_HST_SEQ=       #{rcvRfslHstSeq}
        </if>
        <if test="itgCustNo != null and itgCustNo != ''">
                  AND A.ITG_CUST_NO     =       #{itgCustNo}
        </if>
        <if test="strtDt != null and strtDt != ''">
                      AND A.REG_DT      >=       TO_DATE(#{strtDt},'YYYYMMDD')
        </if>
        <if test="endDt != null and endDt != ''">
                      AND TO_DATE(#{endDt},'YYYYMMDD') + 1 > A.REG_DT
        </if>          
        <if test="rcvRfslTypeCd != null and rcvRfslTypeCd != ''">
            <choose>
                <when test="rcvRfslTypeCd instanceof String">
                    AND A.RCV_RFSL_TYPE_CD=       #{rcvRfslTypeCd}
                </when>
                <otherwise>
                    AND A.RCV_RFSL_TYPE_CDIN
                    <foreach item="item" index="index" collection="rcvRfslTypeCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="rcvRfslWhyCtnts != null and rcvRfslWhyCtnts != ''">
                  AND A.RCV_RFSL_WHY_CTNTS=       #{rcvRfslWhyCtnts}
        </if>
        <if test="rcvRfslYn != null and rcvRfslYn != ''">
                  AND A.RCV_RFSL_YN     =       #{rcvRfslYn}
        </if>
        <if test="regChlCd != null and regChlCd != ''">
            <choose>
                <when test="regChlCd instanceof String">
                    AND A.REG_CHL_CD      =       #{regChlCd}
                </when>
                <otherwise>
                    AND A.REG_CHL_CD      IN
                    <foreach item="item" index="index" collection="regChlCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        </where>
    </sql>
    <sql id="sqlOrderBy">
        <choose>
            <when test="colSortName ==null or colSortName == ''">
                ORDER BY      REG_DT DESC
            </when>
            <when test="colSortName.equals('rcvRfslHstSeq')">
                ORDER BY      RCV_RFSL_HST_SEQ
            </when>
            <when test="colSortName.equals('itgCustNo')">
                ORDER BY      ITG_CUST_NO
            </when>
            <when test="colSortName.equals('rcvRfslTypeCd')">
                ORDER BY      RCV_RFSL_TYPE_CD
            </when>
            <when test="colSortName.equals('rcvRfslWhyCtnts')">
                ORDER BY      RCV_RFSL_WHY_CTNTS
            </when>
            <when test="colSortName.equals('rcvRfslYn')">
                ORDER BY      RCV_RFSL_YN
            </when>
            <when test="colSortName.equals('amdrId')">
                ORDER BY      AMDR_ID
            </when>
            <when test="colSortName.equals('amdDt')">
                ORDER BY      AMD_DT
            </when>
            <when test="colSortName.equals('regrId')">
                ORDER BY      REGR_ID
            </when>
            <when test="colSortName.equals('regDt')">
                ORDER BY      REG_DT
            </when>
            <when test="colSortName.equals('regChlCd')">
                ORDER BY      REG_CHL_CD
            </when>
            <otherwise>
                ORDER BY      REG_DT
            </otherwise>
        </choose>
        <if test="colSortName !=null and colSortDir !='' and colSortDir !=null and colSortDir !='' and colSortDir.equals('desc')">
            DESC
        </if>
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT COUNT(1)
                 FROM CRM_RCV_RFSL_HST A
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.ceragem.crm.cst.model.CrmRcvRfslHstVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
               SELECT <include refid="sqlSelectCols"/>
                 FROM CRM_RCV_RFSL_HST A
        <include refid="sqlConditions"/>
        <include refid="sqlOrderBy"/>
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.ceragem.crm.cst.model.CrmRcvRfslHstVo">
               SELECT <include refid="sqlSelectCols"/>
                 FROM CRM_RCV_RFSL_HST A
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
                INSERT INTO CRM_RCV_RFSL_HST (
        <include refid="sqlCols"/>
                 ) VALUES (
                       #{rcvRfslHstSeq}
                     , #{itgCustNo}
                     , #{rcvRfslTypeCd}
                     , #{rcvRfslWhyCtnts}
                     , NVL(#{rcvRfslYn},'N')
                     , #{amdrId}
                     , SYSDATE
                     , #{regrId}
                     , SYSDATE
                     , #{regChlCd}
                 )
    </insert>
    <update id="update">
               UPDATE CRM_RCV_RFSL_HST
                  SET ITG_CUST_NO                             =         #{itgCustNo}
                    , RCV_RFSL_TYPE_CD                        =         #{rcvRfslTypeCd}
                    , RCV_RFSL_WHY_CTNTS                      =         #{rcvRfslWhyCtnts}
                    , RCV_RFSL_YN                             =         NVL(#{rcvRfslYn},'N')
                    , AMDR_ID                                 =         #{amdrId}
                    , AMD_DT                                  =         SYSDATE
                    , REG_CHL_CD                              =         #{regChlCd}
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE FROM CRM_RCV_RFSL_HST
        <include refid="sqlPkConditions"/>
    </delete>
</mapper>
