<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.cst.dao.CusCeraCkListDao">
    <sql id="sqlPkConditions">
                WHERE ITG_CUST_NO           =       #{itgCustNo}
                  AND NEURO_MEASURE_NO  =       #{neuroMeasureNo}
    </sql>
    <sql id="sqlCols">
                      USER_ID                    /*고객번호        */
                    , NEURO_MEASURE_NO                    /*뇌파측정번호        */
                    , ITG_CUST_NO                    /*통합고객번호        */
                    , START_TIME                    /*측정시작일        */
                    , CSTRESS_CD                    /*두뇌스트레스        */
                    , CBRAIN_SCORE                    /*멘탈헬스스코어점수        */
                    , CONCENTRATION_CD                    /*집중도        */
                    , CONCENTRATION                    /*접중도점수        */
                    , MENTAL_CD                    /*두뇌활동정도        */
                    , MENTAL                    /*두뇌활동정도수치        */
                    , BALANCE_CD                    /*좌우뇌불균형        */
                    , L_BALANCE_RATIO                    /*좌뇌비율        */
                    , R_BALANCE_RATIO                    /*우뇌비율        */
                    , BODY_FATIGUE_CD                    /*피로도        */
                    , BODY_FATIGUE                    /*피도로점수        */
                    , NERVE_HEALTH_CD                    /*신경계건강도        */
                    , NERVE_HEALTH                    /*신경계건강도점수        */
                    , BODY_ENERGY_CD                    /*활력도        */
                    , BP_SYS_CD                    /*혈압(수축기)        */
                    , BP_DIA_CD                    /*혈압(이완기)        */
                    , BP_SYS                    /*혈압(수축기)수치        */
                    , BP_DIA                    /*혈압(이완기)수치        */
                    , BP_POWER_CD                    /*맥압        */
                    , BP_POWER                    /*맥압수치        */
                    , BL_CD                    /*혈당        */
                    , BL_VL                    /*혈당수치        */
                    , FAT_CD                    /*체지방률        */
                    , MUSCLE_CD                    /*근육량        */
                    , FAT                    /*체지방률수치        */
                    , MUSCLE                    /*근육량수치        */
                    , BMI_CD                    /*BMI        */
                    , BMI                    /*BMI수치        */
                    , HEIGHT                    /*키        */
                    , WEIGHT                    /*몸무게        */
                    , ABD_ROUND_CD                    /*복부둘레        */
                    , ABD_ROUND                    /*복부둘레수치        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
    </sql>
    <sql id="sqlSelectCols">
                      A.USER_ID                    /*고객번호        */
                    , A.NEURO_MEASURE_NO                    /*뇌파측정번호        */
                    , A.ITG_CUST_NO                    /*통합고객번호        */
                    , A.START_TIME                    /*측정시작일        */
                    , A.CSTRESS_CD                    /*두뇌스트레스        */
                    , A.CBRAIN_SCORE                    /*멘탈헬스스코어점수        */
                    , A.CONCENTRATION_CD                    /*집중도        */
                    , A.CONCENTRATION                    /*접중도점수        */
                    , A.MENTAL_CD                    /*두뇌활동정도        */
                    , A.MENTAL                    /*두뇌활동정도수치        */
                    , A.BALANCE_CD                    /*좌우뇌불균형        */
                    , A.L_BALANCE_RATIO AS LEFT_BALANCE_RATIO                    /*좌뇌비율        */
                    , A.R_BALANCE_RATIO AS RIGHT_BALANCE_RATIO                   /*우뇌비율        */
                    , A.BODY_FATIGUE_CD                    /*피로도        */
                    , A.BODY_FATIGUE                    /*피도로점수        */
                    , A.NERVE_HEALTH_CD                    /*신경계건강도        */
                    , A.NERVE_HEALTH                    /*신경계건강도점수        */
                    , A.BODY_ENERGY_CD                    /*활력도        */
                    , A.BP_SYS_CD                    /*혈압(수축기)        */
                    , A.BP_DIA_CD                    /*혈압(이완기)        */
                    , A.BP_SYS                    /*혈압(수축기)수치        */
                    , A.BP_DIA                    /*혈압(이완기)수치        */
                    , A.BP_POWER_CD                    /*맥압        */
                    , A.BP_POWER                    /*맥압수치        */
                    , A.BL_CD                    /*혈당        */
                    , A.BL_VL                    /*혈당수치        */
                    , A.FAT_CD                    /*체지방률        */
                    , A.MUSCLE_CD                    /*근육량        */
                    , A.FAT                    /*체지방률수치        */
                    , A.MUSCLE                    /*근육량수치        */
                    , A.BMI_CD                    /*BMI        */
                    , A.BMI                    /*BMI수치        */
                    , A.HEIGHT                    /*키        */
                    , A.WEIGHT                    /*몸무게        */
                    , A.ABD_ROUND_CD                    /*복부둘레        */
                    , A.ABD_ROUND                    /*복부둘레수치        */
                    , A.AMDR_ID                    /*수정자ID        */
                    , TO_CHAR(A.AMD_DT,'YYYYMMDDHH24MISS')    AMD_DT                    /*수정일시        */
                    , A.REGR_ID                    /*등록자ID        */
                    , TO_CHAR(A.REG_DT,'YYYYMMDDHH24MISS')    REG_DT                    /*등록일시        */
    </sql>
    <sql id="sqlConditions">
        <where>
            <if test="userId != null and userId != ''">
                      AND A.USER_ID         =       #{userId}
            </if>
            <if test="neuroMeasureNo != null and neuroMeasureNo != ''">
                      AND A.NEURO_MEASURE_NO=       #{neuroMeasureNo}
            </if>
            <if test="itgCustNo != null and itgCustNo != ''">
                      AND A.ITG_CUST_NO     =       #{itgCustNo}
            </if>
            <if test="startTime != null and startTime != ''">
                      AND A.START_TIME      =       #{startTime}
            </if>
            <if test="cstressCd != null and cstressCd != ''">
                <choose>
                    <when test="cstressCd instanceof String">
                        AND A.CSTRESS_CD      =       #{cstressCd}
                    </when>
                    <otherwise>
                        AND A.CSTRESS_CD      IN
                        <foreach item="item" index="index" collection="cstressCd" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
            <if test="cbrainScore != null and cbrainScore != ''">
                      AND A.CBRAIN_SCORE    =       #{cbrainScore}
            </if>
            <if test="concentrationCd != null and concentrationCd != ''">
                <choose>
                    <when test="concentrationCd instanceof String">
                        AND A.CONCENTRATION_CD=       #{concentrationCd}
                    </when>
                    <otherwise>
                        AND A.CONCENTRATION_CDIN
                        <foreach item="item" index="index" collection="concentrationCd" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
            <if test="concentration != null and concentration != ''">
                      AND A.CONCENTRATION   =       #{concentration}
            </if>
            <if test="mentalCd != null and mentalCd != ''">
                <choose>
                    <when test="mentalCd instanceof String">
                        AND A.MENTAL_CD       =       #{mentalCd}
                    </when>
                    <otherwise>
                        AND A.MENTAL_CD       IN
                        <foreach item="item" index="index" collection="mentalCd" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
            <if test="mental != null and mental != ''">
                      AND A.MENTAL          =       #{mental}
            </if>
            <if test="balanceCd != null and balanceCd != ''">
                <choose>
                    <when test="balanceCd instanceof String">
                        AND A.BALANCE_CD      =       #{balanceCd}
                    </when>
                    <otherwise>
                        AND A.BALANCE_CD      IN
                        <foreach item="item" index="index" collection="balanceCd" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
            <if test="lBalanceRatio != null and lBalanceRatio != ''">
                      AND A.L_BALANCE_RATIO =       #{lBalanceRatio}
            </if>
            <if test="rBalanceRatio != null and rBalanceRatio != ''">
                      AND A.R_BALANCE_RATIO =       #{rBalanceRatio}
            </if>
            <if test="bodyFatigueCd != null and bodyFatigueCd != ''">
                <choose>
                    <when test="bodyFatigueCd instanceof String">
                        AND A.BODY_FATIGUE_CD =       #{bodyFatigueCd}
                    </when>
                    <otherwise>
                        AND A.BODY_FATIGUE_CD IN
                        <foreach item="item" index="index" collection="bodyFatigueCd" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
            <if test="bodyFatigue != null and bodyFatigue != ''">
                      AND A.BODY_FATIGUE    =       #{bodyFatigue}
            </if>
            <if test="nerveHealthCd != null and nerveHealthCd != ''">
                <choose>
                    <when test="nerveHealthCd instanceof String">
                        AND A.NERVE_HEALTH_CD =       #{nerveHealthCd}
                    </when>
                    <otherwise>
                        AND A.NERVE_HEALTH_CD IN
                        <foreach item="item" index="index" collection="nerveHealthCd" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
            <if test="nerveHealth != null and nerveHealth != ''">
                      AND A.NERVE_HEALTH    =       #{nerveHealth}
            </if>
            <if test="bodyEnergyCd != null and bodyEnergyCd != ''">
                <choose>
                    <when test="bodyEnergyCd instanceof String">
                        AND A.BODY_ENERGY_CD  =       #{bodyEnergyCd}
                    </when>
                    <otherwise>
                        AND A.BODY_ENERGY_CD  IN
                        <foreach item="item" index="index" collection="bodyEnergyCd" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
            <if test="bpSysCd != null and bpSysCd != ''">
                <choose>
                    <when test="bpSysCd instanceof String">
                        AND A.BP_SYS_CD       =       #{bpSysCd}
                    </when>
                    <otherwise>
                        AND A.BP_SYS_CD       IN
                        <foreach item="item" index="index" collection="bpSysCd" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
            <if test="bpDiaCd != null and bpDiaCd != ''">
                <choose>
                    <when test="bpDiaCd instanceof String">
                        AND A.BP_DIA_CD       =       #{bpDiaCd}
                    </when>
                    <otherwise>
                        AND A.BP_DIA_CD       IN
                        <foreach item="item" index="index" collection="bpDiaCd" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
            <if test="bpSys != null and bpSys != ''">
                      AND A.BP_SYS          =       #{bpSys}
            </if>
            <if test="bpDia != null and bpDia != ''">
                      AND A.BP_DIA          =       #{bpDia}
            </if>
            <if test="bpPowerCd != null and bpPowerCd != ''">
                <choose>
                    <when test="bpPowerCd instanceof String">
                        AND A.BP_POWER_CD     =       #{bpPowerCd}
                    </when>
                    <otherwise>
                        AND A.BP_POWER_CD     IN
                        <foreach item="item" index="index" collection="bpPowerCd" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
            <if test="bpPower != null and bpPower != ''">
                      AND A.BP_POWER        =       #{bpPower}
            </if>
            <if test="blCd != null and blCd != ''">
                <choose>
                    <when test="blCd instanceof String">
                        AND A.BL_CD           =       #{blCd}
                    </when>
                    <otherwise>
                        AND A.BL_CD           IN
                        <foreach item="item" index="index" collection="blCd" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
            <if test="blVl != null and blVl != ''">
                      AND A.BL_VL           =       #{blVl}
            </if>
            <if test="fatCd != null and fatCd != ''">
                <choose>
                    <when test="fatCd instanceof String">
                        AND A.FAT_CD          =       #{fatCd}
                    </when>
                    <otherwise>
                        AND A.FAT_CD          IN
                        <foreach item="item" index="index" collection="fatCd" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
            <if test="muscleCd != null and muscleCd != ''">
                <choose>
                    <when test="muscleCd instanceof String">
                        AND A.MUSCLE_CD       =       #{muscleCd}
                    </when>
                    <otherwise>
                        AND A.MUSCLE_CD       IN
                        <foreach item="item" index="index" collection="muscleCd" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
            <if test="fat != null and fat != ''">
                      AND A.FAT             =       #{fat}
            </if>
            <if test="muscle != null and muscle != ''">
                      AND A.MUSCLE          =       #{muscle}
            </if>
            <if test="bmiCd != null and bmiCd != ''">
                <choose>
                    <when test="bmiCd instanceof String">
                        AND A.BMI_CD          =       #{bmiCd}
                    </when>
                    <otherwise>
                        AND A.BMI_CD          IN
                        <foreach item="item" index="index" collection="bmiCd" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
            <if test="bmi != null and bmi != ''">
                      AND A.BMI             =       #{bmi}
            </if>
            <if test="height != null and height != ''">
                      AND A.HEIGHT          =       #{height}
            </if>
            <if test="weight != null and weight != ''">
                      AND A.WEIGHT          =       #{weight}
            </if>
            <if test="abdRoundCd != null and abdRoundCd != ''">
                <choose>
                    <when test="abdRoundCd instanceof String">
                        AND A.ABD_ROUND_CD    =       #{abdRoundCd}
                    </when>
                    <otherwise>
                        AND A.ABD_ROUND_CD    IN
                        <foreach item="item" index="index" collection="abdRoundCd" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
            <if test="abdRound != null and abdRound != ''">
                      AND A.ABD_ROUND       =       #{abdRound}
            </if>
        </where>
    </sql>
    <sql id="sqlOrderBy">
        <choose>
            <when test="colSortName ==null or colSortName == ''">
                ORDER BY      REG_DT DESC
            </when>
            <when test="colSortName.equals('userId')">
                ORDER BY      USER_ID
            </when>
            <when test="colSortName.equals('neuroMeasureNo')">
                ORDER BY      NEURO_MEASURE_NO
            </when>
            <when test="colSortName.equals('itgCustNo')">
                ORDER BY      ITG_CUST_NO
            </when>
            <when test="colSortName.equals('startTime')">
                ORDER BY      START_TIME
            </when>
            <when test="colSortName.equals('cstressCd')">
                ORDER BY      CSTRESS_CD
            </when>
            <when test="colSortName.equals('cbrainScore')">
                ORDER BY      CBRAIN_SCORE
            </when>
            <when test="colSortName.equals('concentrationCd')">
                ORDER BY      CONCENTRATION_CD
            </when>
            <when test="colSortName.equals('concentration')">
                ORDER BY      CONCENTRATION
            </when>
            <when test="colSortName.equals('mentalCd')">
                ORDER BY      MENTAL_CD
            </when>
            <when test="colSortName.equals('mental')">
                ORDER BY      MENTAL
            </when>
            <when test="colSortName.equals('balanceCd')">
                ORDER BY      BALANCE_CD
            </when>
            <when test="colSortName.equals('lBalanceRatio')">
                ORDER BY      L_BALANCE_RATIO
            </when>
            <when test="colSortName.equals('rBalanceRatio')">
                ORDER BY      R_BALANCE_RATIO
            </when>
            <when test="colSortName.equals('bodyFatigueCd')">
                ORDER BY      BODY_FATIGUE_CD
            </when>
            <when test="colSortName.equals('bodyFatigue')">
                ORDER BY      BODY_FATIGUE
            </when>
            <when test="colSortName.equals('nerveHealthCd')">
                ORDER BY      NERVE_HEALTH_CD
            </when>
            <when test="colSortName.equals('nerveHealth')">
                ORDER BY      NERVE_HEALTH
            </when>
            <when test="colSortName.equals('bodyEnergyCd')">
                ORDER BY      BODY_ENERGY_CD
            </when>
            <when test="colSortName.equals('bpSysCd')">
                ORDER BY      BP_SYS_CD
            </when>
            <when test="colSortName.equals('bpDiaCd')">
                ORDER BY      BP_DIA_CD
            </when>
            <when test="colSortName.equals('bpSys')">
                ORDER BY      BP_SYS
            </when>
            <when test="colSortName.equals('bpDia')">
                ORDER BY      BP_DIA
            </when>
            <when test="colSortName.equals('bpPowerCd')">
                ORDER BY      BP_POWER_CD
            </when>
            <when test="colSortName.equals('bpPower')">
                ORDER BY      BP_POWER
            </when>
            <when test="colSortName.equals('blCd')">
                ORDER BY      BL_CD
            </when>
            <when test="colSortName.equals('blVl')">
                ORDER BY      BL_VL
            </when>
            <when test="colSortName.equals('fatCd')">
                ORDER BY      FAT_CD
            </when>
            <when test="colSortName.equals('muscleCd')">
                ORDER BY      MUSCLE_CD
            </when>
            <when test="colSortName.equals('fat')">
                ORDER BY      FAT
            </when>
            <when test="colSortName.equals('muscle')">
                ORDER BY      MUSCLE
            </when>
            <when test="colSortName.equals('bmiCd')">
                ORDER BY      BMI_CD
            </when>
            <when test="colSortName.equals('bmi')">
                ORDER BY      BMI
            </when>
            <when test="colSortName.equals('height')">
                ORDER BY      HEIGHT
            </when>
            <when test="colSortName.equals('weight')">
                ORDER BY      WEIGHT
            </when>
            <when test="colSortName.equals('abdRoundCd')">
                ORDER BY      ABD_ROUND_CD
            </when>
            <when test="colSortName.equals('abdRound')">
                ORDER BY      ABD_ROUND
            </when>
            <when test="colSortName.equals('amdrId')">
                ORDER BY      AMDR_ID
            </when>
            <when test="colSortName.equals('amdDt')">
                ORDER BY      AMD_DT
            </when>
            <when test="colSortName.equals('regrId')">
                ORDER BY      REGR_ID
            </when>
            <when test="colSortName.equals('regDt')">
                ORDER BY      REG_DT
            </when>
            <otherwise>
                ORDER BY      REG_DT
            </otherwise>
        </choose>
        <if test="colSortName !=null and colSortDir !='' and colSortDir !=null and colSortDir !='' and colSortDir.equals('desc')">
            DESC
        </if>
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT /* com.ceragem.crm.cst.dao.CusCeraCkListDao.selectListCount */ COUNT(1)
                 FROM CRM_CUST_CRCK_HST A
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.ceragem.crm.cst.model.CusCeraCkListVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
               SELECT /* com.ceragem.crm.cst.dao.CusCeraCkListDao.selectList */ <include refid="sqlSelectCols"/>
                 FROM CRM_CUST_CRCK_HST A
        <include refid="sqlConditions"/>
        <include refid="sqlOrderBy"/>
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.ceragem.crm.cst.model.CusCeraCkListVo">
               SELECT /* com.ceragem.crm.cst.dao.CusCeraCkListDao.select */ <include refid="sqlSelectCols"/>
                 FROM CRM_CUST_CRCK_HST A
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
                INSERT /* com.ceragem.crm.cst.dao.CusCeraCkListDao.insert */ INTO CRM_CUST_CRCK_HST (
        <include refid="sqlCols"/>
                 ) VALUES (
                       #{userId}
                     , #{neuroMeasureNo}
                     , #{itgCustNo}
                     , #{startTime}
                     , #{cstressCd}
                     , #{cbrainScore}
                     , #{concentrationCd}
                     , #{concentration}
                     , #{mentalCd}
                     , #{mental}
                     , #{balanceCd}
                     , #{lBalanceRatio}
                     , #{rBalanceRatio}
                     , #{bodyFatigueCd}
                     , #{bodyFatigue}
                     , #{nerveHealthCd}
                     , #{nerveHealth}
                     , #{bodyEnergyCd}
                     , #{bpSysCd}
                     , #{bpDiaCd}
                     , #{bpSys}
                     , #{bpDia}
                     , #{bpPowerCd}
                     , #{bpPower}
                     , #{blCd}
                     , #{blVl}
                     , #{fatCd}
                     , #{muscleCd}
                     , #{fat}
                     , #{muscle}
                     , #{bmiCd}
                     , #{bmi}
                     , #{height}
                     , #{weight}
                     , #{abdRoundCd}
                     , #{abdRound}
                     , #{amdrId}
                     , SYSDATE
                     , #{regrId}
                     , SYSDATE
                 )
    </insert>
    <update id="update">
               UPDATE /* com.ceragem.crm.cst.dao.CusCeraCkListDao.update */ CRM_CUST_CRCK_HST
                  SET ITG_CUST_NO                             =         #{itgCustNo}
                    , START_TIME                              =         #{startTime}
                    , CSTRESS_CD                              =         #{cstressCd}
                    , CBRAIN_SCORE                            =         #{cbrainScore}
                    , CONCENTRATION_CD                        =         #{concentrationCd}
                    , CONCENTRATION                           =         #{concentration}
                    , MENTAL_CD                               =         #{mentalCd}
                    , MENTAL                                  =         #{mental}
                    , BALANCE_CD                              =         #{balanceCd}
                    , L_BALANCE_RATIO                         =         #{lBalanceRatio}
                    , R_BALANCE_RATIO                         =         #{rBalanceRatio}
                    , BODY_FATIGUE_CD                         =         #{bodyFatigueCd}
                    , BODY_FATIGUE                            =         #{bodyFatigue}
                    , NERVE_HEALTH_CD                         =         #{nerveHealthCd}
                    , NERVE_HEALTH                            =         #{nerveHealth}
                    , BODY_ENERGY_CD                          =         #{bodyEnergyCd}
                    , BP_SYS_CD                               =         #{bpSysCd}
                    , BP_DIA_CD                               =         #{bpDiaCd}
                    , BP_SYS                                  =         #{bpSys}
                    , BP_DIA                                  =         #{bpDia}
                    , BP_POWER_CD                             =         #{bpPowerCd}
                    , BP_POWER                                =         #{bpPower}
                    , BL_CD                                   =         #{blCd}
                    , BL_VL                                   =         #{blVl}
                    , FAT_CD                                  =         #{fatCd}
                    , MUSCLE_CD                               =         #{muscleCd}
                    , FAT                                     =         #{fat}
                    , MUSCLE                                  =         #{muscle}
                    , BMI_CD                                  =         #{bmiCd}
                    , BMI                                     =         #{bmi}
                    , HEIGHT                                  =         #{height}
                    , WEIGHT                                  =         #{weight}
                    , ABD_ROUND_CD                            =         #{abdRoundCd}
                    , ABD_ROUND                               =         #{abdRound}
                    , AMDR_ID                                 =         #{amdrId}
                    , AMD_DT                                  =         SYSDATE
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE /* com.ceragem.crm.cst.dao.CusCeraCkListDao.delete */
                 FROM CRM_CUST_CRCK_HST
        <include refid="sqlPkConditions"/>
    </delete>
</mapper>
