<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.cst.dao.CusKnownpersonListDao">
    <sql id="sqlPkConditions">
                WHERE ACQIE_HST_SEQ     =       #{acqieHstSeq}
    </sql>
    <sql id="sqlCols">
                      ACQIE_HST_SEQ                    /*지인이력일련번호        */
                    , ITG_CUST_NO                    /*통합고객번호        */
                    , ACQIE_ITG_CUST_NO                    /*지인통합고객번호        */
                    , CNTRT_NO                    /*계약번호        */
                    , USE_TYPE_CD                    /*사용유형코드        */
                    , ACQIE_REL_CD                    /*지인관계코드        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
                    , REG_CHL_CD                    /*등록채널코드        공통코드 : S000        [CRM : CRM , CTC : 상담 , AS : AS , SAP : SAP , POS : POS]*/
    </sql>
    <sql id="sqlSelectCols">
                      A.ACQIE_HST_SEQ                    /*지인이력일련번호        */
                    , A.ITG_CUST_NO                    /*통합고객번호        */
                    , A.ACQIE_ITG_CUST_NO                    /*지인통합고객번호        */
                    , (SELECT CUST_NM FROM CRM_CUST_BAS WHERE ITG_CUST_NO = A.ACQIE_ITG_CUST_NO) AS ACQIE_ITG_CUST_NM                    /*지인명        */
                    , (SELECT '010-****-'|| MPHON_BK_DGT_NO FROM CRM_CUST_BAS WHERE ITG_CUST_NO = A.ACQIE_ITG_CUST_NO) AS MPHON_NO                    /*지인휴대전화번호        */
                    , A.CNTRT_NO                    /*계약번호        */
                    , A.USE_TYPE_CD AS USE_TYPE_NM                    /*사용유형        */
                    , A.USE_TYPE_CD                    /*사용유형코드        */
                    , A.ACQIE_REL_CD AS ACQIE_REL_NM                   /*지인관계        */
                    , A.ACQIE_REL_CD                    /*지인관계코드        */
                    , A.AMDR_ID                    /*수정자ID        */
                    , TO_CHAR(A.AMD_DT,'YYYYMMDDHH24MISS')    AMD_DT                    /*수정일시        */
                    , A.REGR_ID                    /*등록자ID        */
                    , TO_CHAR(A.REG_DT,'YYYYMMDDHH24MISS')    REG_DT                    /*등록일시        */
                    , A.REG_CHL_CD AS REG_CHL_NM                    /*등록채널        */
                    , A.REG_CHL_CD                    /*등록채널코드        공통코드 : S000        [CRM : CRM , CTC : 상담 , AS : AS , SAP : SAP , POS : POS]*/
    </sql>
    <sql id="sqlConditions">
        <where>
        <if test="acqieHstSeq != null and acqieHstSeq != ''">
                  AND A.ACQIE_HST_SEQ   =       #{acqieHstSeq}
        </if>
        <if test="itgCustNo != null and itgCustNo != ''">
                  AND A.ITG_CUST_NO     =       #{itgCustNo}
        </if>
        <if test="acqieItgCustNo != null and acqieItgCustNo != ''">
                  AND A.ACQIE_ITG_CUST_NO=       #{acqieItgCustNo}
        </if>
        <if test="cntrtNo != null and cntrtNo != ''">
                  AND A.CNTRT_NO        =       #{cntrtNo}
        </if>
        <if test="strtDt != null and strtDt != ''">
                  AND REG_DT      >=       TO_DATE(#{strtDt},'YYYYMMDD')
        </if>
        <if test="endDt != null and endDt != ''">
                  AND TO_DATE(#{endDt},'YYYYMMDD') + 1 > REG_DT
        </if>
        <if test="useTypeCd != null and useTypeCd != ''">
            <choose>
                <when test="useTypeCd instanceof String">
                    AND A.USE_TYPE_CD     =       #{useTypeCd}
                </when>
                <otherwise>
                    AND A.USE_TYPE_CD     IN
                    <foreach item="item" index="index" collection="useTypeCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="acqieRelCd != null and acqieRelCd != ''">
            <choose>
                <when test="acqieRelCd instanceof String">
                    AND A.ACQIE_REL_CD    =       #{acqieRelCd}
                </when>
                <otherwise>
                    AND A.ACQIE_REL_CD    IN
                    <foreach item="item" index="index" collection="acqieRelCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="regChlCd != null and regChlCd != ''">
            <choose>
                <when test="regChlCd instanceof String">
                    AND A.REG_CHL_CD      =       #{regChlCd}
                </when>
                <otherwise>
                    AND A.REG_CHL_CD      IN
                    <foreach item="item" index="index" collection="regChlCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        </where>
    </sql>
    <sql id="sqlOrderBy">
        <choose>
            <when test="colSortName ==null or colSortName == ''">
                ORDER BY      REG_DT DESC
            </when>
            <when test="colSortName.equals('acqieHstSeq')">
                ORDER BY      ACQIE_HST_SEQ
            </when>
            <when test="colSortName.equals('itgCustNo')">
                ORDER BY      ITG_CUST_NO
            </when>
            <when test="colSortName.equals('acqieItgCustNo')">
                ORDER BY      ACQIE_ITG_CUST_NO
            </when>
            <when test="colSortName.equals('cntrtNo')">
                ORDER BY      CNTRT_NO
            </when>
            <when test="colSortName.equals('useTypeCd')">
                ORDER BY      USE_TYPE_CD
            </when>
            <when test="colSortName.equals('acqieRelCd')">
                ORDER BY      ACQIE_REL_CD
            </when>
            <when test="colSortName.equals('amdrId')">
                ORDER BY      AMDR_ID
            </when>
            <when test="colSortName.equals('amdDt')">
                ORDER BY      AMD_DT
            </when>
            <when test="colSortName.equals('regrId')">
                ORDER BY      REGR_ID
            </when>
            <when test="colSortName.equals('regDt')">
                ORDER BY      REG_DT
            </when>
            <when test="colSortName.equals('regChlCd')">
                ORDER BY      REG_CHL_CD
            </when>
            <otherwise>
                ORDER BY      REG_DT
            </otherwise>
        </choose>
        <if test="colSortName !=null and colSortDir !='' and colSortDir !=null and colSortDir !='' and colSortDir.equals('desc')">
            DESC
        </if>
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT /* com.ceragem.crm.cst.dao.CusKnownpersonListDao.selectListCount */ COUNT(1)
                 FROM CRM_ACQIE_HST A
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.ceragem.crm.cst.model.CusKnownpersonListVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
               SELECT /* com.ceragem.crm.cst.dao.CusKnownpersonListDao.selectList */ <include refid="sqlSelectCols"/>
                 FROM CRM_ACQIE_HST A
        <include refid="sqlConditions"/>
        <include refid="sqlOrderBy"/>
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.ceragem.crm.cst.model.CusKnownpersonListVo">
               SELECT /* com.ceragem.crm.cst.dao.CusKnownpersonListDao.select */ <include refid="sqlSelectCols"/>
                 FROM CRM_ACQIE_HST A
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
                INSERT /* com.ceragem.crm.cst.dao.CusKnownpersonListDao.insert */ INTO CRM_ACQIE_HST (
        <include refid="sqlCols"/>
                 ) VALUES (
                       FN_CRM_AUTO_SEQ('ACQ')
                     , #{itgCustNo}
                     , #{acqieItgCustNo}
                     , #{cntrtNo}
                     , #{useTypeCd}
                     , '001'
                     , #{amdrId}
                     , SYSDATE
                     , #{regrId}
                     , SYSDATE
                     , 'CRM'
                 )
    </insert>
    <update id="update">
               UPDATE /* com.ceragem.crm.cst.dao.CusKnownpersonListDao.update */ CRM_ACQIE_HST
                  SET ITG_CUST_NO                             =         #{itgCustNo}
                    , ACQIE_ITG_CUST_NO                       =         #{acqieItgCustNo}
                    , CNTRT_NO                                =         #{cntrtNo}
                    , USE_TYPE_CD                             =         #{useTypeCd}
                    , ACQIE_REL_CD                            =         #{acqieRelCd}
                    , AMDR_ID                                 =         #{amdrId}
                    , AMD_DT                                  =         SYSDATE
                    , REG_CHL_CD                              =         'CRM'
        <include refid="sqlPkConditions"/>
    </update>
    <update id="updateAcqieRelCd">
               UPDATE /* com.ceragem.crm.cst.dao.CusKnownpersonListDao.updateAcqieRelCd */ CRM_ACQIE_HST
                  SET ACQIE_REL_CD                            =         #{acqieRelCd}
                    , AMDR_ID                                 =         #{amdrId}
                    , AMD_DT                                  =         SYSDATE
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE /* com.ceragem.crm.cst.dao.CusKnownpersonListDao.delete */ FROM CRM_ACQIE_HST
        <include refid="sqlPkConditions"/>
    </delete>
</mapper>
