<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.cst.dao.CusPointListDao">
    <sql id="sqlPkConditions">
                WHERE POINT_HST_SEQ     =       #{pointHstSeq}
    </sql>
    
    <sql id="sqlPointHstCols">
                    A.PBLS_DT                                                                                /*발행일시        */
                    , A.USE_DT                                                                            /*사용일시        */
                    ,CASE
                            WHEN A.USE_TYPE_CD = '001' THEN A.USE_DT
                            WHEN A.USE_TYPE_CD = '002' THEN A.PBLS_DT
                            WHEN A.USE_TYPE_CD = '003' THEN A.PBLS_DT
                            ELSE A.REG_DT
                        END AS DT                                                                        /*발행구분:사용,취소-사용일시, 적립-발행일시, ELSE-등록일시*/
                    , A.ITG_CUST_NO                                                                        /*통합고객번호        */
                    , A.PBLS_DIV_CD AS PBLS_DIV_NM                                                        /*발행구분        */
                    , A.PBLS_DIV_CD                                                                        /*발행구분코드        */
                    , A.USE_TYPE_CD AS USE_TYPE_NM                                                        /*사용유형        */
                    , A.USE_TYPE_CD                                                                        /*사용유형코드        */
                    , A.TXN                                                                                /*내역        */
                    , A.OCCUR_POINT_SCORE AS POINT_SCORE                                                    /*발생포인트점수        */
                    , A.REMAIN_POINT_SCORE                                                                /*잔여포인트점수        */
                    , A.EXTNC_DT                                                                            /*소멸일시        */
                    , A.VALID_PERD_STA_YMD                                                                 /* 유효기간시작년월일 */
                    , CASE WHEN USE_TYPE_CD = '001' THEN ''
                           ELSE VALID_PERD_END_YMD
                           END AS VALID_PERD_END_YMD/* 유효기간종료년월일 */
                    , B.STOR_NM            /*매장명        */
                    , B.STOR_CHL_CD     /* 매장채널명        */
                    , A.STOR_NO                                                                            /*매장번호        */
                    , A.PBLS_CHL_CD AS CHL_NM                                                                /*발행채널        */
                    , A.PBLS_CHL_CD AS CHL_CD                                                                /*발행채널코드        */
                    <!-- Hidden -->
                    , A.POINT_HST_SEQ                                                                        /*포인트이력일련번호        */
                    , A.MSHIP_GRADE_CD                                                                    /*멤버십등급코드        */
                    , A.CHIT_NO                                                                            /*전표번호        */
                    , A.BUY_GODS_NO                                                                        /*구매제품번호        */
                    , A.ORDR_AMT                                                                            /*주문금액        */
                    , A.APPLY_AMT                                                                            /*적용금액        */
                    , A.PAY_AMT                                                                            /*결제금액        */
                    <!-- , A.VALID_PERD                                                                             /*유효기간        */ -->
                    , A.CARD_PBLS_HST_SEQ                                                                    /*카드발행이력일련번호        */
                    , A.DEAL_NO                                                                            /*거래번호        */
                    , A.PROM_NO                                                                            /*프로모션번호        */
                    , A.CAMP_NO                                                                            /*캠페인번호        */
                    , A.COUPN_NO                                                                            /*쿠폰번호        */
                    , A.REG_DT                                                                            /*등록일시        */
                    , A.AMDR_ID                                                                            /*수정자ID        */
                    , A.AMD_DT                                                                            /*수정일시        */
                    , A.REGR_ID                                                                            /*등록자ID        */
                    , A.REG_CHL_CD                                                                        /*등록채널코드        공통코드 : S000        [CRM : CRM , CTC : 상담 , AS : AS , SAP : SAP]*/
    </sql>
   
    
    <sql id="sqlConditions">
        <where>
        <if test="itgCustNo != null and itgCustNo != ''">
                      AND B.ITG_CUST_NO      =       #{itgCustNo}
        </if>                
        <if test="strtDt != null and strtDt != ''">
                      AND B.DT      >=       TO_DATE(#{strtDt},'YYYYMMDD')
        </if>
        <if test="endDt != null and endDt != ''">
                      AND TO_DATE(#{endDt},'YYYYMMDD') + 1 > B.DT
        </if>
        <if test="useTypeCd != null and useTypeCd != ''">
                      AND B.USE_TYPE_CD      =       #{useTypeCd}
        </if>
        <if test="pblsDivCd != null and pblsDivCd != ''">
                      AND B.PBLS_DIV_CD      =       #{pblsDivCd}
        </if>
        <if test="storNo != null and storNo != ''">
                      AND B.STOR_NO      =       #{storNo}
        </if>
        </where>
    </sql>
    
    
    <select id="selectListCount" resultType="int">
                 SELECT /* com.ceragem.crm.cst.dao.CusPointListDao.selectListCount */ COUNT(1)
                 FROM (
                           SELECT <include refid="sqlPointHstCols"/>
                          FROM CRM_POINT_HST A, CRM_STOR_BAS B
                         WHERE A.STOR_NO = B.STOR_NO(+)
                      ) B
        <include refid="sqlConditions"/>
    </select>
    
    <select id="selectList" resultType="com.ceragem.crm.cst.model.CusPointListVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
                 SELECT /* com.ceragem.crm.cst.dao.CusPointListDao.selectList */ * FROM
                       (
                           SELECT <include refid="sqlPointHstCols"/>
                          FROM CRM_POINT_HST A, CRM_STOR_BAS B
                         WHERE A.STOR_NO = B.STOR_NO(+)
                      ) B
        <include refid="sqlConditions"/>
                  ORDER BY B.POINT_HST_SEQ DESC
                  --ORDER BY B.DT DESC, B.REMAIN_POINT_SCORE DESC 
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    
    <select id="select" resultType="com.ceragem.crm.cst.model.CusPointListVo">
               SELECT /* com.ceragem.crm.cst.dao.CusPointListDao.select */ * FROM
                       (
                           SELECT <include refid="sqlPointHstCols"/>
                          FROM CRM_POINT_HST A, CRM_STOR_BAS B
                         WHERE A.STOR_NO = B.STOR_NO(+)
                      ) B
        <include refid="sqlPkConditions"/>
    </select>
    
</mapper>
