<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.cst.dao.CusRecommendDao">
    <sql id="sqlPkConditions">
                WHERE A.ITG_CUST_NO = #{itgCustNo}
    </sql>
    <sql id="sqlCols">
                      A.RCMDR_HST_SEQ                /* 추천인이력일련번호 */
                    , A.ITG_CUST_NO                    /* 통합고객번호 */
                    , A.RCMDR_CUST_NO                /* 추천인고객번호 */
                    , A.RCMD_EXECVDEMP_NO            /* 추천임직원번호 */
                    , A.RCMD_STOR_NO                    /* 추천매장번호 */
                    , A.RCMD_TYPE_CD                    /* 추천유형코드 */
                    , B.CUST_NM                        /* 추천인고객명 */
                    , B.MPHON_NO AS MPHON_NO                        /* 추천인고객전화번호 */
                    , B.MSHIP_GRADE_CD                /* 추천인고객등급코드 */
                    , (SELECT STOR_NM FROM CRM_STOR_BAS WHERE STOR_NO = A.RCMD_STOR_NO) AS RCMD_STOR_NM        /* 추천매장명 */
                    , A.AMDR_ID                        /* 수정자ID */
                    , A.AMD_DT                        /* 수정일시 */
                    , A.REGR_ID                        /* 등록자ID */
                    , A.REG_DT                        /* 등록일시 */
                    , A.REG_CHL_CD                     /* 등록채널코드 */
    </sql>
    <sql id="sqlConditions">
              WHERE
                     A.ITG_CUST_NO = #{itgCustNo} 
                AND 
                     A.RCMDR_CUST_NO = B.ITG_CUST_NO
        <if test="rcmdTypeCd != null and rcmdTypeCd != ''">
                  AND A.RCMD_TYPE_CD = #{rcmdTypeCd}
        </if>
        <if test="mphonNo != null and mphonNo != ''">
                  AND B.MPHON_NO LIKE '%' || #{mphonNo} || '%'
        </if>
        <if test="regStaDt != null and regStaDt != ''">
                  AND A.REG_DT >= TO_DATE(#{regStaDt},'YYYYMMDD')
        </if>
        <if test="regEndDt != null and regEndDt != ''">
                  AND TO_DATE(#{regEndDt},'YYYYMMDD') + 1 > A.REG_DT
        </if>
        <if test="custNm != null and custNm != ''">
                  AND B.CUST_NM LIKE '%' || #{custNm} || '%'
        </if>
    </sql>
    <sql id="sqlOrderBy">
        <choose>
            <when test="colSortName ==null or colSortName == ''">
                ORDER BY      REG_DT DESC
            </when>
            <when test="colSortName.equals('cprtCmpNo')">
                ORDER BY      CPRT_CMP_NO
            </when>
            <when test="colSortName.equals('cprtDivCd')">
                ORDER BY      CPRT_DIV_CD
            </when>
            <when test="colSortName.equals('cprtStatusCd')">
                ORDER BY      CPRT_STATUS_CD
            </when>
            <when test="colSortName.equals('cprtCmpNm')">
                ORDER BY      CPRT_CMP_NM
            </when>
            <when test="colSortName.equals('cprtCmpRegYmd')">
                ORDER BY      CPRT_CMP_REG_YMD
            </when>
            <otherwise>
                ORDER BY      REG_DT
            </otherwise>
        </choose>
        <if test="colSortName !=null and colSortDir !='' and colSortDir !=null and colSortDir !='' and colSortDir.equals('desc')">
            DESC
        </if>
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT COUNT(1)
                 FROM CRM_RCMD_HST A, CRM_CUST_BAS B 
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.ceragem.crm.cst.model.CusRecommendVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
               SELECT <include refid="sqlCols"/>
                 FROM CRM_RCMD_HST A, CRM_CUST_BAS B 
        <include refid="sqlConditions"/>
        <include refid="sqlOrderBy"/>
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.ceragem.crm.cst.model.CusRecommendVo">
               SELECT <include refid="sqlCols"/>
                 FROM CRM_RCMD_HST A, CRM_CUST_BAS B 
        <include refid="sqlPkConditions"/>
    </select>
</mapper>
