<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.cst.dao.LoyalCusDao">
    <sql id="sqlPkConditions">
                WHERE A.ITG_CUST_NO       =       #{itgCustNo}
    </sql>
    
    <sql id="sqlRcmdDetailSelectCols">
                      B.RCMDR_HST_SEQ                    /*추천인이력일련번호        */
                    , A.ITG_CUST_NO                    /*통합고객번호        */
                    , B.ITG_CUST_NO AS RCMDR_CUST_NO                    /*추천인고객번호        */
                    <!-- , A.CUST_NM AS RCMDR_CUST_NM         /*추천인고객명        */ -->
                    , (SELECT CUST_NM FROM CRM_CUST_BAS WHERE ITG_CUST_NO = B.ITG_CUST_NO) AS RCMDR_CUST_NM
                    , B.RCMD_EXECVDEMP_NO                    /*추천임직원번호        */
                    , B.RCMD_STOR_NO                    /*추천매장번호        */
                    , B.RCMD_TYPE_CD                    /*추천유형코드        */
                    , B.AMDR_ID                    /*수정자ID        */
                    , TO_CHAR(B.AMD_DT,'YYYYMMDDHH24MISS')    AMD_DT                    /*수정일시        */
                    , B.REGR_ID                    /*등록자ID        */
                    , TO_CHAR(B.REG_DT,'YYYYMMDDHH24MISS')    REG_DT                    /*등록일시        */
                    , B.REG_CHL_CD                    /*등록채널코드        공통코드 : S000        [CRM : CRM , CTC : 상담 , AS : AS , SAP : SAP , POS : POS]*/
    </sql>
    
    <sql id="sqlRcmdDetailConditions">
        <where>
        <if test="rcmdrHstSeq != null and rcmdrHstSeq != ''">
                  AND A.RCMDR_HST_SEQ   =       #{rcmdrHstSeq}
        </if>
        <if test="itgCustNo != null and itgCustNo != ''">
                  AND A.ITG_CUST_NO     =       #{itgCustNo}
        </if>
        <if test="rcmdrCustNo != null and rcmdrCustNo != ''">
                  AND A.RCMDR_CUST_NO   =       #{rcmdrCustNo}
        </if>
        <if test="rcmdExecvdempNo != null and rcmdExecvdempNo != ''">
                  AND A.RCMD_EXECVDEMP_NO=       #{rcmdExecvdempNo}
        </if>
        <if test="rcmdStorNo != null and rcmdStorNo != ''">
                  AND A.RCMD_STOR_NO    =       #{rcmdStorNo}
        </if>
        <if test="rcmdTypeCd != null and rcmdTypeCd != ''">
            <choose>
                <when test="rcmdTypeCd instanceof String">
                    AND A.RCMD_TYPE_CD    =       #{rcmdTypeCd}
                </when>
                <otherwise>
                    AND A.RCMD_TYPE_CD    IN
                    <foreach item="item" index="index" collection="rcmdTypeCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="regChlCd != null and regChlCd != ''">
            <choose>
                <when test="regChlCd instanceof String">
                    AND A.REG_CHL_CD      =       #{regChlCd}
                </when>
                <otherwise>
                    AND A.REG_CHL_CD      IN
                    <foreach item="item" index="index" collection="regChlCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        </where>
    </sql>
    
    <sql id="sqlRcmdDetailOrderBy">
        <choose>
            <when test="colSortName ==null or colSortName == ''">
                ORDER BY      A.REG_DT DESC
            </when>
            <when test="colSortName.equals('rcmdrHstSeq')">
                ORDER BY      A.RCMDR_HST_SEQ
            </when>
            <when test="colSortName.equals('itgCustNo')">
                ORDER BY      A.ITG_CUST_NO
            </when>
            <when test="colSortName.equals('rcmdrCustNo')">
                ORDER BY      A.RCMDR_CUST_NO
            </when>
            <when test="colSortName.equals('rcmdExecvdempNo')">
                ORDER BY      A.RCMD_EXECVDEMP_NO
            </when>
            <when test="colSortName.equals('rcmdStorNo')">
                ORDER BY      A.RCMD_STOR_NO
            </when>
            <when test="colSortName.equals('rcmdTypeCd')">
                ORDER BY      A.RCMD_TYPE_CD
            </when>
            <when test="colSortName.equals('amdrId')">
                ORDER BY      A.AMDR_ID
            </when>
            <when test="colSortName.equals('amdDt')">
                ORDER BY      A.AMD_DT
            </when>
            <when test="colSortName.equals('regrId')">
                ORDER BY      A.REGR_ID
            </when>
            <when test="colSortName.equals('regDt')">
                ORDER BY      A.REG_DT
            </when>
            <when test="colSortName.equals('regChlCd')">
                ORDER BY      A.REG_CHL_CD
            </when>
            <otherwise>
                ORDER BY      A.REG_DT
            </otherwise>
        </choose>
        <if test="colSortName !=null and colSortDir !='' and colSortDir !=null and colSortDir !='' and colSortDir.equals('desc')">
            DESC
        </if>
    </sql>
    
    <sql id="sqlConditions">
        <where>
        	 AND A.CUST_STATUS_CD != '003'
        <if test="bosCntrtCnt != null and bosCntrtCnt != ''">
                  AND A.BOS_CNTRT_CNT     >=       #{bosCntrtCnt}
        </if>
        <if test="rcmdCnt != null and rcmdCnt != ''">
                  AND A.RCMD_CNT     >=       #{rcmdCnt}
        </if>
        
        <if test="custTypeCd != null and custTypeCd != ''">
            <choose>
                <when test="custTypeCd instanceof String">
                    AND A.CUST_TYPE_CD    =       #{custTypeCd}
                </when>
                <otherwise>
                    AND A.CUST_TYPE_CD    IN
                    <foreach item="item" index="index" collection="custTypeCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>    
        <if test="strtDt != null and strtDt != ''">
                  AND A.REG_DT      >=       TO_DATE(#{strtDt},'YYYYMMDD')
        </if>
        <if test="endDt != null and endDt != ''">
                  AND TO_DATE(#{endDt},'YYYYMMDD') + 1 > A.REG_DT
        </if>
        <if test="itgCustNo != null and itgCustNo != ''">
                  AND A.ITG_CUST_NO    =    #{itgCustNo}
        </if>
        <if test="gndrCd != null and gndrCd != ''">
            <choose>
                <when test="gndrCd instanceof String">
                    AND A.GNDR_CD         =       #{gndrCd}
                </when>
                <otherwise>
                    AND A.GNDR_CD         IN
                    <foreach item="item" index="index" collection="gndrCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="birthdayStrtDt != null and birthdayStrtDt != ''">
                  AND TO_DATE(A.BIRTHDAY,'YYYYMMDD')      >=       TO_DATE(#{birthdayStrtDt},'YYYYMMDD')
        </if>
        <if test="birthdayEndDt != null and birthdayEndDt != ''">
                  AND TO_DATE(#{birthdayEndDt},'YYYYMMDD') + 1 > TO_DATE(A.BIRTHDAY,'YYYYMMDD')
        </if>
        <if test="fromSaleAggrAmt != null and fromSaleAggrAmt != ''">
                  AND A.SALE_AGGR_AMT >= #{fromSaleAggrAmt}
        </if>
        <if test="toSaleAggrAmt != null and toSaleAggrAmt != ''">
                  AND #{toSaleAggrAmt} >= A.SALE_AGGR_AMT 
        </if>
        </where>
    </sql>
    
    <sql id="sqlBosCntrtDetailSelectCols">
                      A.CNTR_NO                    /*계약번호        */
                    , A.CUST_NO                    /*고객번호        */
                    , A.CUST_NM                    /*고객명        */
                    , A.ITG_CUST_NO                    /*계약자 통합고객번호        */
                    , A.CUST_TY_CD                    /*고객유형코드        */
                    , A.CUST_TY_CDNM                    /*고객유형명        */
                    , A.CUST_TY_DTL_CD                    /*고객유형상세코드        */
                    , A.CUST_TY_DTL_CDNM                    /*고객유형상세명        */
                    , A.ORD_NO                    /*주문번호        */
                    , A.ORD_NO_SN                    /*주문번호순번        */
                    , A.ORD_DE                    /*주문일자        */
                    , A.ORD_STS_CD                    /*주문상태코드        */
                    , A.ORD_STS_CDNM                    /*주문상태명        */
                    , A.ORD_CHN_CD                    /*주문채널코드        */
                    , A.ORD_SE_CD                    /*주문구분코드        */
                    , A.ORD_SE_CDNM                    /*주문구분명        */
                    , A.ORD_CNCL_DE                    /*주문취소일자        */
                    , A.ITEM_CD                    /*품목코드        */
                    , A.ITEM_NM                    /*품목명        */
                    , A.ITEM_GRP_CD                    /*품목그룹코드        */
                    , A.ITEM_GRP_CDNM                    /*품목그룹명        */
                    , A.ITEM_TY_CD                    /*품목유형코드        */
                    , A.ITEM_TY_CDNM                    /*품목유형명        */
                    , A.ITEM_TY_DTL_CD                    /*품목유형상세코드        */
                    , A.ITEM_TY_DTL_CDNM                    /*품목유형상세명        */
                    , A.SERIAL_NO                    /*시리얼번호        */
                    , A.SALE_TY_CD                    /*판매유형코드        */
                    , A.SALE_TY_CDNM                    /*판매유형명        */
                    , A.SALE_SE_CD                    /*판매구분코드        */
                    , A.SALE_SE_CDNM                    /*판매구분명        */
                    , A.SALE_GRP_CD                    /*판매그룹코드        */
                    , A.SALE_GRP_CDNM                    /*판매그룹명        */
                    , A.CNTR_STS_CD                    /*계약상태코드        */
                    , A.CNTR_STS_CDNM                    /*계약상태명        */
                    , A.CNTR_STS_DTL_CD                    /*계약상태상세코드        */
                    , A.CNTR_STS_DTL_CDNM                    /*계약상태상세명        */
                    , A.CNTR_STS_DTL_RSN                    /*계약상태상세사유        */
                    , A.SETL_STS_CD                    /*결제상태코드        */
                    , A.SETL_STS_CDNM                    /*결제상태명        */
                    , A.IST_STS_CD                    /*설치상태코드        */
                    , A.IST_STS_CDNM                    /*설치상태명        */
                    , A.CNTR_CNCL_YN                    /*계약취소여부        */
                    , A.CNTR_CNCL_DE                    /*계약취소일자        */
                    , A.CNTR_CNCL_RSN                    /*계약취소사유        */
                    , A.HQ_SE_CD                    /*본부구분코드        */
                    , A.SELLER                    /*판매인        */
                    , A.SELLERNM                    /*판매인명        */
                    , A.SALE_ORGZ                    /*판매조직        */
                    , A.IST_DUE_ORGZ                    /*설치예정조직        */
                    , A.IST_DUE_ENGR                    /*설치예정기사        */
                    , A.IST_ORGZ                    /*설치조직        */
                    , A.IST_ENGR                    /*설치기사        */
                    , A.EQP_NO                    /*설비번호        */
                    , A.WRH_CD                    /*창고코드        */
                    , A.WRH_NM                    /*창고명        */
                    , A.CNTC_SN                    /*컨택순번        */
                    , A.CUST_CNTC_STS                    /*고객컨택상태        */
                    , A.CUST_CNTC_DE                    /*고객컨택일자        */
                    , A.IST_REQ_DE                    /*설치요청일자        */
                    , A.IST_DE                    /*설치일자        */
                    , A.IST_DCS_YN                    /*설치확정여부        */
                    , A.IST_DCS_DE                    /*설치확정일자        */
                    , A.CNTR_START_DE                    /*계약시작일자        */
                    , A.CNTR_END_DUE_DE                    /*계약종료예정일자        */
                    , A.CNTR_END_YN                    /*계약종료여부        */
                    , A.CNTR_END_DE                    /*계약종료일자        */
                    , A.SELNG_DCS_YN                    /*매출확정여부        */
                    , A.SELNG_DCS_DE                    /*매출확정일자        */
                    , A.CDT_SEL_YN                    /*신용조회여부        */
                    , A.PRC_PLC_NO                    /*가격정책번호        */
                    , A.AGR_PD_CD                    /*약정기간코드        */
                    , A.AGR_PD_CDNM                    /*약정기간명        */
                    , A.CNTR_PD_VAL                    /*계약기간값        */
                    , A.SVC_PD_CD                    /*서비스기간코드        */
                    , A.SVC_CYCLE                    /*점검주기        */
                    , A.PREPAY_YN                    /*선납여부        */
                    , A.PREPAY_AMT                    /*선납금액        */
                    , A.PREPAY_CYCLE                    /*선납주기        */
                    , A.PREPAY_DCRT                    /*선납할인율        */
                    , A.REGFEE                    /*등록비        */
                    , A.ISTCT                    /*설치비        */
                    , A.DFEE                    /*해체비        */
                    , A.BASS_RENT_AMT                    /*기본렌탈금액        */
                    , A.RENT_AMT                    /*렌탈금액        */
                    , A.BASS_SALE_AMT                    /*기본판매금액        */
                    , A.SALES_AMT                    /*판매금액        */
                    , A.SETL_AMT                    /*결제금액        */
                    , A.ORD_AMT                    /*주문금액        */
                    , A.ORD_VAT_EXCL_AMT                    /*주문부가세제외금액        */
                    , A.ORD_VAT_AMT                    /*주문부가세금액        */
                    , A.SELNG_AMT                    /*매출금액        */
                    , A.SELNG_VAT_EXCL_AMT                    /*매출부가세제외금액        */
                    , A.SELNG_VAT_AMT                    /*매출부가세금액        */
                    , A.SELNG_NO                    /*매출번호        */
                    , A.VAT_CD                    /*부가세코드        */
                    , A.SALE_CHN_CD                    /*판매채널코드        */
                    , A.SALE_CHN_CDNM                    /*판매채널명        */
                    , A.PRMT_YN                    /*프로모션여부        */
                    , A.PRMT_PLC_NO                    /*프로모션정책번호        */
                    , A.PRMT_NO                    /*프로모션번호        */
                    , A.PKG_YN                    /*패키지여부        */
                    , A.PKG_PLC_NO                    /*패키지정책번호        */
                    , A.PKG_NO                    /*패키지번호        */
                    , A.GRP_YN                    /*단체여부        */
                    , A.GRP_CD                    /*단체코드        */
                    , A.GRP_NO                    /*단체번호        */
                    , A.CTRTC_FILE_NO                    /*계약서파일번호        */
                    , A.SIGN_FILE_NO                    /*서명파일번호        */
                    , A.SVC_YN                    /*서비스여부        */
                    , A.EXIST_CNTR_NO                    /*기존계약번호        */
                    , A.RTGD_TY_CD                    /*반품유형코드        */
                    , A.RTGD_REQ_DE                    /*반품요청일자        */
                    , A.RTGD_DCS_YN                    /*반품접수확정여부        */
                    , A.RTGD_END_DE                    /*반품완료일자        */
                    , A.SPLT_PLC_NO                    /*약관정책번호        */
                    , A.IST_DUE_DE                    /*설치예정일자        */
                    , A.ADD_PRUF_FILE_NO1                    /*추가증빙파일번호1        */
                    , A.ADD_PRUF_FILE_NO2                    /*추가증빙파일번호2        */
                    , A.CDT_GRAD_CD                    /*신용등급코드        */
                    , A.REG_USR_ID                    /*등록자ID        */
                    , TO_CHAR(A.REG_DT,'YYYYMMDDHH24MISS')    REG_DT                    /*등록일시        */
                    , A.UPD_USR_ID                    /*수정자ID        */
                    , TO_CHAR(A.UPD_DT,'YYYYMMDDHH24MISS')    UPD_DT                    /*수정일시        */
                    , A.POST_NO                    /*설치-우편번호        */
                    , A.BASS_ADDR                    /*설치-기본주소        */
                    , A.DTL_ADDR                    /*설치-상세주소        */
                    , A.MOB_NO                    /*설치-모바일번호        */
                    , A.TEL_NO                    /*설치-전화번호        */
                    , A.PARTCLR_MATTER                    /*설치-특이사항        */
                    , A.IST_CUST_NM                    /*설치-설치고객명        */
                    , A.CARD_NO                    /*정기결제-카드번호        */
                    , A.CDCMP_CD                    /*정기결제-카드사코드        */
                    , A.OWNER_NM                    /*정기결제-소유주명        */
                    , A.FSETL_MTH_CD                    /*정기결제-방법코드        */
                    , A.FSETL_MTH_CDNM                    /*정기결제-방법명        */
                    , A.FSETL_DE_CD                    /*정기결제일자코드        */
                    , A.ACCT_AFILE_NO                    /*계좌신청동의파일번호        */
                    , A.OTBN_STS_CD                    /*출고상태코드        */
                    , A.OTBN_STS_CDNM                    /*출고상태명        */
                    , A.RM                    /*비고        */
                    , A.BASS_MBRSH_AMT                    /*기본멤버십금액        */
                    , A.MBRSH_AMT                    /*멤버십금액        */
                    , A.LMPS_FREE_END_DUE_DE                    /*일시불무상종료예정일        */
                    , A.PKG_TRMN_YN                    /*패키지해지여부        */
                    , A.DLV_TY_CD                    /*배송유형코드        */
                    , A.DLV_TY_CDNM                    /*배송유형명        */
                    , A.DLV_TY_DTL_CD                    /*배송유형상세코드        */
                    , A.DLV_TY_DTL_CDNM                    /*배송유형상세명        */
                    , A.AGR_PD_VAL                    /*약정기간값        */
                    , A.CNTR_PD_SE_CD                    /*계약기간구분코드        */
                    , A.CNTR_PD_SE_CDNM                    /*계약기간구분명        */
                    , A.CNTR_END_AFTER_PROC_MTH_CD                    /*계약이후처리방법코드        */
                    , A.CNTR_END_AFTER_PROC_MTH_CDNM                    /*계약종료이후처리방법        */
                    , A.UATC_SE_CD                    /*중고구분코드        */
                    , A.UATC_SE_CDNM                    /*중고구분명        */
                    , A.UATC_GRAD_CD                    /*중고등급코드        */
                    , A.UATC_GRAD_CDNM                    /*중고등급명        */
                    , A.SHDE_CRE_YN                    /*스케줄생성여부        */
                    , A.RENT_SE_CD                    /*렌탈구분코드        */
                    , A.RENT_SE_CDNM                    /*렌탈구분명        */
                    , A.EXPRN_DMD_DC_PD_CD                    /*홈체험청구할인기간코드        */
                    , A.EXPRN_DMD_DC_PD_CDNM                    /*홈체험청구할인기간명        */
                    , A.EXPRN_CNTR_NO                    /*홈체험계약번호        */
                    , A.RCMDR                    /*추천인        */
                    , A.RCMDRNM                    /*추천인명        */
                    , A.ORGZ_CD                    /*추천인조직코드        */
                    , A.ORGZ_NM                    /*추천인조직명        */
                    , A.SELF_BSN_SE_CD                    /*본인영업구분코드        */
                    , A.SELF_BSN_SE_CDNM                    /*본인영업구분명        */
                    , A.PRSNT_DTLS                    /*사은품내역        */
                    , A.FREE_SALE_TY                    /*무상판매유형        */
                    , A.FREE_SALE_TYNM                    /*무상판매유형명        */
                    , A.MNG_NO                    /*관리번호        */
                    , A.CNTC_STS_CDNM                    /*컨택상태명        */
                    , A.BASS_SALE_FEE                    /*기본판매요금        */
                    , A.PRC_PLC_NM                    /*가격정책명        */
                    , A.CNTR_QY                    /*계약수량        */
                    , A.DCRT                    /*할인율        */
                    , A.DC_AMT                    /*할인금액        */
                    , A.ER_CNTR_NO                    /*이지렌탈계약번호        */
                    , A.RPRSNTV_CNTR_YN                    /*대표번호여부        */
                    , A.OR_TY_CD                    /*주문유형코드        */
                    , A.OR_TY_CDNM                    /*주문유형        */
                    , A.PRSNT_YN                    /*사은품여부        */
                    , A.PRSNT_CNTR_NO                    /*원계약번호(사은품)        */
                    , A.CERAM_ORD_NO                    /*건기식주문번호        */
                    , A.PTAXBIL_YN                    /*선세금계산서발급여부        */
                    , A.PTAXBIL_DE                    /*선세금계산서기준일자        */
                    , A.PTAXBIL_CHRGR_SN                    /*선세금계산서담당자        */
                    , A.CHRGR_EMAIL                    /*담당자이메일        */
                    , A.CHRGR_CTTPC                    /*담당자연락처        */
                    , A.CHRGR_DEPT_NM                    /*담당자부서명        */
                    , A.RCMDR_MBRSH_ID                    /*추천고객멤버십아이디        */
                    , A.RCMDR_MBRSH_NM                    /*추천고객멤버십이름        */
                    , A.CFILE_NO                    /*인수서파일번호        */
                    , A.INS_SER_NO                    /*조견표번호        */
                    , A.BOND_CD                    /*채권분류코드        */
                    , A.BOND_CDNM                    /*채권분류명        */
    </sql>
    
    <sql id="sqlOrderBy">
        <choose>
            <when test="colSortName ==null or colSortName == ''">
                ORDER BY      REG_DT DESC
            </when>
            <when test="colSortName.equals('itgCustNo')">
                ORDER BY      ITG_CUST_NO
            </when>
            <when test="colSortName.equals('custNm')">
                ORDER BY      CUST_NM
            </when>
            <when test="colSortName.equals('gndrCd')">
                ORDER BY      GNDR_CD
            </when>
            <when test="colSortName.equals('birthday')">
                ORDER BY      BIRTHDAY
            </when>
            <when test="colSortName.equals('mphonNo')">
                ORDER BY      MPHON_NO
            </when>
            <when test="colSortName.equals('emailAddr')">
                ORDER BY      EMAIL_ADDR
            </when>
            <when test="colSortName.equals('custStatusCd')">
                ORDER BY      CUST_STATUS_CD
            </when>
            <when test="colSortName.equals('custTypeCd')">
                ORDER BY      CUST_TYPE_CD
            </when>
            <when test="colSortName.equals('mshipGradeCd')">
                ORDER BY      MSHIP_GRADE_CD
            </when>
            <when test="colSortName.equals('cnt')">
                ORDER BY      CNT
            </when>
            <otherwise>
                ORDER BY      REG_DT
            </otherwise>
        </choose>
        <if test="colSortName !=null and colSortDir !='' and colSortDir !=null and colSortDir !='' and colSortDir.equals('desc')">
            DESC
        </if>
    </sql>
    
    <select id="selectListCount" resultType="int">
        SELECT /* com.ceragem.crm.cst.dao.LoyalCusDao.selectListCount */ COUNT(1)
          FROM (SELECT 
                      A.ITG_CUST_NO                    /*통합고객번호        */
                    , A.CUST_NM                    /*고객명        */
                    , A.GNDR_CD                    /*성별코드        */
                    , A.BIRTHDAY                    /*생년월일        */
                    --, '010-****-' || A.MPHON_BK_DGT_NO MPHON_NO                    /*이동전화번호        */
                    , DAMO.DECRYPT_VAR_B64('AES_256',A.MPHON_NO,'') MPHON_NO                    /*이동전화번호        */
                    , DAMO.DECRYPT_VAR_B64('AES_256',A.EMAIL_ADDR,'') EMAIL_ADDR                    /*이메일주소        */
                    , (SELECT STOR_NM FROM CRM_STOR_BAS WHERE STOR_NO = A.RCMD_STOR_NO ) AS STOR_NM                    /*가입매장명        */
                    , A.RCMD_STOR_NO                      /*가입매장번호        */
                    , A.CUST_STATUS_CD                    /*고객상태코드        */
                    , A.CUST_TYPE_CD                    /*고객유형코드        */
                    , A.MSHIP_GRADE_CD                    /*멤버십등급코드        */ 
                    , B.BOS_CNTRT_CNT                     /*구매건수        */ 
                    <!-- , C.RCMD_CNT                          /*구매추천건수        */ -->
                    , (SELECT COUNT(*) DD /* 구매 추천 이력 : 구매 추천아닌 것도 포함하기로 함  */ FROM CRM_RCMD_HST B WHERE B.RCMDR_CUST_NO IS NOT NULL AND B.RCMDR_CUST_NO = A.ITG_CUST_NO  )  RCMD_CNT
                    <!-- , GREATEST(B.BOS_CNTRT_REG_DT, C.RCMD_REG_DT) AS REG_DT   /*충성고객등록일        */ -->
                    , A.REG_DT
                    , A.SALE_AGGR_AMT                     /*매출합계        */
                 FROM CRM_CUST_BAS A 
                      , ( SELECT ITG_CUST_NO, MIN(REG_DT) AS BOS_CNTRT_REG_DT, COUNT(1) AS BOS_CNTRT_CNT
                            FROM CRM_CUST_BOS_CNTRT_HST 
                          <!--  WHERE SELNG_DCS_YN = 'Y' -->
                           GROUP BY ITG_CUST_NO ) B 
                      , ( SELECT ITG_CUST_NO, MIN(REG_DT) AS RCMD_REG_DT, COUNT(1) AS RCMD_CNT
                            FROM CRM_RCMD_HST
                           WHERE RCMD_TYPE_CD = '001' /*추천유형코드        공통코드 : CU340        [001 : 구매추천 , 002 : 체험추천 , 003 : 가입추천]*/
                           GROUP BY ITG_CUST_NO ) C 
                           WHERE A.ITG_CUST_NO     =       B.ITG_CUST_NO(+)
                             AND A.ITG_CUST_NO     =       C.ITG_CUST_NO(+) ) A
        <include refid="sqlConditions"/>
    </select>
    
    <select id="selectList" resultType="com.ceragem.crm.cst.model.LoyalCusVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
                SELECT /* com.ceragem.crm.cst.dao.LoyalCusDao.selectList */ * FROM
               (SELECT 
                      A.ITG_CUST_NO                    /*통합고객번호        */
                    , A.CUST_NM                    /*고객명        */
                    , A.GNDR_CD                    /*성별코드        */
                    , A.BIRTHDAY                    /*생년월일        */
                    --, '010-****-' || A.MPHON_BK_DGT_NO MPHON_NO                    /*이동전화번호        */
                    , DAMO.DECRYPT_VAR_B64('AES_256',A.MPHON_NO,'') MPHON_NO                    /*이동전화번호        */
                    , DAMO.DECRYPT_VAR_B64('AES_256',A.EMAIL_ADDR,'') EMAIL_ADDR                    /*이메일주소        */
                    , (SELECT STOR_NM FROM CRM_STOR_BAS WHERE STOR_NO = A.RCMD_STOR_NO ) AS STOR_NM                    /*가입매장명        */
                    , A.RCMD_STOR_NO                      /*가입매장번호        */
                    , A.CUST_STATUS_CD                    /*고객상태코드        */
                    , A.CUST_TYPE_CD                    /*고객유형코드        */
                    , A.MSHIP_GRADE_CD                    /*멤버십등급코드        */ 
                    , B.BOS_CNTRT_CNT                     /*구매건수        */ 
                    <!-- , C.RCMD_CNT                          /*구매추천건수        */ -->
                    , (SELECT COUNT(*) DD /* 구매 추천 이력 : 구매 추천아닌 것도 포함하기로 함  */ FROM CRM_RCMD_HST B WHERE B.RCMDR_CUST_NO IS NOT NULL AND B.RCMDR_CUST_NO = A.ITG_CUST_NO  )  RCMD_CNT
                    <!-- , GREATEST(B.BOS_CNTRT_REG_DT, C.RCMD_REG_DT) AS REG_DT   /*충성고객등록일        */ -->
                    , A.REG_DT
                    , A.SALE_AGGR_AMT                     /*매출합계        */
                 FROM CRM_CUST_BAS A 
                      , ( SELECT ITG_CUST_NO, MIN(REG_DT) AS BOS_CNTRT_REG_DT, COUNT(1) AS BOS_CNTRT_CNT
                            FROM CRM_CUST_BOS_CNTRT_HST 
                           WHERE SELNG_DCS_YN = 'Y'
                           GROUP BY ITG_CUST_NO ) B 
                      , ( SELECT ITG_CUST_NO, MIN(REG_DT) AS RCMD_REG_DT, COUNT(1) AS RCMD_CNT
                            FROM CRM_RCMD_HST
                           WHERE RCMD_TYPE_CD = '001' /*추천유형코드        공통코드 : CU340        [001 : 구매추천 , 002 : 체험추천 , 003 : 가입추천]*/
                           GROUP BY ITG_CUST_NO ) C 
                           WHERE A.ITG_CUST_NO     =       B.ITG_CUST_NO(+)
                             AND A.ITG_CUST_NO     =       C.ITG_CUST_NO(+) ) A
        <include refid="sqlConditions"/>
        <include refid="sqlOrderBy"/>
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    
        <select id="selectBosCntrtDetail" resultType="com.ceragem.crm.cst.model.LoyalCusVo">
               SELECT /* com.ceragem.crm.cst.dao.LoyalCusDao.selectBosCntrtDetail */ <include refid="sqlBosCntrtDetailSelectCols"/>
                 FROM CRM_CUST_BOS_CNTRT_HST A
        <include refid="sqlPkConditions"/>
                  AND SELNG_DCS_YN = 'Y'
    </select>
       
       <select id="selectBosCntrtDetailCount" resultType="int">
               SELECT /* com.ceragem.crm.cst.dao.LoyalCusDao.selectBosCntrtDetailCount */ COUNT(1)
                 FROM CRM_CUST_BOS_CNTRT_HST A
        <include refid="sqlPkConditions"/>
                  AND SELNG_DCS_YN = 'Y'
    </select>
    
    <select id="selectRcmdDetail" resultType="com.ceragem.crm.cst.model.LoyalCusVo">
               SELECT /* com.ceragem.crm.cst.dao.LoyalCusDao.selectRcmdDetail */ <include refid="sqlRcmdDetailSelectCols"/>
                 FROM CRM_CUST_BAS  A,  CRM_RCMD_HST B
        <include refid="sqlPkConditions"/>
                      AND A.ITG_CUST_NO = B.RCMDR_CUST_NO
                      <!-- AND A.RCMD_TYPE_CD = '001' /*추천유형코드        공통코드 : CU340        [001 : 구매추천 , 002 : 체험추천 , 003 : 가입추천]*/ -->
        <include refid="sqlRcmdDetailOrderBy"/>
    </select>
       
       <select id="selectRcmdDetailCount" resultType="int">
               SELECT /* com.ceragem.crm.cst.dao.LoyalCusDao.selectRcmdDetailCount */ COUNT(1)
                 FROM CRM_CUST_BAS  A,  CRM_RCMD_HST B
        <include refid="sqlPkConditions"/>
                      AND A.ITG_CUST_NO = B.RCMDR_CUST_NO
                      <!-- AND A.RCMD_TYPE_CD = '001' /*추천유형코드        공통코드 : CU340        [001 : 구매추천 , 002 : 체험추천 , 003 : 가입추천]*/ -->
        <include refid="sqlRcmdDetailOrderBy"/>              
    </select>
    
</mapper>
