<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.memship.dao.CrmCoupnPblsHstDao">
    <sql id="sqlPkConditions">
                WHERE COUPN_PBLS_HST_SEQ=       #{coupnPblsHstSeq}
    </sql>
    <sql id="sqlCols">
                      COUPN_PBLS_HST_SEQ                    /*쿠폰발행이력일련번호        */
                    , STOR_NO                    /*매장번호        */
                    , CAMP_NO                    /*캠페인번호        */
                    , PROM_NO                    /*프로모션번호        */
                    , ITG_CUST_NO                    /*통합고객번호        */
                    , MSHIP_COUPN_BAS_NO                    /*멤버십쿠폰기본번호        */
                    , COUPN_KND_CD                    /*쿠폰종류코드        */
                    , COUPN_TGT_CD                    /*쿠폰대상코드        */
                    , COUPN_APPLY_DIV_CD1                    /*쿠폰적용구분코드1        */
                    , COUPN_APPLY_DIV_CD2                    /*쿠폰적용구분코드2        */
                    , FROM_PBLS_STD_DAY                    /*FROM발행기준일        */
                    , TO_PBLS_STD_DAY                    /*TO발행기준일        */
                    , USE_STD_DAY_COND_CD                    /*사용기준일조건코드        */
                    , FROM_USE_STD_DAY                    /*FROM사용기준일        */
                    , TO_USE_STD_DAY                    /*TO사용기준일        */
                    , GIFT_POSS_YN                    /*선물가능여부        */
                    , COUPN_ISSUE_METH_CD                    /*쿠폰발급방법코드        */
                    , ISSUE_RSTRTN_CNT                    /*발급제한수        */
                    , MAX_ISSUE_CNT                    /*최대발급수        */
                    , MAX_USE_CNT                    /*최대사용수        */
                    , APPLY_AMT                    /*적용금액        */
                    , APPLY_RATE                    /*적용율        */
                    , MIN_BUY_AMT                    /*최소구매금액        */
                    , MAX_DC_AMT                    /*최대할인율          */
                    , APPLY_CNT                    /*적용수        */
                    , PRSNTTN_GODS_CD                    /*증정제품코드        */
                    , USE_DOW                    /*사용요일        */
                    , FROM_USE_HOUR                    /*FROM사용시간        */
                    , TO_USE_HOUR                    /*TO사용시간        */
                    , USE_CHL_CD                    /*사용채널코드        */
                    , DUP_USE_YN                    /*중복사용여부        */
                    , USE_DIV_CD                    /*사용구분코드        */
                    , USE_YN                    /*사용여부        */
                    , COUPN_BAS_NM                    /*쿠폰기본명        */
                    , COUPN_BAS_CTNTS                    /*쿠폰기본내용        */
                    , ADMT_METH_CD                    /*정산방법코드        */
                    , ADMT_AMT                    /*정산금액        */
                    , COUPN_TYPE_CD                    /*쿠폰유형        */
                    , COUPN_USE_POSS_DAY                    /*쿠폰사용가능일        */
                    , COUPN_USE_POSS_YN                    /*쿠폰사용가능여부        */
                    , COUPN_USE_POSS_DAY_CNT                    /*쿠폰사용가능일수        */
                    , COUPN_CLASS_CD                    /*쿠폰분류코드        */
                  
                    , DOW_1_USE_YN                    /*요일1사용여부        */
                    , DOW_2_USE_YN                    /*요일2사용여부        */
                    , DOW_3_USE_YN                    /*요일3사용여부        */
                    , DOW_4_USE_YN                    /*요일4사용여부        */
                    , DOW_5_USE_YN                    /*요일5사용여부        */
                    , DOW_6_USE_YN                    /*요일6사용여부        */
                    , DOW_7_USE_YN                    /*요일7사용여부        */
                    , MSHP_GRADE_CD                    /*회원등급코드        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
                    , REG_CHL_CD                    /*등록채널코드        공통코드 : S000        [CRM : CRM , CTC : 상담 , AS : AS , SAP : SAP , POS : POS]*/
    </sql>
    <sql id="sqlSelectCols">
                      A.COUPN_PBLS_HST_SEQ                    /*쿠폰발행이력일련번호        */
                    , A.COUPN_PBLS_BAS_NO                    /*쿠폰발행번호        */
                    , A.STOR_NO                    /*매장번호        */
                    , (SELECT STOR_NM FROM CRM_STOR_BAS WHERE STOR_NO = A.STOR_NO AND STOR_NO IS NOT NULL ) AS STOR_NM
                    , A.CAMP_NO                    /*캠페인번호        */
                    , A.PROM_NO                    /*프로모션번호        */
                    , A.ITG_CUST_NO                    /*통합고객번호        */
                    , A.MSHIP_COUPN_BAS_NO                    /*멤버십쿠폰기본번호        */
                    , A.COUPN_KND_CD                    /*쿠폰종류코드        */
                    , A.COUPN_TGT_CD                    /*쿠폰대상코드        */
                    , A.COUPN_APPLY_DIV_CD1                    /*쿠폰적용구분코드1        */
                    , A.COUPN_APPLY_DIV_CD2                    /*쿠폰적용구분코드2        */
                    , A.FROM_PBLS_STD_DAY                    /*FROM발행기준일        */
                    , A.TO_PBLS_STD_DAY                    /*TO발행기준일        */
                    , A.USE_STD_DAY_COND_CD                    /*사용기준일조건코드        */
                    , A.FROM_USE_STD_DAY                    /*FROM사용기준일        */
                    , A.TO_USE_STD_DAY                    /*TO사용기준일        */
                    , A.GIFT_POSS_YN                    /*선물가능여부        */
                    , A.COUPN_ISSUE_METH_CD                    /*쿠폰발급방법코드        */
                    , A.ISSUE_RSTRTN_CNT                    /*발급제한수        */
                    , A.MAX_ISSUE_CNT                    /*최대발급수        */
                    , A.MAX_USE_CNT                    /*최대사용수        */
                    , A.APPLY_AMT                    /*적용금액        */
                    , A.APPLY_RATE                    /*적용율        */
                    , A.MIN_BUY_AMT                    /*최소구매금액        */
                    , A.MAX_DC_AMT                    /*최대할인율        */
                    , A.APPLY_CNT                    /*적용수        */
                    , A.PRSNTTN_GODS_CD                    /*증정제품코드        */
                    , A.USE_DOW                    /*사용요일        */
                    , A.FROM_USE_HOUR                    /*FROM사용시간        */
                    , A.TO_USE_HOUR                    /*TO사용시간        */
                    , A.USE_CHL_CD                    /*사용채널코드        */
                    , A.DUP_USE_YN                    /*중복사용여부        */
                    , A.USE_DIV_CD                    /*사용구분코드        */
                    , A.USE_YN                    /*사용여부        */
                    , A.USE_DT                    /*사용날짜        */
                    , A.COUPN_BAS_NM                    /*쿠폰기본명        */
                    , A.COUPN_BAS_CTNTS                    /*쿠폰기본내용        */
                    , A.ADMT_METH_CD                    /*정산방법코드        */
                    , A.ADMT_AMT                    /*정산금액        */
                    , A.COUPN_TYPE_CD                    /*쿠폰유형        */
                    , A.COUPN_USE_POSS_DAY                    /*쿠폰사용가능일        */
                    , A.COUPN_USE_POSS_YN                    /*쿠폰사용가능여부        */
                    , A.COUPN_USE_POSS_DAY_CNT                    /*쿠폰사용가능일수        */
                    , A.COUPN_CLASS_CD                    /*쿠폰분류코드        */
                    
                    , A.DOW_1_USE_YN                    /*요일1사용여부        */
                    , A.DOW_2_USE_YN                    /*요일2사용여부        */
                    , A.DOW_3_USE_YN                    /*요일3사용여부        */
                    , A.DOW_4_USE_YN                    /*요일4사용여부        */
                    , A.DOW_5_USE_YN                    /*요일5사용여부        */
                    , A.DOW_6_USE_YN                    /*요일6사용여부        */
                    , A.DOW_7_USE_YN                    /*요일7사용여부        */
                    , A.MSHP_GRADE_CD                    /*회원등급코드        */
                    , A.AMDR_ID                    /*수정자ID        */
                    , TO_CHAR(A.AMD_DT,'YYYYMMDDHH24MISS')    AMD_DT                    /*수정일시        */
                    , A.REGR_ID                    /*등록자ID        */
                    , TO_CHAR(A.REG_DT,'YYYYMMDDHH24MISS')    REG_DT                    /*등록일시        */
                    , A.REG_CHL_CD                    /*등록채널코드        공통코드 : S000        [CRM : CRM , CTC : 상담 , AS : AS , SAP : SAP , POS : POS]*/
                    , A.USE_STOR_NO						/*사용매장*/
                    , (SELECT STOR_NM FROM CRM_STOR_BAS WHERE STOR_NO = A.USE_STOR_NO AND STOR_NO IS NOT NULL ) AS USE_STOR_NM
                    , B.CUST_NM /* 고객성명 */
                    <!-- , REGEXP_REPLACE(DAMO.DECRYPT_VAR_B64('AES_256',B.MPHON_NO,''), '(.{3})(.+)(.{4})', '\1-****-\3') MPHON_NO --> <!-- 속도이슈 -->
                    , '010-****-' || B.MPHON_BK_DGT_NO MPHON_NO 
                    , (SELECT COMN_CD_NM FROM CRM_COMN_CD_BAS D WHERE D.TOP_COMN_CD = 'MB080' and D.COMN_CD = C.COUPN_TYPE_CD ) COUPN_TYPE_CD_NM    /* 쿠폰리스트명   */ 
  
    </sql>
    <sql id="sqlConditions">
    <where>
        <if test="coupnPblsHstSeq != null and coupnPblsHstSeq != ''">
                  AND A.COUPN_PBLS_HST_SEQ=       #{coupnPblsHstSeq}
        </if>
        <if test="coupnPblsBasNo != null and coupnPblsBasNo != ''">
                  AND A.COUPN_PBLS_BAS_NO=       #{coupnPblsBasNo}
        </if>
        <if test="storNo != null and storNo != ''">
                  AND A.STOR_NO         =       #{storNo}
        </if>
        <if test="campNo != null and campNo != ''">
                  AND A.CAMP_NO         =       #{campNo}
        </if>
        <if test="promNo != null and promNo != ''">
                  AND A.PROM_NO         =       #{promNo}
        </if>
        <if test="itgCustNo != null and itgCustNo != ''">
                  AND A.ITG_CUST_NO     =       #{itgCustNo}
        </if>
        <if test="custNm != null and custNm != ''">
                <!--   AND B.CUST_NM     LIKE '%'||#{custNm}||'%' -->
                  AND B.CUST_NM   = #{custNm}
        </if>
        <if test="mphonNo != null and mphonNo != ''">
                  AND B.MPHON_NO        =       DAMO.ENCRYPT_VAR_B64('AES_256',#{mphonNo},'')
        </if>
        <if test="mshipCoupnBasNo != null and mshipCoupnBasNo != ''">
                  AND A.MSHIP_COUPN_BAS_NO=       #{mshipCoupnBasNo}
        </if>
        <if test="coupnKndCd != null and coupnKndCd != ''">
            <choose>
                <when test="coupnKndCd instanceof String">
                    AND A.COUPN_KND_CD    =       #{coupnKndCd}
                </when>
                <otherwise>
                    AND A.COUPN_KND_CD    IN
                    <foreach item="item" index="index" collection="coupnKndCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
<!--         <if test="coupnTgtCd != null and coupnTgtCd != ''">
            <choose>
                <when test="coupnTgtCd instanceof String">
                    AND A.COUPN_TGT_CD    =       #{coupnTgtCd}
                </when>
                <otherwise>
                    AND A.COUPN_TGT_CD    IN
                    <foreach item="item" index="index" collection="coupnTgtCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if> -->
        <if test="coupnApplyDivCd1 != null and coupnApplyDivCd1 != ''">
                  AND A.COUPN_APPLY_DIV_CD1=       #{coupnApplyDivCd1}
        </if>
        <if test="coupnApplyDivCd2 != null and coupnApplyDivCd2 != ''">
                  AND A.COUPN_APPLY_DIV_CD2=       #{coupnApplyDivCd2}
        </if>
        <if test="fromRegDt != null and toRegDt != ''">
                  AND A.REG_DT BETWEEN TO_DATE(#{fromRegDt}, 'YYYY-MM-DD') AND TO_DATE(#{toRegDt}, 'YYYY-MM-DD') +1
        </if>
        <if test="fromPblsStdDay != null and fromPblsStdDay != ''">
                  AND A.FROM_PBLS_STD_DAY=       #{fromPblsStdDay}
        </if>
        <if test="toPblsStdDay != null and toPblsStdDay != ''">
                  AND A.TO_PBLS_STD_DAY =       #{toPblsStdDay}
        </if>
        <if test="useStdDayCondCd != null and useStdDayCondCd != ''">
            <choose>
                <when test="useStdDayCondCd instanceof String">
                    AND A.USE_STD_DAY_COND_CD=       #{useStdDayCondCd}
                </when>
                <otherwise>
                    AND A.USE_STD_DAY_COND_CDIN
                    <foreach item="item" index="index" collection="useStdDayCondCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="fromUseStdDay != null and fromUseStdDay != ''">
                  AND A.FROM_USE_STD_DAY=       #{fromUseStdDay}
        </if>
        <if test="toUseStdDay != null and toUseStdDay != ''">
                  AND A.TO_USE_STD_DAY  =       #{toUseStdDay}
        </if>
        <if test="giftPossYn != null and giftPossYn != ''">
                  AND A.GIFT_POSS_YN    =       #{giftPossYn}
        </if>
        <if test="coupnIssueMethCd != null and coupnIssueMethCd != ''">
            <choose>
                <when test="coupnIssueMethCd instanceof String">
                    AND A.COUPN_ISSUE_METH_CD=       #{coupnIssueMethCd}
                </when>
                <otherwise>
                    AND A.COUPN_ISSUE_METH_CDIN
                    <foreach item="item" index="index" collection="coupnIssueMethCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="issueRstrtnCnt != null and issueRstrtnCnt != ''">
                  AND A.ISSUE_RSTRTN_CNT=       #{issueRstrtnCnt}
        </if>
        <if test="maxIssueCnt != null and maxIssueCnt != ''">
                  AND A.MAX_ISSUE_CNT   =       #{maxIssueCnt}
        </if>
        <if test="maxUseCnt != null and maxUseCnt != ''">
                  AND A.MAX_USE_CNT     =       #{maxUseCnt}
        </if>
        <if test="applyAmt != null and applyAmt != ''">
                  AND A.APPLY_AMT       =       #{applyAmt}
        </if>
        <if test="applyRate != null and applyRate != ''">
                  AND A.APPLY_RATE      =       #{applyRate}
        </if>
        <if test="minBuyAmt != null and minBuyAmt != ''">
                  AND A.MIN_BUY_AMT     =       #{minBuyAmt}
        </if>
        <if test="maxDcAmt != null and maxDcAmt != ''">
                  AND A.MAX_DC_AMT     =       #{maxDcAmt}
        </if>
        <if test="applyCnt != null and applyCnt != ''">
                  AND A.APPLY_CNT       =       #{applyCnt}
        </if>
        <if test="prsnttnGodsCd != null and prsnttnGodsCd != ''">
            <choose>
                <when test="prsnttnGodsCd instanceof String">
                    AND A.PRSNTTN_GODS_CD =       #{prsnttnGodsCd}
                </when>
                <otherwise>
                    AND A.PRSNTTN_GODS_CD IN
                    <foreach item="item" index="index" collection="prsnttnGodsCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="useDow != null and useDow != ''">
                  AND A.USE_DOW         =       #{useDow}
        </if>
        <if test="fromUseHour != null and fromUseHour != ''">
                  AND A.FROM_USE_HOUR   =       #{fromUseHour}
        </if>
        <if test="toUseHour != null and toUseHour != ''">
                  AND A.TO_USE_HOUR     =       #{toUseHour}
        </if>
        <if test="useChlCd != null and useChlCd != ''">
            <choose>
                <when test="useChlCd instanceof String">
                    AND A.USE_CHL_CD      =       #{useChlCd}
                </when>
                <otherwise>
                    AND A.USE_CHL_CD      IN
                    <foreach item="item" index="index" collection="useChlCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="dupUseYn != null and dupUseYn != ''">
                  AND A.DUP_USE_YN      =       #{dupUseYn}
        </if>
        <if test="useDivCd != null and useDivCd != ''">
            <choose>
                <when test="useDivCd instanceof String">
                    AND A.USE_DIV_CD      =       #{useDivCd}
                </when>
                <otherwise>
                    AND A.USE_DIV_CD      IN
                    <foreach item="item" index="index" collection="useDivCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="useYn != null and useYn != ''">
                  AND A.USE_YN          =       #{useYn}
        </if>
        <if test="fromUseDt != null and toUseDt != ''">
                  AND A.USE_DT  <![CDATA[>=]]>       #{fromUseDt} AND A.USE_DT      <![CDATA[<=]]>        #{toUseDt}
        </if>
        <if test="coupnBasNm != null and coupnBasNm != ''">
                  AND A.COUPN_BAS_NM    =       #{coupnBasNm}
        </if>
        <if test="coupnBasCtnts != null and coupnBasCtnts != ''">
                  AND A.COUPN_BAS_CTNTS =       #{coupnBasCtnts}
        </if>
        <if test="admtMethCd != null and admtMethCd != ''">
            <choose>
                <when test="admtMethCd instanceof String">
                    AND A.ADMT_METH_CD    =       #{admtMethCd}
                </when>
                <otherwise>
                    AND A.ADMT_METH_CD    IN
                    <foreach item="item" index="index" collection="admtMethCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="admtAmt != null and admtAmt != ''">
                  AND A.ADMT_AMT        =       #{admtAmt}
        </if>
        <if test="coupnTypeCd != null and coupnTypeCd != ''">
            <choose>
                <when test="coupnTypeCd instanceof String">
                    AND A.COUPN_TYPE_CD   =       #{coupnTypeCd}
                </when>
                <otherwise>
                    AND A.COUPN_TYPE_CD   IN
                    <foreach item="item" index="index" collection="coupnTypeCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="coupnUsePossDay != null and coupnUsePossDay != ''">
                  AND A.COUPN_USE_POSS_DAY=       #{coupnUsePossDay}
        </if>
        <if test="coupnUsePossYn != null and coupnUsePossYn != ''">
                  AND A.COUPN_USE_POSS_YN=       #{coupnUsePossYn}
        </if>
        <if test="coupnUsePossDayCnt != null and coupnUsePossDayCnt != ''">
                  AND A.COUPN_USE_POSS_DAY_CNT=       #{coupnUsePossDayCnt}
        </if>
        <if test="coupnClassCd != null and coupnClassCd != ''">
            <choose>
                <when test="coupnClassCd instanceof String">
                    AND A.COUPN_CLASS_CD  =       #{coupnClassCd}
                </when>
                <otherwise>
                    AND A.COUPN_CLASS_CD  IN
                    <foreach item="item" index="index" collection="coupnClassCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
       

        <if test="dow1UseYn != null and dow1UseYn != ''">
                  AND A.DOW_1_USE_YN    =       #{dow1UseYn}
        </if>
        <if test="dow2UseYn != null and dow2UseYn != ''">
                  AND A.DOW_2_USE_YN    =       #{dow2UseYn}
        </if>
        <if test="dow3UseYn != null and dow3UseYn != ''">
                  AND A.DOW_3_USE_YN    =       #{dow3UseYn}
        </if>
        <if test="dow4UseYn != null and dow4UseYn != ''">
                  AND A.DOW_4_USE_YN    =       #{dow4UseYn}
        </if>
        <if test="dow5UseYn != null and dow5UseYn != ''">
                  AND A.DOW_5_USE_YN    =       #{dow5UseYn}
        </if>
        <if test="dow6UseYn != null and dow6UseYn != ''">
                  AND A.DOW_6_USE_YN    =       #{dow6UseYn}
        </if>
        <if test="dow7UseYn != null and dow7UseYn != ''">
                  AND A.DOW_7_USE_YN    =       #{dow7UseYn}
        </if>
        <if test="mshpGradeCd != null and mshpGradeCd != ''">
            <choose>
                <when test="mshpGradeCd instanceof String">
                    AND A.MSHP_GRADE_CD   =       #{mshpGradeCd}
                </when>
                <otherwise>
                    AND A.MSHP_GRADE_CD   IN
                    <foreach item="item" index="index" collection="mshpGradeCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="regChlCd != null and regChlCd != ''">
            <choose>
                <when test="regChlCd instanceof String">
                    AND A.REG_CHL_CD      =       #{regChlCd}
                </when>
                <otherwise>
                    AND A.REG_CHL_CD      IN
                    <foreach item="item" index="index" collection="regChlCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        </where>
    </sql>
    <sql id="sqlOrderBy">
        <choose>
            <when test="colSortName ==null or colSortName == ''">
                ORDER BY      REG_DT DESC
            </when>
            <when test="colSortName.equals('coupnPblsHstSeq')">
                ORDER BY      COUPN_PBLS_HST_SEQ
            </when>
            <when test="colSortName.equals('storNo')">
                ORDER BY      STOR_NO
            </when>
            <when test="colSortName.equals('campNo')">
                ORDER BY      CAMP_NO
            </when>
            <when test="colSortName.equals('promNo')">
                ORDER BY      PROM_NO
            </when>
            <when test="colSortName.equals('itgCustNo')">
                ORDER BY      ITG_CUST_NO
            </when>
            <when test="colSortName.equals('mshipCoupnBasNo')">
                ORDER BY      MSHIP_COUPN_BAS_NO
            </when>
            <when test="colSortName.equals('coupnKndCd')">
                ORDER BY      COUPN_KND_CD
            </when>
            <when test="colSortName.equals('coupnTgtCd')">
                ORDER BY      COUPN_TGT_CD
            </when>
            <when test="colSortName.equals('coupnApplyDivCd1')">
                ORDER BY      COUPN_APPLY_DIV_CD1
            </when>
            <when test="colSortName.equals('coupnApplyDivCd2')">
                ORDER BY      COUPN_APPLY_DIV_CD2
            </when>
            <when test="colSortName.equals('fromPblsStdDay')">
                ORDER BY      FROM_PBLS_STD_DAY
            </when>
            <when test="colSortName.equals('toPblsStdDay')">
                ORDER BY      TO_PBLS_STD_DAY
            </when>
            <when test="colSortName.equals('useStdDayCondCd')">
                ORDER BY      USE_STD_DAY_COND_CD
            </when>
            <when test="colSortName.equals('fromUseStdDay')">
                ORDER BY      FROM_USE_STD_DAY
            </when>
            <when test="colSortName.equals('toUseStdDay')">
                ORDER BY      TO_USE_STD_DAY
            </when>
            <when test="colSortName.equals('giftPossYn')">
                ORDER BY      GIFT_POSS_YN
            </when>
            <when test="colSortName.equals('coupnIssueMethCd')">
                ORDER BY      COUPN_ISSUE_METH_CD
            </when>
            <when test="colSortName.equals('issueRstrtnCnt')">
                ORDER BY      ISSUE_RSTRTN_CNT
            </when>
            <when test="colSortName.equals('maxIssueCnt')">
                ORDER BY      MAX_ISSUE_CNT
            </when>
            <when test="colSortName.equals('maxUseCnt')">
                ORDER BY      MAX_USE_CNT
            </when>
            <when test="colSortName.equals('applyAmt')">
                ORDER BY      APPLY_AMT
            </when>
            <when test="colSortName.equals('applyRate')">
                ORDER BY      APPLY_RATE
            </when>
            <when test="colSortName.equals('minBuyAmt')">
                ORDER BY      MIN_BUY_AMT
            </when>
            <when test="colSortName.equals('maxDcAmt')">
                ORDER BY      MAX_DC_AMT
            </when>
            <when test="colSortName.equals('applyCnt')">
                ORDER BY      APPLY_CNT
            </when>
            <when test="colSortName.equals('prsnttnGodsCd')">
                ORDER BY      PRSNTTN_GODS_CD
            </when>
            <when test="colSortName.equals('useDow')">
                ORDER BY      USE_DOW
            </when>
            <when test="colSortName.equals('fromUseHour')">
                ORDER BY      FROM_USE_HOUR
            </when>
            <when test="colSortName.equals('toUseHour')">
                ORDER BY      TO_USE_HOUR
            </when>
            <when test="colSortName.equals('useChlCd')">
                ORDER BY      USE_CHL_CD
            </when>
            <when test="colSortName.equals('dupUseYn')">
                ORDER BY      DUP_USE_YN
            </when>
            <when test="colSortName.equals('useDivCd')">
                ORDER BY      USE_DIV_CD
            </when>
            <when test="colSortName.equals('useYn')">
                ORDER BY      USE_YN
            </when>
            <when test="colSortName.equals('coupnBasNm')">
                ORDER BY      COUPN_BAS_NM
            </when>
            <when test="colSortName.equals('coupnBasCtnts')">
                ORDER BY      COUPN_BAS_CTNTS
            </when>
            <when test="colSortName.equals('admtMethCd')">
                ORDER BY      ADMT_METH_CD
            </when>
            <when test="colSortName.equals('admtAmt')">
                ORDER BY      ADMT_AMT
            </when>
            <when test="colSortName.equals('coupnTypeCd')">
                ORDER BY      COUPN_TYPE_CD
            </when>
            <when test="colSortName.equals('coupnUsePossDay')">
                ORDER BY      COUPN_USE_POSS_DAY
            </when>
            <when test="colSortName.equals('coupnUsePossYn')">
                ORDER BY      COUPN_USE_POSS_YN
            </when>
            <when test="colSortName.equals('coupnUsePossDayCnt')">
                ORDER BY      COUPN_USE_POSS_DAY_CNT
            </when>
            <when test="colSortName.equals('coupnClassCd')">
                ORDER BY      COUPN_CLASS_CD
            </when>
           

            <when test="colSortName.equals('dow1UseYn')">
                ORDER BY      DOW_1_USE_YN
            </when>
            <when test="colSortName.equals('dow2UseYn')">
                ORDER BY      DOW_2_USE_YN
            </when>
            <when test="colSortName.equals('dow3UseYn')">
                ORDER BY      DOW_3_USE_YN
            </when>
            <when test="colSortName.equals('dow4UseYn')">
                ORDER BY      DOW_4_USE_YN
            </when>
            <when test="colSortName.equals('dow5UseYn')">
                ORDER BY      DOW_5_USE_YN
            </when>
            <when test="colSortName.equals('dow6UseYn')">
                ORDER BY      DOW_6_USE_YN
            </when>
            <when test="colSortName.equals('dow7UseYn')">
                ORDER BY      DOW_7_USE_YN
            </when>
            <when test="colSortName.equals('mshpGradeCd')">
                ORDER BY      MSHP_GRADE_CD
            </when>
            <when test="colSortName.equals('amdrId')">
                ORDER BY      AMDR_ID
            </when>
            <when test="colSortName.equals('amdDt')">
                ORDER BY      AMD_DT
            </when>
            <when test="colSortName.equals('regrId')">
                ORDER BY      REGR_ID
            </when>
            <when test="colSortName.equals('regDt')">
                ORDER BY      REG_DT
            </when>
            <when test="colSortName.equals('regChlCd')">
                ORDER BY      REG_CHL_CD
            </when>
            <otherwise>
                ORDER BY      REG_DT
            </otherwise>
        </choose>
        <if test="colSortName !=null and colSortDir !='' and colSortDir !=null and colSortDir !='' and colSortDir.equals('desc')">
            DESC
        </if>
    </sql>
    <select id="selectListCount" resultType="int">
        SELECT COUNT(1)
         FROM CRM_COUPN_PBLS_HST A
         LEFT JOIN CRM_CUST_BAS B ON A.ITG_CUST_NO = B.ITG_CUST_NO
         JOIN CRM_MSHIP_COUPN_BAS C ON A.MSHIP_COUPN_BAS_NO = C.MSHIP_COUPN_BAS_NO
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.ceragem.crm.memship.model.CrmCoupnPblsHstVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
        SELECT <include refid="sqlSelectCols"/>
          FROM CRM_COUPN_PBLS_HST A
          LEFT JOIN CRM_CUST_BAS B ON A.ITG_CUST_NO = B.ITG_CUST_NO
          JOIN CRM_MSHIP_COUPN_BAS C ON A.MSHIP_COUPN_BAS_NO = C.MSHIP_COUPN_BAS_NO     
        <include refid="sqlConditions"/>
        <include refid="sqlOrderBy"/>
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.ceragem.crm.memship.model.CrmCoupnPblsHstVo">
       SELECT <include refid="sqlSelectCols"/>
         FROM CRM_COUPN_PBLS_HST A
         LEFT JOIN CRM_CUST_BAS B ON A.ITG_CUST_NO = B.ITG_CUST_NO
         JOIN CRM_MSHIP_COUPN_BAS C ON A.MSHIP_COUPN_BAS_NO = C.MSHIP_COUPN_BAS_NO     
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
                INSERT INTO CRM_COUPN_PBLS_HST (
        <include refid="sqlCols"/>
                 ) VALUES (
                       #{coupnPblsHstSeq}
                     , #{storNo}
                     , #{campNo}
                     , #{promNo}
                     , #{itgCustNo}
                     , #{mshipCoupnBasNo}
                     , #{coupnKndCd}
                     , #{coupnTgtCd}
                     , #{coupnApplyDivCd1}
                     , #{coupnApplyDivCd2}
                     , #{fromPblsStdDay}
                     , #{toPblsStdDay}
                     , #{useStdDayCondCd}
                     , #{fromUseStdDay}
                     , #{toUseStdDay}
                     , NVL(#{giftPossYn},'N')
                     , #{coupnIssueMethCd}
                     , #{issueRstrtnCnt}
                     , #{maxIssueCnt}
                     , #{maxUseCnt}
                     , #{applyAmt}
                     , #{applyRate}
                     , #{minBuyAmt}
                     , #{maxDcAmt}
                     , #{applyCnt}
                     , #{prsnttnGodsCd}
                     , #{useDow}
                     , #{fromUseHour}
                     , #{toUseHour}
                     , #{useChlCd}
                     , NVL(#{dupUseYn},'N')
                     , #{useDivCd}
                     , NVL(#{useYn},'N')
                     , #{coupnBasNm}
                     , #{coupnBasCtnts}
                     , #{admtMethCd}
                     , #{admtAmt}
                     , #{coupnTypeCd}
                     , #{coupnUsePossDay}
                     , NVL(#{coupnUsePossYn},'N')
                     , #{coupnUsePossDayCnt}
                     , #{coupnClassCd}
            
                     , NVL(#{dow1UseYn},'N')
                     , NVL(#{dow2UseYn},'N')
                     , NVL(#{dow3UseYn},'N')
                     , NVL(#{dow4UseYn},'N')
                     , NVL(#{dow5UseYn},'N')
                     , NVL(#{dow6UseYn},'N')
                     , NVL(#{dow7UseYn},'N')
                     , #{mshpGradeCd}
                     , #{amdrId}
                     , SYSDATE
                     , #{regrId}
                     , SYSDATE
                     , #{regChlCd}
                 )
    </insert>
    <update id="update">
               UPDATE CRM_COUPN_PBLS_HST
                  SET STOR_NO                                 =         #{storNo}
                    , CAMP_NO                                 =         #{campNo}
                    , PROM_NO                                 =         #{promNo}
                    , ITG_CUST_NO                             =         #{itgCustNo}
                    , MSHIP_COUPN_BAS_NO                      =         #{mshipCoupnBasNo}
                    , COUPN_KND_CD                            =         #{coupnKndCd}
                    , COUPN_TGT_CD                            =         #{coupnTgtCd}
                    , COUPN_APPLY_DIV_CD1                     =         #{coupnApplyDivCd1}
                    , COUPN_APPLY_DIV_CD2                     =         #{coupnApplyDivCd2}
                    , FROM_PBLS_STD_DAY                       =         #{fromPblsStdDay}
                    , TO_PBLS_STD_DAY                         =         #{toPblsStdDay}
                    , USE_STD_DAY_COND_CD                     =         #{useStdDayCondCd}
                    , FROM_USE_STD_DAY                        =         #{fromUseStdDay}
                    , TO_USE_STD_DAY                          =         #{toUseStdDay}
                    , GIFT_POSS_YN                            =         NVL(#{giftPossYn},'N')
                    , COUPN_ISSUE_METH_CD                     =         #{coupnIssueMethCd}
                    , ISSUE_RSTRTN_CNT                        =         #{issueRstrtnCnt}
                    , MAX_ISSUE_CNT                           =         #{maxIssueCnt}
                    , MAX_USE_CNT                             =         #{maxUseCnt}
                    , APPLY_AMT                               =         #{applyAmt}
                    , APPLY_RATE                              =         #{applyRate}
                    , MIN_BUY_AMT                             =         #{minBuyAmt}
                    , MAX_DC_AMT                             =         #{maxDcAmt}
                    , APPLY_CNT                               =         #{applyCnt}
                    , PRSNTTN_GODS_CD                         =         #{prsnttnGodsCd}
                    , USE_DOW                                 =         #{useDow}
                    , FROM_USE_HOUR                           =         #{fromUseHour}
                    , TO_USE_HOUR                             =         #{toUseHour}
                    , USE_CHL_CD                              =         #{useChlCd}
                    , DUP_USE_YN                              =         NVL(#{dupUseYn},'N')
                    , USE_DIV_CD                              =         #{useDivCd}
                    , USE_YN                                  =         NVL(#{useYn},'N')
                    , COUPN_BAS_NM                            =         #{coupnBasNm}
                    , COUPN_BAS_CTNTS                         =         #{coupnBasCtnts}
                    , ADMT_METH_CD                            =         #{admtMethCd}
                    , ADMT_AMT                                =         #{admtAmt}
                    , COUPN_TYPE_CD                           =         #{coupnTypeCd}
                    , COUPN_USE_POSS_DAY                      =         #{coupnUsePossDay}
                    , COUPN_USE_POSS_YN                       =         NVL(#{coupnUsePossYn},'N')
                    , COUPN_USE_POSS_DAY_CNT                  =         #{coupnUsePossDayCnt}
                    , COUPN_CLASS_CD                          =         #{coupnClassCd}
                    
                    , DOW_1_USE_YN                            =         NVL(#{dow1UseYn},'N')
                    , DOW_2_USE_YN                            =         NVL(#{dow2UseYn},'N')
                    , DOW_3_USE_YN                            =         NVL(#{dow3UseYn},'N')
                    , DOW_4_USE_YN                            =         NVL(#{dow4UseYn},'N')
                    , DOW_5_USE_YN                            =         NVL(#{dow5UseYn},'N')
                    , DOW_6_USE_YN                            =         NVL(#{dow6UseYn},'N')
                    , DOW_7_USE_YN                            =         NVL(#{dow7UseYn},'N')
                    , MSHP_GRADE_CD                           =         #{mshpGradeCd}
                    , AMDR_ID                                 =         #{amdrId}
                    , AMD_DT                                  =         SYSDATE
                    , REG_CHL_CD                              =         #{regChlCd}
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE FROM CRM_COUPN_PBLS_HST
        <include refid="sqlPkConditions"/>
    </delete>
    
    <update id="updateCancel">
    	UPDATE CRM_COUPN_PBLS_HST /* CrmCoupnPblsHstDao.updateCancel */ 
          SET USE_DT                                  =         NULL
            , USE_YN                                  =         'N'
            , STOR_NO                                 =         NULL
            , CHIT_NO                                 =         NULL
			, BUY_GODS_CD                             =         NULL
			, ORDR_AMT                                =         NULL
			, PAY_AMT                                 =         NULL
			, SALE_AMT                                =         NULL
			, PROM_NO                                 =         NULL
			, CAMP_NO                                 =         NULL
			WHERE COUPN_PBLS_HST_SEQ IN 
			<foreach item="item" index="index" collection="arrHisSeq" open="(" separator="," close=")">
               #{item}
            </foreach>
    </update>
    
    <update id="updatePblsHist">
    	UPDATE CRM_COUPN_PBLS_HST /* CrmCoupnPblsHstDao.updatePblsHist */
    		SET ADMT_AMT					=		#{admtAmt}
				,ADMT_METH_CD            	=		#{admtMethCd}
				,AMD_DT                  	=		SYSDATE
				,AMDR_ID                 	=		#{amdrId}
				,APPLY_AMT               	=		#{applyAmt}
				,APPLY_CNT               	=		#{applyCnt}
				,APPLY_RATE              	=		#{applyRate}
				,COUPN_APPLY_DIV_CD1     	=		#{coupnApplyDivCd1}
				,COUPN_APPLY_DIV_CD2     	=		#{coupnApplyDivCd2}
				,COUPN_BAS_CTNTS         	=		#{coupnBasCtnts}
				,COUPN_BAS_NM            	=		#{coupnBasNm}
				,COUPN_CLASS_CD          	=		#{coupnClassCd}
				,COUPN_ISSUE_METH_CD     	=		#{coupnIssueMethCd}
				,COUPN_KND_CD            	=		#{coupnKndCd}
				,COUPN_TGT_CD            	=		#{coupnTgtCd}
				,COUPN_TYPE_CD           	=		#{coupnTypeCd}
				,COUPN_USE_POSS_DAY      	=		#{coupnUsePossDay}
				,COUPN_USE_POSS_DAY_CNT  	=		#{coupnUsePossDayCnt}
				,COUPN_USE_POSS_YN       	=		#{coupnUsePossYn}
				,DOW_1_USE_YN            	=		#{dow1UseYn}
				,DOW_2_USE_YN            	=		#{dow2UseYn}
				,DOW_3_USE_YN            	=		#{dow3UseYn}
				,DOW_4_USE_YN            	=		#{dow4UseYn}
				,DOW_5_USE_YN            	=		#{dow5UseYn}
				,DOW_6_USE_YN            	=		#{dow6UseYn}
				,DOW_7_USE_YN            	=		#{dow7UseYn}
				,DUP_USE_YN              	=		#{dupUseYn}
				,FROM_PBLS_STD_DAY       	=		#{fromPblsStdDay}
				,FROM_USE_HOUR           	=		#{fromUseHour}
				,FROM_USE_STD_DAY        	=		#{fromUseStdDay}
				,GIFT_POSS_YN            	=		#{giftPossYn}
				,ISSUE_RSTRTN_CNT        	=		#{issueRstrtnCnt}
				,MAX_DC_AMT              	=		#{maxDcAmt}
				,MAX_ISSUE_CNT           	=		#{maxIssueCnt}
				,MAX_USE_CNT             	=		#{maxUseCnt}
				,MIN_BUY_AMT             	=		#{minBuyAmt}
				,MSHIP_COUPN_BAS_NO      	=		#{mshipCoupnBasNo}
				,MSHP_GRADE_CD           	=		#{mshpGradeCd}
				,PRSNTTN_GODS_CD         	=		#{prsnttnGodsCd}
				,REG_CHL_CD              	=		#{regChlCd}
				,TO_PBLS_STD_DAY         	=		#{toPblsStdDay}
				,TO_USE_HOUR             	=		#{toUseHour}
				,TO_USE_STD_DAY          	=		#{toUseStdDay}
				,USE_CHL_CD              	=		#{useChlCd}
				,USE_DIV_CD              	=		#{useDivCd}
				,USE_DOW                 	=		#{useDow}
				,USE_STD_DAY_COND_CD     	=		#{useStdDayCondCd}
    	WHERE MSHIP_COUPN_BAS_NO = #{mshipCoupnBasNo}
    		AND USE_YN = 'N'
    </update>
    
    <delete id="deleteCoupon">
    	DELETE FROM CRM_COUPN_PBLS_HST 
    		WHERE COUPN_PBLS_HST_SEQ IN 
			<foreach item="item" index="index" collection="arrHisSeq" open="(" separator="," close=")">
               #{item}
            </foreach>
            AND USE_YN = 'N'
    </delete>
    
</mapper>
