<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.memship.dao.CrmGodsBasDao">
    <sql id="sqlPkConditions">
                WHERE GODS_NO           =       #{godsNo}
    </sql>
    <sql id="sqlCols">
                      GODS_NO                    /*제품번호        */
                    , GODS_NM                    /*제품명        */
                    , GODS_GRP_CD                    /*제품그룹코드        */
                    , SUBSTR(GODS_CLASS_CD,1,3)   GODS_TYPE_CD                    /*제품유형코드        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
    </sql>
    <sql id="sqlSelectCols">
                      A.GODS_NO                    /*제품번호        */
                    , A.GODS_NM                    /*제품명        */
                    , A.GODS_GRP_CD                    /*제품그룹코드        */
                    , SUBSTR(A.GODS_CLASS_CD,1,3)  GODS_TYPE_CD                    /*제품유형코드        */
               
                    , A.AMDR_ID                    /*수정자ID        */
                    , TO_CHAR(A.AMD_DT,'YYYYMMDDHH24MISS')    AMD_DT                    /*수정일시        */
                    , A.REGR_ID                    /*등록자ID        */
                    , TO_CHAR(A.REG_DT,'YYYYMMDDHH24MISS')    REG_DT                    /*등록일시        */
                     , (SELECT DISTINCT GODS_LCLSS_CD_NM FROM CRM_GODS_CLASS_BAS C WHERE  C.GODS_LCLSS_CD = SUBSTR(A.GODS_CLASS_CD,1,3) ) GODS_TYPE_CD_NM    /* 제품군명        */
    </sql>
    <sql id="sqlConditions">
    <where>
        <if test="godsNo != null and godsNo != ''">
                  AND A.GODS_NO         =       #{godsNo}
        </if>
        <if test="godsNm != null and godsNm != ''">
                  AND A.GODS_NM    LIKE    '%'|| #{godsNm} ||'%'
        </if>
        <if test="godsGrpCd != null and godsGrpCd != ''">
            <choose>
                <when test="godsGrpCd instanceof String">
                    AND A.GODS_GRP_CD     =       #{godsGrpCd}
                </when>
                <otherwise>
                    AND A.GODS_GRP_CD     IN
                    <foreach item="item" index="index" collection="godsGrpCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <!-- <if test="godsTypeCd != null and godsTypeCd != ''">
            <choose>
                <when test="godsTypeCd instanceof String">
                    AND A.BOS_GODS_TYPE_CD    =       #{godsTypeCd}
                </when>
                <otherwise>
                    AND A.BOS_GODS_TYPE_CD    IN
                    <foreach item="item" index="index" collection="godsTypeCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="godsDtlTypeCd != null and godsDtlTypeCd != ''">
            <choose>
                <when test="godsDtlTypeCd instanceof String">
                    AND A.BOS_GODS_DTL_TYPE_CD=       #{godsDtlTypeCd}
                </when>
                <otherwise>
                    AND A.BOS_GODS_DTL_TYPE_CDIN
                    <foreach item="item" index="index" collection="godsDtlTypeCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if> -->
        <if test="godsClassCd != null and godsClassCd != ''">
            <choose>
                <when test="godsClassCd instanceof String">
                    AND SUBSTR( A.GODS_CLASS_CD, 1, 3) =       #{godsClassCd}
                </when>
                <otherwise>
                    AND A.GODS_CLASS_CD IN
                    <foreach item="item" index="index" collection="godsClassCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="sapProdCd != null and sapProdCd != ''">
            <choose>
                <when test="sapProdCd instanceof String">
                    AND A.SAP_PROD_CD     =       #{sapProdCd}
                </when>
                <otherwise>
                    AND A.SAP_PROD_CD     IN
                    <foreach item="item" index="index" collection="sapProdCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="colrNm != null and colrNm != ''">
                  AND A.COLR_NM         =       #{colrNm}
        </if>
        <if test="useYn != null and useYn != ''">
                  AND A.USE_YN          =       #{useYn}
        </if>
        <if test="serialUseYn != null and serialUseYn != ''">
                  AND A.SERIAL_USE_YN   =       #{serialUseYn}
        </if>
        <if test="stockMngYn != null and stockMngYn != ''">
                  AND A.STOCK_MNG_YN    =       #{stockMngYn}
        </if>
        <if test="salesYn != null and salesYn != ''">
                  AND A.SALES_YN        =       #{salesYn}
        </if>
        <if test="borrwStockYn != null and borrwStockYn != ''">
                  AND A.BORRW_STOCK_YN  =       #{borrwStockYn}
        </if>
        <if test="expryUseYn != null and expryUseYn != ''">
                  AND A.EXPRY_USE_YN    =       #{expryUseYn}
        </if>
        <if test="cnsrAmt != null and cnsrAmt != ''">
                  AND A.CNSR_AMT        =       #{cnsrAmt}
        </if>
        <if test="stockMngUnit != null and stockMngUnit != ''">
                  AND A.STOCK_MNG_UNIT  =       #{stockMngUnit}
        </if>
        <if test="prchsAmt != null and prchsAmt != ''">
                  AND A.PRCHS_AMT       =       #{prchsAmt}
        </if>
        <if test="whsalAmt != null and whsalAmt != ''">
                  AND A.WHSAL_AMT       =       #{whsalAmt}
        </if>
        <if test="salesAmt != null and salesAmt != ''">
                  AND A.SALES_AMT       =       #{salesAmt}
        </if>
        <if test="currCd != null and currCd != ''">
            <choose>
                <when test="currCd instanceof String">
                    AND A.CURR_CD         =       #{currCd}
                </when>
                <otherwise>
                    AND A.CURR_CD         IN
                    <foreach item="item" index="index" collection="currCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="stwhPlceNm != null and stwhPlceNm != ''">
                  AND A.STWH_PLCE_NM    =       #{stwhPlceNm}
        </if>
        <if test="manufacerNm != null and manufacerNm != ''">
                  AND A.MANUFACER_NM    =       #{manufacerNm}
        </if>
        <if test="asGrntPerd != null and asGrntPerd != ''">
                  AND A.AS_GRNT_PERD    =       #{asGrntPerd}
        </if>
        <if test="duryearCnt != null and duryearCnt != ''">
                  AND A.DURYEAR_CNT     =       #{duryearCnt}
        </if>
        <if test="whousCd != null and whousCd != ''">
            <choose>
                <when test="whousCd instanceof String">
                    AND A.WHOUS_CD        =       #{whousCd}
                </when>
                <otherwise>
                    AND A.WHOUS_CD        IN
                    <foreach item="item" index="index" collection="whousCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="whousNm != null and whousNm != ''">
                  AND A.WHOUS_NM        =       #{whousNm}
        </if>
        </where>
    </sql>
    <sql id="sqlOrderBy">
        <choose>
            <when test="colSortName ==null or colSortName == ''">
                ORDER BY      GODS_CLASS_CD ASC
            </when>
            <when test="colSortName.equals('godsNo')">
                ORDER BY      GODS_NO
            </when>
            <when test="colSortName.equals('godsNm')">
                ORDER BY      GODS_NM
            </when>
            <when test="colSortName.equals('godsGrpCd')">
                ORDER BY      GODS_GRP_CD
            </when>
            <when test="colSortName.equals('godsTypeCd')">
                ORDER BY      GODS_TYPE_CD
            </when>
            <when test="colSortName.equals('godsDtlTypeCd')">
                ORDER BY      GODS_DTL_TYPE_CD
            </when>
            <when test="colSortName.equals('sapProdCd')">
                ORDER BY      SAP_PROD_CD
            </when>
            <when test="colSortName.equals('colrNm')">
                ORDER BY      COLR_NM
            </when>
            <when test="colSortName.equals('useYn')">
                ORDER BY      USE_YN
            </when>
            <when test="colSortName.equals('serialUseYn')">
                ORDER BY      SERIAL_USE_YN
            </when>
            <when test="colSortName.equals('stockMngYn')">
                ORDER BY      STOCK_MNG_YN
            </when>
            <when test="colSortName.equals('salesYn')">
                ORDER BY      SALES_YN
            </when>
            <when test="colSortName.equals('borrwStockYn')">
                ORDER BY      BORRW_STOCK_YN
            </when>
            <when test="colSortName.equals('expryUseYn')">
                ORDER BY      EXPRY_USE_YN
            </when>
            <when test="colSortName.equals('cnsrAmt')">
                ORDER BY      CNSR_AMT
            </when>
            <when test="colSortName.equals('stockMngUnit')">
                ORDER BY      STOCK_MNG_UNIT
            </when>
            <when test="colSortName.equals('prchsAmt')">
                ORDER BY      PRCHS_AMT
            </when>
            <when test="colSortName.equals('whsalAmt')">
                ORDER BY      WHSAL_AMT
            </when>
            <when test="colSortName.equals('salesAmt')">
                ORDER BY      SALES_AMT
            </when>
            <when test="colSortName.equals('currCd')">
                ORDER BY      CURR_CD
            </when>
            <when test="colSortName.equals('stwhPlceNm')">
                ORDER BY      STWH_PLCE_NM
            </when>
            <when test="colSortName.equals('manufacerNm')">
                ORDER BY      MANUFACER_NM
            </when>
            <when test="colSortName.equals('asGrntPerd')">
                ORDER BY      AS_GRNT_PERD
            </when>
            <when test="colSortName.equals('duryearCnt')">
                ORDER BY      DURYEAR_CNT
            </when>
            <when test="colSortName.equals('whousCd')">
                ORDER BY      WHOUS_CD
            </when>
            <when test="colSortName.equals('whousNm')">
                ORDER BY      WHOUS_NM
            </when>
            <when test="colSortName.equals('amdrId')">
                ORDER BY      AMDR_ID
            </when>
            <when test="colSortName.equals('amdDt')">
                ORDER BY      AMD_DT
            </when>
            <when test="colSortName.equals('regrId')">
                ORDER BY      REGR_ID
            </when>
            <when test="colSortName.equals('regDt')">
                ORDER BY      REG_DT
            </when>
            <otherwise>
                ORDER BY      REG_DT
            </otherwise>
        </choose>
        <if test="colSortName !=null and colSortDir !='' and colSortDir !=null and colSortDir !='' and colSortDir.equals('desc')">
            DESC
        </if>
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT COUNT(1)
                 FROM CRM_GODS_BAS A
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.ceragem.crm.memship.model.CrmGodsBasVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
               SELECT /* CrmGodsBas.selectList */   <include refid="sqlSelectCols"/>
                 FROM CRM_GODS_BAS A
        <include refid="sqlConditions"/>
        <include refid="sqlOrderBy"/>
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.ceragem.crm.memship.model.CrmGodsBasVo">
               SELECT /* com.ceragem.crm.memship.dao.CrmGodsBasDao.select */  <include refid="sqlSelectCols"/>
                 FROM CRM_GODS_BAS A
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
                INSERT INTO CRM_GODS_BAS (
        <include refid="sqlCols"/>
                 ) VALUES (
                       #{godsNo}
                     , #{godsNm}
                     , #{godsGrpCd}
                     , #{godsTypeCd}
                     , #{godsDtlTypeCd}
                     , #{sapProdCd}
                     , #{colrNm}
                     , NVL(#{useYn},'N')
                     , NVL(#{serialUseYn},'N')
                     , NVL(#{stockMngYn},'N')
                     , NVL(#{salesYn},'N')
                     , NVL(#{borrwStockYn},'N')
                     , NVL(#{expryUseYn},'N')
                     , #{cnsrAmt}
                     , #{stockMngUnit}
                     , #{prchsAmt}
                     , #{whsalAmt}
                     , #{salesAmt}
                     , #{currCd}
                     , #{stwhPlceNm}
                     , #{manufacerNm}
                     , #{asGrntPerd}
                     , #{duryearCnt}
                     , #{whousCd}
                     , #{whousNm}
                     , #{amdrId}
                     , SYSDATE
                     , #{regrId}
                     , SYSDATE
                 )
    </insert>
    <update id="update">
               UPDATE CRM_GODS_BAS
                  SET GODS_NM                                 =         #{godsNm}
                    , GODS_GRP_CD                             =         #{godsGrpCd}
                    , GODS_TYPE_CD                            =         #{godsTypeCd}
                    , GODS_DTL_TYPE_CD                        =         #{godsDtlTypeCd}
                    , SAP_PROD_CD                             =         #{sapProdCd}
                    , COLR_NM                                 =         #{colrNm}
                    , USE_YN                                  =         NVL(#{useYn},'N')
                    , SERIAL_USE_YN                           =         NVL(#{serialUseYn},'N')
                    , STOCK_MNG_YN                            =         NVL(#{stockMngYn},'N')
                    , SALES_YN                                =         NVL(#{salesYn},'N')
                    , BORRW_STOCK_YN                          =         NVL(#{borrwStockYn},'N')
                    , EXPRY_USE_YN                            =         NVL(#{expryUseYn},'N')
                    , CNSR_AMT                                =         #{cnsrAmt}
                    , STOCK_MNG_UNIT                          =         #{stockMngUnit}
                    , PRCHS_AMT                               =         #{prchsAmt}
                    , WHSAL_AMT                               =         #{whsalAmt}
                    , SALES_AMT                               =         #{salesAmt}
                    , CURR_CD                                 =         #{currCd}
                    , STWH_PLCE_NM                            =         #{stwhPlceNm}
                    , MANUFACER_NM                            =         #{manufacerNm}
                    , AS_GRNT_PERD                            =         #{asGrntPerd}
                    , DURYEAR_CNT                             =         #{duryearCnt}
                    , WHOUS_CD                                =         #{whousCd}
                    , WHOUS_NM                                =         #{whousNm}
                    , AMDR_ID                                 =         #{amdrId}
                    , AMD_DT                                  =         SYSDATE
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE FROM CRM_GODS_BAS
        <include refid="sqlPkConditions"/>
    </delete>
    
     <!-- 공통 GD040 -->
    <select id="getGodsLclss" resultType="com.ceragem.crm.common.model.EzMap">
    	SELECT /* CrmGodsBas.getGodsLclss */ GODS_LCLSS_SORT_NO, GODS_LCLSS_CD, GODS_LCLSS_CD_NM 
		    FROM CRM_GODS_CLASS_BAS 
		        WHERE  USE_YN = 'Y' GROUP BY GODS_LCLSS_SORT_NO, GODS_LCLSS_CD, GODS_LCLSS_CD_NM
		            ORDER BY GODS_LCLSS_SORT_NO
    </select>
    
    <!-- 공통 GD050 -->
    <select id="getGodsMclss" resultType="com.ceragem.crm.common.model.EzMap">
    	SELECT /* CrmGodsBas.getGodsMclss */ GODS_MCLSS_SORT_NO, GODS_MCLSS_CD, GODS_MCLSS_CD_NM 
		    FROM CRM_GODS_CLASS_BAS 
		        WHERE  USE_YN = 'Y' 
		        <if test="godsLclssCd != null and godsLclssCd != ''">
		            AND GODS_LCLSS_CD = #{godsLclssCd}
		        </if>
		        GROUP BY GODS_MCLSS_SORT_NO, GODS_MCLSS_CD, GODS_MCLSS_CD_NM
		            ORDER BY GODS_MCLSS_SORT_NO
    </select>
    
    <!-- 공통 GD060 -->
    <select id="getGodsClass" resultType="com.ceragem.crm.common.model.EzMap">
    	SELECT /* CrmGodsBas.getGodsClass */ GODS_CLASS_SORT_NO, GODS_CLASS_CD, GODS_CLASS_CD_NM 
		    FROM CRM_GODS_CLASS_BAS 
		        WHERE  USE_YN = 'Y' 
		        <if test="godsMclssCd != null and godsMclssCd != ''">
		            AND GODS_MCLSS_CD = #{godsMclssCd}
		        </if>
		        GROUP BY GODS_CLASS_SORT_NO, GODS_CLASS_CD, GODS_CLASS_CD_NM 
		            ORDER BY GODS_CLASS_SORT_NO
    </select>
</mapper>
