<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.memship.dao.CrmMshipApplyAdvncmtRelDao">
    <sql id="sqlPkConditions">
                WHERE ADVNCMT_SCORE_BAS_NO=       #{advncmtScoreBasNo}
    </sql>
    <sql id="sqlCols">
                      ADVNCMT_SCORE_BAS_NO                    /*승급점수기본번호        */
                    , ADVNCMT_COMN_CD                    /*승급공통코드        */
                    , MSHIP_PLCY_BAS_NO                    /*멤버십정책기본번호        */
                    , ADVNCMT_POINT_SCORE                    /*승급점수        */
                    , TOT_APPNT_CNT                    /*총지정수        */
                    , DAY_APPNT_CNT                    /*일지정수        */
                    , MONTH_APPNT_CNT                    /*월지정수        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
    </sql>
    <sql id="sqlSelectCols">
                      A.ADVNCMT_SCORE_BAS_NO                    /*승급점수기본번호        */
                    , B.COMN_CD ADVNCMT_COMN_CD                    /*승급공통코드        */
                    , A.MSHIP_PLCY_BAS_NO                    /*멤버십정책기본번호        */
                    , A.ADVNCMT_POINT_SCORE                    /*승급점수        */
                    , A.TOT_APPNT_CNT                    /*총지정수        */
                    , A.DAY_APPNT_CNT                    /*일지정수        */
                    , A.MONTH_APPNT_CNT                    /*월지정수        */
                    , A.AMDR_ID                    /*수정자ID        */
                     , TO_CHAR(A.AMD_DT,'YYYY.MM.DD')    AMD_DT                    /*수정일시        */
                    , A.REGR_ID                    /*등록자ID        */
                    , TO_CHAR(A.REG_DT,'YYYY.MM.DD')    REG_DT                    /*등록일시        */
                    
                     , B.COMN_CD_NM
                    , B.TOP_COMN_CD TOP_COMN_CD2
                    , B.COMN_CD COMN_CD2
    </sql>
    <sql id="sqlConditions">
                WHERE ( B.TOP_COMN_CD = 'EV100' AND B.PRNTS_COMN_CD = 'EV100' ) 
                  AND B.COMN_CD_3_USE_YN='Y'
        <if test="advncmtScoreBasNo != null and advncmtScoreBasNo != ''">
                  AND A.ADVNCMT_SCORE_BAS_NO=       #{advncmtScoreBasNo}
        </if>
        
        <if test="advncmtComnCd != null and advncmtComnCd != ''">
            <choose>
                <when test="advncmtComnCd instanceof String">
                    AND A.ADVNCMT_COMN_CD =       #{advncmtComnCd}
                </when>
                <otherwise>
                    AND A.ADVNCMT_COMN_CD IN
                    <foreach item="item" index="index" collection="advncmtComnCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <!-- <if test="mshipPlcyBasNo != null and mshipPlcyBasNo != ''">
                  AND ( A.MSHIP_PLCY_BAS_NO=       #{mshipPlcyBasNo}  OR A.ADVNCMT_SCORE_BAS_NO IS NULL )
        </if> -->
        <if test="advncmtPointScore != null and advncmtPointScore != ''">
                  AND A.ADVNCMT_POINT_SCORE=       #{advncmtPointScore}
        </if>
        <if test="totAppntCnt != null and totAppntCnt != ''">
                  AND A.TOT_APPNT_CNT   =       #{totAppntCnt}
        </if>
        <if test="dayAppntCnt != null and dayAppntCnt != ''">
                  AND A.DAY_APPNT_CNT   =       #{dayAppntCnt}
        </if>
        <if test="monthAppntCnt != null and monthAppntCnt != ''">
                  AND A.MONTH_APPNT_CNT =       #{monthAppntCnt}
        </if>
    </sql>
    <sql id="sqlOrderBy">
    
    	ORDER BY ADVNCMT_COMN_CD
    
    
       <!--  <choose>
            <when test="colSortName ==null or colSortName == ''">
                ORDER BY      REG_DT DESC
            </when>
            <when test="colSortName.equals('advncmtScoreBasNo')">
                ORDER BY      ADVNCMT_SCORE_BAS_NO
            </when>
            <when test="colSortName.equals('advncmtComnCd')">
                ORDER BY      ADVNCMT_COMN_CD
            </when>
            <when test="colSortName.equals('mshipPlcyBasNo')">
                ORDER BY      MSHIP_PLCY_BAS_NO
            </when>
            <when test="colSortName.equals('advncmtPointScore')">
                ORDER BY      ADVNCMT_POINT_SCORE
            </when>
            <when test="colSortName.equals('totAppntCnt')">
                ORDER BY      TOT_APPNT_CNT
            </when>
            <when test="colSortName.equals('dayAppntCnt')">
                ORDER BY      DAY_APPNT_CNT
            </when>
            <when test="colSortName.equals('monthAppntCnt')">
                ORDER BY      MONTH_APPNT_CNT
            </when>
            <when test="colSortName.equals('amdrId')">
                ORDER BY      AMDR_ID
            </when>
            <when test="colSortName.equals('amdDt')">
                ORDER BY      AMD_DT
            </when>
            <when test="colSortName.equals('regrId')">
                ORDER BY      REGR_ID
            </when>
            <when test="colSortName.equals('regDt')">
                ORDER BY      REG_DT
            </when>
            <otherwise>
                ORDER BY      REG_DT
            </otherwise>
        </choose> -->
        <if test="colSortName !=null and colSortDir !='' and colSortDir !=null and colSortDir !='' and colSortDir.equals('desc')">
            DESC
        </if>
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT /* com.ceragem.crm.memship.dao.CrmMshipApplyAdvncmtRelDao.selectListCount */ COUNT(1)
                 FROM CRM_COMN_CD_BAS B
                 LEFT JOIN CRM_MSHIP_APPLY_ADVNCMT_REL A ON  (
                 A.ADVNCMT_COMN_CD = B.COMN_CD
                  <if test="mshipPlcyBasNo != null and mshipPlcyBasNo != ''">
			                  AND  A.MSHIP_PLCY_BAS_NO=       #{mshipPlcyBasNo}  
			        </if>
			        ) 
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.ceragem.crm.memship.model.CrmMshipApplyAdvncmtRelVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
               SELECT /* com.ceragem.crm.memship.dao.CrmMshipApplyAdvncmtRelDao.selectList */ <include refid="sqlSelectCols"/>
                 FROM CRM_COMN_CD_BAS B
                 LEFT JOIN CRM_MSHIP_APPLY_ADVNCMT_REL A ON  (
                 A.ADVNCMT_COMN_CD = B.COMN_CD
                  <if test="mshipPlcyBasNo != null and mshipPlcyBasNo != ''">
			                  AND  A.MSHIP_PLCY_BAS_NO=       #{mshipPlcyBasNo}  
			        </if>
			        ) 
        <include refid="sqlConditions"/>
        <include refid="sqlOrderBy"/>
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.ceragem.crm.memship.model.CrmMshipApplyAdvncmtRelVo">
               SELECT /* com.ceragem.crm.memship.dao.CrmMshipApplyAdvncmtRelDao.select */ <include refid="sqlSelectCols"/>
                 FROM CRM_COMN_CD_BAS B
                 LEFT JOIN CRM_MSHIP_APPLY_ADVNCMT_REL A ON (
                 A.ADVNCMT_COMN_CD = B.COMN_CD
                  <if test="mshipPlcyBasNo != null and mshipPlcyBasNo != ''">
			                  AND  A.MSHIP_PLCY_BAS_NO=       #{mshipPlcyBasNo}  
			        </if>
			        ) 
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
                INSERT INTO /* com.ceragem.crm.memship.dao.CrmMshipApplyAdvncmtRelDao.insert */ CRM_MSHIP_APPLY_ADVNCMT_REL (
        <include refid="sqlCols"/>
                 ) VALUES (
                       NVL(#{advncmtScoreBasNo}, FN_CRM_AUTO_SEQ('ASB') )
                     , #{advncmtComnCd}
                     , #{mshipPlcyBasNo}
                     , #{advncmtPointScore}
                     , #{totAppntCnt}
                     , #{dayAppntCnt}
                     , #{monthAppntCnt}
                     , #{amdrId}
                     , SYSDATE
                     , #{regrId}
                     , SYSDATE
                 )
    </insert>
    <update id="update">
               UPDATE /* com.ceragem.crm.memship.dao.CrmMshipApplyAdvncmtRelDao.update */ CRM_MSHIP_APPLY_ADVNCMT_REL
                  SET ADVNCMT_COMN_CD                         =         #{advncmtComnCd}
                    , MSHIP_PLCY_BAS_NO                       =         #{mshipPlcyBasNo}
                    , ADVNCMT_POINT_SCORE                     =         #{advncmtPointScore}
                    , TOT_APPNT_CNT                           =         #{totAppntCnt}
                    , DAY_APPNT_CNT                           =         #{dayAppntCnt}
                    , MONTH_APPNT_CNT                         =         #{monthAppntCnt}
                    , AMDR_ID                                 =         #{amdrId}
                    , AMD_DT                                  =         SYSDATE
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE /* com.ceragem.crm.memship.dao.CrmMshipApplyAdvncmtRelDao.delete */  FROM CRM_MSHIP_APPLY_ADVNCMT_REL
        <include refid="sqlPkConditions"/>
    </delete>
</mapper>
