<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.memship.dao.CrmMshipApplyChlRelDao">
    <sql id="sqlPkConditions">
    	<choose>
              <when test="mshipStmpBasNo != null and mshipStmpBasNo != ''">
              	WHERE MSHIP_STMP_BAS_NO   =       #{mshipStmpBasNo}
              </when>
              <otherwise>
              	WHERE CHL_REL_BAS_NO   =       #{chlRelBasNo}
              </otherwise>
          </choose>
    </sql>
    <sql id="sqlCols">
    
    				/* crmMshipApplyChlRel.sqlCols */
    				
                      APPLY_BNFIT_CD                    /*적용혜택코드        */
                    , MSHIP_PLCY_BAS_NO                    /*정책기본번호        */
                    , MSHIP_COUPN_BAS_NO                    /*쿠폰기본번호        */
                    , MSHIP_CARD_BAS_NO                    /*카드기본번호        */
                    , MSHIP_PROM_BAS_NO                    /*프로모션기본번호        */
                    , MSHIP_STMP_BAS_NO                    /*스탬프기본번호        */
                    , APPLY_DIV_CD                    /*적용구분코드        */
                    , APPLY_CHL_CD                    /*채널코드        */
                    , AMDR_ID                    /*채널코드        */
                    , AMD_DT                    /*수정일시        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
                    , REG_CHL_CD                    /*채널코드        공통코드 : S000        [CRM : CRM , CTC : 상담 , AS : AS , SAP : SAP]*/
                    , CHL_REL_BAS_NO
    </sql>
    <sql id="sqlSelectCols">
    				
    				/* crmMshipApplyChlRel.sqlSelectCols */
    
                      A.APPLY_BNFIT_CD                    /*적용혜택코드        */
                    , A.MSHIP_PLCY_BAS_NO                    /*정책기본번호        */
                    , A.MSHIP_COUPN_BAS_NO                    /*쿠폰기본번호        */
                    , A.MSHIP_CARD_BAS_NO                    /*카드기본번호        */
                    , A.MSHIP_PROM_BAS_NO                    /*프로모션기본번호        */
                    , A.APPLY_DIV_CD                    /*적용구분코드        */
                    , A.APPLY_CHL_CD                    /*채널코드        */
                    , A.AMDR_ID                    /*채널코드        */
                    , TO_CHAR(A.AMD_DT,'YYYYMMDDHH24MISS')    AMD_DT                    /*수정일시        */
                    , A.REGR_ID                    /*등록자ID        */
                    , TO_CHAR(A.REG_DT,'YYYYMMDDHH24MISS')    REG_DT                    /*등록일시        */
                    , A.REG_CHL_CD                    /*채널코드        공통코드 : S000        [CRM : CRM , CTC : 상담 , AS : AS , SAP : SAP]*/
                    , (SELECT COMN_CD_NM FROM CRM_COMN_CD_BAS B WHERE B.TOP_COMN_CD = 'ST040' and B.COMN_CD = A.APPLY_CHL_CD ) APPLY_CHL_CD_NM    /* 채널명        */
                    , CHL_REL_BAS_NO
    </sql>
    <sql id="sqlConditions">
                <where>
        <if test="applyBnfitCd != null and applyBnfitCd != ''">
            <choose>
                <when test="applyBnfitCd instanceof String">
                    AND A.APPLY_BNFIT_CD  =       #{applyBnfitCd}
                </when>
                <otherwise>
                    AND A.APPLY_BNFIT_CD  IN
                    <foreach item="item" index="index" collection="applyBnfitCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="mshipPlcyBasNo != null and mshipPlcyBasNo != ''">
                  AND A.MSHIP_PLCY_BAS_NO=       #{mshipPlcyBasNo}
        </if>
        <if test="mshipCoupnBasNo != null and mshipCoupnBasNo != ''">
                  AND A.MSHIP_COUPN_BAS_NO=       #{mshipCoupnBasNo}
        </if>
        <if test="mshipCardBasNo != null and mshipCardBasNo != ''">
                  AND A.MSHIP_CARD_BAS_NO=       #{mshipCardBasNo}
        </if>
        <if test="mshipPromBasNo != null and mshipPromBasNo != ''">
                  AND A.MSHIP_PROM_BAS_NO=       #{mshipPromBasNo}
        </if>
        <if test="applyDivCd != null and applyDivCd != ''">
            <choose>
                <when test="applyDivCd instanceof String">
                    AND A.APPLY_DIV_CD    =       #{applyDivCd}
                </when>
                <otherwise>
                    AND A.APPLY_DIV_CD    IN
                    <foreach item="item" index="index" collection="applyDivCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="applyChlCd != null and applyChlCd != ''">
            <choose>
                <when test="applyChlCd instanceof String">
                    AND A.APPLY_CHL_CD    =       #{applyChlCd}
                </when>
                <otherwise>
                    AND A.APPLY_CHL_CD    IN
                    <foreach item="item" index="index" collection="applyChlCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="regChlCd != null and regChlCd != ''">
            <choose>
                <when test="regChlCd instanceof String">
                    AND A.REG_CHL_CD      =       #{regChlCd}
                </when>
                <otherwise>
                    AND A.REG_CHL_CD      IN
                    <foreach item="item" index="index" collection="regChlCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        </where>
    </sql>
    <sql id="sqlOrderBy">
        <choose>
            <when test="colSortName ==null or colSortName == ''">
                ORDER BY      REG_DT DESC
            </when>
            <when test="colSortName.equals('applyBnfitCd')">
                ORDER BY      APPLY_BNFIT_CD
            </when>
            <when test="colSortName.equals('mshipPlcyBasNo')">
                ORDER BY      MSHIP_PLCY_BAS_NO
            </when>
            <when test="colSortName.equals('mshipCoupnBasNo')">
                ORDER BY      MSHIP_COUPN_BAS_NO
            </when>
            <when test="colSortName.equals('mshipCardBasNo')">
                ORDER BY      MSHIP_CARD_BAS_NO
            </when>
            <when test="colSortName.equals('mshipPromBasNo')">
                ORDER BY      MSHIP_PROM_BAS_NO
            </when>
            <when test="colSortName.equals('applyDivCd')">
                ORDER BY      APPLY_DIV_CD
            </when>
            <when test="colSortName.equals('applyChlCd')">
                ORDER BY      APPLY_CHL_CD
            </when>
            <when test="colSortName.equals('amdrId')">
                ORDER BY      AMDR_ID
            </when>
            <when test="colSortName.equals('amdDt')">
                ORDER BY      AMD_DT
            </when>
            <when test="colSortName.equals('regrId')">
                ORDER BY      REGR_ID
            </when>
            <when test="colSortName.equals('regDt')">
                ORDER BY      REG_DT
            </when>
            <when test="colSortName.equals('regChlCd')">
                ORDER BY      REG_CHL_CD
            </when>
            <otherwise>
                ORDER BY      REG_DT
            </otherwise>
        </choose>
        <if test="colSortName !=null and colSortDir !='' and colSortDir !=null and colSortDir !='' and colSortDir.equals('desc')">
            DESC
        </if>
    </sql>
    
    
    
    <sql id="sqlConditions_Base"> 
    /*
    AND COMN_CD NOT IN ( SELECT APPLY_CHL_CD FROM CRM_MSHIP_APPLY_CHL_REL WHERE APPLY_CHL_CD = A.COMN_CD )
    */
    
    	<if test="applyChlCd != null and applyChlCd != ''">
                  AND COMN_CD  =  #{applyChlCd}
        </if>
      	<if test="mshipCoupnBasNo != null and mshipCoupnBasNo != ''">
                 AND COMN_CD NOT IN  (SELECT APPLY_CHL_CD FROM CRM_MSHIP_APPLY_CHL_REL WHERE APPLY_CHL_CD = A.COMN_CD AND MSHIP_COUPN_BAS_NO =  #{mshipCoupnBasNo} )
        </if>
		                
         <if test="mshipCardBasNo != null and mshipCardBasNo != ''">
                 AND COMN_CD NOT IN  (SELECT APPLY_CHL_CD FROM CRM_MSHIP_APPLY_CHL_REL WHERE APPLY_CHL_CD = A.COMN_CD AND  MSHIP_CARD_BAS_NO =  #{mshipCardBasNo} )
        </if>  
        
         <if test="mshipPromBasNo != null and mshipPromBasNo != ''">
                 AND COMN_CD NOT IN  (SELECT APPLY_CHL_CD FROM CRM_MSHIP_APPLY_CHL_REL WHERE APPLY_CHL_CD = A.COMN_CD AND  MSHIP_PROM_BAS_NO =  #{mshipPromBasNo} )
        </if>  
    </sql>
    
    
    
     <select id="selectAllChlList" resultType="com.ceragem.crm.sys.model.CrmComnCdBaseVo">
     
     			SELECT  /* crmMshipApplyChlRel.selectAllChlList   */
                      COMN_CD                    /*공통코드        */
                    , TOP_COMN_CD                    /*최상위공통코드        */
                    , COMN_CD_LVL_NO                    /*공통코드레벨번호        */
                    , COMN_CD_ODRG                    /*공통코드순번        */
                    , PRNTS_COMN_CD                    /*부모공통코드        */
                    , COMN_CD_NM                    /*공통코드명        */
                    , USE_YN                    /*사용여부        */
                    , RFRN_1_COMN_CD                    /*참조1공통코드        */
                    , RFRN_2_COMN_CD                    /*참조2공통코드        */
                    , RFRN_3_COMN_CD                    /*참조3공통코드        */
                    , RFRN_4_COMN_CD                    /*참조4공통코드        */
                    , RFRN_5_COMN_CD                    /*참조5공통코드        */
                    , RFRN_6_COMN_CD                    /*참조6공통코드        */
                    , RFRN_7_COMN_CD                    /*참조7공통코드        */
                    , RFRN_8_COMN_CD                    /*참조8공통코드        */
                    , RFRN_9_COMN_CD                    /*참조9공통코드        */
                    , COMN_CD_1_USE_YN                    /*공통코드1사용여부        */
                    , COMN_CD_2_USE_YN                    /*공통코드2사용여부        */
                    , COMN_CD_3_USE_YN                    /*공통코드3사용여부        */
                    , COMN_CD_4_USE_YN                    /*공통코드4사용여부        */
                    , COMN_CD_5_USE_YN                    /*공통코드5사용여부        */
                    , COMN_CD_6_USE_YN                    /*공통코드6사용여부        */
                    , COMN_CD_7_USE_YN                    /*공통코드7사용여부        */
                    , COMN_CD_8_USE_YN                    /*공통코드8사용여부        */
                    , COMN_CD_9_USE_YN                    /*공통코드9사용여부        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */

                 FROM CRM_COMN_CD_BAS A
                 
         WHERE  1=1
		  
           AND TOP_COMN_CD = 'ST040'
           AND COMN_CD_LVL_NO = 2 
                 
  
        
         <include refid="sqlConditions_Base"/>
         
         
               ORDER BY COMN_CD_LVL_NO
                      , TOP_COMN_CD
                      , COMN_CD_ODRG
                      , COMN_CD
        
    </select>
    
    
    
     <sql id="sqlConditions2">
         <if test="applyChlCdNm2 != null and applyChlCdNm2 != ''">
                  AND A.APPLY_CHL_CD_NM  LIKE '%'||  #{applyChlCdNm2} ||'%'
        </if>
        
        <if test="applyChlCd2 != null and applyChlCd2 != ''">
                  AND A.APPLY_CHL_CD  =  #{applyChlCd2}
        </if>
        
        
       <if test="mshipCoupnBasNo != null and mshipCoupnBasNo != ''">
                 AND  A.MSHIP_COUPN_BAS_NO =  #{mshipCoupnBasNo} 
        </if>
		                
         <if test="mshipCardBasNo != null and mshipCardBasNo != ''">
                 AND  A.MSHIP_CARD_BAS_NO =  #{mshipCardBasNo}
        </if>  
        
         <if test="mshipPromBasNo != null and mshipPromBasNo != ''">
                 AND A.MSHIP_PROM_BAS_NO =  #{mshipPromBasNo} 
        </if> 
        
    </sql>
     
   
     <select id="selectChlList" resultType="com.ceragem.crm.memship.model.CrmMshipApplyChlRelVo">
     
     			SELECT  /* crmMshopApplyChlRel.selectChlList */
                   A.APPLY_BNFIT_CD                    /*적용혜택코드        */
                    , A.MSHIP_PLCY_BAS_NO                    /*정책기본번호        */
                    , A.MSHIP_COUPN_BAS_NO                    /*쿠폰기본번호        */
                    , A.MSHIP_CARD_BAS_NO                    /*카드기본번호        */
                    , A.MSHIP_PROM_BAS_NO                    /*프로모션기본번호        */
                    , A.APPLY_DIV_CD                    /*적용구분코드        */
                    , A.APPLY_CHL_CD                    /*채널코드        */
                    , A.AMDR_ID                    /*채널코드        */
                    , TO_CHAR(A.AMD_DT,'YYYYMMDDHH24MISS')    AMD_DT                    /*수정일시        */
                    , A.REGR_ID                    /*등록자ID        */
                    , TO_CHAR(A.REG_DT,'YYYYMMDDHH24MISS')    REG_DT                    /*등록일시        */
                    , A.REG_CHL_CD                    /*채널코드        공통코드 : S000        [CRM : CRM , CTC : 상담 , AS : AS , SAP : SAP]*/
                    , (SELECT COMN_CD_NM FROM CRM_COMN_CD_BAS B WHERE B.TOP_COMN_CD = 'ST040' and B.COMN_CD = A.APPLY_CHL_CD ) APPLY_CHL_CD_NM    /* 채널명        */
                    , CHL_REL_BAS_NO
                 FROM CRM_MSHIP_APPLY_CHL_REL A 
                 LEFT JOIN CRM_COMN_CD_BAS B ON ( A.APPLY_CHL_CD = B.COMN_CD AND B.TOP_COMN_CD = 'ST040' ) 
                 
         <trim prefix="WHERE" prefixOverrides="AND |OR ">
	    	 <include refid="sqlConditions2"/>
        </trim>     
    	 
    	 
               ORDER BY COMN_CD_LVL_NO
                      , TOP_COMN_CD
                      , COMN_CD_ODRG
                      , COMN_CD
        
    </select>
    
     
    
    <select id="selectListCount" resultType="int">
                SELECT COUNT(1)
                 FROM CRM_MSHIP_APPLY_CHL_REL A
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.ceragem.crm.memship.model.CrmMshipApplyChlRelVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
               SELECT <include refid="sqlSelectCols"/>
                 FROM CRM_MSHIP_APPLY_CHL_REL A
        <include refid="sqlConditions"/>
        <include refid="sqlOrderBy"/>
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.ceragem.crm.memship.model.CrmMshipApplyChlRelVo">
               SELECT <include refid="sqlSelectCols"/>
                 FROM CRM_MSHIP_APPLY_CHL_REL A
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
                INSERT INTO CRM_MSHIP_APPLY_CHL_REL (
        <include refid="sqlCols"/>
                 ) VALUES (
                       #{applyBnfitCd}
                     , #{mshipPlcyBasNo}
                     , #{mshipCoupnBasNo}
                     , #{mshipCardBasNo}
                     , #{mshipPromBasNo}
                     , #{mshipStmpBasNo}
                     , #{applyDivCd}
                     , #{applyChlCd}
                     , #{amdrId}
                     , SYSDATE
                     , #{regrId}
                     , SYSDATE
                     , #{regChlCd}
                     , NVL(#{chlRelBasNo}, FN_CRM_AUTO_SEQ('CHL') ) 
                 )
    </insert>
    <update id="update">
               UPDATE CRM_MSHIP_APPLY_CHL_REL
                  SET APPLY_BNFIT_CD                          =         #{applyBnfitCd}
                    , MSHIP_PLCY_BAS_NO                       =         #{mshipPlcyBasNo}
                    , MSHIP_COUPN_BAS_NO                      =         #{mshipCoupnBasNo}
                    , MSHIP_CARD_BAS_NO                       =         #{mshipCardBasNo}
                    , MSHIP_PROM_BAS_NO                       =         #{mshipPromBasNo}
                    , APPLY_DIV_CD                            =         #{applyDivCd}
                    , APPLY_CHL_CD                            =         #{applyChlCd}
                    , AMDR_ID                                 =         #{amdrId}
                    , AMD_DT                                  =         SYSDATE
                    , REG_CHL_CD                              =         #{regChlCd}
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE FROM CRM_MSHIP_APPLY_CHL_REL
        <include refid="sqlPkConditions"/>
    </delete>
</mapper>
