<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.memship.dao.CrmMshipStmpBasDao">
    <sql id="sqlPkConditions">
                WHERE MSHIP_STMP_BAS_NO=       #{mshipStmpBasNo}
    </sql>
    <sql id="sqlCols">
		MSHIP_STMP_BAS_NO		/*스탬프발행기본번호 */
		, STMP_BAS_NM			/*스탬프기본명 */
		, STMP_TYPE_CD			/*스탬프유형코드 */
		, STMP_EVENT_CD			/*스탬프이벤트코드 */
		, FROM_USE_POSS_DT		/*FROM사용가능일시 */
		, TO_USE_POSS_DT		/*TO사용가능일시 */
		, VALID_YN				/*유효여부 */
		, VALID_PERD			/*유효기간 */
		, STMP_MAX_YN			/*스탬프최대여부 */
		, STMP_MAX_CNT			/*스탬프최대수 */
		, STMP_QNTY				/*스탬프수량 */
		, USE_YN				/*사용여부 */
		, MSHIP_GRADE_CD		/*멤버십등급코드 */
		, MSHP_GRADE_CD			/*회원등급코드 */
		, CPRT_CMP_NO			/*제휴회사번호 */
		, COND_YN				/*조건여부 */
		, COND_AMT				/*조건금액 */
		, COUPN_ACCUM_DC_YN		/*쿠폰적립할인여부 */
		, ACCUM_CNT				/*적립수 */
		, ORDR_YN				/*주문여부 */
		, ORDR_AMT				/*주문금액 */
		, ACCUM_CHL_TXN			/*적립채널내역 */
		, BNFIT_CD				/*혜택코드 */
		, POINT_SCORE			/*포인트점수 */
		, COUPN_NO				/*쿠폰번호 */
		, AMDR_ID				/*수정자ID */
		, REGR_ID				/*등록자ID */
		, REG_CHL_CD			/*등록채널코드 */
		, APPLY_MSHP_GRADE_CTNTS
		, MSHIP_TYPE_CDS
		, COND_CNT
    </sql>
    
    <sql id="sqlSelectCols">
		A.MSHIP_STMP_BAS_NO			/*스탬프발행기본번호 */
		, A.STMP_BAS_NM				/*스탬프기본명 */
		, A.STMP_TYPE_CD			/*스탬프유형코드 */
		, A.STMP_EVENT_CD			/*스탬프이벤트코드 */
		, CASE
			WHEN A.STMP_TYPE_CD = '0' THEN '결제 시 적립'
			WHEN A.STMP_TYPE_CD = '1' THEN '이벤트시 적립'
		END AS STMP_TYPE_CD_NM
		, A.FROM_USE_POSS_DT		/*FROM사용가능일시 */
		, A.TO_USE_POSS_DT			/*TO사용가능일시 */
		, A.VALID_YN				/*유효여부 */
		, CASE
        	WHEN A.VALID_YN = 'N' AND A.VALID_PERD = '0' THEN '없음'
        	ELSE A.VALID_PERD
		END AS VALID_PERD			/*유효기간 */
		, A.STMP_MAX_YN				/*스탬프최대여부 */
		, A.STMP_MAX_CNT			/*스탬프최대수 */
		, A.STMP_QNTY				/*스탬프수량 */
		, A.USE_YN					/*사용여부 */
		, (SELECT COMN_CD_NM FROM CRM_COMN_CD_BAS B WHERE B.TOP_COMN_CD = 'S010' and B.COMN_CD = A.USE_YN ) USE_YN_NM 
		, A.MSHIP_GRADE_CD		/*멤버십등급코드 */
		, A.MSHP_GRADE_CD		/*회원등급코드 */
		, A.CPRT_CMP_NO		/*제휴회사번호 */
		, A.COND_YN					/*조건여부 */
		, A.COND_AMT				/*조건금액 */
		, A.COUPN_ACCUM_DC_YN		/*쿠폰적립할인여부 */
		, A.ACCUM_CNT				/*적립수 */
		, A.ORDR_YN					/*주문여부 */
		, A.ORDR_AMT				/*주문금액 */
		, A.ACCUM_CHL_TXN			/*적립채널내역 */
		, A.BNFIT_CD				/*혜택코드 */
		, A.POINT_SCORE				/*포인트점수 */
		, A.COUPN_NO				/*쿠폰번호 */
		, (SELECT COUPN_BAS_NM FROM CRM_MSHIP_COUPN_BAS WHERE MSHIP_COUPN_BAS_NO = A.COUPN_NO) AS COUPN_NM
		, A.AMDR_ID					/*수정자ID */
		, A.REGR_ID					/*등록자ID */
		, A.REG_DT					/*등록일 */
		, A.REG_CHL_CD				/*등록채널코드 */  
		, A.APPLY_MSHP_GRADE_CTNTS                  
		, A.MSHIP_TYPE_CDS                  
		, A.COND_CNT				/*적립회수*/                  
    </sql>
    
    <sql id="sqlConditions">
        	<where>
        <!-- 스탬프 이름 -->
    	<if test="stmpBasNm != null and stmpBasNm != ''">
                  AND A.STMP_BAS_NM    like  '%'||  #{stmpBasNm} ||'%'      
        </if>
        <!-- 발행시작일 -->
        <if test="fromUsePossDt != null and fromUsePossDt != ''">
                  AND A.FROM_USE_POSS_DT &gt;=   TO_DATE(#{fromUsePossDt},'YYYY-MM-DD')    
        </if>
        <!-- 발행완료일 -->
        <if test="toUsePossDt != null and toUsePossDt != ''">
                  AND A.TO_USE_POSS_DT  &lt;=  TO_DATE(#{toUsePossDt},'YYYY-MM-DD')     
        </if>
        <!-- 스탬프 형태 -->
        <if test="stmpTypeCd != null and stmpTypeCd != ''">
                  AND A.STMP_TYPE_CD=       #{stmpTypeCd}
        </if>
        <!-- 스탬프 형태 -->
        <if test="stmpEventCd != null and stmpEventCd != ''">
                  AND A.STMP_EVENT_CD=       #{stmpEventCd}
        </if>
        <!-- 스탬프 사용여부 -->
        <if test="useYn != null and useYn != ''">
                  AND A.USE_YN    =       #{useYn}
        </if>
        <!-- 1판당 스탬프 개수 -->
        <if test="stmpQnty != null and stmpQnty != ''">
                  AND A.STMP_QNTY    =       #{stmpQnty}
        </if>
        <!-- 개별유효기간 -->
        <if test="validPerd != null and validPerd != ''">
                  AND A.VALID_PERD    =       #{validPerd}
        </if>
        </where>
    </sql>
    
    <select id="selectListCount" resultType="int">
                SELECT COUNT(1)
                 FROM CRM_MSHIP_STMP_BAS A
        <include refid="sqlConditions"/>
    </select>
    
    <select id="selectList" resultType="com.ceragem.crm.memship.model.CrmMshipStmpBasVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
               SELECT <include refid="sqlSelectCols"/>
               	, (SELECT USER_NM  FROM CRM_USER_BAS WHERE USER_CD = A.REGR_ID) AS REGR_NM
                 FROM CRM_MSHIP_STMP_BAS A
        <include refid="sqlConditions"/>
        	ORDER BY FROM_USE_POSS_DT DESC , REG_DT DESC
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    
    <select id="getListPop" resultType="com.ceragem.crm.memship.model.CrmMshipStmpBasVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
               SELECT <include refid="sqlSelectCols"/>
                 FROM CRM_MSHIP_STMP_BAS A 
        <include refid="sqlConditions"/>
        	ORDER BY REG_DT DESC
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    
    <select id="getListPopForCust" resultType="com.ceragem.crm.memship.model.CrmMshipStmpBasVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
         SELECT           
		       BAS.MSHIP_STMP_BAS_NO			/*스탬프발행기본번호 */
				, BAS.STMP_BAS_NM				/*스탬프기본명 */
				, BAS.STMP_TYPE_CD			/*스탬프유형코드 */
				, BAS.STMP_EVENT_CD			/*스탬프이벤트코드 */
				, BAS.FROM_USE_POSS_DT		/*FROM사용가능일시 */
				, BAS.TO_USE_POSS_DT			/*TO사용가능일시 */
				, BAS.VALID_YN				/*유효여부 */
				, CASE
                    WHEN BAS.VALID_YN = 'N' AND BAS.VALID_PERD = '0' THEN '없음'
                    ELSE BAS.VALID_PERD
				END AS VALID_PERD
				, BAS.STMP_MAX_YN				/*스탬프최대여부 */
				, BAS.STMP_MAX_CNT			/*스탬프최대수 */
				, BAS.STMP_QNTY				/*스탬프수량 */
				, BAS.USE_YN					/*사용여부 */
				, BAS.MSHIP_GRADE_CD		/*멤버십등급코드 */
				, BAS.MSHP_GRADE_CD		/*회원등급코드 */
				, BAS.CPRT_CMP_NO		/*제휴회사번호 */
				, BAS.COND_YN					/*조건여부 */
				, BAS.COND_AMT				/*조건금액 */
				, BAS.COUPN_ACCUM_DC_YN		/*쿠폰적립할인여부 */
				, BAS.ACCUM_CNT				/*적립수 */
				, BAS.ORDR_YN					/*주문여부 */
				, BAS.ORDR_AMT				/*주문금액 */
				, BAS.ACCUM_CHL_TXN			/*적립채널내역 */
				, BAS.BNFIT_CD				/*혜택코드 */
				, BAS.POINT_SCORE				/*포인트점수 */
				, BAS.COUPN_NO				/*쿠폰번호 */
				, (SELECT COUPN_BAS_NM FROM CRM_MSHIP_COUPN_BAS WHERE MSHIP_COUPN_BAS_NO = BAS.COUPN_NO) AS COUPN_NM
				, BAS.AMDR_ID					/*수정자ID */
				, BAS.REGR_ID					/*등록자ID */
				, BAS.REG_DT					/*등록일 */
				, BAS.REG_CHL_CD				/*등록채널코드 */  
				, BAS.APPLY_MSHP_GRADE_CTNTS 
				, BAS.MSHIP_TYPE_CDS 
		        , TEM.ACCUM_TYPE 
		        , NVL(TEM.ACCUM_CNT,0) AS STMP_ACCUM_CNT  
		        , NVL(TEM.STMP_ACCUM_QNTY ,0) AS  STMP_ACCUM_QNTY 
		 FROM (           
		    SELECT C.*,D.STMP_ACCUM_QNTY FROM (
		        SELECT 
		            A.MSHIP_STMP_BAS_NO
		            , MAX(B.STMP_HST_SEQ) AS STMP_HST_SEQ
		            , CASE
		                WHEN COUNT(B.COUPN_NO) > 0 THEN '쿠폰'
		                WHEN COUNT(B.POINT_SCORE) > 0 THEN '포인트'
		            END AS ACCUM_TYPE
		            , CASE
		                WHEN COUNT(B.COUPN_NO) > 0 THEN COUNT(B.COUPN_NO)
		                WHEN COUNT(B.POINT_SCORE) > 0 THEN COUNT(B.POINT_SCORE)
		                ELSE 0
		            END AS ACCUM_CNT
		        FROM CRM_MSHIP_STMP_BAS A JOIN CRM_STMP_HST B ON A.MSHIP_STMP_BAS_NO = B.MSHIP_STMP_BAS_NO
		            AND B.ITG_CUST_NO = #{itgCustNo}
		            GROUP BY A.MSHIP_STMP_BAS_NO 
		    ) C JOIN CRM_STMP_HST D
		    ON C.STMP_HST_SEQ = D.STMP_HST_SEQ            
		) TEM JOIN CRM_MSHIP_STMP_BAS BAS ON BAS.MSHIP_STMP_BAS_NO = TEM.MSHIP_STMP_BAS_NO (+)
        	ORDER BY REG_DT DESC
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    
    <select id="getListPopForCustCount" resultType="int">
         SELECT           
		       COUNT(1) AS CNT
		 FROM (           
		    SELECT C.*,D.STMP_ACCUM_QNTY FROM (
		        SELECT 
		            A.MSHIP_STMP_BAS_NO
		            , MAX(B.STMP_HST_SEQ) AS STMP_HST_SEQ
		            , CASE
		                WHEN COUNT(B.COUPN_NO) > 0 THEN '쿠폰'
		                WHEN COUNT(B.POINT_SCORE) > 0 THEN '포인트'
		            END AS ACCUM_TYPE
		            , CASE
		                WHEN COUNT(B.COUPN_NO) > 0 THEN COUNT(B.COUPN_NO)
		                WHEN COUNT(B.POINT_SCORE) > 0 THEN COUNT(B.POINT_SCORE)
		                ELSE 0
		            END AS ACCUM_CNT
		        FROM CRM_MSHIP_STMP_BAS A JOIN CRM_STMP_HST B ON A.MSHIP_STMP_BAS_NO = B.MSHIP_STMP_BAS_NO
		            AND B.ITG_CUST_NO = #{itgCustNo}
		            GROUP BY A.MSHIP_STMP_BAS_NO 
		    ) C JOIN CRM_STMP_HST D
		    ON C.STMP_HST_SEQ = D.STMP_HST_SEQ            
		) TEM JOIN CRM_MSHIP_STMP_BAS BAS ON BAS.MSHIP_STMP_BAS_NO = TEM.MSHIP_STMP_BAS_NO (+)
    </select>
    
    <!-- 주석 -->
    <insert id="insert">
                INSERT INTO CRM_MSHIP_STMP_BAS (
        <include refid="sqlCols"/>
                 ) VALUES (
                     FN_CRM_AUTO_SEQ('MST')
                     , #{stmpBasNm}
                     , #{stmpTypeCd}
                     , #{stmpEventCd}
                     , TO_DATE(#{fromUsePossDt}, 'YYYY-MM-DD HH24:MI:SS')
                     , TO_DATE(#{toUsePossDt}, 'YYYY-MM-DD HH24:MI:SS')
                     , #{validYn}
                     , NVL(#{validPerd},0)
                     , #{stmpMaxYn}
                     , NVL(#{stmpMaxCnt},0)
                     , NVL(#{stmpQnty},0)
                     , #{useYn}
                     , #{mshipGradeCd}
                     , #{mshpGradeCd}
                     , #{cprtCmpNo}
                     , #{condYn}
                     , NVL(#{condAmt},0)
                     , #{coupnAccumDcYn}
                     , #{accumCnt}
                     , #{ordrYn}
                     , #{ordrAmt}
                     , #{accumChlTxn}
                     , #{bnfitCd}
                     , #{pointScore}
                     , #{coupnNo}
                     , #{amdrId}
                     , #{regrId}
                     , #{regChlCd}
                     , #{applyMshpGradeCtnts}
                     , #{mshipTypeCds}
                     , #{condCnt}
                 )
    </insert>
    
    <update id="update">
         UPDATE /*update*/ CRM_MSHIP_STMP_BAS
            SET STMP_BAS_NM						= #{stmpBasNm} 	
			, STMP_TYPE_CD						= #{stmpTypeCd}	
			, STMP_EVENT_CD						= #{stmpEventCd}	
			, FROM_USE_POSS_DT					= TO_DATE(#{fromUsePossDt}, 'YYYY-MM-DD HH24:MI:SS')
			, TO_USE_POSS_DT					= TO_DATE(#{toUsePossDt}, 'YYYY-MM-DD HH24:MI:SS')
			, VALID_YN			                = #{validYn}
			, VALID_PERD		                = NVL(#{validPerd},0)
			, STMP_MAX_YN		                = #{stmpMaxYn}
			, STMP_MAX_CNT		                = NVL(#{stmpMaxCnt},0)
			, STMP_QNTY			                = NVL(#{stmpQnty},0)
			, USE_YN			                = #{useYn}
			, MSHIP_GRADE_CD	                = #{mshipGradeCd}
			, MSHP_GRADE_CD		                = #{mshpGradeCd}
			, CPRT_CMP_NO		                = #{cprtCmpNo}
			, COND_YN			                = #{condYn}
			, COND_AMT			                = NVL(#{condAmt},0)
			, COUPN_ACCUM_DC_YN	                = #{coupnAccumDcYn}
			, ACCUM_CHL_TXN		                = #{accumChlTxn}
			, BNFIT_CD			                = #{bnfitCd}
			, POINT_SCORE		                = #{pointScore}
			, COUPN_NO			                = #{coupnNo}
			, AMDR_ID			                = #{amdrId}
			, AMD_DT			                = SYSDATE
			, REGR_ID			                = #{regrId}
			, REG_DT			                = SYSDATE
			, REG_CHL_CD		                = #{regChlCd}
			, APPLY_MSHP_GRADE_CTNTS            = #{applyMshpGradeCtnts}
			, MSHIP_TYPE_CDS            		= #{mshipTypeCds}
        <include refid="sqlPkConditions"/>
    </update>
    
    <delete id="delete">
               DELETE FROM CRM_MSHIP_STMP_BAS
        <include refid="sqlPkConditions"/>
    </delete>
   
    <select id="getMaxStmpNo" resultType="String">
    	SELECT /*getMaxStmpNo*/ MAX(MSHIP_STMP_BAS_NO) AS MSHIP_STMP_BAS_NO FROM CRM_MSHIP_STMP_BAS
    </select>
    
    <select id="getStmpHisList" resultType="EzMap">
    	<include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
    	SELECT /*getStmpHisList*/
    		A.MSHIP_STMP_BAS_NO
		    , A.STMP_BAS_NM
		    , A.STMP_TYPE_CD
		    , CASE
		        WHEN A.STMP_TYPE_CD = 0 THEN '결제'
		        WHEN A.STMP_TYPE_CD = 1 THEN '이벤트'
		    END AS STMP_TYPE_NM
		    , A.STMP_EVENT_CD
		    , B.STMP_HST_SEQ
		    , B.ACCUM_DT
		    , B.USE_DT
		    , B.STMP_ACCUM_QNTY
		    , B.ISSUE_CNT
		    , B.PAY_CHL_CD
		    , (SELECT COMN_CD_NM FROM CRM_COMN_CD_BAS WHERE TOP_COMN_CD = 'ST040' AND COMN_CD_LVL_NO = 2 AND COMN_CD = B.PAY_CHL_CD) AS CHL_NM
		    , B.CHIT_NO
		    , C.ITG_CUST_NO
			, C.CUST_NM
			, REGEXP_REPLACE(C.MPHON_NO, '(.{3})(.*+)(.{4})', '\1-****-\3') MPHON_NO
			, B.STOR_NO
			, NVL( (SELECT STOR_NM FROM CRM_STOR_BAS WHERE STOR_NO = B.STOR_NO),'관리자지급' ) AS STOR_NM
			 FROM CRM_MSHIP_STMP_BAS A JOIN CRM_STMP_HST B 
			    	ON A.MSHIP_STMP_BAS_NO = B.MSHIP_STMP_BAS_NO
			    JOIN CRM_CUST_BAS C
			    	ON B.ITG_CUST_NO = C.ITG_CUST_NO 
			<if test="fromAccumDt != null and toAccumDt != '' ">
                  AND ACCUM_DT BETWEEN TO_DATE(#{fromAccumDt}, 'YYYY-MM-DD') AND TO_DATE(#{toAccumDt}, 'YYYY-MM-DD')+1 
        	</if>
	        <if test="stmpItgCustNo != null and stmpItgCustNo != ''">
	         	AND C.ITG_CUST_NO    =       #{stmpItgCustNo}
	        </if>
	        <if test="custNm != null and custNm != ''">
	         	AND C.CUST_NM = #{custNm} 
	        </if>
	        <if test="mshipStmpBasNo != null and mshipStmpBasNo != ''">
	         	AND A.MSHIP_STMP_BAS_NO  = #{mshipStmpBasNo}
	        </if>
	        ORDER BY B.ACCUM_DT DESC ,  B.ISSUE_CNT DESC , C.ITG_CUST_NO , B.STMP_ACCUM_QNTY DESC
		 <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    
    <select id="getStmpHisListCount" resultType="int">
    	SELECT /*getStmpHisListCount*/ COUNT(1)
    		FROM CRM_MSHIP_STMP_BAS A JOIN CRM_STMP_HST B 
			    	ON A.MSHIP_STMP_BAS_NO = B.MSHIP_STMP_BAS_NO
			    JOIN CRM_CUST_BAS C
			    	ON B.ITG_CUST_NO = C.ITG_CUST_NO 
			<if test="fromAccumDt != null and toAccumDt != '' ">
                  AND ACCUM_DT BETWEEN TO_DATE(#{fromAccumDt}, 'YYYY-MM-DD') AND TO_DATE(#{toAccumDt}, 'YYYY-MM-DD') +1
        	</if>
	        <if test="stmpItgCustNo != null and stmpItgCustNo != ''">
	         	AND C.ITG_CUST_NO    =       #{stmpItgCustNo}
	        </if>
	        <if test="custNm != null and custNm != ''">
	         	AND C.CUST_NM = #{custNm} 
	        </if>
	        <if test="mshipStmpBasNo != null and mshipStmpBasNo != ''">
	         	AND A.MSHIP_STMP_BAS_NO  = #{mshipStmpBasNo}
	        </if>
    </select>
    
    <select id="checkIssueHis" resultType="EzMap">
    	SELECT /*checkIssueHis*/ COUNT(1) AS HST_COUNT
    		FROM CRM_STMP_HST
    			WHERE MSHIP_STMP_BAS_NO = #{mshipStmpBasNo}
    </select>
    
    <!-- 스탬프 복사 -->
    <insert id="copyStmpMaster">
    	INSERT /*copyStmpMaster*/ INTO CRM_MSHIP_STMP_BAS (
			MSHIP_STMP_BAS_NO
			, STMP_BAS_NM
			, STMP_TYPE_CD
			, STMP_EVENT_CD
			, FROM_USE_POSS_DT
			, TO_USE_POSS_DT
			, VALID_YN
			, VALID_PERD
			, STMP_MAX_YN
			, STMP_MAX_CNT
			, STMP_QNTY
			, USE_YN
			, MSHIP_GRADE_CD
			, MSHP_GRADE_CD
			, CPRT_CMP_NO
			, COND_YN
			, COND_AMT
			, COND_CNT
			, COUPN_ACCUM_DC_YN
			, ACCUM_CHL_TXN
			, BNFIT_CD
			, POINT_SCORE
			, COUPN_NO
			, AMDR_ID
			, REGR_ID
			, REG_CHL_CD
			, APPLY_MSHP_GRADE_CTNTS
			, MSHIP_TYPE_CDS
		) 
		SELECT  
			FN_CRM_AUTO_SEQ('MST') AS MSHIP_STMP_BAS_NO	
			, STMP_BAS_NM || '_복사' AS STMP_BAS_NM	
			, STMP_TYPE_CD
			, STMP_EVENT_CD
			, FROM_USE_POSS_DT
			, TO_USE_POSS_DT
			, VALID_YN
			, VALID_PERD
			, STMP_MAX_YN
			, STMP_MAX_CNT
			, STMP_QNTY
			, 'N' AS USE_YN
			, MSHIP_GRADE_CD
			, MSHP_GRADE_CD
			, CPRT_CMP_NO
			, COND_YN
			, COND_AMT
			, COND_CNT
			, COUPN_ACCUM_DC_YN
			, ACCUM_CHL_TXN
			, BNFIT_CD
			, POINT_SCORE
			, COUPN_NO
			, #{amdrId} AS AMDR_ID
	        , #{regrId} AS REGR_ID
			, REG_CHL_CD	
			, APPLY_MSHP_GRADE_CTNTS
			, MSHIP_TYPE_CDS
		FROM CRM_MSHIP_STMP_BAS
			WHERE MSHIP_STMP_BAS_NO = #{mshipStmpBasNo}
    </insert>
    
    <insert id="copyStmpStore">
    	INSERT /*copyStmpStore*/ INTO CRM_MSHIP_APPLY_STOR_REL (
			MSHIP_STMP_BAS_NO
			, APPLY_DIV_CD
			, STOR_NO
			, AMDR_ID
			, AMD_DT
			, REGR_ID
			, REG_DT
			, REG_CHL_CD
			, STOR_REL_BAS_NO
		)
		SELECT 
		    #{maxStmpNo} AS MSHIP_STMP_BAS_NO
			, APPLY_DIV_CD
			, STOR_NO
			, #{amdrId} AS AMDR_ID
			, SYSDATE AS AMD_DT
			, #{regrId} AS REGR_ID
			, SYSDATE AS REG_DT
			, REG_CHL_CD
			, FN_CRM_AUTO_SEQ('STR') AS STOR_REL_BAS_NO
		FROM CRM_MSHIP_APPLY_STOR_REL 
		    WHERE MSHIP_STMP_BAS_NO = #{mshipStmpBasNo}
    </insert>
    
    <insert id="copyStmpGods">
	    INSERT /*copyStmpGods*/ INTO CRM_MSHIP_APPLY_GODS_REL (
			APPLY_BNFIT_CD
			, APPLY_DIV_CD
			, GODS_NO
			, DC_RATE
			, AMDR_ID
			, AMD_DT
			, REGR_ID
			, REG_DT
			, GODS_REL_BAS_NO
			, MSHIP_STMP_BAS_NO
			, MIN_BUY_AMT
			, ITEM_ACCUM_CNT
		)
		SELECT 
		    APPLY_BNFIT_CD
			, APPLY_DIV_CD
			, GODS_NO
			, DC_RATE
			, #{amdrId} AS AMDR_ID
			, SYSDATE AS AMD_DT
			, #{regrId} AS REGR_ID
			, SYSDATE AS REG_DT
			, FN_CRM_AUTO_SEQ('MRB') AS GODS_REL_BAS_NO
			, #{maxStmpNo} AS MSHIP_STMP_BAS_NO
			, MIN_BUY_AMT
			, ITEM_ACCUM_CNT
		 FROM CRM_MSHIP_APPLY_GODS_REL 
		    WHERE MSHIP_STMP_BAS_NO = #{mshipStmpBasNo}
    </insert>
    
    <insert id="copyStmpChl">
    	INSERT /*copyStmpChl*/ INTO CRM_MSHIP_APPLY_CHL_REL (
		     APPLY_BNFIT_CD
			, MSHIP_STMP_BAS_NO
			, APPLY_DIV_CD
			, APPLY_CHL_CD
			, AMDR_ID
			, AMD_DT
			, REGR_ID
			, REG_DT
			, REG_CHL_CD
			, CHL_REL_BAS_NO
		 )
		SELECT 
		     APPLY_BNFIT_CD
			, #{maxStmpNo} AS MSHIP_STMP_BAS_NO
			, APPLY_DIV_CD
			, APPLY_CHL_CD
			, 'amdrId' AS AMDR_ID
			, SYSDATE AS AMD_DT
			, 'regrId' AS REGR_ID
			, SYSDATE AS REG_DT
			, REG_CHL_CD
			, FN_CRM_AUTO_SEQ('CHL') AS CHL_REL_BAS_NO
		 FROM CRM_MSHIP_APPLY_CHL_REL
		    WHERE MSHIP_STMP_BAS_NO = #{mshipStmpBasNo}
    </insert>
    
    <!-- 스탬프 마스터 삭제 시 관련 내용 삭제 -->
    <delete id="deleteStmpHis">
    	DELETE /*deleteStmpHis*/ FROM CRM_STMP_HST
        <include refid="sqlPkConditions"/>
    </delete>
    <delete id="deleteStmpStor">
    	DELETE /*deleteStmpStor*/ FROM CRM_MSHIP_APPLY_STOR_REL
        <include refid="sqlPkConditions"/>
    </delete>
    <delete id="deleteStmpGods">
    	DELETE /*deleteStmpGods*/ FROM CRM_MSHIP_APPLY_GODS_REL
        <include refid="sqlPkConditions"/>
    </delete>
    <delete id="deleteStmpChl">
    	DELETE /*deleteStmpChl*/ FROM CRM_MSHIP_APPLY_CHL_REL
        <include refid="sqlPkConditions"/>
    </delete>
    
    <select id="getStmpBasInfo" resultType="com.ceragem.crm.memship.model.CrmMshipStmpBasVo">
    	SELECT /*getStmpBasInfo*/ 
    	<include refid="sqlCols"/>
    	, (SELECT COUPN_BAS_NM FROM CRM_MSHIP_COUPN_BAS WHERE MSHIP_COUPN_BAS_NO = COUPN_NO) AS COUPN_NM
    	FROM CRM_MSHIP_STMP_BAS
    	<include refid="sqlPkConditions"/>
    </select>
    
    <select id="searchStmpList" resultType="EzMap">
    	<include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
    	SELECT /*searchStmpList*/
			A.MSHIP_STMP_BAS_NO
		    , A.STMP_BAS_NM
		    , A.STMP_TYPE_CD
		    , CASE
		        WHEN A.STMP_TYPE_CD = 0 THEN '결제'
		        WHEN A.STMP_TYPE_CD = 1 THEN '이벤트'
		    END AS STMP_TYPE_NM
		    , A.STMP_EVENT_CD
		    , A.FROM_USE_POSS_DT
		    , A.TO_USE_POSS_DT
		    , A.VALID_YN
		    , A.VALID_PERD
		    , A.STMP_MAX_YN
		    , CASE
		    	WHEN A.STMP_MAX_YN = 'Y' AND A.STMP_MAX_CNT = 0 THEN '무제한'
		    	WHEN A.STMP_MAX_YN = 'Y' AND A.STMP_MAX_CNT > 0 THEN TO_CHAR(A.STMP_MAX_CNT)
		    	WHEN A.STMP_MAX_YN = 'N' THEN TO_CHAR(A.STMP_MAX_CNT)
		    END AS STMP_MAX_CNT
		    , A.STMP_QNTY
		    , A.USE_YN
		    , A.MSHIP_GRADE_CD
		    , A.MSHP_GRADE_CD
		    , A.CPRT_CMP_NO
		    , A.COND_YN
		    , A.COND_AMT
		    , A.COUPN_ACCUM_DC_YN
		    , A.ACCUM_CNT
		    , A.ACCUM_CHL_TXN
		    , A.BNFIT_CD
		    , B.STMP_HST_SEQ
		    , B.ACCUM_DT
		    , B.USE_DT
		    , B.STMP_ACCUM_QNTY
		    , B.ISSUE_CNT
		    , B.PAY_CHL_CD
		    , (SELECT COMN_CD_NM FROM CRM_COMN_CD_BAS WHERE TOP_COMN_CD = 'ST040' AND COMN_CD_LVL_NO = 2 AND COMN_CD = B.PAY_CHL_CD) AS CHL_NM
		    , B.COUPN_NO
		    , B.POINT_SCORE
		    , CASE
                WHEN B.COUPN_NO IS NULL AND B.POINT_SCORE IS NULL THEN ''
                WHEN B.COUPN_NO IS NOT NULL OR B.POINT_SCORE IS NOT NULL THEN '혜택지급'
		    END AS ACCUM_STATUS
		    , B.CHIT_NO
		    , (SELECT /*+ INDEX(CRM_STMP_HST CRM_STMP_HST_IX03) */ COUNT(*) FROM CRM_STMP_HST WHERE CHIT_NO = B.CHIT_NO ) AS CHIT_NO_CNT 
		    , B.ADMT_METH_CD
		    , B.USE_TYPE_CD
		    , C.ITG_CUST_NO
			, C.CUST_NM
			, B.STOR_NO
			, NVL( (SELECT STOR_NM FROM CRM_STOR_BAS WHERE STOR_NO = B.STOR_NO),'관리자지급' ) AS STOR_NM
			 FROM CRM_MSHIP_STMP_BAS A JOIN CRM_STMP_HST B 
			    	ON A.MSHIP_STMP_BAS_NO = B.MSHIP_STMP_BAS_NO
			    JOIN CRM_CUST_BAS C
			    	ON B.ITG_CUST_NO = C.ITG_CUST_NO 
			<if test="stmpBasCd != null and stmpBasCd != ''">
                AND A.MSHIP_STMP_BAS_NO  = #{stmpBasCd}      
	        </if>
			<if test="stmpBasNm != null and stmpBasNm != ''">
                AND A.STMP_BAS_NM  LIKE  '%'||  #{stmpBasNm} ||'%'      
	        </if>
			<if test="stmpEventCd != null and stmpEventCd != ''">
                AND A.STMP_TYPE_CD    =       #{stmpEventCd}      
	        </if>
	        <if test="fromPblsStdDay != null and toPblsStdDay != '' ">
	        	AND B.ACCUM_DT BETWEEN TO_DATE(#{fromPblsStdDay}, 'YYYY-MM-DD') AND TO_DATE(#{toPblsStdDay}, 'YYYY-MM-DD')+1
	        </if>
	        <if test="useYn != null and useYn != ''">
	         	AND A.USE_YN    =       #{useYn}
	        </if>
	        <if test="itgCustNo != null and itgCustNo != ''">
	         	AND C.ITG_CUST_NO    =       #{itgCustNo}
	        </if>
	        <if test="accumChl != null and accumChl != ''">
	         	AND A.ACCUM_CHL_TXN LIKE  '%'||  #{accumChl} ||'%' 
	        </if>
	        <if test="storNm != null and storNm != ''">
	         	AND D.STOR_NM LIKE  '%'||  #{storNm} ||'%' 
	        </if>
	        <if test="custNm != null and custNm != ''">
	         	AND C.CUST_NM =  #{custNm}
	        </if>
	        ORDER BY B.ACCUM_DT DESC ,  B.ISSUE_CNT DESC , C.ITG_CUST_NO , B.STMP_ACCUM_QNTY DESC
		<include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    
    <select id="searchStmpListCount" resultType="int">
    	SELECT /*searchStmpListCount*/
			COUNT(1)
			 FROM CRM_MSHIP_STMP_BAS A JOIN CRM_STMP_HST B 
			    	ON A.MSHIP_STMP_BAS_NO = B.MSHIP_STMP_BAS_NO
			    JOIN CRM_CUST_BAS C
			    	ON B.ITG_CUST_NO = C.ITG_CUST_NO 
			<if test="stmpBasCd != null and stmpBasCd != ''">
                AND A.MSHIP_STMP_BAS_NO  = #{stmpBasCd}      
	        </if>
			<if test="stmpBasNm != null and stmpBasNm != ''">
                AND A.STMP_BAS_NM  LIKE  '%'||  #{stmpBasNm} ||'%'      
	        </if>
			<if test="stmpEventCd != null and stmpEventCd != ''">
                AND A.STMP_TYPE_CD    =       #{stmpEventCd}      
	        </if>
	        <if test="fromPblsStdDay != null and toPblsStdDay != '' ">
	        	AND B.ACCUM_DT BETWEEN TO_DATE(#{fromPblsStdDay}, 'YYYY-MM-DD') AND TO_DATE(#{toPblsStdDay}, 'YYYY-MM-DD')+1
	        </if>
	        <if test="useYn != null and useYn != ''">
	         	AND A.USE_YN    =       #{useYn}
	        </if>
	        <if test="itgCustNo != null and itgCustNo != ''">
	         	AND C.ITG_CUST_NO    =       #{itgCustNo}
	        </if>
	        <if test="accumChl != null and accumChl != ''">
	         	AND A.ACCUM_CHL_TXN LIKE  '%'||  #{accumChl} ||'%' 
	        </if>
	        <if test="storNm != null and storNm != ''">
	         	AND D.STOR_NM LIKE  '%'||  #{storNm} ||'%' 
	        </if>
	        <if test="custNm != null and custNm != ''">
	         	AND C.CUST_NM =  #{custNm}
	        </if>
    </select>
    
    <select id="getComnList" resultType="EzMap">
    	SELECT /*getComnList*/
			COMN_CD                    /*공통코드        */
			, TOP_COMN_CD                    /*최상위공통코드        */
			, COMN_CD_LVL_NO                    /*공통코드레벨번호        */
			, PRNTS_COMN_CD                    /*부모공통코드        */
			, COMN_CD_NM                    /*공통코드명        */
			, USE_YN                    /*사용여부        */
		 FROM CRM_COMN_CD_BAS
		    WHERE TOP_COMN_CD = #{topComnCd}
		        AND COMN_CD = #{comnCd}  
		        AND COMN_CD_LVL_NO = 2
		               ORDER BY COMN_CD_LVL_NO
		                      , TOP_COMN_CD
		                      , COMN_CD_ODRG
		                      , COMN_CD	
    </select>
    
    <select id="getStmpTotalHist" resultType="int">
    	SELECT COUNT(1)
    		FROM CRM_STMP_HST
    			WHERE MSHIP_STMP_BAS_NO = #{mshipStmpBasNo}
    				AND ITG_CUST_NO = #{itgCustNo}
    </select>
    
    <select id="getStmpHisSeq" resultType="String">
    	SELECT MAX(STMP_HST_SEQ) AS HST_SEQ FROM 	CRM_STMP_HST
    		WHERE MSHIP_STMP_BAS_NO = #{mshipStmpBasNo}
			        AND ITG_CUST_NO = #{itgCustNo}
    </select>
    
    <select id="getStmpMaxSeq" resultType="EzMap">
    	SELECT STMP_ACCUM_QNTY,ISSUE_CNT FROM CRM_STMP_HST
		    WHERE STMP_HST_SEQ = #{stmpHstSeq}
    </select>
    
    <insert id="insertStmpHis" >
    	<selectKey order="BEFORE" keyProperty="stmpHstSeq" resultType="EzMap">
    		SELECT FN_CRM_AUTO_SEQ('STM') AS  STMP_HST_SEQ  FROM DUAL
    	</selectKey>
    	INSERT /* insertStmpHis */ INTO CRM_STMP_HST (
        	STMP_HST_SEQ		
			, MSHIP_STMP_BAS_NO	
			, ITG_CUST_NO			
			, MSHIP_GRADE_CD		
			, STOR_NO				
			, ACCUM_DT			
			, STMP_BAS_NM			
			, FROM_USE_POSS_DT	
			, TO_USE_POSS_DT		
			, BUY_GODS_NO			
			, STMP_ACCUM_QNTY		
			, ISSUE_CNT			
			, ORDR_QNTY			
			, ORDR_AMT			
			, PAY_AMT				
			, PAY_CHL_CD					
			, STATUS_CD			
			, CHIT_NO			
			, COUPN_NO			
			, POINT_SCORE			
			, AMDR_ID				
			, AMD_DT				
			, REGR_ID				
			, REG_DT				
         ) VALUES (
         	#{stmpHstSeq}
             , #{mshipStmpBasNo}
             , #{itgCustNo}
             , #{mshipGradeCd}
             , #{storNo}
             , SYSDATE
             , #{stmpBasNm}
             , TO_DATE(#{fromUsePossDt},'YYYY-MM-DD')
             , TO_DATE(#{toUsePossDt},'YYYY-MM-DD')
             , #{buyGodsNo}
             , #{stmpAccumQnty}
             , NVL(#{issueCnt},0)
             , 1
             , #{ordrAmt}
             , #{payAmt}
             , #{payChlCd}
             , '0'
             , #{chitNo}
             , #{coupnNo}
             , #{pointScore}
             , #{amdrId}
             , SYSDATE
             , #{regrId}
             , SYSDATE
         )
    </insert>
    
    <select id="getStmpBasInfoForPopup" resultType="EzMap">
    	SELECT /*getStmpBasInfoForPopup*/
    	<include refid="sqlCols"/>
    	, TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS') CHIT_NO
    	, TO_CHAR(SYSDATE, 'YYYY-MM-DD') PBLS_DT
    	FROM CRM_MSHIP_STMP_BAS
    		WHERE MSHIP_STMP_BAS_NO = #{mshipStmpBasNo}
    
    </select>
    
    <select id="getTargetSearchListForStmp" resultType="EzMap">
    	<include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
    	SELECT 
		    BAS.ITG_CUST_NO
		    , BAS.CUST_NM
		    , BAS.GNDR_CD
		    , BAS.BIRTHDAY
		    , BAS.MPHON_BK_DGT_NO
		    , NVL2(BAS.MPHON_BK_DGT_NO, '010-****-'|| BAS.MPHON_BK_DGT_NO, '') AS MPHON_NO_MASKING
		    , TEM.ACCUM_TYPE
		    , NVL(TEM.ACCUM_CNT,0) AS ACCUM_CNT
		    , NVL(TEM.STMP_ACCUM_QNTY,0) AS STMP_ACCUM_QNTY
		    , (SELECT COMN_CD_NM FROM CRM_COMN_CD_BAS WHERE COMN_CD = BAS.MSHIP_GRADE_CD AND TOP_COMN_CD = 'MB020') AS MSHIP_GRADE_NM
		 FROM CRM_CUST_BAS BAS  JOIN (
		    SELECT C.*,D.STMP_ACCUM_QNTY FROM (
		        SELECT 
		            A.MSHIP_STMP_BAS_NO
		            , B.ITG_CUST_NO
		            , MAX(B.STMP_HST_SEQ) AS STMP_HST_SEQ
		            , CASE
		                WHEN COUNT(B.COUPN_NO) > 0 THEN '쿠폰'
		                WHEN COUNT(B.POINT_SCORE) > 0 THEN '포인트'
		            END AS ACCUM_TYPE
		            , CASE
		                WHEN COUNT(B.COUPN_NO) > 0 THEN COUNT(B.COUPN_NO)
		                WHEN COUNT(B.POINT_SCORE) > 0 THEN COUNT(B.POINT_SCORE)
		                ELSE 0
		            END AS ACCUM_CNT
		        FROM CRM_MSHIP_STMP_BAS A JOIN CRM_STMP_HST B ON A.MSHIP_STMP_BAS_NO = B.MSHIP_STMP_BAS_NO
		            GROUP BY A.MSHIP_STMP_BAS_NO ,  B.ITG_CUST_NO
		    ) C JOIN CRM_STMP_HST D
		    ON C.STMP_HST_SEQ = D.STMP_HST_SEQ 
		        AND C.MSHIP_STMP_BAS_NO = TRIM(#{mshipStmpBasNo})
		 ) TEM ON BAS.ITG_CUST_NO = TEM.ITG_CUST_NO (+)  
		    <if test="itgCustNo != null and itgCustNo != ''">
            	AND BAS.ITG_CUST_NO = #{itgCustNo}     
	        </if>
			<if test="custNm != null and custNm != ''">
                AND BAS.CUST_NM  = #{custNm}      
	        </if>
		  	<if test="mphon != null and mphon != ''">
                AND BAS.MPHON_BK_DGT_NO  = #{mphon}       
	        </if>
	        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    
    <select id="getTargetSearchForStmpCount" resultType="int">
    	SELECT 
		    COUNT(1) AS CNT
		 FROM CRM_CUST_BAS BAS  JOIN (
		    SELECT C.*,D.STMP_ACCUM_QNTY FROM (
		        SELECT 
		            A.MSHIP_STMP_BAS_NO
		            , B.ITG_CUST_NO
		            , MAX(B.STMP_HST_SEQ) AS STMP_HST_SEQ
		            , CASE
		                WHEN COUNT(B.COUPN_NO) > 0 THEN '쿠폰'
		                WHEN COUNT(B.POINT_SCORE) > 0 THEN '포인트'
		            END AS ACCUM_TYPE
		            , CASE
		                WHEN COUNT(B.COUPN_NO) > 0 THEN COUNT(B.COUPN_NO)
		                WHEN COUNT(B.POINT_SCORE) > 0 THEN COUNT(B.POINT_SCORE)
		                ELSE 0
		            END AS ACCUM_CNT
		        FROM CRM_MSHIP_STMP_BAS A JOIN CRM_STMP_HST B ON A.MSHIP_STMP_BAS_NO = B.MSHIP_STMP_BAS_NO
		            GROUP BY A.MSHIP_STMP_BAS_NO ,  B.ITG_CUST_NO
		    ) C JOIN CRM_STMP_HST D
		    ON C.STMP_HST_SEQ = D.STMP_HST_SEQ 
		        AND C.MSHIP_STMP_BAS_NO = TRIM(#{mshipStmpBasNo})
		 ) TEM ON BAS.ITG_CUST_NO = TEM.ITG_CUST_NO (+)  
		    <if test="itgCustNo != null and itgCustNo != ''">
            	AND BAS.ITG_CUST_NO = #{itgCustNo}     
	        </if>
			<if test="custNm != null and custNm != ''">
                AND BAS.CUST_NM  = #{custNm}      
	        </if>
		  	<if test="mphon != null and mphon != ''">
                AND BAS.MPHON_BK_DGT_NO  = #{mphon}       
	        </if>
    </select>
    
    <select id="checkChitNo" resultType="int">
    	SELECT COUNT(1)
    		FROM CRM_STMP_HST
    			WHERE CHIT_NO = #{chitNo}
    </select>
    
    <update id="updateStmpInfo">
         UPDATE /*updateStmpInfo*/ CRM_MSHIP_STMP_BAS
            SET FROM_USE_POSS_DT				= TO_DATE(#{fromUsePossDt}, 'YYYY-MM-DD HH24:MI:SS')
			, TO_USE_POSS_DT					= TO_DATE(#{toUsePossDt}, 'YYYY-MM-DD HH24:MI:SS')
			, USE_YN			                = #{useYn}
        <include refid="sqlPkConditions"/>
    </update>
</mapper>
