<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.memship.dao.CrmMshipPrvCoupnRelDao">
    <sql id="sqlPkConditions">
                WHERE COUPN_BAS_NO      =       #{coupnBasNo}
    </sql>
    <sql id="sqlCols">
                      MSHIP_PLCY_BAS_NO                    /*멤버십정책기본번호        */
                    , MSHIP_PROM_BAS_NO                    /*멤버십프로모션기본번호        */
                    , COUPN_BAS_NO                    /*쿠폰기본번호        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
                    , REG_CHL_CD                    /*등록채널코드        */
                    , MSHIP_COUPN_BAS_NO                    /*쿠폰기본번호        */
    </sql>
    <sql id="sqlSelectCols">
                      A.MSHIP_PLCY_BAS_NO                    /*멤버십정책기본번호        */
                    , A.MSHIP_PROM_BAS_NO                    /*멤버십프로모션기본번호        */
                    , A.COUPN_BAS_NO                    /*쿠폰기본번호        */
                    , A.AMDR_ID                    /*수정자ID        */
                    , TO_CHAR(A.AMD_DT,'YYYYMMDDHH24MISS')    AMD_DT                    /*수정일시        */
                    , A.REGR_ID                    /*등록자ID        */
                    , TO_CHAR(A.REG_DT,'YYYYMMDDHH24MISS')    REG_DT                    /*등록일시        */
                    , A.REG_CHL_CD                    /*등록채널코드        */
                    , A.MSHIP_COUPN_BAS_NO                    /*쿠폰기본번호        */
                    , B.COUPN_BAS_NM
                    , B.COUPN_USE_POSS_DAY
					, B.COUPN_USE_POSS_DAY_CNT
					, B.COUPN_APPLY_DIV_CD1
					, B.APPLY_CNT
					, B.APPLY_AMT
					, B.APPLY_RATE
					, B.USE_DIV_CD
					, B.USE_STD_DAY_COND_CD
					, B.FROM_USE_STD_DAY
					, B.TO_USE_STD_DAY
					, (SELECT GODS_NM FROM CRM_GODS_BAS C WHERE C.GODS_NO = B.PRSNTTN_GODS_CD ) godsNm    /* 증정제품명 */
    </sql>
    <sql id="sqlConditions">
                <where>
        <if test="mshipPlcyBasNo != null and mshipPlcyBasNo != ''">
                  AND A.MSHIP_PLCY_BAS_NO=       #{mshipPlcyBasNo}
        </if>
        <if test="mshipPromBasNo != null and mshipPromBasNo != ''">
                  AND A.MSHIP_PROM_BAS_NO=       #{mshipPromBasNo}
        </if>
        <if test="coupnBasNo != null and coupnBasNo != ''">
                  AND A.COUPN_BAS_NO    =       #{coupnBasNo}
        </if>
        <if test="regChlCd != null and regChlCd != ''">
            <choose>
                <when test="regChlCd instanceof String">
                    AND A.REG_CHL_CD      =       #{regChlCd}
                </when>
                <otherwise>
                    AND A.REG_CHL_CD      IN
                    <foreach item="item" index="index" collection="regChlCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="mshipCoupnBasNo != null and mshipCoupnBasNo != ''">
                  AND A.MSHIP_COUPN_BAS_NO=       #{mshipCoupnBasNo}
        </if>
        </where>
    </sql>
    <sql id="sqlOrderBy">
        <choose>
            <when test="colSortName ==null or colSortName == ''">
                ORDER BY      REG_DT DESC
            </when>
            <when test="colSortName.equals('mshipPlcyBasNo')">
                ORDER BY      MSHIP_PLCY_BAS_NO
            </when>
            <when test="colSortName.equals('mshipPromBasNo')">
                ORDER BY      MSHIP_PROM_BAS_NO
            </when>
            <when test="colSortName.equals('coupnBasNo')">
                ORDER BY      COUPN_BAS_NO
            </when>
            <when test="colSortName.equals('amdrId')">
                ORDER BY      AMDR_ID
            </when>
            <when test="colSortName.equals('amdDt')">
                ORDER BY      AMD_DT
            </when>
            <when test="colSortName.equals('regrId')">
                ORDER BY      REGR_ID
            </when>
            <when test="colSortName.equals('regDt')">
                ORDER BY      REG_DT
            </when>
            <when test="colSortName.equals('regChlCd')">
                ORDER BY      REG_CHL_CD
            </when>
            <when test="colSortName.equals('mshipCoupnBasNo')">
                ORDER BY      MSHIP_COUPN_BAS_NO
            </when>
            <otherwise>
                ORDER BY      REG_DT
            </otherwise>
        </choose>
        <if test="colSortName !=null and colSortDir !='' and colSortDir !=null and colSortDir !='' and colSortDir.equals('desc')">
            DESC
        </if>
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT COUNT(1)
                 FROM CRM_MSHIP_PRV_COUPN_REL A
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.ceragem.crm.memship.model.CrmMshipPrvCoupnRelVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
               SELECT <include refid="sqlSelectCols"/>
                 FROM CRM_MSHIP_PRV_COUPN_REL A
                 LEFT JOIN CRM_MSHIP_COUPN_BAS B  ON A.MSHIP_COUPN_BAS_NO = B.MSHIP_COUPN_BAS_NO
        <include refid="sqlConditions"/>
        <include refid="sqlOrderBy"/>
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.ceragem.crm.memship.model.CrmMshipPrvCoupnRelVo">
               SELECT <include refid="sqlSelectCols"/>
                 FROM CRM_MSHIP_PRV_COUPN_REL A
                 LEFT JOIN CRM_MSHIP_COUPN_BAS B  ON A.MSHIP_COUPN_BAS_NO = B.MSHIP_COUPN_BAS_NO
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
                INSERT INTO CRM_MSHIP_PRV_COUPN_REL (
        <include refid="sqlCols"/>
                 ) VALUES (
                       #{mshipPlcyBasNo}
                     , #{mshipPromBasNo}
                     ,  NVL(#{coupnBasNo}, FN_CRM_AUTO_SEQ('MCB') )
                     , #{amdrId}
                     , SYSDATE
                     , #{regrId}
                     , SYSDATE
                     , #{regChlCd}
                     , #{mshipCoupnBasNo}
                 )
    </insert>
    <update id="update">
               UPDATE CRM_MSHIP_PRV_COUPN_REL
                  SET MSHIP_PLCY_BAS_NO                       =         #{mshipPlcyBasNo}
                    , MSHIP_PROM_BAS_NO                       =         #{mshipPromBasNo}
                    , AMDR_ID                                 =         #{amdrId}
                    , AMD_DT                                  =         SYSDATE
                    , REG_CHL_CD                              =         #{regChlCd}
                    , MSHIP_COUPN_BAS_NO                      =         #{mshipCoupnBasNo}
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE FROM CRM_MSHIP_PRV_COUPN_REL
        <include refid="sqlPkConditions"/>
    </delete>
</mapper>
