<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.memship.dao.CrmMshipApplyCoupnEventRelDao">
    <sql id="sqlPkConditions">
                WHERE COUPN_EVENT_BAS_NO=       #{coupnEventBasNo}
    </sql>
    <sql id="sqlCols">
                      COUPN_EVENT_BAS_NO                    /*등급쿠폰기본번호        */
                    , EVENT_COMN_CD                    /*이벤트공통코드        */
                    , COUPN_TYPE_CD                    /*쿠폰리스트코드        */
                    , MSHIP_PLCY_BAS_NO                    /*멤버십정책기본번호        */
                    , MSHIP_COUPN_BAS_NO                    /*멤버십쿠폰기본번호        */
                    , TOT_APPNT_CNT                    /*총지정수        */
                    , DAY_APPNT_CNT                    /*일지정수        */
                    , MONTH_APPNT_CNT                    /*월지정수        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
    </sql>
    <sql id="sqlSelectCols">
                      A.COUPN_EVENT_BAS_NO                    /*등급쿠폰기본번호        */
                    , B.COMN_CD EVENT_COMN_CD                    /*이벤트공통코드        */
                    , A.COUPN_TYPE_CD                    /*쿠폰리스트코드        */
                    , A.MSHIP_PLCY_BAS_NO                    /*멤버십정책기본번호        */
                    , A.MSHIP_COUPN_BAS_NO                    /*멤버십쿠폰기본번호        */
                    , A.TOT_APPNT_CNT                    /*총지정수        */
                    , A.DAY_APPNT_CNT                    /*일지정수        */
                    , A.MONTH_APPNT_CNT                    /*월지정수        */
                    , A.AMDR_ID                    /*수정자ID        */
                    , TO_CHAR(A.AMD_DT,'YYYY.MM.DD')    AMD_DT                    /*수정일시        */
                    , A.REGR_ID                    /*등록자ID        */
                    , TO_CHAR(A.REG_DT,'YYYY.MM.DD')    REG_DT                    /*등록일시        */
                    , B.COMN_CD_NM
                    , B.TOP_COMN_CD TOP_COMN_CD2
                    , B.COMN_CD COMN_CD2
    </sql>
    <sql id="sqlConditions">
                WHERE ( B.TOP_COMN_CD = 'EV100' AND B.PRNTS_COMN_CD = 'EV100' ) 
                  AND B.COMN_CD_1_USE_YN='Y'
        <if test="coupnEventBasNo != null and coupnEventBasNo != ''">
                  AND A.COUPN_EVENT_BAS_NO=       #{coupnEventBasNo}
        </if>
        <if test="eventComnCd != null and eventComnCd != ''">
            <choose>
                <when test="eventComnCd instanceof String">
                    AND A.EVENT_COMN_CD   =       #{eventComnCd}
                </when>
                <otherwise>
                    AND A.EVENT_COMN_CD   IN
                    <foreach item="item" index="index" collection="eventComnCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="coupnTypeCd != null and coupnTypeCd != ''">
            <choose>
                <when test="coupnTypeCd instanceof String">
                    AND A.COUPN_TYPE_CD   =       #{coupnTypeCd}
                </when>
                <otherwise>
                    AND A.COUPN_TYPE_CD   IN
                    <foreach item="item" index="index" collection="coupnTypeCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
       <!--  <if test="mshipPlcyBasNo != null and mshipPlcyBasNo != ''">
                  AND ( A.MSHIP_PLCY_BAS_NO=       #{mshipPlcyBasNo}  OR A.COUPN_TYPE_CD IS NULL )
        </if> -->
        <if test="mshipCoupnBasNo != null and mshipCoupnBasNo != ''">
                  AND A.MSHIP_COUPN_BAS_NO=       #{mshipCoupnBasNo}
        </if>
        <if test="totAppntCnt != null and totAppntCnt != ''">
                  AND A.TOT_APPNT_CNT   =       #{totAppntCnt}
        </if>
        <if test="dayAppntCnt != null and dayAppntCnt != ''">
                  AND A.DAY_APPNT_CNT   =       #{dayAppntCnt}
        </if>
        <if test="monthAppntCnt != null and monthAppntCnt != ''">
                  AND A.MONTH_APPNT_CNT =       #{monthAppntCnt}
        </if>
    </sql>
    <sql id="sqlOrderBy">
    
       ORDER BY EVENT_COMN_CD
    	
       <!--  <choose>
          
            <when test="colSortName ==null or colSortName == ''">
                ORDER BY      REG_DT DESC
            </when>
            <when test="colSortName.equals('coupnEventBasNo')">
                ORDER BY      COUPN_EVENT_BAS_NO
            </when>
            <when test="colSortName.equals('eventComnCd')">
                ORDER BY      EVENT_COMN_CD
            </when>
            <when test="colSortName.equals('coupnTypeCd')">
                ORDER BY      COUPN_TYPE_CD
            </when>
            <when test="colSortName.equals('mshipPlcyBasNo')">
                ORDER BY      MSHIP_PLCY_BAS_NO
            </when>
            <when test="colSortName.equals('mshipCoupnBasNo')">
                ORDER BY      MSHIP_COUPN_BAS_NO
            </when>
            <when test="colSortName.equals('totAppntCnt')">
                ORDER BY      TOT_APPNT_CNT
            </when>
            <when test="colSortName.equals('dayAppntCnt')">
                ORDER BY      DAY_APPNT_CNT
            </when>
            <when test="colSortName.equals('monthAppntCnt')">
                ORDER BY      MONTH_APPNT_CNT
            </when>
            <when test="colSortName.equals('amdrId')">
                ORDER BY      AMDR_ID
            </when>
            <when test="colSortName.equals('amdDt')">
                ORDER BY      AMD_DT
            </when>
            <when test="colSortName.equals('regrId')">
                ORDER BY      REGR_ID
            </when>
            <when test="colSortName.equals('regDt')">
                ORDER BY      REG_DT
            </when>
            <otherwise>
                ORDER BY      REG_DT
            </otherwise>
        </choose> -->
        <if test="colSortName !=null and colSortDir !='' and colSortDir !=null and colSortDir !='' and colSortDir.equals('desc')">
            DESC
        </if>
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT /* com.ceragem.crm.memship.dao.CrmMshipApplyCoupnEventRelDao.selectListCount */ COUNT(1)
                 FROM CRM_COMN_CD_BAS B
                 LEFT JOIN CRM_MSHIP_APPLY_COUPN_EVENT_REL A ON (
                 A.EVENT_COMN_CD = B.COMN_CD
                	 <if test="mshipPlcyBasNo != null and mshipPlcyBasNo != ''">
			                  AND  A.MSHIP_PLCY_BAS_NO=       #{mshipPlcyBasNo}  
			        </if>
			        )  
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.ceragem.crm.memship.model.CrmMshipApplyCoupnEventRelVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
               SELECT /* com.ceragem.crm.memship.dao.CrmMshipApplyCoupnEventRelDao.selectList */ <include refid="sqlSelectCols"/>
                 FROM CRM_COMN_CD_BAS B
                 LEFT JOIN CRM_MSHIP_APPLY_COUPN_EVENT_REL A ON  (
                 A.EVENT_COMN_CD = B.COMN_CD
                	 <if test="mshipPlcyBasNo != null and mshipPlcyBasNo != ''">
			                  AND  A.MSHIP_PLCY_BAS_NO=       #{mshipPlcyBasNo}  
			        </if>
			        )  
        <include refid="sqlConditions"/>
        <include refid="sqlOrderBy"/>
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.ceragem.crm.memship.model.CrmMshipApplyCoupnEventRelVo">
               SELECT /* com.ceragem.crm.memship.dao.CrmMshipApplyCoupnEventRelDao.select */ <include refid="sqlSelectCols"/>
                 FROM CRM_COMN_CD_BAS B
                 LEFT JOIN CRM_MSHIP_APPLY_COUPN_EVENT_REL A ON  (
                 A.EVENT_COMN_CD = B.COMN_CD
                	 <if test="mshipPlcyBasNo != null and mshipPlcyBasNo != ''">
			                  AND  A.MSHIP_PLCY_BAS_NO=       #{mshipPlcyBasNo}  
			        </if>
			        )  
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
                INSERT INTO /* com.ceragem.crm.memship.dao.CrmMshipApplyCoupnEventRelDao.insert */ CRM_MSHIP_APPLY_COUPN_EVENT_REL (
        <include refid="sqlCols"/>
                 ) VALUES (
                      NVL(#{coupnEventBasNo}, FN_CRM_AUTO_SEQ('CEB') )
                     , #{eventComnCd}
                     , #{coupnTypeCd}
                     , #{mshipPlcyBasNo}
                     , #{mshipCoupnBasNo}
                     , #{totAppntCnt}
                     , #{dayAppntCnt}
                     , #{monthAppntCnt}
                     , #{amdrId}
                     , SYSDATE
                     , #{regrId}
                     , SYSDATE
                 )
    </insert>
    <update id="update">
               UPDATE /* com.ceragem.crm.memship.dao.CrmMshipApplyCoupnEventRelDao.update */ CRM_MSHIP_APPLY_COUPN_EVENT_REL
                  SET EVENT_COMN_CD                           =         #{eventComnCd}
                    , COUPN_TYPE_CD                           =         #{coupnTypeCd}
                    , MSHIP_PLCY_BAS_NO                       =         #{mshipPlcyBasNo}
                    , MSHIP_COUPN_BAS_NO                      =         #{mshipCoupnBasNo}
                    , TOT_APPNT_CNT                           =         #{totAppntCnt}
                    , DAY_APPNT_CNT                           =         #{dayAppntCnt}
                    , MONTH_APPNT_CNT                         =         #{monthAppntCnt}
                    , AMDR_ID                                 =         #{amdrId}
                    , AMD_DT                                  =         SYSDATE
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE /* com.ceragem.crm.memship.dao.CrmMshipApplyCoupnEventRelDao.delete */  FROM CRM_MSHIP_APPLY_COUPN_EVENT_REL
        <include refid="sqlPkConditions"/>
    </delete>
</mapper>
