<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.memship.dao.CrmStorBasDao">
    <sql id="sqlPkConditions">
                WHERE STOR_NO           =       #{storNo}
    </sql>
    <sql id="sqlCols">
                      STOR_NO                    /*매장번호        */
                    , STOR_NM                    /*매장명        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
                    , REG_CHL_CD                    /*등록채널코드        */
                    , TEL_NO                    /*전화번호        */
                    , ZIP_CD                    /*우편번호        */
                    , ADDR_1_CTNTS                    /*주소1내용        */
                    , ADDR_2_CTNTS                    /*주소2내용        */
                    , LATI                    /*위도        */
                    , LONGI                    /*경도        */
                    , STOR_CHL_CD                    /*브랜드코드        */
                    , STOR_TYPE_CD                    /*채널코드        */
                    , STOR_DIV_CD                    /*운영코드        */
                    , STATUS_CD                    /*상태코드        */
                    , DISTRCT_CD                    /*지역번호        */
    </sql>
    <sql id="sqlSelectCols">
                      A.STOR_NO                    /*매장번호        */
                    , A.STOR_NM                    /*매장명        */
                    , A.AMDR_ID                    /*수정자ID        */
                    , TO_CHAR(A.AMD_DT,'YYYYMMDDHH24MISS')    AMD_DT                    /*수정일시        */
                    , A.REGR_ID                    /*등록자ID        */
                    , TO_CHAR(A.REG_DT,'YYYYMMDDHH24MISS')    REG_DT                    /*등록일시        */
                    , A.REG_CHL_CD                    /*등록채널코드        */
                    , A.TEL_NO                    /*전화번호        */
                    , A.ZIP_CD                    /*우편번호        */
                    , A.ADDR_1_CTNTS                    /*주소1내용        */
                    , A.ADDR_2_CTNTS                    /*주소2내용        */
                    , A.LATI                    /*위도        */
                    , A.LONGI                    /*경도        */
                    , A.STOR_CHL_CD                    /*브랜드코드        */
                    , A.STOR_TYPE_CD                    /*채널코드        */
                    , A.STOR_DIV_CD                    /*운영코드        */
                    , A.STATUS_CD                    /*상태코드        */
                    , A.DISTRCT_CD                    /*지역번호        */
    </sql>
    <sql id="sqlConditions">
                <where>
        <if test="storNo != null and storNo != ''">
                  AND A.STOR_NO         =       #{storNo}
        </if>
        <if test="storNm != null and storNm != ''">
                  AND A.STOR_NM     LIKE  '%'||  #{storNm}  ||'%'
        </if>
        
       <if test="storChlCd != null and storChlCd != ''">
                  AND A.STOR_CHL_CD      =       #{storChlCd}
        </if>
        
        
        <if test="regChlCd != null and regChlCd != ''">
            <choose>
                <when test="regChlCd instanceof String">
                    AND A.REG_CHL_CD      =       #{regChlCd}
                </when>
                <otherwise>
                    AND A.REG_CHL_CD      IN
                    <foreach item="item" index="index" collection="regChlCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="telNo != null and telNo != ''">
                  AND A.TEL_NO          =       #{telNo}
        </if>
        <if test="fromUseHour != null and fromUseHour != ''">
                  AND A.FROM_USE_HOUR   =       #{fromUseHour}
        </if>
        <if test="toUseHour != null and toUseHour != ''">
                  AND A.TO_USE_HOUR     =       #{toUseHour}
        </if>
        <if test="zipCd != null and zipCd != ''">
            <choose>
                <when test="zipCd instanceof String">
                    AND A.ZIP_CD          =       #{zipCd}
                </when>
                <otherwise>
                    AND A.ZIP_CD          IN
                    <foreach item="item" index="index" collection="zipCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="addr1Ctnts != null and addr1Ctnts != ''">
                  AND A.ADDR_1_CTNTS    =       #{addr1Ctnts}
        </if>
        <if test="addr2Ctnts != null and addr2Ctnts != ''">
                  AND A.ADDR_2_CTNTS    =       #{addr2Ctnts}
        </if>
        <if test="memo != null and memo != ''">
                  AND A.MEMO            =       #{memo}
        </if>
        <if test="lati != null and lati != ''">
                  AND A.LATI            =       #{lati}
        </if>
        <if test="longi != null and longi != ''">
                  AND A.LONGI           =       #{longi}
        </if>
        <if test="brandCd != null and brandCd != ''">
            <choose>
                <when test="brandCd instanceof String">
                    AND A.STOR_CHL_CD        =       #{brandCd}
                </when>
                <otherwise>
                    AND A.STOR_CHL_CD        IN
                    <foreach item="item" index="index" collection="brandCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="chlCd != null and chlCd != ''">
            <choose>
                <when test="chlCd instanceof String">
                    AND A.CHL_CD          =       #{chlCd}
                </when>
                <otherwise>
                    AND A.CHL_CD          IN
                    <foreach item="item" index="index" collection="chlCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="operCd != null and operCd != ''">
            <choose>
                <when test="operCd instanceof String">
                    AND A.OPER_CD         =       #{operCd}
                </when>
                <otherwise>
                    AND A.OPER_CD         IN
                    <foreach item="item" index="index" collection="operCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="certfNo != null and certfNo != ''">
                  AND A.CERTF_NO        =       #{certfNo}
        </if>
        <if test="posStorNo != null and posStorNo != ''">
                  AND A.POS_STOR_NO     =       #{posStorNo}
        </if>
        <if test="statusCd != null and statusCd != ''">
            <choose>
                <when test="statusCd instanceof String">
                    AND A.STATUS_CD       =       #{statusCd}
                </when>
                <otherwise>
                    AND A.STATUS_CD       IN
                    <foreach item="item" index="index" collection="statusCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="distrctCd != null and distrctCd != ''">
                  AND A.DISTRCT_CD      =       #{distrctCd}
        </if>
        </where>
       
    </sql>

    
    <sql id="sqlConditions_Base">
      	<if test="mshipCoupnBasNo != null and mshipCoupnBasNo != ''">
                 AND STOR_NO NOT IN  (SELECT STOR_NO FROM CRM_MSHIP_APPLY_STOR_REL WHERE MSHIP_COUPN_BAS_NO =  #{mshipCoupnBasNo} )
        </if>
		                
         <if test="mshipCardBasNo != null and mshipCardBasNo != ''">
                 AND STOR_NO NOT IN  (SELECT STOR_NO FROM CRM_MSHIP_APPLY_STOR_REL WHERE MSHIP_CARD_BAS_NO =  #{mshipCardBasNo} )
        </if>  
        
         <if test="mshipPromBasNo != null and mshipPromBasNo != ''">
                 AND STOR_NO NOT IN  (SELECT STOR_NO FROM CRM_MSHIP_APPLY_STOR_REL WHERE MSHIP_PROM_BAS_NO =  #{mshipPromBasNo} )
        </if>  
        
        <if test="mshipPlcyBasNo != null and mshipPlcyBasNo != ''">
                 AND STOR_NO NOT IN  (SELECT STOR_NO FROM CRM_MSHIP_APPLY_STOR_REL WHERE MSHIP_PLCY_BAS_NO =  #{mshipPlcyBasNo} )
        </if>
        
        <if test="mshipStmpBasNo != null and mshipStmpBasNo != ''">
                 AND STOR_NO NOT IN  (SELECT STOR_NO FROM CRM_MSHIP_APPLY_STOR_REL WHERE MSHIP_STMP_BAS_NO =  #{mshipStmpBasNo} )
        </if>  
    </sql>
    
        
    <sql id="sqlOrderBy">
        <choose>
            <when test="colSortName ==null or colSortName == ''">
                ORDER BY      REG_DT DESC
            </when>
            <when test="colSortName.equals('storNo')">
                ORDER BY      STOR_NO
            </when>
            <when test="colSortName.equals('storNm')">
                ORDER BY      STOR_NM
            </when>
            <when test="colSortName.equals('amdrId')">
                ORDER BY      AMDR_ID
            </when>
            <when test="colSortName.equals('amdDt')">
                ORDER BY      AMD_DT
            </when>
            <when test="colSortName.equals('regrId')">
                ORDER BY      REGR_ID
            </when>
            <when test="colSortName.equals('regDt')">
                ORDER BY      REG_DT
            </when>
            <when test="colSortName.equals('regChlCd')">
                ORDER BY      REG_CHL_CD
            </when>
            <when test="colSortName.equals('telNo')">
                ORDER BY      TEL_NO
            </when>
            <when test="colSortName.equals('fromUseHour')">
                ORDER BY      FROM_USE_HOUR
            </when>
            <when test="colSortName.equals('toUseHour')">
                ORDER BY      TO_USE_HOUR
            </when>
            <when test="colSortName.equals('zipCd')">
                ORDER BY      ZIP_CD
            </when>
            <when test="colSortName.equals('addr1Ctnts')">
                ORDER BY      ADDR_1_CTNTS
            </when>
            <when test="colSortName.equals('addr2Ctnts')">
                ORDER BY      ADDR_2_CTNTS
            </when>
            <when test="colSortName.equals('memo')">
                ORDER BY      MEMO
            </when>
            <when test="colSortName.equals('lati')">
                ORDER BY      LATI
            </when>
            <when test="colSortName.equals('longi')">
                ORDER BY      LONGI
            </when>
            <when test="colSortName.equals('brandCd')">
                ORDER BY      STOR_CHL_CD
            </when>
            <when test="colSortName.equals('chlCd')">
                ORDER BY      CHL_CD
            </when>
            <when test="colSortName.equals('operCd')">
                ORDER BY      OPER_CD
            </when>
            <when test="colSortName.equals('certfNo')">
                ORDER BY      CERTF_NO
            </when>
            <when test="colSortName.equals('posStorNo')">
                ORDER BY      POS_STOR_NO
            </when>
            <when test="colSortName.equals('statusCd')">
                ORDER BY      STATUS_CD
            </when>
            <when test="colSortName.equals('distrctCd')">
                ORDER BY      DISTRCT_CD
            </when>
            <otherwise>
                ORDER BY      REG_DT
            </otherwise>
        </choose>
        <if test="colSortName !=null and colSortDir !='' and colSortDir !=null and colSortDir !='' and colSortDir.equals('desc')">
            DESC
        </if>
    </sql>
    
    <sql id="sqlConditions2">
                WHERE STOR_NO IS NOT NULL
        <if test="storNm2 != null and storNm2 != ''">
                  AND A.STOR_NM     LIKE  '%'||  #{storNm2}  ||'%'
        </if>
        
          <if test="storChlCd2 != null and storChlCd2 != ''">
                  AND A.STOR_CHL_CD      =       #{storChlCd2}
        </if>
        
        <if test="distrctCd2 != null and distrctCd2 != ''">
                  AND A.DISTRCT_CD      =       #{distrctCd2}
        </if>
        
       <if test="mshipCoupnBasNo != null and mshipCoupnBasNo != ''">
                 AND  A.MSHIP_COUPN_BAS_NO =  #{mshipCoupnBasNo} 
        </if>
		                
         <if test="mshipCardBasNo != null and mshipCardBasNo != ''">
                 AND  A.MSHIP_CARD_BAS_NO =  #{mshipCardBasNo}
        </if>  
        
         <if test="mshipPromBasNo != null and mshipPromBasNo != ''">
                 AND A.MSHIP_PROM_BAS_NO =  #{mshipPromBasNo} 
        </if> 
        
        <if test="mshipStmpBasNo != null and mshipStmpBasNo != ''">
                 AND A.MSHIP_STMP_BAS_NO =  #{mshipStmpBasNo} 
        </if>
        
        <if test="mshipPlcyBasNo != null and mshipPlcyBasNo != ''">
                 AND A.MSHIP_PLCY_BAS_NO =  #{mshipPlcyBasNo} 
        </if>
        
    </sql>
    <select id="selectTreeList" resultType="com.ceragem.crm.memship.model.CrmStorBasVo">
    	SELECT A.*
		  FROM ( SELECT ROWNUM AS ROW_INDEX
		              , A.*
           		FROM (
           		

		               SELECT  
		                      B.STOR_NO                    /*매장번호        */
		                    , B.STOR_NM                    /*매장명        */
		                    , B.AMDR_ID                    /*수정자ID        */
		                    , TO_CHAR(A.AMD_DT,'YYYYMMDDHH24MISS')    AMD_DT                    /*수정일시        */
		                    , B.REGR_ID                    /*등록자ID        */
		                    , TO_CHAR(A.REG_DT,'YYYYMMDDHH24MISS')    REG_DT                    /*등록일시        */
		                    , B.REG_CHL_CD                    /*등록채널코드        */
		                    , B.TEL_NO                    /*전화번호        */
		                    , B.ZIP_CD                    /*우편번호        */
		                    , B.ADDR_1_CTNTS                    /*주소1내용        */
		                    , B.ADDR_2_CTNTS                    /*주소2내용        */
		                    , B.LATI                    /*위도        */
		                    , B.LONGI                    /*경도        */
		                    , B.STOR_CHL_CD                    /*브랜드코드        */
		                    , B.STOR_TYPE_CD                    /*채널코드        */
		                    , B.STOR_DIV_CD                    /*운영코드        */
		                    , B.STATUS_CD                    /*상태코드        */
		                    , B.DISTRCT_CD                    /*지역번호        */
							, A.COMN_CD_NM						  /*지역명        */
							
		                 FROM CRM_COMN_CD_BAS A
						LEFT JOIN  CRM_STOR_BAS  B  ON (B.DISTRCT_CD = A.COMN_CD AND A.TOP_COMN_CD = 'CU100' AND A.PRNTS_COMN_CD = 'CU100' )
		                WHERE  DISTRCT_CD IS NOT NULL
		                
                  <include refid="sqlConditions_Base"/>
                  
		                ORDER BY  DISTRCT_CD,  STOR_NM ASC


                  ) A ) A 
               
                  <include refid="sqlConditions"/>
    </select>
    
   
       
    
     
     
    
     <select id="selectStoreList" resultType="com.ceragem.crm.memship.model.CrmStorBasVo">
    	SELECT A.*   /* crmStoreBas.selectStoreList */
		  FROM ( SELECT ROWNUM AS ROW_INDEX
		              , A.*
           		FROM (

		               SELECT  
		                      B.STOR_NO                    /*매장번호        */
		                    , B.STOR_NM                    /*매장명        */
		                    , B.AMDR_ID                    /*수정자ID        */
		                    , TO_CHAR(A.AMD_DT,'YYYYMMDDHH24MISS')    AMD_DT                    /*수정일시        */
		                    , B.REGR_ID                    /*등록자ID        */
		                    , TO_CHAR(A.REG_DT,'YYYYMMDDHH24MISS')    REG_DT                    /*등록일시        */
		                    , B.REG_CHL_CD                    /*등록채널코드        */
		                    , B.TEL_NO                    /*전화번호        */
		                    , B.ZIP_CD                    /*우편번호        */
		                    , B.ADDR_1_CTNTS                    /*주소1내용        */
		                    , B.ADDR_2_CTNTS                    /*주소2내용        */
		                    , B.LATI                    /*위도        */
		                    , B.LONGI                    /*경도        */
		                    , B.STOR_CHL_CD                    /*브랜드코드        */
		                    , B.STOR_TYPE_CD                    /*채널코드        */
		                    , B.STOR_DIV_CD                    /*운영코드        */
		                    , B.DISTRCT_CD                    /*지역번호        */
							, ( SELECT COMN_CD_NM	FROM CRM_COMN_CD_BAS A WHERE 	B.DISTRCT_CD = A.COMN_CD AND A.TOP_COMN_CD = 'CU100' AND A.PRNTS_COMN_CD = 'CU100' ) COMN_CD_NM	/* 지역명  DD      */
							, A.STOR_REL_BAS_NO
							, MSHIP_CARD_BAS_NO 
							, MSHIP_COUPN_BAS_NO
							, MSHIP_PROM_BAS_NO
							, MSHIP_STMP_BAS_NO
							, MSHIP_PLCY_BAS_NO
		                FROM CRM_MSHIP_APPLY_STOR_REL A
						LEFT JOIN CRM_STOR_BAS B ON A.STOR_NO = B.STOR_NO
		                ORDER BY  DISTRCT_CD,  STOR_NM ASC

                  ) A ) A 
             
        
                  <include refid="sqlConditions2"/>
                  
    </select>
    
    
    
    
    <select id="selectListCount" resultType="int">
                SELECT COUNT(1)
                 FROM CRM_STOR_BAS A
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.ceragem.crm.memship.model.CrmStorBasVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
               SELECT <include refid="sqlSelectCols"/>
                 FROM CRM_STOR_BAS A
        <include refid="sqlConditions"/>
        <include refid="sqlOrderBy"/>
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.ceragem.crm.memship.model.CrmStorBasVo">
               SELECT <include refid="sqlSelectCols"/>
                 FROM CRM_STOR_BAS A
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
                INSERT INTO CRM_STOR_BAS (
        <include refid="sqlCols"/>
                 ) VALUES (
                       #{storNo}
                     , #{storNm}
                     , #{amdrId}
                     , SYSDATE
                     , #{regrId}
                     , SYSDATE
                     , #{regChlCd}
                     , #{telNo}
                     , #{fromUseHour}
                     , #{toUseHour}
                     , #{zipCd}
                     , #{addr1Ctnts}
                     , #{addr2Ctnts}
                     , #{memo}
                     , #{lati}
                     , #{longi}
                     , #{brandCd}
                     , #{chlCd}
                     , #{operCd}
                     , #{certfNo}
                     , #{posStorNo}
                     , #{statusCd}
                     , #{distrctCd}
                 )
    </insert>
    <update id="update">
               UPDATE CRM_STOR_BAS
                  SET STOR_NM                                 =         #{storNm}
                    , AMDR_ID                                 =         #{amdrId}
                    , AMD_DT                                  =         SYSDATE
                    , REG_CHL_CD                              =         #{regChlCd}
                    , TEL_NO                                  =         #{telNo}
                    , FROM_USE_HOUR                           =         #{fromUseHour}
                    , TO_USE_HOUR                             =         #{toUseHour}
                    , ZIP_CD                                  =         #{zipCd}
                    , ADDR_1_CTNTS                            =         #{addr1Ctnts}
                    , ADDR_2_CTNTS                            =         #{addr2Ctnts}
                    , MEMO                                    =         #{memo}
                    , LATI                                    =         #{lati}
                    , LONGI                                   =         #{longi}
                    , STOR_CHL_CD                                =         #{brandCd}
                    , CHL_CD                                  =         #{chlCd}
                    , OPER_CD                                 =         #{operCd}
                    , CERTF_NO                                =         #{certfNo}
                    , POS_STOR_NO                             =         #{posStorNo}
                    , STATUS_CD                               =         #{statusCd}
                    , DISTRCT_CD                              =         #{distrctCd}
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE FROM CRM_STOR_BAS
        <include refid="sqlPkConditions"/>
    </delete>
</mapper>
