<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- <include resource="org/springframework/boot/logging/logback/base.xml"/> -->
    <property name="LOG_PATH" value="/log/sw/tomcat/crm" />
	<property name="LOG_FILE_NAME" value="ceragem-crm-bo" />

    <!-- File Appender -->
    <appender name="FILEOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <prudent>false</prudent>
        <file>${LOG_PATH}/${LOG_FILE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>

        <encoder>
            <pattern>%d{yyyy:MM:dd HH:mm:ss.SSS} %-5level [%thread] %logger{35} : %marker %msg %n</pattern>
        </encoder>
    </appender>

    <!-- Console appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy:MM:dd HH:mm:ss.SSS} %-5level [%thread] %logger{35} : %marker %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="INFO" additivity="true" />
    <logger name="com.ceragem" level="DEBUG" additivity="true" />
    <logger name="jdbc" level="OFF"/>
	<logger name="jdbc.sqlonly" level="INFO"/>
	<logger name="jdbc.sqltiming" level="OFF"/>
	<logger name="jdbc.audit" level="OFF"/>
	<logger name="jdbc.resultset" level="OFF"/>
	<logger name="jdbc.resultsettable" level="OFF"/>
	<logger name="jdbc.connection" level="OFF"/>

    <root level="WARN">
	    <appender-ref ref="STDOUT"/>
	    <appender-ref ref="FILEOUT"/>
    </root>
</configuration>