<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.backcus.dao.CrmUserInfoBaseDao">

	<sql id="sqlColsMember">
	                  ID USERNUM           /*사용자 No.*/
	                , USERNAME             /*사용자명      */
	                , LOGIN_ID             /*사용자ID     */
	                , DAMO.DECRYPT_VAR_B64('AES_256',PHONE,'') AS "USERPHONENUMBER"                /*사용자전화번호  */
	                , GENDER AS "USERGENDER"               /*사용자성별    */
	                , DAMO.DECRYPT_VAR_B64('AES_256',EMAIL,'') AS "USEREMAIL"                /*사용자이메일   */
	                , BIRTH AS "USERBIRTH"                /*사용자생년월일  */
	                , CREATED_AT           /*계정등록일자   */
	                , UPDATED_AT           /*계정수정일자   */
	                , MEMO AS "USERMEMO"                 /*특이사항      */
	                , DECODE(CONFIRM_AGREEMENT, '1', 'Y', 'N') AS "CONFIRM_AGREEMENT" /*개인정보동의여부   */
	                , GRADE_CD             /*등급코드    */
	                , GRADE_LEVEL          /*등급레벨    */
	                , DECODE(FOREIGNER, '1', 'Y', 'N') AS "FOREIGNUSER"           /*외국인여부    */
	                , STORE_VISIT          /*매장방문여부    */
	                , RECOM_STORE_ID       /*추천직원ID    */
	</sql>

	<sql id="sqlSelectColsMember">
	                       ID AS "USERNUM"
	                     , USERNAME             /*사용자명      */
		                 , LOGIN_ID             /*사용자ID     */
		                 , PHONE              /*사용자전화번호  */
		                 , DECODE(GENDER, 'F', '여', 'M', '남') AS "USERGENDER"               /*사용자성별    */
		                 , EMAIL               /*사용자이메일   */
		                 , BIRTH AS "USERBIRTH"                /*사용자생년월일  */
		                 , CREATED_AT           /*계정등록일자   */
		                 , UPDATED_AT           /*계정수정일자   */
		                 , MEMO AS "USERMEMO"                 /*특이사항      */
		                 , DECODE(CONFIRM_AGREEMENT, '1', 'Y', 'N') AS "CONFIRM_AGREEMENT" /*개인정보동의여부   */
    </sql>

	<sql id="sqlColsSumCus">
       	                     NAME AS "USERNAME"      /*사용자명   */
       	                   , PHONE AS "USERPHONE"    /*전화번호   */
       	                   , BIRTH AS "USERBIRTH"    /*생년월일   */
       	                   , ADDR AS "USERADDR"      /*주소   */
       	                   , CI AS "USERCI"          /*?  */
       	                   , EMAIL AS "USEREMAIL"    /*사용자이메일   */
	</sql>

	<sql id="sqlPkConditions">
				WHERE DB       =	 #{tabData}
	</sql>

    <select id="selectList" resultType="com.ceragem.crm.backcus.model.CrmUserInfoVo">
       	<if test='tabData == "BackCus"'>
        SELECT RES.*
             , DAMO.DECRYPT_VAR_B64('AES_256', PHONE, '') USERPHONENUMBER
             , DAMO.DECRYPT_VAR_B64('AES_256', EMAIL, '') USEREMAIL
          FROM (
            <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
	            <![CDATA[
		            SELECT /* com.ceragem.crm.backcus.dao.CrmUserInfoBaseDao.selectList */
		        ]]>
		            <include refid="sqlSelectColsMember"/>
		        <![CDATA[
		              FROM ONLYDB.USERS
			    ]]>

			<where>
			   <if test='userName != null and userName != ""'>
		       	   <![CDATA[
	                   AND USERNAME = #{userName}
		       	   ]]>
	       	   </if>
	       	   <if test='userPhoneNumber != null and userPhoneNumber != ""'>
	       	       <![CDATA[
	                   AND DAMO.DECRYPT_VAR_B64('AES_256',PHONE,'') LIKE '%${userPhoneNumber}%'
		       	   ]]>
	       	   </if>
	       	   <if test='userEmail != null and domain != null and userEmail != ""'>
	       	   	   <![CDATA[
	                   AND EMAIL = DAMO.ENCRYPT_VAR_B64('AES_256',#{userEmail} || '@' || #{domain},'')
		       	   ]]>
	       	   </if>
       	   </where>
       	          ORDER BY USERNAME, CREATED_AT
       	   <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
       	   ) RES
       </if>
       <if test='tabData == "MEM"'>
       SELECT RES.*
             , DAMO.DECRYPT_VAR_B64('AES_256', PHONE, '') USERPHONENUMBER
             , DAMO.DECRYPT_VAR_B64('AES_256', EMAIL, '') USEREMAIL
          FROM (
       	   <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
           	   SELECT /* com.ceragem.crm.backcus.dao.CrmUserInfoBaseDao.selectList */ *
           	     FROM (
       	              SELECT
		                     USERNAME AS "USERNAME"      /*사용자명   */
		                   , LOGIN_ID AS "LOGINID"   /*사용자 아이디 */
       	                   , PHONE                    /*전화번호   */
       	                   , DECODE(GENDER, 'F', '여', 'M', '남') AS "USERGENDER"
       	                   , BIRTH AS "USERBIRTH"    /*생년월일   */
       	                   , EMAIL                   /*사용자이메일   */
       	                   , CREATED_AT
       	                FROM ONLYDB.CRM_MSHIP_JOIN
      	              )
      	          <where>
      	          <if test='userName != null and userName != ""'>
		       	   <![CDATA[
	                   AND USERNAME = #{userName}
		       	   ]]>
	       	      </if>
	       	      <if test='userPhoneNumber != null and userPhoneNumber != ""'>
	       	       <![CDATA[
	                   AND DAMO.DECRYPT_VAR_B64('AES_256', PHONE, '') LIKE '%${userPhoneNumber}%'
		       	   ]]>
	       	      </if>
	       	      <if test='userEmail != null and domain != null and userEmail != ""'>
	       	   	   <![CDATA[
	                   AND EMAIL = DAMO.ENCRYPT_VAR_B64('AES_256',#{userEmail} || '@' || #{domain},'')
		       	   ]]>
	       	      </if>
      	          </where>
      	          ORDER BY USERNAME, CREATED_AT
      	   <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
      	   ) RES
        </if>
	</select>

	<select id="asSelectList" resultType="com.ceragem.crm.backcus.model.CrmAsDetailVo">
	SELECT RES.*
         , DAMO.DECRYPT_VAR_B64('AES_256',P_PHONE, '')||DAMO.DECRYPT_VAR_B64('AES_256',N_PHONE, '')||DAMO.DECRYPT_VAR_B64('AES_256',PHONE, '') ASPHONE
	     , DAMO.DECRYPT_VAR_B64('AES_256',P_MOBILE, '')||DAMO.DECRYPT_VAR_B64('AES_256',N_MOBILE, '')||DAMO.DECRYPT_VAR_B64('AES_256',MOBILE, '') ASMOBILE
	     , DAMO.DECRYPT_VAR_B64('AES_256',EMAIL, '') ASEMAIL
	  FROM (
	    <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
	       SELECT /* com.ceragem.crm.backcus.dao.CrmUserInfoBaseDao.asSelectList */
	              A.AS_CASE_ID                                   /* AS CASE ID */
                , A.CUSTOMER_ID                                  /* 고객 ID */
                , B.CUSTOMER_NAME                                   /* 고객명 */
                , B.P_PHONE
                , B.N_PHONE
                , B.PHONE         /* 전화번호 */
                , B.P_MOBILE
                , B.N_MOBILE
                , B.MOBILE        /* 휴대전화번호 */
                , B.ZIPCODE ASZIPCODE                                   /* 우편번호 */
                , B.ADDRESS ASADDRESS                                   /* 주소 */
                , B.EMAIL                                   /* 이메일 */
             FROM ONLYDB.AS_CASE A
                , ONLYDB.AS_CUSTOMER B
            WHERE A.CUSTOMER_ID = B.CUSTOMER_ID
            <if test='userName != null and userName != ""'>
		    <![CDATA[
	          AND B.CUSTOMER_NAME LIKE '%${userName}%'
		    ]]>
	       	</if>
	       	<if test='userPhoneNumber != null and userPhoneNumber != ""'>
	       	<![CDATA[
	          AND (DAMO.DECRYPT_VAR_B64('AES_256',P_PHONE, '')||DAMO.DECRYPT_VAR_B64('AES_256',N_PHONE, '')||DAMO.DECRYPT_VAR_B64('AES_256',PHONE, '') LIKE '%${userPhoneNumber}%'
	           OR DAMO.DECRYPT_VAR_B64('AES_256',P_MOBILE, '')||DAMO.DECRYPT_VAR_B64('AES_256',N_MOBILE, '')||DAMO.DECRYPT_VAR_B64('AES_256',MOBILE, '') LIKE '%${userPhoneNumber}%')
		    ]]>
	       	</if>
	       	<if test='userEmail != null and domain != null and userEmail != ""'>
	       	<![CDATA[
	          AND B.EMAIL = DAMO.ENCRYPT_VAR_B64('AES_256',#{userEmail} || '@' || #{domain},'')
		    ]]>
	       	</if>
         ORDER BY B.CUSTOMER_NAME
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
        ) RES
	</select>

	<select id="asCustSelectList" resultType="com.ceragem.crm.backcus.model.CrmAsDetailVo">
	SELECT RES.*
         , DAMO.DECRYPT_VAR_B64('AES_256',P_PHONE, '')||DAMO.DECRYPT_VAR_B64('AES_256',N_PHONE, '')||DAMO.DECRYPT_VAR_B64('AES_256',PHONE, '') ASPHONE
	     , DAMO.DECRYPT_VAR_B64('AES_256',P_MOBILE, '')||DAMO.DECRYPT_VAR_B64('AES_256',N_MOBILE, '')||DAMO.DECRYPT_VAR_B64('AES_256',MOBILE, '') ASMOBILE
	     , DAMO.DECRYPT_VAR_B64('AES_256',EMAIL, '') ASEMAIL
	  FROM (
	    <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
	       SELECT /* com.ceragem.crm.backcus.dao.CrmUserInfoBaseDao.asCustSelectList */
	       			CUSTOMER_ID
                	, CUSTOMER_NAME
	                , P_PHONE
	                , N_PHONE
	                , PHONE
	                , P_MOBILE
	                , N_MOBILE
	                , MOBILE
	                , ZIPCODE ASZIPCODE
	                , ADDRESS ASADDRESS
	                , EMAIL
            FROM	 ONLYDB.AS_CUSTOMER
            <where>
            	<if test='userName != null and userName != ""'>
			    <![CDATA[
			    AND CUSTOMER_NAME LIKE '%${userName}%'
			    ]]>
		       	</if>
		       	<if test='userPhoneNumber != null and userPhoneNumber != ""'>
		       	<![CDATA[
		       	AND (DAMO.DECRYPT_VAR_B64('AES_256',P_PHONE, '')||DAMO.DECRYPT_VAR_B64('AES_256',N_PHONE, '')||DAMO.DECRYPT_VAR_B64('AES_256',PHONE, '') LIKE '%${userPhoneNumber}'
		        	OR DAMO.DECRYPT_VAR_B64('AES_256',P_MOBILE, '')||DAMO.DECRYPT_VAR_B64('AES_256',N_MOBILE, '')||DAMO.DECRYPT_VAR_B64('AES_256',MOBILE, '') LIKE '%${userPhoneNumber}')
			    ]]>
		       	</if>
		       	<if test='userEmail != null and domain != null and userEmail != ""'>
		       	<![CDATA[
		       	AND EMAIL = DAMO.ENCRYPT_VAR_B64('AES_256',#{userEmail} || '@' || #{domain},'')
			    ]]>
		       	</if>
            </where>
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
        ) RES
	</select>

	<select id="collabiSelectList" resultType="com.ceragem.crm.backcus.model.CrmCollabiDetailVo">
	    SELECT RES.*
	         , DAMO.DECRYPT_VAR_B64('AES_256',CID, '') USERPHONE
		  FROM (
	    <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
           	   SELECT /* com.ceragem.crm.backcus.dao.CrmUserInfoBaseDao.collabiSelectList */ *
           	     FROM (
       	              SELECT SEQ COLLABISEQ         /*SEQ */
                           , YMD COUNSELDT          /*상담일자 */
                           , AGENT_NM AGENTNM       /*상담원명 */
                           , CID                    /*고객번호 */
                           , HMS COLLABIHMS         /*HMS */
                           , CLIENT_NM CLIENTNM     /*고객명 */
                        FROM ONLYDB.LIST_COUNSEL
      	              )
      	          <where>
      	          <if test='userName != null and userName != ""'>
		       	   <![CDATA[
	                   AND CLIENTNM = #{userName}
		       	   ]]>
	       	      </if>
	       	      <if test='userPhoneNumber != null and userPhoneNumber != ""'>
	       	       <![CDATA[
	                   AND DAMO.DECRYPT_VAR_B64('AES_256',CID,'') LIKE '%${userPhoneNumber}%'
		       	   ]]>
	       	      </if>
      	          </where>
      	          ORDER BY CLIENTNM, COUNSELDT DESC
	    <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
	    ) RES
	</select>


    <select id="selectListCount" resultType="int">
    	<if test='tabData == "BackCus"'>
    		<![CDATA[
    		SELECT /* com.ceragem.crm.backcus.dao.CrmUserInfoBaseDao.selectListCount */ COUNT(1)
		    FROM ONLYDB.USERS
			]]>
			<where>
				<if test='userName != null and userName != ""'>
					<![CDATA[
					AND USERNAME = #{userName}
					]]>
				</if>
				<if test='userPhoneNumber != null and userPhoneNumber != ""'>
					<![CDATA[
					AND DAMO.DECRYPT_VAR_B64('AES_256',PHONE,'') LIKE '%${userPhoneNumber}%'
					]]>
				</if>
				<if test='userEmail != null and domain != null and userEmail != ""'>
					<![CDATA[
					AND EMAIL = DAMO.ENCRYPT_VAR_B64('AES_256',#{userEmail} || '@' || #{domain},'')
					]]>
				</if>
			</where>
		</if>
		<if test='tabData == "MEM"'>
			SELECT /* com.ceragem.crm.backcus.dao.CrmUserInfoBaseDao.selectList */ COUNT(1)
			FROM ONLYDB.CRM_MSHIP_JOIN
			<where>
				<if test='userName != null and userName != ""'>
				<![CDATA[
				AND USERNAME = #{userName}
				]]>
				</if>
				<if test='userPhoneNumber != null and userPhoneNumber != ""'>
				<![CDATA[
				AND DAMO.DECRYPT_VAR_B64('AES_256', PHONE, '') LIKE '%${userPhoneNumber}%'
				]]>
				</if>
				<if test='userEmail != null and domain != null and userEmail != ""'>
				<![CDATA[
				AND EMAIL = DAMO.ENCRYPT_VAR_B64('AES_256',#{userEmail} || '@' || #{domain},'')
				]]>
				</if>
			</where>
		</if>
		<if test='tabData == "COLLABI"'>
			SELECT /* com.ceragem.crm.backcus.dao.CrmUserInfoBaseDao.selectListCount */ COUNT(1)
			FROM ONLYDB.LIST_COUNSEL
			<where>
				<if test='userName != null and userName != ""'>
				<![CDATA[
				AND CLIENT_NM = #{userName}
				]]>
				</if>
				<if test='userPhoneNumber != null and userPhoneNumber != ""'>
				<![CDATA[
				AND DAMO.DECRYPT_VAR_B64('AES_256',CID,'') LIKE '%${userPhoneNumber}%'
				]]>
				</if>
			</where>
		</if>
		<if test='tabData == "AS"'>
			SELECT /* com.ceragem.crm.backcus.dao.CrmUserInfoBaseDao.selectListCount */ COUNT(1)
			FROM ONLYDB.AS_CASE A
				, ONLYDB.AS_CUSTOMER B
            WHERE A.CUSTOMER_ID = B.CUSTOMER_ID
            <if test='userName != null and userName != ""'>
            <![CDATA[
            AND B.CUSTOMER_NAME LIKE '%${userName}%'
            ]]>
            </if>
            <if test='userPhoneNumber != null and userPhoneNumber != ""'>
            <![CDATA[
            AND (DAMO.DECRYPT_VAR_B64('AES_256',P_PHONE, '')||DAMO.DECRYPT_VAR_B64('AES_256',N_PHONE, '')||DAMO.DECRYPT_VAR_B64('AES_256',PHONE, '') LIKE '%${userPhoneNumber}%'
            OR DAMO.DECRYPT_VAR_B64('AES_256',P_MOBILE, '')||DAMO.DECRYPT_VAR_B64('AES_256',N_MOBILE, '')||DAMO.DECRYPT_VAR_B64('AES_256',MOBILE, '') LIKE '%${userPhoneNumber}%')
            ]]>
            </if>
            <if test='userEmail != null and domain != null and userEmail != ""'>
            <![CDATA[
            AND B.EMAIL = DAMO.ENCRYPT_VAR_B64('AES_256',#{userEmail} || '@' || #{domain},'')
            ]]>
            </if>
		</if>
		<if test='tabData == "ASCUST"'>
			SELECT /* com.ceragem.crm.backcus.dao.CrmUserInfoBaseDao.selectListCount */ COUNT(1)
			FROM  ONLYDB.AS_CUSTOMER
            <where>
            	<if test='userName != null and userName != ""'>
	            <![CDATA[
	            AND CUSTOMER_NAME LIKE '%${userName}%'
	            ]]>
	            </if>
	            <if test='userPhoneNumber != null and userPhoneNumber != ""'>
	            <![CDATA[
	            AND (DAMO.DECRYPT_VAR_B64('AES_256',P_PHONE, '')||DAMO.DECRYPT_VAR_B64('AES_256',N_PHONE, '')||DAMO.DECRYPT_VAR_B64('AES_256',PHONE, '') LIKE '%${userPhoneNumber}'
	            OR DAMO.DECRYPT_VAR_B64('AES_256',P_MOBILE, '')||DAMO.DECRYPT_VAR_B64('AES_256',N_MOBILE, '')||DAMO.DECRYPT_VAR_B64('AES_256',MOBILE, '') LIKE '%${userPhoneNumber}')
	            ]]>
	            </if>
	            <if test='userEmail != null and domain != null and userEmail != ""'>
	            <![CDATA[
	            AND EMAIL = DAMO.ENCRYPT_VAR_B64('AES_256',#{userEmail} || '@' || #{domain},'')
	            ]]>
	            </if>
            </where>
		</if>
    </select>

    <select id="select" resultType="com.ceragem.crm.backcus.model.CrmUserInfoDetailVo">
            <![CDATA[
               SELECT /*com.ceragem.crm.backcus.dao.CrmUserInfoBaseDao.select */
            ]]>
               <include refid="sqlColsMember"/>
            <choose>
            <when test='userNum == null'>
                FROM ONLYDB.USERS
                WHERE LOGIN_ID = #{loginId}
            </when>
            <otherwise>
                FROM ONLYDB.USERS
                WHERE ID = #{userNum}
            </otherwise>
            </choose>
    </select>

    <select id="collabiSelect" resultType="com.ceragem.crm.backcus.model.CrmCollabiDetailVo">
            <![CDATA[
               SELECT /*com.ceragem.crm.backcus.dao.CrmUserInfoBaseDao.collabiSelect */
            ]]>
                  SEQ COLLABISEQ
                    , YMD COUNSELDT
                    , AGENT_NM AGENTNM
                    , CLIENT_NM CLIENTNM
                    , QUESTION CLIENTQ
                    , ANSWER CLIENTA
                    , DAMO.DECRYPT_VAR_B64('AES_256',CID, '') USERPHONE
            <![CDATA[
                FROM ONLYDB.LIST_COUNSEL
               WHERE SEQ = #{collabiSeq}
            ]]>
    </select>

    <select id="asSelect" resultType="com.ceragem.crm.backcus.model.CrmAsDetailVo">
            <![CDATA[
               SELECT /*com.ceragem.crm.backcus.dao.CrmUserInfoBaseDao.asSelect */
                      A.AS_CASE_ID               /*AS CASE ID*/
                    , A.CUSTOMER_ID              /*고객 ID*/
                    , B.CUSTOMER_NAME            /*고객명*/
                    , A.ACCEPT_REMARK            /*질문*/
                    , A.COMPLETE_REMARK          /*답변*/
                    , A.COMPLETE_DATE            /*완료일자*/
                    , A.COMPLETE_TIME            /*완료시간*/
                    , A.AS_ENGINEER_ID           /*기사ID*/
                    , A.VISIT_COST               /*방문비용*/
                    , A.SERVICE_COST             /*서비스비용*/
                    , A.INSTALLATION_COST        /*설치비용*/
                    , A.TOTAL_COST               /*총 비용*/
                    , B.ZIPCODE ASZIPCODE        /*우편번호*/
                    , B.ADDRESS ASADDRESS        /*주소*/
                    , DAMO.DECRYPT_VAR_B64('AES_256',P_MOBILE, '')||DAMO.DECRYPT_VAR_B64('AES_256',N_MOBILE, '')||DAMO.DECRYPT_VAR_B64('AES_256',MOBILE, '') ASMOBILE /*고객휴대전화번호*/
                    , DAMO.DECRYPT_VAR_B64('AES_256',B.DETAIL_ADDR,'') DETAIL_ADDR              /*상세주소*/
                    , DAMO.DECRYPT_VAR_B64('AES_256',B.EMAIL,'') ASEMAIL            /*이메일*/
             FROM ONLYDB.AS_CASE A
                , ONLYDB.AS_CUSTOMER B
            WHERE A.CUSTOMER_ID = B.CUSTOMER_ID
              AND A.AS_CASE_ID = #{asCaseId}
              AND ROWNUM = 1       /*키 값인 AS_CASE_ID에 중복이 있어 중복 제거*/
           ]]>
    </select>
</mapper>
