<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.mem.dao.BlackCusPointIssueDao">
    <sql id="sqlPkConditions">
                WHERE 
                	  A.POINT_HST_SEQ = #{pointHstSeq}
                  AND A.ITG_CUST_NO   = B.ITG_CUST_NO
                  AND B.BLLKMSHP_YN   = 'Y'
    </sql>
    <sql id="sqlCols">
                      POINT_HST_SEQ                    /*포인트이력일련번호        */
                    , ITG_CUST_NO                    /*통합고객번호        */
                    , (SELECT MSHIP_GRADE_CD FROM CRM_CUST_BAS WHERE ITG_CUST_NO = P.ITG_CUST_NO) AS MSHIP_GRADE_CD	/* 멤버십등급코드 */
					, (SELECT COMN_CD_NM FROM CRM_COMN_CD_BAS WHERE COMN_CD = (SELECT MSHIP_GRADE_CD FROM CRM_CUST_BAS WHERE ITG_CUST_NO = P.ITG_CUST_NO) AND TOP_COMN_CD = 'MB020') AS MSHIP_GRADE_NM
                    , STOR_NO                    /*매장번호        */
                    , CHIT_NO                    /*전표번호        */
                    , BUY_GODS_NO                    /*구매제품번호        */
                    , ORDR_AMT                    /*주문금액        */
                    , APPLY_AMT                    /*적용금액        */
                    , PAY_AMT                    /*결제금액        */
                    , PBLS_DIV_CD                    /*발행구분코드        */
                    , OCCUR_POINT_SCORE                    /*발생포인트점수        */
                    , REMAIN_POINT_SCORE                    /*잔여포인트점수        */
                    , VALID_PERD_STA_YMD                    /*유효기간시작년월일        */
                    , CASE WHEN TO_DATE(VALID_PERD_END_YMD)- TRUNC(PBLS_DT) IS NULL THEN ''
						   ELSE TO_DATE(VALID_PERD_END_YMD)- TRUNC(PBLS_DT) + 1 || '일'
						   END AS VALID_PERD /* 유효기간 */
                    , VALID_PERD_END_YMD                    /*유효기간종료년월일        */
                    , PBLS_DT                    /*발행일시        */
                    , EXTNC_DT                    /*소멸일시        */
                    , TXN                    /*내역        */
                    , PBLS_CHL_CD                    /*발행채널코드        */
                    , CARD_PBLS_HST_SEQ                    /*카드발행이력일련번호        */
                    , USE_TYPE_CD                    /*사용유형코드        */
                    , DEAL_NO                    /*거래번호        */
                    , PROM_NO                    /*프로모션번호        */
                    , CAMP_NO                    /*캠페인번호        */
                    , COUPN_NO                    /*쿠폰번호        */
                    , USE_DT                    /*사용일시        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
                    , REG_CHL_CD                    /*등록채널코드        공통코드 : S000        [CRM : CRM , CTC : 상담 , AS : AS , SAP : SAP , POS : POS]*/
    </sql>
    <sql id="sqlSelectCols">
                      A.POINT_HST_SEQ                    /*포인트이력일련번호        */
                    , A.ITG_CUST_NO                    /*통합고객번호        */
                    , A.MSHIP_GRADE_CD                    /*멤버십등급코드        */
                    , A.STOR_NO                    /*매장번호        */
                    , A.CHIT_NO                    /*전표번호        */
                    , A.BUY_GODS_NO                    /*구매제품번호        */
                    , A.ORDR_AMT                    /*주문금액        */
                    , A.APPLY_AMT                    /*적용금액        */
                    , A.PAY_AMT                    /*결제금액        */
                    , A.PBLS_DIV_CD                    /*발행구분코드        */
                    , A.OCCUR_POINT_SCORE                    /*발생포인트점수        */
                    , A.REMAIN_POINT_SCORE                    /*잔여포인트점수        */
                    , CASE WHEN TO_DATE(VALID_PERD_END_YMD,'YYYYMMDD') - TO_DATE(TO_CHAR(PBLS_DT,'YYYYMMDD'),'YYYYMMDD') IS NULL AND USE_TYPE_CD != '001' THEN ''
                           WHEN USE_TYPE_CD = '001' THEN ''
						   ELSE TO_DATE(VALID_PERD_END_YMD,'YYYYMMDD') - TO_DATE(TO_CHAR(PBLS_DT,'YYYYMMDD'),'YYYYMMDD') + 1 || '일'
						   END AS VALID_PERD /* 유효기간 */
					, VALID_PERD_STA_YMD/* 유효기간시작년월일 */
					, CASE WHEN USE_TYPE_CD = '001' THEN ''
                           ELSE VALID_PERD_END_YMD
                           END AS VALID_PERD_END_YMD/* 유효기간종료년월일 */
                    , TO_CHAR(A.PBLS_DT,'YYYYMMDDHH24MISS')    PBLS_DT                    /*발행일시        */
                    , TO_CHAR(A.EXTNC_DT,'YYYYMMDDHH24MISS')    EXTNC_DT                    /*소멸일시        */
                    , A.TXN                    /*내역        */
                    , A.PBLS_CHL_CD                    /*발행채널코드        */
                    , A.CARD_PBLS_HST_SEQ                    /*카드발행이력일련번호        */
                    , A.USE_TYPE_CD                    /*사용유형코드        */
                    , USE_TYPE_CD AS USE_TYPE_NM 																						/* 사용유형코드 */
                    , A.DEAL_NO                    /*거래번호        */
                    , A.PROM_NO                    /*프로모션번호        */
                    , A.CAMP_NO                    /*캠페인번호        */
                    , A.COUPN_NO                    /*쿠폰번호        */
                    , TO_CHAR(A.USE_DT,'YYYYMMDDHH24MISS')    USE_DT                    /*사용일시        */
                    , A.AMDR_ID                    /*수정자ID        */
                    , TO_CHAR(A.AMD_DT,'YYYYMMDDHH24MISS')    AMD_DT                    /*수정일시        */
                    , A.REGR_ID                    /*등록자ID        */
                    , TO_CHAR(A.REG_DT,'YYYYMMDDHH24MISS')    REG_DT                    /*등록일시        */
                    , A.REG_CHL_CD                    /*등록채널코드        공통코드 : S000        [CRM : CRM , CTC : 상담 , AS : AS , SAP : SAP , POS : POS]*/
                    , B.CUST_NM
                    , B.BIRTHDAY
                    , B.GNDR_CD
                    , B.MPHON_NO MPHON_NO
                    , B.EMAIL_ADDR EMAIL_ADDR
                    , B.CORP_TEL_NO
                    , B.FORN_YN
                    , B.CUST_STATUS_CD
                    , B.CUST_TYPE_CD
                    , B.BLLK_REG_DT
                    , (SELECT STOR_NM FROM CRM_STOR_BAS WHERE STOR_NO = A.STOR_NO) AS STOR_NM /* 매장명 */
    </sql>
    <sql id="sqlConditions">
                WHERE A.ITG_CUST_NO = B.ITG_CUST_NO
                  AND B.BLLKMSHP_YN = 'Y'
        <if test="pointHstSeq != null and pointHstSeq != ''">
                  AND A.POINT_HST_SEQ   =       #{pointHstSeq}
        </if>
        <if test="itgCustNo != null and itgCustNo != ''">
                  AND A.ITG_CUST_NO     =       #{itgCustNo}
        </if>
        <if test="mshipGradeCd != null and mshipGradeCd != ''">
            <choose>
                <when test="mshipGradeCd instanceof String">
                    AND A.MSHIP_GRADE_CD  =       #{mshipGradeCd}
                </when>
                <otherwise>
                    AND A.MSHIP_GRADE_CD  IN
                    <foreach item="item" index="index" collection="mshipGradeCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="storNo != null and storNo != ''">
                  AND A.STOR_NO         =       #{storNo}
        </if>
        <if test="chitNo != null and chitNo != ''">
                  AND A.CHIT_NO         =       #{chitNo}
        </if>
        <if test="buyGodsNo != null and buyGodsNo != ''">
                  AND A.BUY_GODS_NO     =       #{buyGodsNo}
        </if>
        <if test="ordrAmt != null and ordrAmt != ''">
                  AND A.ORDR_AMT        =       #{ordrAmt}
        </if>
        <if test="applyAmt != null and applyAmt != ''">
                  AND A.APPLY_AMT       =       #{applyAmt}
        </if>
        <if test="payAmt != null and payAmt != ''">
                  AND A.PAY_AMT         =       #{payAmt}
        </if>
        <if test="pblsDivCd != null and pblsDivCd != ''">
            <choose>
                <when test="pblsDivCd instanceof String">
                    AND A.PBLS_DIV_CD     =       #{pblsDivCd}
                </when>
                <otherwise>
                    AND A.PBLS_DIV_CD     IN
                    <foreach item="item" index="index" collection="pblsDivCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="occurPointScore != null and occurPointScore != ''">
                  AND A.OCCUR_POINT_SCORE=       #{occurPointScore}
        </if>
        <if test="remainPointScore != null and remainPointScore != ''">
                  AND A.REMAIN_POINT_SCORE=       #{remainPointScore}
        </if>
        <if test="validPerdStaYmd != null and validPerdStaYmd != ''">
                  AND A.VALID_PERD_STA_YMD=       #{validPerdStaYmd}
        </if>
        <if test="validPerdEndYmd != null and validPerdEndYmd != ''">
                  AND A.VALID_PERD_END_YMD=       #{validPerdEndYmd}
        </if>
        <if test="pblsDt != null and pblsDt != ''">
                  AND A.PBLS_DT         =       TO_DATE(#{pblsDt},'YYYYMMDDHH24MISS')
        </if>
        <if test="extncDt != null and extncDt != ''">
                  AND A.EXTNC_DT        =       TO_DATE(#{extncDt},'YYYYMMDDHH24MISS')
        </if>
        <if test="txn != null and txn != ''">
                  AND A.TXN             =       #{txn}
        </if>
        <if test="pblsChlCd != null and pblsChlCd != ''">
            <choose>
                <when test="pblsChlCd instanceof String">
                    AND A.PBLS_CHL_CD     =       #{pblsChlCd}
                </when>
                <otherwise>
                    AND A.PBLS_CHL_CD     IN
                    <foreach item="item" index="index" collection="pblsChlCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="cardPblsHstSeq != null and cardPblsHstSeq != ''">
                  AND A.CARD_PBLS_HST_SEQ=       #{cardPblsHstSeq}
        </if>
        <if test="useTypeCd != null and useTypeCd != ''">
            <choose>
                <when test="useTypeCd instanceof String">
                    AND A.USE_TYPE_CD     =       #{useTypeCd}
                </when>
                <otherwise>
                    AND A.USE_TYPE_CD     IN
                    <foreach item="item" index="index" collection="useTypeCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        <if test="dealNo != null and dealNo != ''">
                  AND A.DEAL_NO         =       #{dealNo}
        </if>
        <if test="promNo != null and promNo != ''">
                  AND A.PROM_NO         =       #{promNo}
        </if>
        <if test="campNo != null and campNo != ''">
                  AND A.CAMP_NO         =       #{campNo}
        </if>
        <if test="coupnNo != null and coupnNo != ''">
                  AND A.COUPN_NO        =       #{coupnNo}
        </if>
        <if test="useDt != null and useDt != ''">
                  AND A.USE_DT          =       TO_DATE(#{useDt},'YYYYMMDDHH24MISS')
        </if>
        <if test="regChlCd != null and regChlCd != ''">
            <choose>
                <when test="regChlCd instanceof String">
                    AND A.REG_CHL_CD      =       #{regChlCd}
                </when>
                <otherwise>
                    AND A.REG_CHL_CD      IN
                    <foreach item="item" index="index" collection="regChlCd" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
    </sql>
    <sql id="sqlOrderBy">
        <choose>
            <when test="colSortName ==null or colSortName == ''">
                ORDER BY      REG_DT DESC
            </when>
            <when test="colSortName.equals('pointHstSeq')">
                ORDER BY      POINT_HST_SEQ
            </when>
            <when test="colSortName.equals('itgCustNo')">
                ORDER BY      ITG_CUST_NO
            </when>
            <when test="colSortName.equals('mshipGradeCd')">
                ORDER BY      MSHIP_GRADE_CD
            </when>
            <when test="colSortName.equals('storNo')">
                ORDER BY      STOR_NO
            </when>
            <when test="colSortName.equals('chitNo')">
                ORDER BY      CHIT_NO
            </when>
            <when test="colSortName.equals('buyGodsNo')">
                ORDER BY      BUY_GODS_NO
            </when>
            <when test="colSortName.equals('ordrAmt')">
                ORDER BY      ORDR_AMT
            </when>
            <when test="colSortName.equals('applyAmt')">
                ORDER BY      APPLY_AMT
            </when>
            <when test="colSortName.equals('payAmt')">
                ORDER BY      PAY_AMT
            </when>
            <when test="colSortName.equals('pblsDivCd')">
                ORDER BY      PBLS_DIV_CD
            </when>
            <when test="colSortName.equals('occurPointScore')">
                ORDER BY      OCCUR_POINT_SCORE
            </when>
            <when test="colSortName.equals('remainPointScore')">
                ORDER BY      REMAIN_POINT_SCORE
            </when>
            <when test="colSortName.equals('validPerdStaYmd')">
                ORDER BY      VALID_PERD_STA_YMD
            </when>
            <when test="colSortName.equals('validPerdEndYmd')">
                ORDER BY      VALID_PERD_END_YMD
            </when>
            <when test="colSortName.equals('pblsDt')">
                ORDER BY      PBLS_DT
            </when>
            <when test="colSortName.equals('extncDt')">
                ORDER BY      EXTNC_DT
            </when>
            <when test="colSortName.equals('txn')">
                ORDER BY      TXN
            </when>
            <when test="colSortName.equals('pblsChlCd')">
                ORDER BY      PBLS_CHL_CD
            </when>
            <when test="colSortName.equals('cardPblsHstSeq')">
                ORDER BY      CARD_PBLS_HST_SEQ
            </when>
            <when test="colSortName.equals('useTypeCd')">
                ORDER BY      USE_TYPE_CD
            </when>
            <when test="colSortName.equals('dealNo')">
                ORDER BY      DEAL_NO
            </when>
            <when test="colSortName.equals('promNo')">
                ORDER BY      PROM_NO
            </when>
            <when test="colSortName.equals('campNo')">
                ORDER BY      CAMP_NO
            </when>
            <when test="colSortName.equals('coupnNo')">
                ORDER BY      COUPN_NO
            </when>
            <when test="colSortName.equals('useDt')">
                ORDER BY      USE_DT
            </when>
            <when test="colSortName.equals('amdrId')">
                ORDER BY      AMDR_ID
            </when>
            <when test="colSortName.equals('amdDt')">
                ORDER BY      AMD_DT
            </when>
            <when test="colSortName.equals('regrId')">
                ORDER BY      REGR_ID
            </when>
            <when test="colSortName.equals('regDt')">
                ORDER BY      REG_DT
            </when>
            <when test="colSortName.equals('regChlCd')">
                ORDER BY      REG_CHL_CD
            </when>
            <otherwise>
                ORDER BY      REG_DT
            </otherwise>
        </choose>
        <if test="colSortName !=null and colSortDir !='' and colSortDir !=null and colSortDir !='' and colSortDir.equals('desc')">
            DESC
        </if>
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT /* com.ceragem.crm.mem.dao.BlackCusPointIssueDao.selectListCount */ COUNT(1)
                 FROM CRM_POINT_HST A, CRM_CUST_BAS B
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.ceragem.crm.mem.model.BlackCusPointIssueVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
               SELECT /* com.ceragem.crm.mem.dao.BlackCusPointIssueDao.selectList */ <include refid="sqlSelectCols"/>
                 FROM CRM_POINT_HST A, CRM_CUST_BAS B
        <include refid="sqlConditions"/>
        <include refid="sqlOrderBy"/>
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.ceragem.crm.mem.model.BlackCusPointIssueVo">
               SELECT /* com.ceragem.crm.mem.dao.BlackCusPointIssueDao.select */ <include refid="sqlSelectCols"/>
                 FROM CRM_POINT_HST A, CRM_CUST_BAS B
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
                INSERT INTO /* com.ceragem.crm.mem.dao.BlackCusPointIssueDao.insert */ CRM_POINT_HST (
        <include refid="sqlCols"/>
                 ) VALUES (
                       #{pointHstSeq}
                     , #{itgCustNo}
                     , #{mshipGradeCd}
                     , #{storNo}
                     , #{chitNo}
                     , #{buyGodsNo}
                     , #{ordrAmt}
                     , #{applyAmt}
                     , #{payAmt}
                     , #{pblsDivCd}
                     , #{occurPointScore}
                     , #{remainPointScore}
                     , #{validPerdStaYmd}
                     , #{validPerdEndYmd}
                     , TO_DATE(#{pblsDt},'YYYYMMDDHH24MISS')
                     , TO_DATE(#{extncDt},'YYYYMMDDHH24MISS')
                     , #{txn}
                     , #{pblsChlCd}
                     , #{cardPblsHstSeq}
                     , #{useTypeCd}
                     , #{dealNo}
                     , #{promNo}
                     , #{campNo}
                     , #{coupnNo}
                     , TO_DATE(#{useDt},'YYYYMMDDHH24MISS')
                     , #{amdrId}
                     , SYSDATE
                     , #{regrId}
                     , SYSDATE
                     , #{regChlCd}
                 )
    </insert>
    <update id="update">
               UPDATE /* com.ceragem.crm.mem.dao.BlackCusPointIssueDao.update */ CRM_POINT_HST
                  SET ITG_CUST_NO                             =         #{itgCustNo}
                    , MSHIP_GRADE_CD                          =         #{mshipGradeCd}
                    , STOR_NO                                 =         #{storNo}
                    , CHIT_NO                                 =         #{chitNo}
                    , BUY_GODS_NO                             =         #{buyGodsNo}
                    , ORDR_AMT                                =         #{ordrAmt}
                    , APPLY_AMT                               =         #{applyAmt}
                    , PAY_AMT                                 =         #{payAmt}
                    , PBLS_DIV_CD                             =         #{pblsDivCd}
                    , OCCUR_POINT_SCORE                       =         #{occurPointScore}
                    , REMAIN_POINT_SCORE                      =         #{remainPointScore}
                    , VALID_PERD_STA_YMD                      =         #{validPerdStaYmd}
                    , VALID_PERD_END_YMD                      =         #{validPerdEndYmd}
                    , PBLS_DT                                 =         TO_DATE(#{pblsDt},'YYYYMMDDHH24MISS')
                    , EXTNC_DT                                =         TO_DATE(#{extncDt},'YYYYMMDDHH24MISS')
                    , TXN                                     =         #{txn}
                    , PBLS_CHL_CD                             =         #{pblsChlCd}
                    , CARD_PBLS_HST_SEQ                       =         #{cardPblsHstSeq}
                    , USE_TYPE_CD                             =         #{useTypeCd}
                    , DEAL_NO                                 =         #{dealNo}
                    , PROM_NO                                 =         #{promNo}
                    , CAMP_NO                                 =         #{campNo}
                    , COUPN_NO                                =         #{coupnNo}
                    , USE_DT                                  =         TO_DATE(#{useDt},'YYYYMMDDHH24MISS')
                    , AMDR_ID                                 =         #{amdrId}
                    , AMD_DT                                  =         SYSDATE
                    , REG_CHL_CD                              =         #{regChlCd}
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE /* com.ceragem.crm.mem.dao.BlackCusPointIssueDao.delete */  FROM CRM_POINT_HST
        <include refid="sqlPkConditions"/>
    </delete>
</mapper>
