<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.mem.dao.CalculateStatusSAPDayDao">
    <sql id="sqlPkConditions">
                WHERE POINT_HST_SEQ     =       #{pointHstSeq}
    </sql>
    
    <sql id="sqlPointHstCols">
    				A.PBLS_DT																				/*발행일시        */
    				, A.USE_DT																			/*사용일시        */
    				,CASE
							WHEN A.USE_TYPE_CD = '001' THEN A.USE_DT
							WHEN A.USE_TYPE_CD = '002' THEN A.PBLS_DT
							WHEN A.USE_TYPE_CD = '003' THEN A.PBLS_DT
							ELSE A.REG_DT
						END AS DT																		/*발행구분:사용,취소-사용일시, 적립-발행일시, ELSE-등록일시*/
    				, A.ITG_CUST_NO																		/*통합고객번호        */
    				, A.PBLS_DIV_CD AS PBLS_DIV_NM														/*발행구분        */
    				, A.PBLS_DIV_CD																		/*발행구분코드        */
    				, A.USE_TYPE_CD AS USE_TYPE_NM														/*사용유형        */
    				, A.USE_TYPE_CD																		/*사용유형코드        */
    				, A.TXN																				/*내역        */
    				, A.OCCUR_POINT_SCORE AS POINT_SCORE													/*발생포인트점수        */
    				, A.REMAIN_POINT_SCORE																/*잔여포인트점수        */
                    , A.EXTNC_DT																			/*소멸일시        */
    				, B.STOR_NM			/*매장명        */
				    , B.STOR_CHL_CD     /* 매장채널명        */
    				, A.STOR_NO																			/*매장번호        */
    				, A.PBLS_CHL_CD AS CHL_NM																/*발행채널        */
    				, A.PBLS_CHL_CD AS CHL_CD																/*발행채널코드        */
    				<!-- Hidden -->
                    , A.POINT_HST_SEQ																		/*포인트이력일련번호        */
                    , A.MSHIP_GRADE_CD																	/*멤버십등급코드        */
                    , A.CHIT_NO																			/*전표번호        */
                    , A.BUY_GODS_NO																		/*구매제품번호        */
                    , A.ORDR_AMT																			/*주문금액        */
                    , A.APPLY_AMT																			/*적용금액        */
                    , A.PAY_AMT																			/*결제금액        */
                    <!-- , A.VALID_PERD  										               					/*유효기간        */ -->
                    , A.CARD_PBLS_HST_SEQ																	/*카드발행이력일련번호        */
                    , A.DEAL_NO																			/*거래번호        */
                    , A.PROM_NO																			/*프로모션번호        */
                    , A.CAMP_NO																			/*캠페인번호        */
                    , A.COUPN_NO																			/*쿠폰번호        */
    				, A.REG_DT																			/*등록일시        */
                    , A.AMDR_ID																			/*수정자ID        */
                    , A.AMD_DT																			/*수정일시        */
                    , A.REGR_ID																			/*등록자ID        */
                    , A.REG_CHL_CD																		/*등록채널코드        공통코드 : S000        [CRM : CRM , CTC : 상담 , AS : AS , SAP : SAP]*/
    </sql>
    
    <sql id="sqlConditions">
        <where>
		<if test="itgCustNo != null and itgCustNo != ''">
                      AND B.ITG_CUST_NO      =       #{itgCustNo}
        </if>                
        <if test="strtDt != null and strtDt != ''">
                      AND B.DT      >=       TO_DATE(#{strtDt},'YYYYMMDD')
        </if>
        <if test="endDt != null and endDt != ''">
                      AND TO_DATE(#{endDt},'YYYYMMDD') + 1 > B.DT
        </if>
        <if test="useTypeCd != null and useTypeCd != ''">
                      AND B.USE_TYPE_CD      =       #{useTypeCd}
        </if>
        <if test="storNo != null and storNo != ''">
                      AND B.STOR_NO      =       #{storNo}
        </if>
        </where>
    </sql>
    
    
    <select id="selectListCountOld" resultType="int">
                 SELECT /* com.ceragem.crm.mem.dao.CalculateStatusSAPDayDao.selectListCount */ COUNT(1)
                 FROM (
						WITH BOS_POS AS(
						-- 보스와 포스의 해당월의 계약건 조회
						-- 보스 : 매장의 설치확정일자(IST_DCS_DE) 계약번호(CNTR_NO)
						SELECT
						    IST_DCS_DE
						    , CNTR_NO  AS DEAL_NO
						FROM CRM_CUST_BOS_CNTRT_HST A
						WHERE SUBSTR(IST_DCS_DE, 0,6) = #{istDcsDe}
						UNION ALL
						-- 포스 : 매장의 매출일자(SALE_DATE) 계약번호(DEAL_NO)
						SELECT
						    SALE_DATE  AS IST_DCS_DE
						    , DEAL_NO
						FROM CRM_CUST_POS_SALE_HST B
						WHERE DEAL_DIV_CD = '1'
						AND SUBSTR(SALE_DATE, 0,6) = #{istDcsDe}
						)
						, PONT AS (
						-- 포인트이력 사용인것  USE_TYPE_CD = '001'
						SELECT
						    TO_CHAR(USE_DT , 'YYYYMMDD') USE_YMD
						    , STOR_NO
						    , DEAL_NO
						    , ITG_CUST_NO
						    , '1'                    AS DIS_GUBUN    /*할인구분 : 1포인트 , 2쿠폰 */
						    , ABS(OCCUR_POINT_SCORE) AS DIS_AMT      /*사용포인트 : 할인금액*/
						FROM CRM_POINT_HST
						WHERE USE_TYPE_CD = '001'
						UNION ALL
						SELECT
						    SUBSTR(USE_DT , 0 , 8) USE_YMD
						    , STOR_NO
						    , '' AS DEAL_NO     /*계야번호 : 쿠폰이력에는 계약번호가 없다 */
						    , ITG_CUST_NO
						    , '2'                    AS DIS_GUBUN    /*할인구분 : 1포인트 , 2쿠폰 */
						    , ABS(APPLY_AMT)         AS DIS_AMT      /*사용포인트 : 할인금액*/
						FROM CRM_COUPN_PBLS_HST
						WHERE UPPER(USE_YN) = 'Y'
						)
						-- 보스의 계약번호(CNTR_NO)와 포스의 계약번호(DEAL_NO)가 같은 포인트이력의 계약번호()
						SELECT           
						    PO.USE_YMD              /*사용일시 : 거래일시 */
						    , BP.IST_DCS_DE         /*설치완료일 */
						    , PO.STOR_NO            /*매장번호 : 거래처코드 */
						    , (SELECT ST.STOR_NM FROM CRM_STOR_BAS ST WHERE PO.STOR_NO = ST.STOR_NO) AS STOR_NM
						    , PO.DEAL_NO            /*계약번호 */
						    , PO.ITG_CUST_NO        /*통합고객번호 */
						    , PO.DIS_GUBUN          /*할인구분 */
						    , PO.DIS_AMT  /*사용포인트 */   
						FROM BOS_POS BP , PONT PO
						WHERE BP.DEAL_NO = PO.DEAL_NO
					  ) B
    </select>
    
    <select id="selectListOld" resultType="com.ceragem.crm.mem.model.CalculateStatusSAPDayVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
						WITH BOS_POS AS(
						-- 보스와 포스의 해당월의 계약건 조회
						-- 보스 : 매장의 설치확정일자(IST_DCS_DE) 계약번호(CNTR_NO)
						SELECT
						    IST_DCS_DE
						    , CNTR_NO  AS DEAL_NO
						FROM CRM_CUST_BOS_CNTRT_HST A
						WHERE SUBSTR(IST_DCS_DE, 0,6) = #{istDcsDe}
						UNION ALL
						-- 포스 : 매장의 매출일자(SALE_DATE) 계약번호(DEAL_NO)
						SELECT
						    SALE_DATE  AS IST_DCS_DE
						    , DEAL_NO
						FROM CRM_CUST_POS_SALE_HST B
						WHERE DEAL_DIV_CD = '1'
						AND SUBSTR(SALE_DATE, 0,6) = #{istDcsDe}
						)
						, PONT AS (
						-- 포인트이력 사용인것  USE_TYPE_CD = '001'
						SELECT
						    TO_CHAR(USE_DT , 'YYYYMMDD') USE_YMD
						    , STOR_NO
						    , DEAL_NO
						    , ITG_CUST_NO
						    , '1'                    AS DIS_GUBUN    /*할인구분 : 1포인트 , 2쿠폰 */
						    , ABS(OCCUR_POINT_SCORE) AS DIS_AMT      /*사용포인트 : 할인금액*/
						FROM CRM_POINT_HST
						WHERE USE_TYPE_CD = '001'
						UNION ALL
						SELECT
						    SUBSTR(USE_DT , 0 , 8) USE_YMD
						    , STOR_NO
						    , '' AS DEAL_NO     /*계야번호 : 쿠폰이력에는 계약번호가 없다 */
						    , ITG_CUST_NO
						    , '2'                    AS DIS_GUBUN    /*할인구분 : 1포인트 , 2쿠폰 */
						    , ABS(APPLY_AMT)         AS DIS_AMT      /*사용포인트 : 할인금액*/
						FROM CRM_COUPN_PBLS_HST
						WHERE UPPER(USE_YN) = 'Y'
						)
						-- 보스의 계약번호(CNTR_NO)와 포스의 계약번호(DEAL_NO)가 같은 포인트이력의 계약번호()
						SELECT           
						    PO.USE_YMD              /*사용일시 : 거래일시 */
						    , BP.IST_DCS_DE         /*설치완료일 */
						    , PO.STOR_NO            /*매장번호 : 거래처코드 */
						    , (SELECT ST.STOR_NM FROM CRM_STOR_BAS ST WHERE PO.STOR_NO = ST.STOR_NO) AS STOR_NM
						    , PO.DEAL_NO            /*계약번호 */
						    , PO.ITG_CUST_NO        /*통합고객번호 */
						    , PO.DIS_GUBUN          /*할인구분 */
						    , CASE WHEN PO.DIS_GUBUN = '1' THEN '포인트'
						           WHEN PO.DIS_GUBUN = '2' THEN '쿠폰'
						      END AS DIS_GUBUN_NM	/*할인구분명 */
						    , PO.DIS_AMT  /*사용포인트 */   
						FROM BOS_POS BP , PONT PO
						WHERE BP.DEAL_NO = PO.DEAL_NO
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    
    <select id="select" resultType="com.ceragem.crm.mem.model.CalculateStatusSAPDayVo">
               SELECT /* com.ceragem.crm.mem.dao.CalculateStatusSAPDayDao.select */ * FROM
               		(
                 	  	SELECT <include refid="sqlPointHstCols"/>
				          FROM CRM_POINT_HST A, CRM_STOR_BAS B
                         WHERE A.STOR_NO = B.STOR_NO(+)
					  ) B
        <include refid="sqlPkConditions"/>
    </select>
    
    
    <!--  -->
    
    <sql id="sqlSapPointUseCols">
                    '01' SALE_GB /*할인구분- 1:포인트 2:쿠폰*/
                    ,'포인트' SALE_GB_NM /*할인구분- 1:포인트 2:쿠폰*/
                    , A.USE_DT AS ZRT_DT                                                                                                                          /*발행구분:사용-사용일시*/
                    ,CASE
                        WHEN A.PBLS_CHL_CD = 'BOS' THEN TO_DATE((SELECT IST_DCS_DE FROM CRM_CUST_BOS_CNTRT_HST WHERE CNTR_NO = A.DEAL_NO),'YYYYMMDD')
                        ELSE A.USE_DT
                    END AS SU_REQ_DT                                                                                                                       /*등록채널BOS->설치완료일 ELSE->사용및적립일시*/
                    , A.ITG_CUST_NO AS CUST_NO_WRMS                                                                                                                     /*통합고객번호        */
                    , A.USE_TYPE_CD                                                                                                                     /*사용유형코드        */
                    , A.OCCUR_POINT_SCORE AS PNT_PAY                                                                                                /*발생포인트점수        */
                    , (SELECT STOR_NM FROM CRM_STOR_BAS T WHERE T.STOR_NO = A.STOR_NO) KUNNR_NM                                                          /*매장명        */
                    , (SELECT STOR_CHL_CD FROM CRM_STOR_BAS T WHERE T.STOR_NO = A.STOR_NO) STOR_CHL_CD                                                  /* 매장채널명        */
                    ,CASE
                        WHEN (SELECT STOR_DIV_CD FROM CRM_STOR_BAS T WHERE T.STOR_NO = A.STOR_NO) = '10' THEN '13'
                        WHEN (SELECT STOR_DIV_CD FROM CRM_STOR_BAS T WHERE T.STOR_NO = A.STOR_NO) = '20' THEN '14'
                        ELSE ''
                    END AS KDGRP                                                                                                                    /* 매장구분코드(SAP)        */
                    , (SELECT STOR_DIV_CD FROM CRM_STOR_BAS T WHERE T.STOR_NO = A.STOR_NO) KDGRP_CD                                                  /* 매장구분코드        */ 
                    , A.STOR_NO AS KUNNR                                                                                                                        /*매장번호        */
                    , A.CHIT_NO AS BSTKD                                                                                                                        /*전표번호        */
    </sql>
    <sql id="sqlSapPointCancelCols">
                    '01' SALE_GB /*할인구분- 1:포인트 2:쿠폰*/
                    ,'포인트' SALE_GB_NM /*할인구분- 1:포인트 2:쿠폰*/
                    , A.PBLS_DT AS ZRT_DT                                                                                                                          /*발행구분:취소-발행일시*/
                    ,CASE
                        WHEN A.PBLS_CHL_CD = 'BOS' THEN TO_DATE((SELECT IST_DCS_DE FROM CRM_CUST_BOS_CNTRT_HST WHERE CNTR_NO = A.DEAL_NO),'YYYYMMDD')
                        ELSE A.PBLS_DT
                    END AS SU_REQ_DT                                                                                                                       /*등록채널BOS->설치완료일 ELSE->사용및적립일시*/
                    , A.ITG_CUST_NO AS CUST_NO_WRMS                                                                                                                     /*통합고객번호        */
                    , A.USE_TYPE_CD                                                                                                                     /*사용유형코드        */
                    , (SELECT -1 * OCCUR_POINT_SCORE FROM CRM_POINT_HST WHERE CHIT_NO = A.CHIT_NO AND USE_TYPE_CD = '001') AS PNT_PAY                   /* -사용포인트 */
                    , (SELECT STOR_NM FROM CRM_STOR_BAS T WHERE T.STOR_NO = A.STOR_NO) KUNNR_NM                                                          /*매장명        */
                    , (SELECT STOR_CHL_CD FROM CRM_STOR_BAS T WHERE T.STOR_NO = A.STOR_NO) STOR_CHL_CD                                                  /* 매장채널명        */
                    ,CASE
                        WHEN (SELECT STOR_DIV_CD FROM CRM_STOR_BAS T WHERE T.STOR_NO = A.STOR_NO) = '10' THEN '13'
                        WHEN (SELECT STOR_DIV_CD FROM CRM_STOR_BAS T WHERE T.STOR_NO = A.STOR_NO) = '20' THEN '14'
                        ELSE ''
                    END AS KDGRP                                                                                                                    /* 매장구분코드(SAP)        */
                    , (SELECT STOR_DIV_CD FROM CRM_STOR_BAS T WHERE T.STOR_NO = A.STOR_NO) KDGRP_CD                                                  /* 매장구분코드        */ 
                    , A.STOR_NO AS KUNNR                                                                                                                        /*매장번호        */
                    , A.CHIT_NO AS BSTKD                                                                                                                        /*전표번호        */
    </sql>
    <sql id="sqlSapCouponCols">
                    '02' SALE_GB /*할인구분- 1:포인트 2:쿠폰*/
                    ,'쿠폰' SALE_GB_NM /*할인구분- 1:포인트 2:쿠폰*/
                    , TO_DATE(A.USE_DT,'YYYYMMDDHH24MISS') AS ZRT_DT                                                                               /*사용구분:사용-사용일시, 적립-등록일시, ELSE-등록일시*/
                    ,CASE
                        WHEN A.REG_CHL_CD = 'BOS' THEN TO_DATE((SELECT IST_DCS_DE FROM CRM_CUST_BOS_CNTRT_HST WHERE CNTR_NO = A.CHIT_NO),'YYYYMMDD')
                        ELSE TO_DATE(A.USE_DT,'YYYYMMDDHH24MISS')
                    END AS SU_REQ_DT                                                                                                                       /*등록채널BOS->설치완료일 ELSE->사용및적립일시*/
                    , A.ITG_CUST_NO AS CUST_NO_WRMS                                                                                                                   /*통합고객번호*/
                    , A.USE_DIV_CD USE_TYPE_CD                                                                                                          /*사용구분코드*/
                    , (-1 * A.SALE_AMT) PNT_PAY                                                                                                            /*할인금액        */
                    , (SELECT STOR_NM FROM CRM_STOR_BAS T WHERE T.STOR_NO = A.USE_STOR_NO) KUNNR_NM                                                          /*매장명        */
                    , (SELECT STOR_CHL_CD FROM CRM_STOR_BAS T WHERE T.STOR_NO = A.USE_STOR_NO) STOR_CHL_CD                                                  /* 매장채널명        */
                    ,CASE
                        WHEN (SELECT STOR_DIV_CD FROM CRM_STOR_BAS T WHERE T.STOR_NO = A.USE_STOR_NO) = '10' THEN '13'
                        WHEN (SELECT STOR_DIV_CD FROM CRM_STOR_BAS T WHERE T.STOR_NO = A.USE_STOR_NO) = '20' THEN '14'
                        ELSE ''
                    END AS KDGRP                                                                                                                    /* 매장구분코드(SAP)        */                          
                    , (SELECT STOR_DIV_CD FROM CRM_STOR_BAS T WHERE T.STOR_NO = A.USE_STOR_NO) KDGRP_CD                                                  /* 매장구분코드        */
                    , A.USE_STOR_NO AS KUNNR                                                                                                                         /*매장번호*/
                    , A.CHIT_NO AS BSTKD                                                                                                                        /*전표번호        */
    </sql>
    
    <sql id="sqlSapConditions">
        <where>
        <if test="suReqDt != null and suReqDt != ''">
                      TO_CHAR(B.SU_REQ_DT, 'YYYYMM')      =       #{suReqDt}
        </if>
        </where>
    </sql>
    
    <select id="selectListCount" resultType="int">
              SELECT /* com.ceragem.crm.mem.dao.CalculateStatusSAPDayDao.selectListCount */ COUNT(1) FROM
              (SELECT CASE
                             WHEN A.PBLS_CHL_CD = 'BOS' THEN TO_DATE((SELECT IST_DCS_DE FROM CRM_CUST_BOS_CNTRT_HST WHERE CNTR_NO = A.DEAL_NO),'YYYYMMDD')
                             ELSE A.USE_DT
                        END AS SU_REQ_DT
                      , A.OCCUR_POINT_SCORE AS PNT_PAY
                FROM CRM_POINT_HST A
               WHERE A.USE_TYPE_CD = '001' /* 사용 */
              UNION ALL
              SELECT * FROM 
              (SELECT CASE
                             WHEN A.PBLS_CHL_CD = 'BOS' THEN TO_DATE((SELECT IST_DCS_DE FROM CRM_CUST_BOS_CNTRT_HST WHERE CNTR_NO = A.DEAL_NO),'YYYYMMDD')
                             ELSE A.PBLS_DT
                        END AS SU_REQ_DT 
                      , (SELECT -1 * OCCUR_POINT_SCORE FROM CRM_POINT_HST WHERE CHIT_NO = A.CHIT_NO AND USE_TYPE_CD = '001') AS PNT_PAY
                FROM CRM_POINT_HST A
               WHERE A.USE_TYPE_CD = '003' /* 사용취소 */
               ) A
               WHERE A.PNT_PAY IS NOT NULL
              UNION ALL
              SELECT CASE
                            WHEN A.REG_CHL_CD = 'BOS' THEN TO_DATE((SELECT IST_DCS_DE FROM CRM_CUST_BOS_CNTRT_HST WHERE CNTR_NO = A.CHIT_NO),'YYYYMMDD')
                            ELSE TO_DATE(A.USE_DT,'YYYYMMDDHH24MISS')
                        END AS SU_REQ_DT
                     , A.SALE_AMT PNT_PAY
                FROM CRM_COUPN_PBLS_HST A
               WHERE A.USE_YN = 'Y'
                 AND (A.COUPN_KND_CD = '001' OR A.COUPN_KND_CD = '002' OR A.COUPN_KND_CD = '003') <!-- 001-정액/002-정률/003-증겅 -->) B
        <include refid="sqlSapConditions"/>
    </select>
    
    <select id="selectList" resultType="com.ceragem.crm.mem.model.CalculateStatusSAPDayVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
              SELECT /* com.ceragem.crm.mem.dao.CalculateStatusSAPDayDao.selectList */
                      B.SALE_GB
                     , B.SALE_GB_NM
                     , TO_CHAR(B.ZRT_DT, 'YYYYMMDD') AS ZRT_DT
                     , TO_CHAR(B.SU_REQ_DT, 'YYYYMMDD') AS SU_REQ_DT
                     , B.CUST_NO_WRMS
                     , B.USE_TYPE_CD
                     , B.PNT_PAY
                     , B.KUNNR_NM
                     , B.STOR_CHL_CD
                     , B.KDGRP
                     , B.KDGRP_CD
                     , B.KUNNR
                     , B.BSTKD 
                FROM
              (SELECT <include refid="sqlSapPointUseCols"/>
                FROM CRM_POINT_HST A
               WHERE A.USE_TYPE_CD = '001' /* 사용 */
              UNION ALL
              SELECT * FROM 
              (SELECT <include refid="sqlSapPointCancelCols"/>
                FROM CRM_POINT_HST A
               WHERE A.USE_TYPE_CD = '003' /* 사용취소 */
               ) A
               WHERE A.PNT_PAY IS NOT NULL
              UNION ALL
              SELECT <include refid="sqlSapCouponCols"/>
                FROM CRM_COUPN_PBLS_HST A
               WHERE A.USE_YN = 'Y'
                 AND (A.COUPN_KND_CD = '001' OR A.COUPN_KND_CD = '002' OR A.COUPN_KND_CD = '003') <!-- 001-정액/002-정률/003-증겅 -->) B
        <include refid="sqlSapConditions"/>
        ORDER BY B.ZRT_DT DESC
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    
    
    <select id="selectMonthPointCk" resultType="int">
              SELECT COUNT(1)
                FROM CRM_MONTH_POINT_HST
               WHERE YYYYMM_CD = #{suReqDt}
    </select>

    <insert id="insertMonthPoint">
        INSERT INTO CRM_MONTH_POINT_HST(YYYYMM_CD, OCCUR_POINT_SCORE, USE_POINT_SCORE, EXTNC_POINT_SCORE, BLC_POINT_SCORE)
        SELECT #{suReqDt}, '0', USE_POINT_SCORE, '0', USE_POINT_SCORE + NVL((SELECT BLC_POINT_SCORE FROM CRM_MONTH_POINT_HST WHERE YYYYMM_CD = #{suReqDt}-1), 0) FROM
        (SELECT SUM(OCCUR_POINT_SCORE) AS USE_POINT_SCORE FROM
              (SELECT CASE WHEN A.PBLS_CHL_CD = 'BOS' THEN TO_DATE((SELECT IST_DCS_DE FROM CRM_CUST_BOS_CNTRT_HST WHERE CNTR_NO = A.DEAL_NO),'YYYYMMDD')
                           ELSE A.USE_DT
                       END AS SU_REQ_DT                                                                                                                                                                                                                      
                      , NVL(A.OCCUR_POINT_SCORE,0) AS OCCUR_POINT_SCORE
                 FROM CRM_POINT_HST A
                WHERE A.USE_TYPE_CD = '001'
                UNION ALL
               SELECT * FROM 
               (SELECT CASE WHEN A.PBLS_CHL_CD = 'BOS' THEN TO_DATE((SELECT IST_DCS_DE FROM CRM_CUST_BOS_CNTRT_HST WHERE CNTR_NO = A.DEAL_NO),'YYYYMMDD')
                           ELSE A.PBLS_DT
                       END AS SU_REQ_DT                                                                                                                                                                                                                         
                      , NVL((SELECT -1 * OCCUR_POINT_SCORE FROM CRM_POINT_HST WHERE CHIT_NO = A.CHIT_NO AND USE_TYPE_CD = '001'),0) AS OCCUR_POINT_SCORE                                                                                            
                FROM CRM_POINT_HST A
               WHERE A.USE_TYPE_CD = '003') A
               WHERE A.OCCUR_POINT_SCORE IS NOT NULL
               ) B
         WHERE TO_CHAR(B.SU_REQ_DT, 'YYYYMM') = #{suReqDt}) A
        
    </insert>
    
    <update id="updateMonthPoint">
        UPDATE CRM_MONTH_POINT_HST
           SET (OCCUR_POINT_SCORE, USE_POINT_SCORE, EXTNC_POINT_SCORE, BLC_POINT_SCORE) 
             = (SELECT 
                       A.OCCUR_POINT_SCORE
                       , A.USE_POINT_SCORE
                       , EXTNC_POINT_SCORE
                       , A.OCCUR_POINT_SCORE + A.USE_POINT_SCORE + A.EXTNC_POINT_SCORE + NVL((SELECT BLC_POINT_SCORE FROM CRM_MONTH_POINT_HST WHERE YYYYMM_CD = #{suReqDt}-1), 0)
                  FROM (SELECT 
                               OCCUR_POINT_SCORE /*발생포인트점수        */
                              , (SELECT 
                                        SUM(OCCUR_POINT_SCORE) 
                                   FROM (SELECT CASE WHEN A.PBLS_CHL_CD = 'BOS' THEN TO_DATE((SELECT IST_DCS_DE FROM CRM_CUST_BOS_CNTRT_HST WHERE CNTR_NO = A.DEAL_NO),'YYYYMMDD')
                                                     ELSE A.USE_DT
                                                 END AS SU_REQ_DT                                                                                                            
                                                , NVL(A.OCCUR_POINT_SCORE,0) AS OCCUR_POINT_SCORE                                                                                            
                                           FROM CRM_POINT_HST A
                                          WHERE A.USE_TYPE_CD = '001'
                                         UNION ALL
                                         SELECT * FROM (
                                         SELECT CASE WHEN A.PBLS_CHL_CD = 'BOS' THEN TO_DATE((SELECT IST_DCS_DE FROM CRM_CUST_BOS_CNTRT_HST WHERE CNTR_NO = A.DEAL_NO),'YYYYMMDD')
                                                     ELSE PBLS_DT
                                                 END AS SU_REQ_DT                                                                                                                                                                                                                         
                                                , NVL((SELECT -1 * OCCUR_POINT_SCORE FROM CRM_POINT_HST WHERE CHIT_NO = A.CHIT_NO AND USE_TYPE_CD = '001'),0) AS OCCUR_POINT_SCORE                                                                                            
                                           FROM CRM_POINT_HST A
                                          WHERE A.USE_TYPE_CD = '003') A
                                          WHERE A.OCCUR_POINT_SCORE IS NOT NULL
                                        ) B
                                  WHERE TO_CHAR(B.SU_REQ_DT, 'YYYYMM') = #{suReqDt}) AS USE_POINT_SCORE
                              , EXTNC_POINT_SCORE /*소멸포인트점수        */
                         FROM CRM_MONTH_POINT_HST 
                        WHERE YYYYMM_CD = #{suReqDt}) A
                        )
         WHERE YYYYMM_CD = #{suReqDt}
    </update>
</mapper>
