<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.mem.dao.CalculateStatusDao">
    <sql id="sqlPkConditions">
                WHERE POINT_HST_SEQ     =       #{pointHstSeq}
    </sql>
    
    <sql id="sqlPointHstCols">
    				A.PBLS_DT																				/*발행일시        */
    				, A.USE_DT																			/*사용일시        */
    				,CASE
							WHEN A.USE_TYPE_CD = '001' THEN A.USE_DT
							WHEN A.USE_TYPE_CD = '002' THEN A.PBLS_DT
							WHEN A.USE_TYPE_CD = '003' THEN A.USE_DT
							ELSE A.REG_DT
						END AS DT																		/*발행구분:사용,취소-사용일시, 적립-발행일시, ELSE-등록일시*/
    				, A.ITG_CUST_NO																		/*통합고객번호        */
    				, A.PBLS_DIV_CD AS PBLS_DIV_NM														/*발행구분        */
    				, A.PBLS_DIV_CD																		/*발행구분코드        */
    				, A.USE_TYPE_CD AS USE_TYPE_NM														/*사용유형        */
    				, A.USE_TYPE_CD																		/*사용유형코드        */
    				, A.TXN																				/*내역        */
    				, A.OCCUR_POINT_SCORE AS POINT_SCORE													/*발생포인트점수        */
    				, A.REMAIN_POINT_SCORE																/*잔여포인트점수        */
                    , A.EXTNC_DT																			/*소멸일시        */
    				, B.STOR_NM			/*매장명        */
				    , B.STOR_CHL_CD     /* 매장채널명        */
    				, A.STOR_NO																			/*매장번호        */
    				, A.PBLS_CHL_CD AS CHL_NM																/*발행채널        */
    				, A.PBLS_CHL_CD AS CHL_CD																/*발행채널코드        */
    				<!-- Hidden -->
                    , A.POINT_HST_SEQ																		/*포인트이력일련번호        */
                    , A.MSHIP_GRADE_CD																	/*멤버십등급코드        */
                    , A.CHIT_NO																			/*전표번호        */
                    , A.BUY_GODS_NO																		/*구매제품번호        */
                    , A.ORDR_AMT																			/*주문금액        */
                    , A.APPLY_AMT																			/*적용금액        */
                    , A.PAY_AMT																			/*결제금액        */
                    <!-- , A.VALID_PERD  										               					/*유효기간        */ -->
                    , A.CARD_PBLS_HST_SEQ																	/*카드발행이력일련번호        */
                    , A.DEAL_NO																			/*거래번호        */
                    , A.PROM_NO																			/*프로모션번호        */
                    , A.CAMP_NO																			/*캠페인번호        */
                    , A.COUPN_NO																			/*쿠폰번호        */
    				, A.REG_DT																			/*등록일시        */
                    , A.AMDR_ID																			/*수정자ID        */
                    , A.AMD_DT																			/*수정일시        */
                    , A.REGR_ID																			/*등록자ID        */
                    , A.REG_CHL_CD																		/*등록채널코드        공통코드 : S000        [CRM : CRM , CTC : 상담 , AS : AS , SAP : SAP]*/
    </sql>
    
    <sql id="sqlConditions">
        <where>
		<if test="itgCustNo != null and itgCustNo != ''">
                      AND B.ITG_CUST_NO      =       #{itgCustNo}
        </if>                
        <if test="strtDt != null and strtDt != ''">
                      AND B.DT      >=       TO_DATE(#{strtDt},'YYYYMMDD')
        </if>
        <if test="endDt != null and endDt != ''">
                      AND TO_DATE(#{endDt},'YYYYMMDD') + 1 > B.DT
        </if>
        <if test="useTypeCd != null and useTypeCd != ''">
                      AND B.USE_TYPE_CD      =       #{useTypeCd}
        </if>
        <if test="rcmdStorNo != null and rcmdStorNo != ''">
<!--                       AND B.STOR_NO      IN       (#{rcmdStorNo}) -->
                      AND REGEXP_LIKE(B.STOR_NO, REPLACE(#{rcmdStorNo}, ',', '|'))
        </if>
        </where>
    </sql>
    
    
    <select id="selectListCount" resultType="int">
                 SELECT /* com.ceragem.crm.mem.dao.CalculateStatusDao.selectListCount */ COUNT(1)
                 FROM (
						WITH M1 AS(
									SELECT
									    TO_CHAR(T.DT,'YYYYMMDD') MDT
									    , T.*
									FROM 
									(
									SELECT 
									    A.PBLS_DT																				/*발행일시        */
									    , A.USE_DT																			/*사용일시        */
									    ,CASE
									            WHEN A.USE_TYPE_CD = '001' THEN A.USE_DT
									            WHEN A.USE_TYPE_CD = '002' THEN A.PBLS_DT
									            WHEN A.USE_TYPE_CD = '003' THEN A.USE_DT
									            ELSE A.REG_DT
									        END AS DT																		/*발행구분:사용,취소-사용일시, 적립-발행일시, ELSE-등록일시*/
									    , A.ITG_CUST_NO																		/*통합고객번호        */
									    , A.PBLS_DIV_CD AS PBLS_DIV_NM														/*발행구분        */
									    , A.PBLS_DIV_CD																		/*발행구분코드        */
									    , A.USE_TYPE_CD AS USE_TYPE_NM														/*사용유형        */
									    , A.USE_TYPE_CD																		/*사용유형코드        */
									    , A.TXN																				/*내역        */
									    , A.OCCUR_POINT_SCORE AS POINT_SCORE													/*발생포인트점수        */
									    , A.REMAIN_POINT_SCORE																/*잔여포인트점수        */
									    , A.EXTNC_DT																			/*소멸일시        */
									    , B.STOR_NM			/*매장명        */
									    , B.STOR_CHL_CD     /* 매장채널명        */
									    , A.STOR_NO																			/*매장번호        */
									    , A.PBLS_CHL_CD AS CHL_NM																/*발행채널        */
									    , A.PBLS_CHL_CD AS CHL_CD																/*발행채널코드        */
									
									    , A.POINT_HST_SEQ																		/*포인트이력일련번호        */
									    , A.MSHIP_GRADE_CD																	/*멤버십등급코드        */
									    , A.CHIT_NO																			/*전표번호        */
									    , A.BUY_GODS_NO																		/*구매제품번호        */
									    , A.ORDR_AMT																			/*주문금액        */
									    , A.APPLY_AMT																			/*적용금액        */
									    , A.PAY_AMT																			/*결제금액        */
									
									    , A.CARD_PBLS_HST_SEQ																	/*카드발행이력일련번호        */
									    , A.DEAL_NO																			/*거래번호        */
									    , A.PROM_NO																			/*프로모션번호        */
									    , A.CAMP_NO																			/*캠페인번호        */
									    , A.COUPN_NO																			/*쿠폰번호        */
									    , A.REG_DT																			/*등록일시        */
									    , A.AMDR_ID																			/*수정자ID        */
									    , A.AMD_DT																			/*수정일시        */
									    , A.REGR_ID																			/*등록자ID        */
									    , A.REG_CHL_CD																		/*등록채널코드        공통코드 : S000        [CRM : CRM , CTC : 상담 , AS : AS , SAP : SAP]*/
									FROM  CRM_POINT_HST A, CRM_STOR_BAS B
									WHERE A.STOR_NO = B.STOR_NO(+) 
									) T
									WHERE T.STOR_NO IS NOT NULL              
							        <if test="strtDt != null and strtDt != ''">
							                      AND T.DT      >=       TO_DATE(#{strtDt},'YYYYMMDD')
							        </if>
							        <if test="endDt != null and endDt != ''">
							                      AND TO_DATE(#{endDt},'YYYYMMDD') + 1 > T.DT
							        </if>
							        <if test="rcmdStorNo != null and rcmdStorNo != ''">
<!-- 							                      AND T.STOR_NO      IN       (#{rcmdStorNo}) -->
							                      AND REGEXP_LIKE(T.STOR_NO, REPLACE(#{rcmdStorNo}, ',', '|'))
							        </if>						
						)
						, M2 AS(
									SELECT
									    TO_CHAR(T.DT,'YYYYMMDD') MDT
									    , T.*
									FROM 
									(
									SELECT 
									    A.USE_DT								/*사용일시*/
									    , A.REG_DT							/*등록일시*/
									    ,CASE
									        WHEN A.USE_DIV_CD = '001' THEN TO_DATE(A.USE_DT,'YYYYMMDDHH24MISS')
									        WHEN A.USE_DIV_CD = '002' THEN A.REG_DT
									        ELSE TO_DATE(A.USE_DT,'YYYYMMDDHH24MISS')
									    END AS DT							/*사용구분:사용-사용일시, 적립-등록일시, 취소-?대기*/
									    , A.ITG_CUST_NO						/*통합고객번호*/
									    , A.USE_DIV_CD						/*사용구분코드*/
									    , A.USE_DIV_CD AS USE_DIV_NM			/*사용구분*/
									    , A.COUPN_TYPE_CD						/*쿠폰유형코드*/
									    , A.COUPN_TYPE_CD AS COUPN_TYPE_NM	/*쿠폰유형*/
									    , A.COUPN_KND_CD						/*쿠폰종류코드*/
									    , A.COUPN_KND_CD AS COUPN_KND_NM	/*쿠폰종류*/
									    , A.COUPN_BAS_NM						/*쿠폰기본명*/
									    , A.STOR_NO							/*매장번호*/
									    , B.STOR_NM			/*매장명        */
									    , B.STOR_CHL_CD     /* 매장채널명        */
									    , A.REG_CHL_CD						/*등록채널코드*/
									    , A.REG_CHL_CD AS REG_CHL_NM			/*등록채널코드*/
									FROM CRM_COUPN_PBLS_HST A, CRM_STOR_BAS B
									WHERE A.STOR_NO = B.STOR_NO(+)
									) T
									WHERE T.STOR_NO IS NOT NULL               
							        <if test="strtDt != null and strtDt != ''">
							                      AND T.DT      >=       TO_DATE(#{strtDt},'YYYYMMDD')
							        </if>
							        <if test="endDt != null and endDt != ''">
							                      AND TO_DATE(#{endDt},'YYYYMMDD') + 1 > T.DT
							        </if>
							        <if test="rcmdStorNo != null and rcmdStorNo != ''">
<!-- 							                      AND T.STOR_NO      IN       (#{rcmdStorNo}) -->
												  AND REGEXP_LIKE(T.STOR_NO, REPLACE(#{rcmdStorNo}, ',', '|'))
							        </if>		
						) 
						SELECT /* com.ceragem.crm.mem.dao.CalculateStatusDao.selectList */
							<choose>
								<when test="strtDt != null and strtDt != '' and endDt != null and endDt != ''">
								#{strtDt} || '-'  ||#{endDt} AS MDT ,
								</when>
								<otherwise>
								A.MDT ,
								</otherwise>
							</choose>	
						      A.STOR_NO
						    , A.STOR_NM
						    , MAX(A.POINT_SCORE) POINT_SCORE
						    , MAX(A.COUPN_CNT) COUPN_CNT
						FROM(
						    SELECT 
						        '' MDT
						        , M1.STOR_NO
						        , M1.STOR_NM
						        , SUM(M1.POINT_SCORE) POINT_SCORE
						        , 0 COUPN_CNT
						    FROM
						        M1
						    GROUP BY
						        M1.STOR_NO
						        , M1.STOR_NM
						    UNION ALL
						    SELECT 
						        '' MDT
						        , M2.STOR_NO
						        , M2.STOR_NM
						        , 0 POINT_SCORE
						        , COUNT(*) COUPN_CNT
						    FROM
						        M2
						    GROUP BY
						        M2.STOR_NO
						        , M2.STOR_NM
						) A
						GROUP BY
						      A.MDT
						      , A.STOR_NO
						      , A.STOR_NM
					  ) B
    </select>
    
    <select id="selectList" resultType="com.ceragem.crm.mem.model.CalculateStatusVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
				WITH M1 AS(
							SELECT
							    TO_CHAR(T.DT,'YYYYMMDD') MDT
							    , T.*
							FROM 
							(
							SELECT 
							    A.PBLS_DT																				/*발행일시        */
							    , A.USE_DT																			/*사용일시        */
							    ,CASE
							            WHEN A.USE_TYPE_CD = '001' THEN A.USE_DT
							            WHEN A.USE_TYPE_CD = '002' THEN A.PBLS_DT
							            WHEN A.USE_TYPE_CD = '003' THEN A.USE_DT
							            ELSE A.REG_DT
							        END AS DT																		/*발행구분:사용,취소-사용일시, 적립-발행일시, ELSE-등록일시*/
							    , A.ITG_CUST_NO																		/*통합고객번호        */
							    , A.PBLS_DIV_CD AS PBLS_DIV_NM														/*발행구분        */
							    , A.PBLS_DIV_CD																		/*발행구분코드        */
							    , A.USE_TYPE_CD AS USE_TYPE_NM														/*사용유형        */
							    , A.USE_TYPE_CD																		/*사용유형코드        */
							    , A.TXN																				/*내역        */
							    , A.OCCUR_POINT_SCORE AS POINT_SCORE													/*발생포인트점수        */
							    , A.REMAIN_POINT_SCORE																/*잔여포인트점수        */
							    , A.EXTNC_DT																			/*소멸일시        */
							    , B.STOR_NM			/*매장명        */
							    , B.STOR_CHL_CD     /* 매장채널명        */
							    , A.STOR_NO																			/*매장번호        */
							    , A.PBLS_CHL_CD AS CHL_NM																/*발행채널        */
							    , A.PBLS_CHL_CD AS CHL_CD																/*발행채널코드        */
							
							    , A.POINT_HST_SEQ																		/*포인트이력일련번호        */
							    , A.MSHIP_GRADE_CD																	/*멤버십등급코드        */
							    , A.CHIT_NO																			/*전표번호        */
							    , A.BUY_GODS_NO																		/*구매제품번호        */
							    , A.ORDR_AMT																			/*주문금액        */
							    , A.APPLY_AMT																			/*적용금액        */
							    , A.PAY_AMT																			/*결제금액        */
							
							    , A.CARD_PBLS_HST_SEQ																	/*카드발행이력일련번호        */
							    , A.DEAL_NO																			/*거래번호        */
							    , A.PROM_NO																			/*프로모션번호        */
							    , A.CAMP_NO																			/*캠페인번호        */
							    , A.COUPN_NO																			/*쿠폰번호        */
							    , A.REG_DT																			/*등록일시        */
							    , A.AMDR_ID																			/*수정자ID        */
							    , A.AMD_DT																			/*수정일시        */
							    , A.REGR_ID																			/*등록자ID        */
							    , A.REG_CHL_CD																		/*등록채널코드        공통코드 : S000        [CRM : CRM , CTC : 상담 , AS : AS , SAP : SAP]*/
							FROM  CRM_POINT_HST A, CRM_STOR_BAS B
							WHERE A.STOR_NO = B.STOR_NO(+) 
							) T
							WHERE T.STOR_NO IS NOT NULL            
					        <if test="strtDt != null and strtDt != ''">
					                      AND T.DT      >=       TO_DATE(#{strtDt},'YYYYMMDD')
					        </if>
					        <if test="endDt != null and endDt != ''">
					                      AND TO_DATE(#{endDt},'YYYYMMDD') + 1 > T.DT
					        </if>
					        <if test="rcmdStorNo != null and rcmdStorNo != ''">
<!-- 					                      AND T.STOR_NO      IN       (#{rcmdStorNo}) -->
										  AND REGEXP_LIKE(T.STOR_NO, REPLACE(#{rcmdStorNo}, ',', '|'))
					        </if>						
				)
				, M2 AS(
							SELECT
							    TO_CHAR(T.DT,'YYYYMMDD') MDT
							    , T.*
							FROM 
							(
							SELECT 
							    A.USE_DT								/*사용일시*/
							    , A.REG_DT							/*등록일시*/
							    ,CASE
							        WHEN A.USE_DIV_CD = '001' THEN TO_DATE(A.USE_DT,'YYYYMMDDHH24MISS')
							        WHEN A.USE_DIV_CD = '002' THEN A.REG_DT
							        ELSE TO_DATE(A.USE_DT,'YYYYMMDDHH24MISS')
							    END AS DT							/*사용구분:사용-사용일시, 적립-등록일시, 취소-?대기*/
							    , A.ITG_CUST_NO						/*통합고객번호*/
							    , A.USE_DIV_CD						/*사용구분코드*/
							    , A.USE_DIV_CD AS USE_DIV_NM			/*사용구분*/
							    , A.COUPN_TYPE_CD						/*쿠폰유형코드*/
							    , A.COUPN_TYPE_CD AS COUPN_TYPE_NM	/*쿠폰유형*/
							    , A.COUPN_KND_CD						/*쿠폰종류코드*/
							    , A.COUPN_KND_CD AS COUPN_KND_NM	/*쿠폰종류*/
							    , A.COUPN_BAS_NM						/*쿠폰기본명*/
							    , A.STOR_NO							/*매장번호*/
							    , B.STOR_NM			/*매장명        */
							    , B.STOR_CHL_CD     /* 매장채널명        */
							    , A.USE_YN
							    , A.REG_CHL_CD						/*등록채널코드*/
							    , A.REG_CHL_CD AS REG_CHL_NM			/*등록채널코드*/
							FROM CRM_COUPN_PBLS_HST A, CRM_STOR_BAS B
							WHERE A.STOR_NO = B.STOR_NO(+)
							) T
							WHERE T.STOR_NO IS NOT NULL           
					        <if test="strtDt != null and strtDt != ''">
					                      AND T.DT      >=       TO_DATE(#{strtDt},'YYYYMMDD')
					        </if>
					        <if test="endDt != null and endDt != ''">
					                      AND TO_DATE(#{endDt},'YYYYMMDD') + 1 > T.DT
					        </if>
					        <if test="rcmdStorNo != null and rcmdStorNo != ''">
<!-- 					                      AND T.STOR_NO      IN       (#{rcmdStorNo}) -->
										  AND REGEXP_LIKE(T.STOR_NO, REPLACE(#{rcmdStorNo}, ',', '|'))
					        </if>	
				) 
				SELECT /* com.ceragem.crm.mem.dao.CalculateStatusDao.selectList */
					<choose>
						<when test="strtDt != null and strtDt != '' and endDt != null and endDt != ''">
						#{strtDt} || '-'  ||#{endDt} AS MDT ,
						</when>
						<otherwise>
						A.MDT ,
						</otherwise>
					</choose>				
				      A.STOR_NO
				    , A.STOR_NM
				    , SUM(A.USE_POINT_SCORE) USE_POINT_SCORE				/*사용포인트합계*/
				    , SUM(A.ACCUMULATE_POINT_SCORE) ACCUMULATE_POINT_SCORE	/*적립포인트합계*/			
				    , SUM(A.USE_COUPN_CNT) USE_COUPN_CNT					/*사용쿠폰갯수*/
				    , SUM(A.ACCUMULATE_COUPN_CNT) ACCUMULATE_COUPN_CNT		/*미사용쿠폰갯수*/		
				FROM(
				    SELECT 
				        '' MDT
				        , M1.STOR_NO
				        , M1.STOR_NM
				        , CASE WHEN M1.USE_TYPE_CD = '001' THEN SUM(M1.POINT_SCORE)
				          END AS USE_POINT_SCORE		/*사용포인트합계*/
				        , CASE WHEN M1.USE_TYPE_CD = '002' THEN SUM(M1.POINT_SCORE)
				          END AS ACCUMULATE_POINT_SCORE	/*적립포인트합계*/				          
				        , 0 USE_COUPN_CNT				/*사용쿠폰갯수*/
				        , 0 ACCUMULATE_COUPN_CNT		/*미사용쿠폰갯수*/		
				    FROM
				        M1
				    GROUP BY
				        M1.STOR_NO
				        , M1.STOR_NM
				        , M1.USE_TYPE_CD
				    UNION ALL
				    SELECT 
				        '' MDT
				        , M2.STOR_NO
				        , M2.STOR_NM
				        , 0 USE_POINT_SCORE				/*사용포인트합계*/
				        , 0 ACCUMULATE_POINT_SCORE		/*적립포인트합계*/			
				        , CASE WHEN M2.USE_YN = 'Y' THEN COUNT(*) 
				          END AS USE_COUPN_CNT			/*사용쿠폰갯수*/
				        , CASE WHEN M2.USE_YN = 'N' THEN COUNT(*) 
				          END AS ACCUMULATE_COUPN_CNT	/*미사용쿠폰갯수*/				          
				    FROM
				        M2
				    GROUP BY
				        M2.STOR_NO
				        , M2.STOR_NM
				        , M2.USE_YN
				) A
				GROUP BY
				      A.MDT
				      , A.STOR_NO 
				      , A.STOR_NM
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    
    <select id="select" resultType="com.ceragem.crm.mem.model.CalculateStatusVo">
               SELECT /* com.ceragem.crm.mem.dao.CalculateStatusDao.select */ * FROM
               		(
                 	  	SELECT <include refid="sqlPointHstCols"/>
				          FROM CRM_POINT_HST A, CRM_STOR_BAS B
                         WHERE A.STOR_NO = B.STOR_NO(+)
					  ) B
        <include refid="sqlPkConditions"/>
    </select>
    
</mapper>
