<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.mem.dao.CouponUseDao">
    
    <sql id="sqlPkConditions">
                WHERE COUPN_PBLS_HST_SEQ       =       #{coupnPblsHstSeq}
    </sql>
    
    <sql id="sqlCouponCols">
                        A.USE_DT                                       /*사용일시*/
                        , A.REG_DT                                     /*등록일시*/
                        , TO_DATE(A.USE_DT,'YYYYMMDDHH24MISS') AS DT   /*사용구분:사용-사용일시, 적립-등록일시, ELSE-등록일시*/
                        , CASE
                            WHEN A.REG_CHL_CD = 'BOS' THEN TO_DATE((SELECT IST_DCS_DE FROM CRM_CUST_BOS_CNTRT_HST WHERE CNTR_NO = A.CHIT_NO),'YYYYMMDD')
                            ELSE TO_DATE(A.USE_DT,'YYYYMMDDHH24MISS')
                        END AS CAL_DT                            /*등록채널BOS->설치완료일 ELSE->사용및적립일시*/
                        , A.ITG_CUST_NO                        /*통합고객번호*/
                        , (SELECT CUST_NM FROM CRM_CUST_BAS WHERE ITG_CUST_NO = A.ITG_CUST_NO) CUST_NM         /*통합고객명        */
                        , A.MSHIP_COUPN_BAS_NO              /*멤버십쿠폰기본번호*/
                        , A.COUPN_PBLS_BAS_NO              /*쿠폰발행기본번호*/
                        , A.APPLY_AMT                      /*적용금액*/
                        ,CASE WHEN A.SALE_AMT IS NULL THEN 0
                          WHEN A.SALE_AMT = '' THEN 0
                          ELSE (CASE WHEN A.ADMT_METH_CD = '001' THEN SALE_AMT - A.ADMT_AMT
                                     WHEN A.ADMT_METH_CD = '002' THEN SALE_AMT * ((100-A.ADMT_AMT)/100)
                                     ELSE 0
                                END) 
                          END AS STOR_POINT_SCORE                    /*가맹점부담포인트점수        */
                        , A.CHIT_NO                                                                            /*전표번호        */
                        , A.USE_YN                            /*사용구분*/
                        , A.USE_DIV_CD                        /*사용구분코드*/
                        , A.USE_DIV_CD AS USE_DIV_NM            /*사용구분*/
                        , A.COUPN_TYPE_CD                        /*쿠폰유형코드*/
                        , A.COUPN_TYPE_CD AS COUPN_TYPE_NM    /*쿠폰유형*/
                        , A.COUPN_KND_CD                        /*쿠폰종류코드*/
                        , A.COUPN_KND_CD AS COUPN_KND_NM    /*쿠폰종류*/
                        , A.COUPN_BAS_NM                        /*쿠폰기본명*/
                        , A.USE_STOR_NO AS STOR_NO                            /*매장번호*/
                        , (SELECT STOR_NM FROM CRM_STOR_BAS T WHERE T.STOR_NO = A.USE_STOR_NO) STOR_NM                            /*매장명        */
                        , (SELECT STOR_DIV_CD FROM CRM_STOR_BAS T WHERE T.STOR_NO = A.USE_STOR_NO) STOR_DIV_CD                        /* 매장구분코드        */
                        , (SELECT STOR_CHL_CD FROM CRM_STOR_BAS T WHERE T.STOR_NO = A.USE_STOR_NO) STOR_CHL_CD                     /* 매장채널명        */
                        , A.REG_CHL_CD                        /*등록채널코드*/
                        , A.REG_CHL_CD AS REG_CHL_NM            /*등록채널코드*/
                        , A.SALE_AMT                            /*할인금액        */
                        , A.PAY_AMT                            /*결제금액        */
                        
    </sql>
    
    <select id="selectList" resultType="com.ceragem.crm.mem.model.CouponUseVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
              SELECT /* com.ceragem.crm.cst.dao.CouponUseDao.selectList */ * FROM
               (SELECT <include refid="sqlCouponCols"/>
                 FROM CRM_COUPN_PBLS_HST A ) B
         <include refid="sqlConditions"/>
               ORDER BY B.DT DESC
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    
    <select id="selectListCount" resultType="int">
                SELECT /* com.ceragem.crm.cst.dao.CouponUseDao.selectListCount */ COUNT(1)
                 FROM (SELECT <include refid="sqlCouponCols"/>
                 FROM CRM_COUPN_PBLS_HST A) B
       <include refid="sqlConditions"/>
       
    </select>

    <sql id="sqlConditions">
        <where>
               <!--            B.APPLY_AMT IS NOT NULL
                      AND B.APPLY_AMT > 0 -->
                      AND B.USE_YN = 'Y'  <!-- 사용한 쿠폰 -->
                      AND (B.COUPN_KND_CD = '001' OR B.COUPN_KND_CD = '002' OR B.COUPN_KND_CD = '003') <!-- 001-정액/002-정률/003-증겅 --> 
        <if test="itgCustNo != null and itgCustNo != ''">
                      AND B.ITG_CUST_NO      =       #{itgCustNo}
        </if>                
        <if test="strtDt != null and strtDt != ''">
                      AND B.DT      >=       TO_DATE(#{strtDt},'YYYYMMDD')
        </if>
        <if test="endDt != null and endDt != ''">
                      AND TO_DATE(#{endDt},'YYYYMMDD') + 1 > B.DT
        </if>
        <if test="strtCalDt != null and strtCalDt != ''">
                      AND B.CAL_DT      >=       TO_DATE(#{strtCalDt},'YYYYMMDD')
        </if>
        <if test="endCalDt != null and endCalDt != ''">
                      AND TO_DATE(#{endCalDt},'YYYYMMDD') + 1 > B.CAL_DT
        </if>
        <if test="searchMonth != null and searchMonth != ''">
                      AND TO_CHAR(B.DT, 'YYYYMM')      =       #{searchMonth}
        </if>
        <if test="useDivCd != null and useDivCd != ''">
                      AND B.USE_DIV_CD      =       #{useDivCd}
        </if>
        <if test="useYn != null and useYn != ''">
                      AND B.USE_YN      =       #{useYn}
        </if>
        <if test="storNo != null and storNo != ''">
                      AND B.STOR_NO      =       #{storNo}
        </if>
        <if test="storNm != null and storNm != ''">
                      <!-- AND B.STOR_NO      =       #{storNm} -->
                      AND B.STOR_NM    LIKE  '%' ||    #{storNm} || '%'
        </if>
        <if test="storDivCd != null and storDivCd != ''">
                      AND B.STOR_DIV_CD      =       #{storDivCd}
        </if>
        <if test="mshipCoupnBasNo != null and mshipCoupnBasNo != ''">
                      AND B.MSHIP_COUPN_BAS_NO      =       #{mshipCoupnBasNo} 
        </if>
        <if test="chitNo != null and chitNo != ''">
                      AND B.CHIT_NO      =       #{chitNo} 
        </if>
        <if test="saleAmt != null and saleAmt != ''">
                      AND B.SALE_AMT      =       #{saleAmt} 
        </if>
        <if test="payAmt != null and payAmt != ''">
                      AND B.PAY_AMT      =       #{payAmt} 
        </if>
        </where>
    </sql>
</mapper>
