<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.mem.dao.PartnerHomeDao">
    <sql id="sqlPkConditions">
                WHERE CPRT_CMP_NO       =       #{cprtCmpNo}
    </sql>
    <sql id="sqlCols">
                      CPRT_CMP_NO					/* 제휴회사번호 */
                    , CPRT_CMP_NM					/* 제휴회사명 */
                    , CPRT_STATUS_CD				/* 제휴상태코드 */
                    , CPRT_DIV_CD					/* 제휴구분코드 */
                    , DAMO.DECRYPT_VAR_B64('AES_256',TEL_NO,'') AS TEL_NO				/* 전화번호 */
                    , ZIP_CD						/* 우편번호 */
                    , ADDR_1_CTNTS        			/* 주소1내용 */
                    , DAMO.DECRYPT_VAR_B64('AES_256',ADDR_2_CTNTS,'') AS ADDR_2_CTNTS	/* 주소2내용 */
                    , BIZ_NO						/* 사업자등록번호 */
                    , CPRT_CMP_TYPE_CD				/* 제휴회사유형코드 */
                    , CPRT_CMP_MEMO_CTNTS			/* 제휴회사메모내용 */
                    , CPRT_CMP_REG_YMD				/* 제휴회사등록년월일 */
                    , CPRT_CMP_CHRG_EXECVDEMP_NO	/* 제휴회사담당임직원번호 */
                    , EXECVDEMP_NM					/* 임직원명 */
                    , DEPT_NM						/* 부서명 */
                    , RSPOF_NM						/* 직책명 */
                    , BIRTHDAY						/* 생년월일 */
                    , DAMO.DECRYPT_VAR_B64('AES_256',PIC_TEL_NO,'') AS PIC_TEL_NO		/* 담당자전화번호 */
                    , GNDR_CD						/* 성별코드 */
                    , DAMO.DECRYPT_VAR_B64('AES_256',EMAIL_ADDR,'') AS EMAIL_ADDR		/* 이메일주소 */
                    , AMDR_ID						/* 수정자ID */
                    , AMD_DT						/* 수정일시 */
                    , REGR_ID						/* 등록자ID */
                    , REG_DT						/* 등록일시 */
                    , REG_CHL_CD 					/* 등록채널코드 */
    </sql>
    <sql id="sqlColsInsert">
                      CPRT_CMP_NO					/* 제휴회사번호 */
                    , CPRT_CMP_NM					/* 제휴회사명 */
                    , CPRT_STATUS_CD				/* 제휴상태코드 */
                    , CPRT_DIV_CD					/* 제휴구분코드 */
                    , TEL_NO				/* 전화번호 */
                    , ZIP_CD						/* 우편번호 */
                    , ADDR_1_CTNTS        			/* 주소1내용 */
                    , ADDR_2_CTNTS	/* 주소2내용 */
                    , BIZ_NO						/* 사업자등록번호 */
                    , CPRT_CMP_TYPE_CD				/* 제휴회사유형코드 */
                    , CPRT_CMP_MEMO_CTNTS			/* 제휴회사메모내용 */
                    , CPRT_CMP_REG_YMD				/* 제휴회사등록년월일 */
                    , CPRT_CMP_CHRG_EXECVDEMP_NO	/* 제휴회사담당임직원번호 */
                    , EXECVDEMP_NM					/* 임직원명 */
                    , DEPT_NM						/* 부서명 */
                    , RSPOF_NM						/* 직책명 */
                    , BIRTHDAY						/* 생년월일 */
                    , PIC_TEL_NO		/* 담당자전화번호 */
                    , GNDR_CD						/* 성별코드 */
                    , EMAIL_ADDR		/* 이메일주소 */
                    , AMDR_ID						/* 수정자ID */
                    , AMD_DT						/* 수정일시 */
                    , REGR_ID						/* 등록자ID */
                    , REG_DT						/* 등록일시 */
                    , REG_CHL_CD 					/* 등록채널코드 */
    </sql>
    <sql id="sqlConditions">
        <where>
	        <if test="searchCprtDivCd != null and searchCprtDivCd != ''">
	                  AND CPRT_DIV_CD       =       #{searchCprtDivCd}
	        </if>
	        <if test="searchCprtStatusCd != null and searchCprtStatusCd != ''">
	                  AND CPRT_STATUS_CD       =       #{searchCprtStatusCd}
	        </if>
	        <if test="searchCprtCmpNm != null and searchCprtCmpNm != ''">
	                  AND CPRT_CMP_NM     LIKE    '%' ||  #{searchCprtCmpNm} || '%'
	        </if>
	    </where>
    </sql>
    <sql id="sqlOrderBy">
        <choose>
            <when test="colSortName ==null or colSortName == ''">
                ORDER BY      REG_DT DESC
            </when>
            <when test="colSortName.equals('cprtCmpNo')">
                ORDER BY      CPRT_CMP_NO
            </when>
            <when test="colSortName.equals('cprtDivCd')">
                ORDER BY      CPRT_DIV_CD
            </when>
            <when test="colSortName.equals('cprtStatusCd')">
                ORDER BY      CPRT_STATUS_CD
            </when>
            <when test="colSortName.equals('cprtCmpNm')">
                ORDER BY      CPRT_CMP_NM
            </when>
            <when test="colSortName.equals('cprtCmpRegYmd')">
                ORDER BY      CPRT_CMP_REG_YMD
            </when>
            <otherwise>
                ORDER BY      REG_DT
            </otherwise>
        </choose>
        <if test="colSortName !=null and colSortDir !='' and colSortDir !=null and colSortDir !='' and colSortDir.equals('desc')">
            DESC
        </if>
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT COUNT(1)
                 FROM CRM_CRPT_CMP_BAS
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.ceragem.crm.mem.model.PartnerHomeVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
               SELECT <include refid="sqlCols"/>
                 FROM CRM_CRPT_CMP_BAS
        <include refid="sqlConditions"/>
        <include refid="sqlOrderBy"/>
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.ceragem.crm.mem.model.PartnerHomeVo">
               SELECT <include refid="sqlCols"/>
                 FROM CRM_CRPT_CMP_BAS
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
    			<selectKey order="BEFORE" keyProperty="cprtCmpNo" resultType="String">
		    		SELECT FN_CRM_AUTO_SEQ('CPR') FROM DUAL
		    	</selectKey>
                INSERT INTO CRM_CRPT_CMP_BAS (
        <include refid="sqlColsInsert"/>
                 ) VALUES (
                       #{cprtCmpNo}
                     , #{cprtCmpNm}
                     , #{cprtStatusCd}
                     , #{cprtDivCd}
                     , DAMO.ENCRYPT_VAR_B64('AES_256',#{telNo},'')
                     , #{zipCd}
                     , #{addr1Ctnts}
                     , DAMO.ENCRYPT_VAR_B64('AES_256',#{addr2Ctnts},'')
                     , #{bizNo}
                     , #{cprtCmpTypeCd}
                     , #{cprtCmpMemoCtnts}
                     , #{cprtCmpRegYmd}
                     , #{cprtCmpChrgExecvdempNo}
                     , #{execvdempNm}
                     , #{deptNm}
                     , #{rspofNm}
                     , #{birthday}
                     , DAMO.ENCRYPT_VAR_B64('AES_256',#{picTelNo},'')
                     , #{gndrCd}
                     , DAMO.ENCRYPT_VAR_B64('AES_256',#{emailAddr},'')
                     , #{amdrId}
                     , SYSDATE
                     , #{regrId}
                     , SYSDATE
                     , #{regChlCd}
                 )
    </insert>
    <update id="update">
               UPDATE CRM_CRPT_CMP_BAS
                  SET CPRT_CMP_NO         			=         #{cprtCmpNo}
                    , CPRT_CMP_NM             		=         #{cprtCmpNm}
                    , CPRT_STATUS_CD             	=         #{cprtStatusCd}
                    , CPRT_DIV_CD            		=         #{cprtDivCd}
                    , TEL_NO              			=         #{telNo}
                    , ZIP_CD         				=         #{zipCd}
                    , ADDR_1_CTNTS         			=         #{addr1Ctnts}
                    , ADDR_2_CTNTS             		=         #{addr2Ctnts}
                    , BIZ_NO              			=         #{bizNo}
                    , CPRT_CMP_TYPE_CD            	=         #{cprtCmpTypeCd}
                    , CPRT_CMP_MEMO_CTNTS     		=         #{cprtCmpMemoCtnts}
                    , CPRT_CMP_REG_YMD          	=         #{cprtCmpRegYmd}
                    , CPRT_CMP_CHRG_EXECVDEMP_NO	=         #{cprtCmpChrgExecvdempNo}
                    , EXECVDEMP_NM        			=         #{execvdempNm}
                    , DEPT_NM 						=         #{deptNm}
                    , RSPOF_NM      				=         #{rspofNm}
                    , BIRTHDAY						=         #{birthday}
                    , PIC_TEL_NO					=         #{picTelNo}
                    , GNDR_CD      					=         #{gndrCd}
                    , EMAIL_ADDR 					=         #{emailAddr}
                    , AMDR_ID             			=         #{amdrId}
                    , AMD_DT              			=         SYSDATE
                    , REG_CHL_CD          			=         #{regChlCd}
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE FROM CRM_CRPT_CMP_BAS
        <include refid="sqlPkConditions" />
    </delete>
    
    <sql id="sqlExecvdempList">
    	SELECT 
			CPRT_CMP_IDFY_NO		/* 제휴회사식별번호 */
			, CPRT_CMP_IDFY_NO AS EMP_NO		/* 제휴회사식별번호 */
			, CPRT_CMP_NO			/* 제휴회사번호 */
			, ITG_CUST_NO			/* 통합고객번호 */
			, DAMO.DECRYPT_VAR_B64('AES_256',MPHON_NO,'') AS MPHON_NO /* 이동전화번호 */
			, MPHON_NO MPHON_NO_ENC_VAL		/* 암호화값 */
			, MPHON_BK_DGT_NO		/* 뒤자리번호 */
			, CPRT_CMP_CARD_NO		/* 제휴회사카드번호 */
			, EXECVDEMP_NM			/* 임직원명 */
			, EXECVDEMP_NM AS CUST_NM		/* 임직원명 */
			, AMDR_ID				/* 수정자ID */
			, AMD_DT				/* 수정일시 */
			, REGR_ID				/* 등록자ID */
			, REG_DT				/* 등록일시 */
			, REG_CHL_CD 			/* 등록채널코드 */
		FROM CRM_CRPT_CMP_EXECVDEMP_BAS
		WHERE CPRT_CMP_NO = #{cprtCmpNo}
		<if test="execvdempNm != null and execvdempNm != ''">
			AND EXECVDEMP_NM LIKE '%' || #{execvdempNm} || '%'
		</if>
		<if test="cprtCmpIdfyNo != null and cprtCmpIdfyNo != ''">
			AND CPRT_CMP_IDFY_NO LIKE '%' || #{cprtCmpIdfyNo} || '%'
		</if>
		<if test="regStaDt != null and regStaDt != ''">
			AND REG_DT >= TO_DATE(#{regStaDt},'YYYYMMDD')
		</if>
		<if test="regEndDt != null and regEndDt != ''">
			AND TO_DATE(#{regEndDt},'YYYYMMDD') + 1 > REG_DT
		</if>
		<if test="mphonNo != null and mphonNo != ''">
			AND MPHON_NO = DAMO.ENCRYPT_VAR_B64('AES_256',#{mphonNo},'')
			<!-- AND MPHON_NO LIKE '%' || #{mphonNo} || '%' -->
		</if>
    </sql>
    
    <select id="getExecvdempListCount" resultType="int">
          SELECT COUNT(1)
           FROM(
           	<include refid="sqlExecvdempList" />
           )
    </select>
    <select id="getExecvdempList" resultType="com.ceragem.crm.mem.model.PartnerHomeVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
        <include refid="sqlExecvdempList" />
		ORDER BY CPRT_CMP_IDFY_NO ASC
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    <select id="getAllExecvdempList" resultType="com.ceragem.crm.mem.model.PartnerHomeVo">
        <include refid="sqlExecvdempList" />
    </select>
    <insert id="insertExecvdemp">
	    	MERGE INTO 
	    			CRM_CRPT_CMP_EXECVDEMP_BAS
			USING DUAL ON 
				   (CPRT_CMP_IDFY_NO = #{cprtCmpIdfyNo})
			WHEN MATCHED THEN
				UPDATE SET
					CPRT_CMP_NO 		= #{cprtCmpNo},
					MPHON_NO 			= DAMO.ENCRYPT_VAR_B64('AES_256',#{mphonNoEncVal},''),
					MPHON_BK_DGT_NO 	= #{mphonBkDgtNo},
					CPRT_CMP_CARD_NO 	= #{cprtCmpCardNo},
					EXECVDEMP_NM 		= #{execvdempNm},
					AMDR_ID 			= #{amdrId},
					AMD_DT				= SYSDATE,
					REG_CHL_CD 			= #{regChlCd}
			
	    	WHEN NOT MATCHED THEN
	    		INSERT (
	    			   CPRT_CMP_IDFY_NO
                     , CPRT_CMP_NO
                     , MPHON_NO
                     , MPHON_BK_DGT_NO
                     , CPRT_CMP_CARD_NO
                     , EXECVDEMP_NM
                     , AMDR_ID
                     , AMD_DT
                     , REGR_ID
                     , REG_DT
                     , REG_CHL_CD
	    			
	    		) VALUES (
                       #{cprtCmpIdfyNo}
                     , #{cprtCmpNo}
                     , DAMO.ENCRYPT_VAR_B64('AES_256',#{mphonNoEncVal},'')
                     , #{mphonBkDgtNo}
                     , #{cprtCmpCardNo}
                     , #{execvdempNm}
                     , #{amdrId}
                     , SYSDATE
                     , #{regrId}
                     , SYSDATE
                     , #{regChlCd}
                )
    </insert>
	<delete id="deleteExecvdemp">
               DELETE 
               	 FROM CRM_CRPT_CMP_EXECVDEMP_BAS
        		WHERE CPRT_CMP_IDFY_NO = #{cprtCmpIdfyNo}
    </delete>    
</mapper>
