<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.crm.mem.dao.StipulationListDao">
	<resultMap type="com.ceragem.crm.mem.model.StipulationListVo" id="StipulationListVo">
        <result property="stpltCtnts" column="STPLT_CTNTS" jdbcType="CLOB" javaType="java.lang.String"/>
    </resultMap>
	
    <sql id="sqlPkConditions">
                WHERE STPLT_NO       =       #{stpltNo}
    </sql>
    <sql id="sqlCols">
                      STPLT_NO		/* 약관번호 */
                    , STPLT_NM		/* 약관명 */
                    , STPLT_TYPE_CD	/* 유형코드 */
                    , STPLT_CTNTS	/* 약관내용 */
                    , STPLT_STA_YMD	/* 약관시작일 */
                    , STPLT_END_YMD	/* 약관종료일 */
                    , USE_YN        /* 사용여부 */
                    , AMDR_ID		/* 수정자ID */
                    , AMD_DT		/* 수정일시 */
                    , REGR_ID		/* 등록자ID */
                    , REG_DT		/* 등록일시 */
                    , REG_CHL_CD 	/* 등록채널코드 */
    </sql>
    <sql id="sqlConditions">
        <where>
	        <if test="stpltNm != null and stpltNm != ''">
	                  AND STPLT_NM     LIKE    '%' ||  #{stpltNm} || '%'
	        </if>
	        <if test="stpltTypeCd != null and stpltTypeCd != ''">
	                  AND STPLT_TYPE_CD       =       #{stpltTypeCd}
	        </if>
	        <if test="useYn != null and useYn != ''">
	                  AND USE_YN       =       #{useYn}
	        </if>
	        <if test="stpltDate != null and stpltDate != ''">
	                  AND #{stpltDate} BETWEEN STPLT_STA_YMD AND STPLT_END_YMD
	        </if>
		</where>
    </sql>
    <sql id="sqlOrderBy">
        <choose>
            <when test="colSortName == null or colSortName == ''">
                ORDER BY      REG_DT DESC
            </when>
            <when test="colSortName.equals('STPLT_NO')">
                ORDER BY      STPLT_NO
            </when>
            <when test="colSortName.equals('STPLT_NM')">
                ORDER BY      STPLT_NM
            </when>
            <when test="colSortName.equals('STPLT_TYPE_CD')">
                ORDER BY      STPLT_TYPE_CD
            </when>
            <when test="colSortName.equals('STPLT_STA_YMD')">
                ORDER BY      STPLT_STA_YMD
            </when>
            <when test="colSortName.equals('STPLT_END_YMD')">
                ORDER BY      STPLT_END_YMD
            </when>
            <otherwise>
                ORDER BY      REG_DT
            </otherwise>
        </choose>
        <if test="colSortName != null and colSortDir !='' and colSortDir != null and colSortDir !='' and colSortDir.equals('desc')">
            DESC
        </if>
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT COUNT(1)
                 FROM CRM_STPLT_BAS
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.ceragem.crm.mem.model.StipulationListVo">
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingHeader"/>
               SELECT <include refid="sqlCols"/>
                 FROM CRM_STPLT_BAS
        <include refid="sqlConditions"/>
        <include refid="sqlOrderBy"/>
        <include refid="com.ceragem.crm.sys.dao.CrmCommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.ceragem.crm.mem.model.StipulationListVo">
               SELECT <include refid="sqlCols"/>
                 FROM CRM_STPLT_BAS
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
                INSERT INTO CRM_STPLT_BAS (
        <include refid="sqlCols"/>
                 ) VALUES (
                       #{stpltNo}
                     , #{stpltNm}
                     , #{stpltTypeCd}
                     , #{stpltCtnts}
                     , #{stpltStaYmd}
                     , #{stpltEndYmd}
                     , #{useYn}
                     , #{amdrId}
                     , SYSDATE
                     , #{regrId}
                     , SYSDATE
                     , #{regChlCd}
                 )
    </insert>
    <update id="update">
               UPDATE CRM_STPLT_BAS
                  SET STPLT_NO         =         #{stpltNo}
                    , STPLT_NM         =         #{stpltNm}
                    , STPLT_TYPE_CD    =         #{stpltTypeCd}
                    , STPLT_CTNTS      =         #{stpltCtnts}
                    , STPLT_STA_YMD    =         #{stpltStaYmd}
                    , STPLT_END_YMD    =         #{stpltEndYmd}
                    , USE_YN           =         #{useYn}
                    , AMDR_ID          =         #{amdrId}
                    , AMD_DT           =         SYSDATE
                    , REG_CHL_CD       =         #{regChlCd}
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE FROM CRM_STPLT_BAS
        <include refid="sqlPkConditions"/>
    </delete>
    <select id="getKey" resultType="com.ceragem.crm.mem.model.StipulationListVo">
        SELECT FN_CRM_AUTO_SEQ('SPT') AS STPLT_NO FROM DUAL
    </select>
</mapper>